<div id="main-content" class="col-xs-12">
    <div class="content-inner">

        <div class="pg-inner-header">
            <div class="row">

                <div class="col-md-12">
                    <h2 class="pg-inner-title">Create New Email Campaign</h2>
                </div>

            </div>
        </div><!-- pg-inner-header ended -->

    </div><!-- content-inner ended -->

    <div class="pg-inner-content" style="">

        <div class="project-detail">


            <div class="top-row" style="width:100%; background:#fff; padding:60px">
                <form class="form-content form-content2 edit-organization-setting" name="addNewForm" novalidate data-ng-submit="addNew(addNewForm.$valid)" autocomplete="off">


                    <div class="clearfix">
                        <div class="form-group form-bx form-bx8">
                            <h2 class="pg-inner-title">Campaign Info</h2>
                        </div>
                    </div>

                    <div class="clearfix">
                        <div class="form-group form-bx form-bx5">
                            <label for="">Campaign Name</label>
                            <input type="text" class="form-control text-bold" autofocus name="project_name"
                                   placeholder="Campaign Name"
                                   data-ng-model="params.name"
                                   minlength="1"
                                   maxlength="30"
                                   ng-pattern="/^[a-z 0-9\s]+$/i"
                                   input-focus
                                   required />
                        </div>
                    </div>             

                    <div class="clearfix">
                        <div class="form-group form-bx form-bx5">
                            <label for="">Project</label>
                            <select ng-model="project1" ng-change="selectproject()" id="contact_project"
                                    class="dropdown form-control">
                                <option value="" selected>Select Project</option>
                                <option ng-repeat="project in projects"
                                        value="{{project.id}}">
                                    {{project.name}}
                                </option>

                            </select>
                        </div>
                    </div>

                    <div class="clearfix">
                        <div class="form-group form-bx form-bx5">
                          

                                <label for="">Start Date </label>
                                <input kendo-date-time-picker class="form-control"
                                       data-ng-model="start_date1"
                                       k-ng-model="dateObject"
                                     k-format="'dd/MM/yyyy HH:mm tt'" />
                               
                            </div>
                        </div>

                        <!--<div class="pull-left f-half-6">
                            <div class="form-group form-bx4 form-bx3-1" style="width:390px">
                                <label for="">End Date</label>

                                <input kendo-date-picker class="form-control"
                                       data-ng-model="params.end_date"
                                       k-ng-model="dateObject"
                                       k-format="'dd/MM/yyyy hh:MM:ss'" />

                            </div>

                        </div>-->
                

                    <div class="modal-btn-wrap5 modal-btn-wrap6 clearfix" style="text-align:right;">

                        <button class="btn organization-btn" id="campaign_save" type="submit">
                            NEXT
                        </button>

                    </div>
                </form>
            </div>
            <!--</div>--><!-- project-detail ended -->

        </div><!-- pg-inner-content ended -->

    </div><!-- main-content ended -->


</div>