<div id="add-remove_amennities" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">

            <div class="modal-body">

                <div class="close-btn-wrap">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close" ng-click="$dismiss('cancel')">&times;><span aria-hidden="true">&times;</span></button>
                </div>

                <form class="form-content form-content2 edit-organization-setting">

                    <h4 class="form-title">Add </h4>
                    <div class="form-title-sub">Click on the amenities icon to add or remove</div>

                    <div class="society-amenities-wrap clearfix"  >
                        <ul class="list-unstyled society-amenities-list" >
                            <li ng-repeat="amenity in orgAmenities">
                                <div class="amenities-bg clearfix" >

                                    
                                    <div class="amenities-btn amenities-add"> </div>
                                    <span class="amenities-ico amenities-ico07"> <img src="{{amenity.media_url}}" alt="" class="img-responsive" width="45" height="45" /> </span> 
                                    {{amenity.amenity_type_code}}
                                       
                                    
                                    <input type='checkbox' data-id={{amenity.id}} class='checkbox' ng-click='onClick($event)' />
                                    <h4 ng-if={{}}>checked</h4>
                                 
                                  
                                </div>
                            </li>
                          
                        </ul>
                    </div><!-- society-amenities-wrap ended -->
                    <button type="submit" ng-click="addamenity()" class="btn  btn-default">Save</button>
                </form>

            </div><!-- modal-body ended -->

        </div>
    </div>
</div><!-- modal ended -->