<div id="main-content" class="col-xs-12">
    <div class="content-inner">

        <div class="pg-inner-header">
            <div class="row">
                <div class="col-md-12">
                    <h2 class="pg-inner-title">Templates</h2>
                </div>

            </div>
        </div>
    </div>
    
            <div class="pg-inner-content">
                <div class="project-detail-tabs pg-tabs" kendo-tab-strip>
                    <ul class="responsive-tagJS" role="tablist">
                        <li id="TemplateQuotes" class="k-state-active"> <a aria-controls="quotes" role="tab" data-toggle="tab">QUOTES</a></li>
                        <li ng-hide='{{WHO_AM_I === "Broker"}}' id="TemplateAgreements"><a aria-controls="agreement" role="tab" data-toggle="tab">AGREEMENTS</a></li>
                        <li id="TemplateInvoices"><a aria-controls="invoices" role="tab" data-toggle="tab">INVOICES</a></li>
                        <li ng-hide='{{WHO_AM_I === "Broker"}}' id="TemplateChannelPartner"><a aria-controls="channel_partner" role="tab" data-toggle="tab">CHANNEL PARTNER</a></li>
                        <li ng-hide='{{WHO_AM_I === "Broker"}}' id="TemplatePeople"><a aria-controls="people" role="tab" data-toggle="tab">PEOPLE</a></li>
                        <li ng-hide='{{WHO_AM_I === "Broker"}}' id="TemplateQuote"><a aria-controls="quote" role="tab" data-toggle="tab">QUOTE</a></li>
                        <li id="TemplateEmail"><a aria-controls="email_template" role="tab" data-toggle="tab">EMAIL TEMPLATE</a></li>
                        <li id="TemplateForm"><a aria-controls="form" role="tab" data-toggle="tab">FORM</a></li>
                        <li ng-hide='{{WHO_AM_I === "Broker"}}' id="TemplateDemandLetter"><a aria-controls="form" role="tab" data-toggle="tab">DEMAND LETTER</a></li>
                        <li ng-show="isOrgAdmin" id="TemplateRO"><a aria-controls="RO_template" role="tab" data-toggle="tab">RO TEMPLATE</a></li>
                    </ul>


                    <div class="tab-content">
                        <div class="tab-pane fade in active" id="summary">
                            <div class="tab-content-title">Quotes <a id="AddQuotes" class="add-btn" data-toggle="modal" ng-click="openCreateTemplate('quotes')" style="cursor:pointer">+</a></div>
                        </div>
                    </div>  <!--quotes-->

                    <div class="tab-content">
                        <div class="tab-pane fade in active" id="summary">
                            <div class="tab-content-title">Agreement <a id="AddAgreement" class="add-btn" data-toggle="modal" ng-click="openCreateTemplate('agreement')" style="cursor:pointer">+</a></div>
                        </div>
                        <div kendo-grid k-options="agreementTemplateGrid" selectable="true" k-on-change="agreementEdit( dataItem )"></div>
                    </div>  <!--agreement-->

                    <div class="tab-content">
                        <div class="tab-pane fade in active" id="summary">
                            <div class="tab-content-title">Invoice <a id="AddInvoice" class="add-btn" data-toggle="modal" ng-click="openCreateTemplate('invoice')" style="cursor:pointer">+</a></div>
                        </div>
                    </div>  <!--invoice-->

                    <div class="tab-content">
                        <div class="tab-pane fade in active" id="summary">
                            <div class="tab-content-title">Channel <a id="AddChannel" class="add-btn" data-toggle="modal" ng-click="openCreateTemplate('channel')" style="cursor:pointer">+</a></div>
                        </div>

                    </div>  <!--channel partner-->

                    <div class="tab-content">
                        <div class="tab-pane fade in active" id="summary">
                            <div class="tab-content-title">People <a id="AddPeople" class="add-btn" data-toggle="modal" ng-click="openCreateTemplate('people')" style="cursor:pointer">+</a></div>
                        </div>

                    </div>  <!--people-->

                    <div class="tab-content">
                        <div class="tab-pane fade in active" id="summary">
                            <div class="tab-content-title">Quote <a id="AddQuote" class="add-btn" data-toggle="modal" ng-click="openCreateTemplate('quote')" style="cursor:pointer">+</a></div>


                        </div>

                    </div>  <!--quote-->

                    <div class="tab-content">
                        <div class="tab-pane fade in active">
                            <div class="tab-content-title">Emails <a id="AddEmail" class="add-btn" data-toggle="modal" ng-click="openCreateTemplate('email')" style="cursor:pointer">+</a></div>
                        </div>
                        <div class="">
                            <select ng-model="templateAction" class="form-control actions-wrap" ng-change="chooseAction()" id="TemplateAction">
                                <option value='no_action' selected>ACTIONS</option>
                                <option value='delete'>DELETE</option>
                            </select>
                        </div>
                        <div kendo-grid k-options="EmailTemplateGrid" selectable="true" k-on-change="emailEdit( dataItem )"></div>
                    </div>  <!--email template-->

                    <div class="tab-content">
                        <div class="project-detail">
                            <div style="margin-top:3%">
                                <form class="form-content form-content2 edit-organization-setting" name="addNewForm" novalidate data-ng-submit="addNew(addNewForm.$valid)" autocomplete="off">

                                    <div class="form-group form-bx form-bx5">
                                        <label for="">Form Title</label>
                                        <input kendo-auto-complete ng-model="params.form" k-data-source="formList" class="form-control" />
                                    </div>
                                    <div class="clearfix">
                                        <div class="form-group form-bx form-bx5">
                                            <label for="">Form ID</label>
                                            <input type="text" class="form-control text-bold" autofocus name="project_name"
                                                   placeholder="Form ID"
                                                   data-ng-model="params.random_id"
                                                   id="EmailTemplate"
                                                   input-focus
                                                   required />
                                        </div>


                                    </div>

                                    <div class="clearfix">
                                        <div class="form-group form-bx form-bx5">
                                            <label for="">Project</label>
                                            <select ng-model="project1" ng-change="selectproject()" id="TemplateProject"
                                                    class="dropdown form-control" required>
                                                <option value="" selected>Select Project</option>
                                                <option ng-repeat="project in projects"
                                                        value="{{project.id}}">
                                                    {{project.name}}
                                                </option>

                                            </select>
                                        </div>
                                    </div>

                                    <div class="clearfix">
                                        <div class="form-group form-bx form-bx5">
                                            <label for="">Select Team</label>
                                            <select ng-model="team1" ng-change="selectteam()" id="TemplateTeam"
                                                    class="dropdown form-control" required>
                                                <option value="" selected>Select Team</option>
                                                <option ng-repeat="team in teams"
                                                        value="{{team.id}}">
                                                    {{team.name}}
                                                </option>

                                            </select>
                                        </div>
                                    </div>



                                    <div class="modal-btn-wrap5 modal-btn-wrap6 clearfix" style="text-align:right;">

                                        <button class="btn organization-btn" id="btn_TemplateSave" type="submit">
                                            SAVE
                                        </button>


                                    </div>
                                </form>
                            </div>
                            <!--</div>--><!-- project-detail ended -->

                        </div><!-- pg-inner-content ended -->
                    </div>  <!--form-->

                    <div class="tab-content">
                        <div class="tab-pane fade in active" id="summary">
                            <div class="tab-content-title">Demand Letter <a id="AddDemandLetter" class="add-btn" data-toggle="modal" ng-click="openDemandLetterPopup()" style="cursor:pointer">+</a></div>
                        </div>
                        <div kendo-grid k-options="DemandLetterGrid" selectable="true" k-on-change="agreementEdit( dataItem )"></div>
                    </div>  <!--demand letter-->

                    <div class="tab-content">
                        <div class="tab-pane fade in active" id="summary">
                            <div class="tab-content-title">RO Template <a id="AddROTemplate" class="add-btn" data-toggle="modal" ng-click="openCreateTemplate('RO')" style="cursor:pointer">+</a></div>
                        </div>
                        <div kendo-grid k-options="ROTemplateGrid" selectable="true" k-on-change="agreementEdit( dataItem )"></div>
                    </div>  <!--demand letter-->

                </div>

            </div>

        
    </div>
