@charset "utf-8";
/* CSS Document */
*{ margin:0; padding:0;}
body{font-family:'Open Sans', sans-serif;}
.wrapper{ width:98%; margin:0 auto; background:#fafafa;}
.header{ width:100%;}
.col-md-9.logo {
    float: left;
    height: 55px;
    margin-left: 4%;
    margin-top: 1%;
}
.right_head {
    margin-top: 1%;
}
.left_sidebar {
    margin-top: 20%;
}
.col-md-3.leftsection {
    background: #efefef;
    width: 22% !important;
}
.left_sidebar ul li {
    list-style: outside none none;
    padding: 3%;
	height:40px;
	width:auto;
}
.left_sidebar ul li:hover {
background:white;
border-right:3px solid #2899e7;

}
.active
{
background:white;
border-right:3px solid #2899e7;

}
.icon_img {
    float: left;
    margin-left: 17%;
     width: 15%;
}
.leftulsec li a {
    color: #a9a9a9;
    font-size: 15px;
	text-decoration:none;
}
.leftulsec li a:hover{color:#2899e7;}
.top_section {
    background: #e1e1e1;
    height: 118px;
}
.col-md-9.rightsection {
    padding: 0;
}
.top_section h3 {
    margin-top: 0 !important;
    padding: 17px;
}

.ui-widget-content{
  background :none !important;
  border:none !important;
}
.ui-widget-header{
background :none !important;
  border:none !important;
}

.footer {
	background: #efefef;
	
  padding: 10px;
  text-align: center;
}

.sunny, .cloudy, .rainy {
                    display: block;
                    margin: 30px auto 10px;
                    width: 128px;
                    height: 128px;
                    background: url('../content/web/tabstrip/weather.png') transparent no-repeat 0 0;
                }

                .cloudy{
                    background-position: -128px 0;
                }

                .rainy{
                    background-position: -256px 0;
                }

                .weather {
                    margin: 0 auto 30px;
                    text-align: center;
                }

                #tabstrip h2 {
                    font-weight: lighter;
                    font-size: 5em;
                    line-height: 1;
                    padding: 0 0 0 30px;
                    margin: 0;
                }

                #tabstrip h2 span {
                    background: none;
                    padding-left: 5px;
                    font-size: .3em;
                    vertical-align: top;
                }

                #tabstrip p {
                    margin: 0;
                    padding: 0;
                }
				
				
	.sales_date {
    border-right: 1px solid rgb(204, 204, 204);
    float: left;
    margin-left: 4%;
    margin-top: 5%;
}
.sales_date1 {
    font-size: 11px;
}
.sales_month {
    font-size: 12px;
}
.sales_date2 {
    font-size: 17px;
}
.sales_day {
    font-size: 10px;
    margin-left: 30%;
}
.sales_date_right{
float: left;
    margin-left: 4%;
    margin-top: 5%;
}
.total_days {
    float: left;
    margin-left: 5% !important;
    margin-top: 1.5% !important;
}
.col-md-11 .closed_sales {
    background: rgb(32, 145, 223) none repeat scroll 0 0;
    color: rgb(255, 255, 255);
    padding: 10px;
	margin-top:30px;
}
.col-md-11.closed_main {
    width: 97%;
}
.col-md-11.closed_main1 {
    border: 1px solid rgb(204, 204, 204);
    padding-left: 0;
    padding-right: 0;
    width: 99.8%;
	
}
.col-md-3.sales_center {
    border: 1px solid rgb(204, 204, 204);
    float: left;
height:auto;
    margin-left: 6px;
margin-top:10px;
    width: 23.7%;
	margin-bottom:20px;
}
.col-md-3.sales_web{
    border: 1px solid rgb(204, 204, 204);
    float: left;
margin-top:10px;
height:448px;
    margin-left: 10px;
margin-bottom:20px;
    width: 23.7%;
}
.col-md-3.sales_social {
    border: 1px solid rgb(204, 204, 204);
    float: left;
margin-bottom:20px;
    margin-left: 10px;
	height:auto;
margin-top:10px;
    width: 23.7%;
}
.col-md-3.sales_exb {
    border: 1px solid rgb(204, 204, 204);
    float: left;
margin-bottom:20px;
height:auto;
    margin-left: 10px;
margin-top:10px;
    width: 23.7%;
}
.sale_h4 {
    font-size: 14px;
    text-align: center;
}
.spn_date
{
font-size:11px;
text-align:center;
}
.sales_center1
{
width:100%;
float:left;
height:auto;
border-bottom:1px solid #ccc;
}
.div_chart
{
float:left;
width:100%;
height:auto;
margin-top:10px;
}
.div_chart > img {
    height: 120px;
    width: 221px;
}
.info_div
{
height:auto;
width:100%;
margin-top:15px;
float:left;
}
.info_div ul
{
margin:0px;
padding:0px;
float:left;
height:200px;

}
.info_div ul li {
    background: #f9f9f9 none repeat scroll 0 0;
    display: block;
    height: 16px;
    list-style: outside none none;
    margin-left: 12px;
    margin-top: 1px;
    width: 182px;
	padding:11px 10px;
	font-weight:bold;
}
.tabstrip1 li:hover {
  background: white none repeat scroll 0 0;
  color: #2899e7;
}
.k-tabstrip-items .k-state-active {
  background-color: #696969 !important;
  background-image: none;
  border-color: #00b0ff;
}
.active1 {
  margin-top: -10px !important;
  padding-top: 10px !important;
}
.active{
 background: white none repeat scroll 0 0;
  color: #2899e7;
}
.tabstrip1 li
{
     background: #696969 none repeat scroll 0 0;
    border: medium none;
    
    height: 46px;
    margin-left: 3px !important;
    margin-top: 6px;
    width: 13%;
	text-align:center;
}
.tabstrip1 li:hover{background:white;border:none;color:#2899e7;}
.k-block, .k-header, .k-grid-header, .k-toolbar, .k-grouping-header, .k-pager-wrap, .k-button, .k-draghandle, .k-treemap-tile, html .km-pane-wrapper .k-header {
  background-color: #fff !important;
}
.nav > li > a:focus, .nav > li > a:hover {
  background-color: none !important;
  text-decoration: none;
}
.k-tabstrip-items.k-reset {
  margin-left: 3px !important;
}
/*Responsive css*/


@media screen and (max-width: 1024px){
.col-md-3.sales_center {
  width: 31.7%;
}
.col-md-3.sales_web {
  width: 31.7%;
}
.col-md-3.sales_social {
  width: 31.7%;
}
.col-md-3.sales_exb {
  width: 31.7%;
}
.col-md-1.sales_date {
  width: 15%;
}
}
@media screen and (max-width: 980px){
.col-md-9.rightsection {
  float: left;
  width: 78%;
}
.col-md-3.leftsection {
   float: left;
}
.right_head {
  float: right;
  margin-top: 1%;
  padding: 0 25px;
}
.col-md-3.sales_center {
  width: 31.7%;
}
.col-md-3.sales_web {
  width: 31.7%;
}
.col-md-3.sales_social {
  width: 31.7%;
}
.col-md-3.sales_exb {
  width: 31.7%;
}
.col-md-1.sales_date {
  width: 15%;
}
}

@media screen and (max-width: 768px){
.col-md-1.sales_date {
  width: 15%;
}
.col-md-3.sales_center {
  margin-right: 12%;
  width: 42%;
}
.col-md-3.sales_web {
  width: 41.7%;
}
.col-md-3.sales_social {
  margin-right: 11.5%;
  width: 41.7%;
}
.col-md-3.sales_exb {
  width: 41.7%;
}
}

@media screen and (max-width: 640px) {
.col-md-1.sales_date {
  width: 26%;
}
.col-md-3.leftsection {
  background: #efefef none repeat scroll 0 0;
  width: 36% !important;
}
.col-md-9.rightsection {
  float: left;
  width: 63%;
}
.tabstrip1 li {
  background: #696969 none repeat scroll 0 0;
  border: medium none;
  height: 46px;
  margin-left: 3px !important;
  margin-top: 6px;
  text-align: center;
  width: 22%;
}
.col-md-3.sales_center {
  margin-right: 12%;
  width: 96%;
}
.col-md-3.sales_web {
  width: 96%;
}
.col-md-3.sales_social {
  width: 96%;
}
.col-md-3.sales_exb {
  width: 96%;
}
.div_chart > img {
  margin-left: 18%;
}
.info_div li {
  width: 87% !important;
}
.info_div > ul {
  width: 100%;
}




}
@media screen and (max-width: 480px) {
.col-md-1.sales_date {
  width: 25%;
}
.col-md-3.leftsection {
  width: 100% !important;
}
.col-md-9.rightsection {
  float: left;
  width: 100%;
}
.left_sidebar {
  margin-top: 4%;
}
.tabstrip1 li {
  background: #696969 none repeat scroll 0 0;
  border: medium none;
  height: 46px;
  margin-left: 3px !important;
  margin-top: 6px;
  text-align: center;
  width: 24%;
}
.k-tabstrip-items.k-reset {
  margin-left: 0 !important;
}
.col-md-3.sales_center {
  margin-right: 12%;
  width: 100%;
}
.col-md-3.sales_web {
  width: 100%;
}
.col-md-3.sales_social {
  width: 100%;
}
.col-md-3.sales_exb {
  width: 100%;
}
.div_chart > img {
margin-left: 23%;
}
.info_div ul li {
  background: #f9f9f9 none repeat scroll 0 0;
  display: block;
  font-weight: bold;
  height: 18px;
  list-style: outside none none;
  margin-left: 12px;
  margin-top: 5px;
  padding: 11px 10px;
  width: 92%;
}
.info_div > ul {
  width: 100%;
}
}

@media screen and (max-width: 320px) {
.col-md-1.sales_date {
  width: 34%;
}
.col-md-3.leftsection {
  width: 100% !important;
}
.col-md-9.rightsection {
  float: left;
  width: 100%;
}
.left_sidebar {
  margin-top: 4%;
}
.tabstrip1 li {
  background: #696969 none repeat scroll 0 0;
  border: medium none;
  height: 46px;
  margin-left: 3px !important;
  margin-top: 6px;
  text-align: center;
  width: 24%;
}
.k-tabstrip-items.k-reset {
  margin-left: 0 !important;
}
.col-md-3.sales_center {
  margin-right: 12%;
  width: 100%;
}
.col-md-3.sales_web {
  width: 100%;
}
.col-md-3.sales_social {
  width: 100%;
}
.col-md-3.sales_exb {
  width: 100%;
}
.div_chart > img {
  width: 100%;
  margin: 0;
}
.right_head {
  float: right;
  margin-top: 1%;
  padding: 9px 19px 0 0;
}
}

