

<div id="add_new_document" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">


    <div class="modal-header">
        <button id="addNewDocClose" type="button" class="close" data-dismiss="modal" aria-label="Close" ng-click="$dismiss('cancel')"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="exampleModalLabel">Add New Document</h4>
    </div><!-- modal-header ended -->

    <div class="modal-body">
        <form class="form-content" name="newForm" autocomplete="off" novalidate
              data-ng-submit="addNewUser(newForm.$valid)">


            <div class="form-group"
                 data-ng-class="{
                             'has-error' : newForm.Add_Document_Name.$invalid && (!newForm.Add_Document_Name.$pristine || showValid) && !newForm.Add_Document_Name.$focus,
                             'has-success': newForm.Add_Document_Name.$valid && !newForm.Add_Document_Name.$pristine && !newForm.Add_Document_Name.$focus
                             }">

                <div id="phone-wrap" class="clearfix">
                    <div id="phone-no" class="form-bx form-bx2">
                        <label for="">Document Name</label>
                        <input type="text" autofocus name="Add_Document_Name" class="form-control" id="contactAddNewDoc"
                               placeholder="Document Name"
                               data-ng-model="params.Document_Name"
                               minlength="1"
                               maxlength="20"
                               input-focus
                               ng-pattern="/^[a-zA-Z\s]*$/"
                               required />
                        <div ng-messages="newForm.Add_Document_Name.$error" style="color:maroon" role="alert">
                            <div ng-message="required" data-ng-if="newForm.Add_Document_Name.$invalid && (!newForm.Add_Document_Name.$pristine || showValid) && !newForm.Add_Document_Name.$focus">This field should not be empty </div>
                            <div ng-message="pattern" id="err_doc">Enter valid document name</div>
                        </div>

                    </div>

                </div>
            </div>


            <div class="form-group" data-ng-class="{
                             'has-error' : newForm.Cat.$invalid && (!newForm.Cat.$pristine || showValid) && !newForm.Cat.$focus,
                             'has-success': newForm.Cat.$valid && !newForm.Cat.$pristine && !newForm.Cat.$focus
                             }">
                <div id="phone-wrap" class="clearfix">
                    <div id="phone-no" class="form-bx form-bx2">
                        <label for="">Category</label>
                        <select name="Cat" ng-model="category1" ng-change="selectCategory()" id="opt_addNewDoc"
                                class="dropdown form-control" required>
                            <option value="" selected>Select Category</option>
                            <option ng-repeat="category in categories"
                                    value="{{category.id}}">
                                {{category.documenttype}}
                            </option>
                        </select>
                        <div ng-messages="newForm.Cat.$error" style="color:maroon" role="alert">
                            <div ng-message="required" data-ng-if="newForm.Cat.$invalid && (!newForm.Cat.$pristine || showValid) && !newForm.Cat.$focus">This field should not be empty </div>
                            <div ng-message="pattern" id="err_AddNew">Enter valid category for document</div>
                        </div>
                    </div>

                </div>
            </div>

            <div class="clearfix image-upload-container">
                <div class="modal-body image-upload-wrap">
                    <div class="image-upload-title">Upload Document Image</div>
                    <div class="dropzone dropzone-bx image-upload-bx">
                        <div class="fallback">
                            <div class="panel panel-success" uploader="uploader" nv-file-over="">
                                <div class="image-upload-panel">
                                    <div class="row" ng-hide="uploader.queue.length">
                                        <div class="col-lg-2 col-md-2 col-sm-12"></div>
                                        <!--<div class="col-lg-8 col-md-8 col-sm-12 col-xs-4" style="height:100%">
                                            <span class="page-center">Drag And Drop</span>
                                        </div>-->
                                        <div class="col-lg-2 col-md-8 col-sm-12"></div>
                                    </div>
                                    <div class="" ng-show="uploader.queue.length">
                                        <div class="user-photo_2" ng-repeat="item in uploader.queue">
                                            <img id="fetch" src="#" class="image1" alt="your image" />
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="uploadFileName">
                        <p ng-show="uploader.queue.length">{{uploader.queue[0]._file.name}}</p>
                    </div>
                    <label class="custom-file-input" id="addNewDocImage">
                        <input type="file" class="image-upload-f" id="addNewDocImage" value="Browse" accept="*" nv-file-select="" uploader="uploader" />
                    </label>

                </div>

            </div>

            <div class="progress" ng-show="((uploader.progress)/1)>0">
                <div class="progress-bar" role="progressbar"
                     ng-style="{ 'width': (uploader.progress)/1 + '%' }"></div>
            </div>



            <div class="modal-btn-wrap clearfix">
                <button id="btn_addNewDocSave" type="submit" class="f-btn">SAVE</button>
                <button id="btn_addNewDocCancel" type="button" class="f-btn f-btn2" ng-click="cancel()">CANCEL</button>
            </div>



        </form>
    </div><!-- modal-body ended -->


</div>
<script>
    function readURL(input) {
        if (input.files && input.files[0]) {
            var reader = new FileReader();
            reader.onload = function (e) {
                $('#fetch').attr('src', e.target.result);
            }
            reader.readAsDataURL(input.files[0]);
        }
    }
    $("#addNewDocImage").change(function () {
        readURL(this);
    });
</script>
