<!--<button type="button" class="close" ng-click="$dismiss('cancel')">&times;</button>-->
<div id="add_payment" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">
            <div class="modal-header">
                <button type="button" id="btn_contactpayment_cancel" class="close" data-dismiss="modal" aria-label="Close" ng-click="$dismiss('cancel')"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title modal-header-top" id="exampleModalLabel">Add New Payment </h4>
            </div>

            <div class="modal-body">

                <form class="form-content form-content2 edit-organization-setting" name="addNewForm" novalidate data-ng-submit="addNewPayment(addNewForm.$valid)" autocomplete="off">



                    <div class="clearfix">

                        <div class="form-group"
                             data-ng-class="{ 'has-error' : addNewForm.name.$invalid && (!addNewForm.name.$pristine || showValid) && !addNewForm.name.$focus,
                                                  'has-success': addNewForm.name.$valid && !addNewForm.name.$pristine && !addNewForm.name.$focus
                                                 }">
                            <div class="form-group form-bx form-bx11 form-bx11-1">

                                <label for="">Payment Name:</label>
                                <input class="form-control" autofocus name="name" id="contactpayment_amount"
                                       placeholder="Payment Name"
                                       data-ng-model="params.name"
                                       minlength="1"
                                       maxlength="10"
                                       ng-pattern="/^[a-zA-Z 0-9 ',_#/:.&-()\s]*$/"
                                       input-focus
                                       required />
                                <div ng-messages="addNewForm.name.$error" style="color:maroon" role="alert">
                                    <div ng-message="required" data-ng-if="addNewForm.name.$invalid && (!addNewForm.name.$pristine || showValid) && !addNewForm.name.$focus">This field should not be empty </div>
                                    <div ng-message="pattern">Enter valid payment name</div>
                                </div>
                            </div>
                        </div>

                        <div class="form-group"
                             data-ng-class="{ 'has-error' : addNewForm.paymenttype.$invalid && (!addNewForm.paymenttype.$pristine || showValid) && !addNewForm.paymenttype.$focus,
                                                  'has-success': addNewForm.paymenttype.$valid && !addNewForm.paymenttype.$pristine && !addNewForm.paymenttype.$focus
                                                 }">
                            <div class="form-group form-bx11-2 ">
                                <label for="">Payment Type</label>
                                <select ng-model="pay1" ng-change="selectpay()" name="paymenttype"
                                        class="dropdown form-control" id="contactpayment_paymentType" required>
                                    <option value="" selected>Select Payment</option>
                                    <option ng-repeat="pay in payment"
                                            value="{{pay.id}}">
                                        {{pay.payment_type1}}
                                    </option>
                                </select>
                                <div ng-messages="addNewForm.paymenttype.$error" style="color:maroon" role="alert">
                                    <div ng-message="required" data-ng-if="addNewForm.paymenttype.$invalid && (!addNewForm.paymenttype.$pristine || showValid) && !addNewForm.paymenttype.$focus">This field should not be empty </div>
                                </div>
                            </div>
                        </div>

                        <div class="form-group"
                             data-ng-class="{ 'has-error' : addNewForm.paymentterms.$invalid && (!addNewForm.paymentterms.$pristine || showValid) && !addNewForm.paymentterms.$focus,
                                                  'has-success': addNewForm.paymentterms.$valid && !addNewForm.paymentterms.$pristine && !addNewForm.paymentterms.$focus
                                                 }">
                            <div class="form-group form-bx11-2 ">
                                <label for="">Payment Terms</label>
                                <select ng-model="payTerms" ng-change="selectPayTerms()" name="paymentterms"
                                        class="dropdown form-control" id="contactpayment_paymentType">
                                    <option value="" selected>Select Payment Terms</option>
                                    <option value="booking">Booking</option>
                                    <option value="others">Others</option>
                                </select>
                                <div ng-messages="addNewForm.paymentterms.$error" style="color:maroon" role="alert">
                                    <div ng-message="required" data-ng-if="addNewForm.paymentterms.$invalid && (!addNewForm.paymentterms.$pristine || showValid) && !addNewForm.paymentterms.$focus">This field should not be empty </div>
                                    <div ng-message="pattern">Enter valid Payement Terms</div>
                                </div>
                            </div>
                        </div>
                        

                        <div class="form-group"
                             data-ng-class="{ 'has-error' : addNewForm.booking.$invalid && (!addNewForm.booking.$pristine || showValid) && !addNewForm.booking.$focus,
                                                  'has-success': addNewForm.booking.$valid && !addNewForm.booking.$pristine && !addNewForm.booking.$focus
                                                 }">
                            <div class="form-group form-bx11-2 ">
                                <label for="">Booking Id</label>
                                <select ng-model="bookingID" ng-change="selectBookingScheme()" name="booking"
                                        class="dropdown form-control" id="contactpayment_paymentType" required>
                                    <option value="" selected>Select Booking Id</option>
                                    <option ng-repeat="book in booking"
                                            value="{{book.id}}">
                                        {{book.id}}
                                    </option>
                                </select>
                                <div ng-messages="addNewForm.booking.$error" style="color:maroon" role="alert">
                                    <div ng-message="required" data-ng-if="addNewForm.booking.$invalid && (!addNewForm.booking.$pristine || showValid) && !addNewForm.booking.$focus">This field should not be empty </div>
                                    <div ng-message="pattern">Enter valid Booking</div>
                                </div>
                            </div>
                        </div>

                      
                            <div class="form-group form-bx11-2 ">
                                <label for="">Payement Scheme</label>
                                <select ng-model="payementScheme" ng-change="selectPayementScheme()" name="payementScheme"
                                        class="dropdown form-control" id="contactpayment_paymentScheme">
                                    <option value="" selected>Select Payement Scheme</option>
                                    <option ng-repeat="booking in bookingScheme"
                                            value="{{booking.GetSchemeTermsID}}">
                                        {{booking.GetSchemeTerms}}
                                    </option>                                 
                                </select>                               
                            </div>
                       
                   
                        <div class="form-group form-bx form-bx11 form-bx11-1">

                                <label for="">Amount :</label>
                                <input class="form-control" id="contactpayment_amount"
                                       placeholder="Payment Amount"
                                       data-ng-model="params.Amount"
                                       minlength="1"
                                       maxlength="10"                                      
                                       input-focus /> 
                            
                            
                            <div class="clearfix" style="margin-top: 15px;">
                                <label>Pay Date :</label>
                                <input kendo-date-picker class="form-control" cstm_height cxo-f1" data-ng-model="params.datepaid" placeholder="Pay Date" />
                            </div>                               
                            </div>

                    </div>


                    <div class="clearfix">
                        <div class="form-bx form-bx5">
                            <label for="">Add Note</label>
                            <textarea id="contact_addNewNotes_addNote" autofocus kendo-editor k-ng-model="params.text"></textarea>
                        </div>
                    </div>

          <div class="modal-btn-wrap5 modal-btn-wrap6 clearfix">
    <div class="btn-f-c"><button id="btn_contactpayment_save" class="f-btn ladda-button" ladda="loadingDemo" data-style="expand-right" type="submit">SAVE</button></div>
    <div class="btn-f-c"><button id="btn_contactpayment_cancelme" class="f-btn f-btn2" type="button" ng-click="cancel()">CANCEL</button></div>
</div>
                </form>
             </div>
                      
                  

               

            </div><!-- modal-body ended -->

    
