<div id="add_new_contact" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">
    <div class="modal-header custom_head">
        <button type="button" class="close" ng-click="$dismiss('cancel')" id="btn_addSuccessfulClose">&times;</button>
        <h4 class="modal-title custom_head-h4"><i class="fa fa-check"></i> Success</h4>
    </div>
    <div class="modal-content" style="padding:2%">
        <div class="modal-btn-wrap5 clearfix">
            <div style="padding: 2% 0% 3% 0%;">
                <h4 align="center" id="">Assigned Successfully</h4>
                <button type="button" id="btn_assignpopup_ok" class="btn btn-success" ng-click="$dismiss('cancel')">OK</button>
            </div>
        </div>
    </div><!-- modal-body ended -->
</div>
