<div id="add_new_contact" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">



    <div class="modal-body">

        <div class="close-btn-wrap">
            <button type="button" class="close" id="btn_newuser_close" data-dismiss="modal" aria-label="Close" ng-click="$dismiss('cancel')" &times;><span aria-hidden="true">&times;</span></button>
        </div>

        <p align="center" style="font-size:20px"><strong>Assigned Successfully</strong></p>

        <br />
        <button type="button" id="btn_success_cancel" class="f-btn f-btn-sucessfull-ok" ng-click="$dismiss('cancel')">OK</button>
    </div><!-- modal-body ended -->
</div>
