<button type="button" class="close" ng-click="$dismiss('cancel')">&times;</button>
<div class="main-content add-new project sucessful-popup" style="padding: 2%;">
    <h3 style="text-align:center" ng-hide="length">Are you sure you want to delete these &nbsp;{{length}}&nbsp;Task</h3>
    <h3 style="text-align:center" ng-show="length<=1">Are you sure you want to delete these &nbsp;{{length}}&nbsp;Task</h3>
    <h3 style="text-align:center" ng-show="length>1">Are you sure you want to delete these &nbsp;{{length}}&nbsp;Tasks</h3>

    <div class="modal-btn-wrap5 modal-btn-wrap6 clearfix">
        <div style="padding: 2% 0% 3% 19%;">
            <button type="submit" class="btn btn-primary " id="btn_contactconfirmtask_yes" ng-click="gotoDelete()">YES</button>
            <button type="button" class="f-btnTag" id="btn_contactconfirmtask_no" ng-click="$dismiss('cancel')">NO</button>
        </div>
    </div>
    <!--<button type="button" id="btn_success_cancel" class="f-btn f-btn-sucessfull-ok" ng-click="$dismiss('cancel')">NO</button>
    <button type="button" id="btn_success_cancel" class="f-btn f-btn-sucessfull-ok" ng-click="gotoDelete()">Yes</button>-->

</div>