

<div id="add_new_contact" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">

    <div class="modal-body" nv-file-drop="" uploader="uploader" filters="queueLimit, customFilter">
        <div class="close-btn-wrap">
            <button id="btn_editbtn_cancel" type="button" class="close" data-dismiss="modal" aria-label="Close" ng-click="$dismiss('cancel')" &times;><span aria-hidden="true">&times;</span></button>
        </div>
        <form class="form-content" name="newForm" autocomplete="off" novalidate
              data-ng-submit="EditContact(newForm.$valid)">


            <h4 class="form-title">Edit Contact</h4>

            <div class="clearfix image-upload-container">
                <div class="modal-body image-upload-wrap">
                    <div class="image-upload-title">Upload Contact Image</div>
                    <div class="dropzone dropzone-bx image-upload-bx">
                        <div class="fallback">
                            <div class="panel panel-success" uploader="uploader" nv-file-over="">
                                <div class="image-upload-panel">
                                    <div class="user-photo_2" ng-hide="uploader.queue.length">
                                        <img ng-src={{params.Contact_Image}} class="image3" />
                                    </div>
                                    <div class="row" ng-show="uploader.queue.length">
                                        <div class="user-photo_4" ng-repeat="item in uploader.queue">
                                            <img id="fetch" src="#" class="image1" alt="your image" />
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="uploadFileName">
                        <p ng-show="uploader.queue.length"> {{uploader.queue[0]._file.name}}</p>
                    </div>
                    <label class="custom-file-input" id="editNewImage">

                        <input type="file" class="image-upload-f" id="contactedit_uploader1" value="Browse" accept="image/*" nv-file-select="" uploader="uploader" />
                    </label>
                </div>

            </div>

            <div class="clearfix">

                <div class="form-bx">
                    <div class="form-group"
                         data-ng-class="{
                                           'has-error' : newForm.salutation.$invalid && (!newForm.salutation.$pristine || showValid) && !newForm.salutation.$focus,
                                            'has-success': newForm.salutation.$valid && !newForm.salutation.$pristine && !newForm.salutation.$focus
                                     }">
                        <select id="contactedit_salutation" name="salutation" ng-change="selectsalutation()" ng-model="salutation1" class="dropdown form-control">
                            <option value="" selected>Select Salutation</option>
                            <option value="Mr.">Mr.</option>
                            <option value="Ms.">Ms.</option>
                            <option value="Mrs.">Mrs.</option>
                        </select>
                        <div ng-messages="newForm.salutation.$error" style="color:maroon" role="alert">

                            <div ng-message="pattern">Enter valid salutation</div>
                        </div>
                    </div>
                </div>

            </div>

            <div class="clearfix">

                <div class="form-bx">
                    <div class="form-group"
                         data-ng-class="{
                                           'has-error' : newForm.firstName.$invalid && (!newForm.firstName.$pristine || showValid) && !newForm.firstName.$focus,
                                           'has-success': newForm.firstName.$valid && !newForm.firstName.$pristine && !newForm.firstName.$focus
                                                                    }">
                        <label>First Name</label>
                        <input type="text" autofocus name="firstName" class="form-control" id="contactedit_fname"
                               data-ng-model="params.Contact_First_Name"
                               minlength="1"
                               maxlength="40"
                               alphabets-only
                               input-focus
                               required
                               ng-pattern="/^[a-zA-Z\s]*$/" />
                        <div ng-messages="newForm.firstName.$error" style="color:maroon" role="alert">
                            <div ng-message="required" data-ng-if="newForm.firstName.$invalid && (!newForm.firstName.$pristine || showValid) && !newForm.firstName.$focus">This field should not be empty </div>
                            <div ng-message="pattern">Enter valid first name</div>
                        </div>
                    </div>
                </div>

                <div class="field-mdl field-req">*</div>

                <div class="form-bx">
                    <div class="form-group"
                         data-ng-class="{
                                               'has-error' : newForm.lastName.$invalid && (!newForm.lastName.$pristine || showValid) && !newForm.lastName.$focus,
                                                'has-success': newForm.lastName.$valid && !newForm.lastName.$pristine && !newForm.lastName.$focus
                                              }">
                        <label>Last Name</label>
                        <input type="text" name="lastName" class="form-control" id="editcontact_lname"
                               data-ng-model="params.Contact_Last_Name"
                               minlength="1"
                               maxlength="30"
                               alphabets-only
                               input-focus
                               required
                               ng-pattern="/^[a-zA-Z\s]*$/" />
                        <div ng-messages="newForm.lastName.$error" style="color:maroon" role="alert">
                            <div ng-message="required" data-ng-if="newForm.lastName.$invalid && (!newForm.lastName.$pristine || showValid) && !newForm.lastName.$focus">This field should not be empty </div>
                            <div ng-message="pattern">Enter valid last name</div>
                        </div>
                    </div>
                </div>

                <div class="field-mdl field-req">*</div>
            </div>


            <div class="clearfix">

                <div class="form-bx" style="padding:5px">
                    <label for="">Title</label>
                    <input kendo-auto-complete ng-model="params.designation" k-data-source="titleList" class="form-control" id="editcontact_title" />
                </div>


                <div class="form-bx" style="padding:5px;margin-left:3%">
                    <label for="">Company</label>
                    <input kendo-auto-complete ng-model="params.company" k-data-source="companyList" class="form-control" id="editcontact_Company" />
                </div>
            </div>

            <div class="clearfix">

                <div class="form-bx" style=" padding:5px">
                    <div class="form-group"
                         data-ng-class="{
                                           'has-error' : newForm.budget.$invalid && (!newForm.budget.$pristine || showValid) && !newForm.budget.$focus,
                                            'has-success': newForm.budget.$valid && !newForm.budget.$pristine && !newForm.budget.$focus
                                     }">
                        <select id="editcontact_Budget" name="budget" ng-change="selectbudget()" ng-model="budget1" class="dropdown form-control">
                            <option value="" selected>Select Budget</option>
                            <option value="Less than 1Cr.">Less than 1Cr.</option>
                            <option value="1Cr. to 5Cr.">1Cr. to 5Cr.</option>
                            <option value="5Cr. to 10Cr.">5Cr. to 10Cr.</option>
                            <option value="10Cr. to 15Cr.">10Cr. to 15Cr.</option>
                            <option value="15Cr. and Above">15Cr. and Above</option>
                        </select>
                        <div class="text-danger"
                             data-ng-if="newForm.budget.$invalid && (!newForm.budget.$pristine || showValid) && !newForm.budget.$focus">
                            {{ 'Enter valid income' | translate }}
                        </div>
                    </div>
                </div>

                <div class="form-bx" style="padding:5px;margin-left:3%">
                    <div class="form-group"
                         data-ng-class="{
                                           'has-error' : newForm.duration.$invalid && (!newForm.duration.$pristine || showValid) && !newForm.duration.$focus,
                                            'has-success': newForm.duration.$valid && !newForm.duration.$pristine && !newForm.duration.$focus
                                     }">
                        <select id="editcontact_duration" name="duration" ng-change="selectbuy()" ng-model="buy1" class="dropdown form-control">
                            <option value="" selected>Looking At Purchase In</option>
                            <option value="0-3 months">0-3 months</option>
                            <option value="3-6 months">3-6 months</option>
                            <option value="6-12 months">6-12 months</option>
                            <option value="1-2 years">1-2 years</option>
                            <option value="Not Sure">Not Sure</option>
                        </select>
                        <div class="text-danger"
                             data-ng-if="newForm.duration.$invalid && (!newForm.duration.$pristine || showValid) && !newForm.duration.$focus">
                            {{ 'Enter valid Purchase Duration' | translate }}
                        </div>
                    </div>
                </div>


                <div class="clearfix">

                    <div class="form-group form-bx form-bx8">
                        <div class="form-group"
                             data-ng-class="{
                                         'has-error' : newForm.income.$invalid && (!newForm.income.$pristine || showValid) && !newForm.income.$focus,
                                         'has-success': newForm.income.$valid && !newForm.income.$pristine && !newForm.income.$focus
                                                                     }">
                            <label for="">Income</label>
                            <input type="text" id="editcontact_Income" class="form-control text-bold" autofocus name="income"
                                   data-ng-model="params.income"
                                   minlength="1"
                                   maxlength="50"
                                   ng-pattern="/^([1-9][0-9,./]*)$/"
                                   input-focus />
                            <div class="text-danger"
                                 data-ng-if="newForm.income.$invalid && (!newForm.income.$pristine || showValid) && !newForm.income.$focus">
                                {{ 'Enter valid income' | translate }}
                            </div>
                        </div>
                    </div>
                </div>

                <div class="clearfix">


                    <div class="form-bx form-bx2" style="border: 1px solid #e7e7e7;border-radius: 2px;">

                        <select kendo-multi-select k-options="selectOptions" name="project" id="editcontact_project" k-ng-model="project_name" k-on-change="selectProject()" class="dropdown form-control"></select>
                    </div>

                    <div class="text-danger"
                         data-ng-if="newForm.project.$invalid && (!newForm.project.$pristine || showValid) && !newForm.project.$focus">
                        {{ 'Enter valid Project' | translate }}
                    </div>
                </div>
            </div>


            <div class="clearfix">
                <div class="form-bx" style="padding:5px">
                    <div class="form-group"
                         data-ng-class="{
                                           'has-error' : newForm.gender.$invalid && (!newForm.gender.$pristine || showValid) && !newForm.gender.$focus,
                                            'has-success': newForm.gender.$valid && !newForm.gender.$pristine && !newForm.gender.$focus
                                     }">
                        <label>Gender</label>
                        <select id="editcontact_gender" name="gender" ng-change="selectgender()" ng-model="gender" class="dropdown form-control">
                            <option value="" selected>Select Gender</option>
                            <option value="Male">Male</option>
                            <option value="Female">Female</option>
                        </select>
                        <div ng-messages="newForm.gender.$error" style="color:maroon" role="alert">

                            <div ng-message="pattern">Enter valid gender</div>
                        </div>
                    </div>
                </div>




                <div class="form-bx" style="padding:5px;margin-left:3%">
                    <label for="">Date Of Birth</label>
                    <input id="editadd_datepicker" kendo-date-picker k-options="myOptions"
                           class="form-control "
                           ng-model="params.Date_Of_Birth"
                           k-ng-model="k_due_date"
                           k-format="'dd/MM/yyyy'" />
                </div>
            </div>


            <div ng-repeat="choice in choices">
                <div class="form-group"
                     data-ng-class="{
                                     'has-error' : newForm.phone_no.$invalid && (!newForm.phone_no.$pristine || showValid) && !newForm.phone_no.$focus,
                                      'has-success': newForm.phone_no.$valid && !newForm.phone_no.$pristine && !newForm.phone_no.$focus
                                     }">

                    <div id="phone-wrap" class="clearfix">
                        <div id="phone-no" class="form-bx form-bx2">
                            <label>Phone Number</label>
                            <input type="text" name="phone_no" class="form-control" id="editcontact_phone"
                                   data-ng-model="choice.Contact_Phone"
                                   input-focus
                                   ng-pattern="/^[0-9\-]{8,12}$/" />
                            <div class="text-danger"
                                 data-ng-if="newForm.phone_no.$invalid && (!newForm.phone_no.$pristine || showValid) && !newForm.phone_no.$focus">
                                {{ 'Enter valid phone number' | translate }}
                            </div>
                        </div>
                        <div id="editcontact_removephone" ng-class="{'add-input add_btn_address': $index==0,'remove-field': $index>0}" ng-click="addNewChoice($event)"><a id="editcontact_remove_phone" href="javascript:">Remove</a></div>
                    </div>
                </div>
            </div>


            <div ng-repeat="choice1 in choices1">
                <div class="form-group"
                     data-ng-class="{
                                      'has-error' : newForm.email.$invalid && (!newForm.email.$pristine || showValid) && !newForm.email.$focus,
                                      'has-success': newForm.email.$valid && !newForm.email.$pristine && !newForm.email.$focus
                                                           }">
                    <div id="email-wrap" class="clearfix">
                        <div id="email-no" class="form-bx form-bx2">
                            <label>Email Address</label>
                            <input type="email" name="email" class="form-control" id="editcontact_email"
                                   placeholder="Email Address"
                                   data-ng-model="choice1.Contact_Email"
                                   input-focus
                                   ng-pattern="^[a-zA-Z][\w\.-]*[a-zA-Z0-9]@[a-zA-Z0-9][\w\.-]*[a-zA-Z0-9]\.[a-zA-Z][a-zA-Z\.]*[a-zA-Z]$" />
                            <div class="text-danger"
                                 data-ng-if="newForm.email.$invalid && (!newForm.email.$pristine || showValid) && !newForm.email.$focus">
                                {{ 'Enter valid email address' | translate }}
                            </div>
                        </div>
                        <div id="editcontact_removeemail" ng-class="{'add-input add_btn_address': $index==0,'remove-field': $index>0}" ng-click="addNewChoice1($event)"><a id="editcontact_remove_email" href="javascript:">Remove</a></div>
                    </div>
                </div>
            </div>


            <div class="clearfix">

                <div class="form-bx form-bx14">
                    <select id="editcontact_Type" name="type" ng-change="selecttype()" ng-model="people_type" class="dropdown form-control">
                        <option value="" selected>Select Type</option>
                        <option value="Client">Client</option>
                        <option value="Lead">Lead</option>
                        <option value="Contact">Contact</option>
                    </select>
                </div>

            </div>

            <div class="clearfix">
                <div class="form-group form-bx ">
                    <div class="form-group"
                         data-ng-class="{
                                           'has-error' : newForm.user.$invalid && (!newForm.user.$pristine || showValid) && !newForm.user.$focus,
                                           'has-success': newForm.user.$valid && !newForm.user.$pristine && !newForm.user.$focus
                                            }">
                        <label for="">Assign To</label>
                        <select ng-model="user1" name="user" ng-change="selectuser()"
                                class="dropdown form-control" id="editcontact_assignto" required>
                            <option value="" selected>Select User</option>
                            <option ng-repeat="User in users"
                                    value="{{User.id}}">
                                {{User.name}}
                            </option>
                        </select>
                        <div ng-messages="newForm.user.$error" style="color:maroon" role="alert">
                            <div ng-message="required" data-ng-if="newForm.user.$invalid && (!newForm.user.$pristine || showValid) && !newForm.user.$focus">This field should not be empty </div>
                            <div ng-message="pattern">Enter valid user to be assigned</div>
                        </div>

                    </div>
                </div>
                <div class="field-md2 field-req">*</div>



                <div class="form-group form-bx ">
                    <div class="form-group"
                         data-ng-class="{
                                                                        'has-error' : newForm.project.$invalid && (!newForm.project.$pristine || showValid) && !newForm.project.$focus,
                                                                        'has-success': newForm.project.$valid && !newForm.project.$pristine && !newForm.project.$focus
                                                                     }">
                        <label for="">Add To Project</label>
                        <select ng-model="project1" name="project" ng-change="selectproject()"
                                class="dropdown form-control" id="editcontact_project" required>
                            <option value="" selected>Select Project</option>
                            <option ng-repeat="project in projects"
                                    value="{{project.id}}">
                                {{project.name}}
                            </option>
                        </select>
                        <div ng-messages="newForm.project.$error" style="color:maroon" role="alert">
                            <div ng-message="required" data-ng-if="newForm.project.$invalid && (!newForm.project.$pristine || showValid) && !newForm.project.$focus">This field should not be empty </div>
                            <div ng-message="pattern">Enter valid project to be assigned</div>
                        </div>
                    </div>

                </div>

                <div class="field-md2 field-req">*</div>
            </div>


            <div ng-repeat="choice in choices2">
                <div class="form-group"
                     data-ng-class="{
                                       'has-error' : newForm.Address.$invalid && (!newForm.Address.$pristine || showValid) && !newForm.Address.$focus,
                                       'has-success': newForm.Address.$valid && !newForm.Address.$pristine && !newForm.Address.$focus
                                       }">
                    <div id="address-wrap" class="clearfix">
                        <div id="address-no" class="form-bx form-bx2">
                            <label>Street{{$index + 1}}</label>
                            <input type="text" name="Address" class="form-control" id="editcontact_address"
                                   data-ng-model="choice.Street_1"
                                   minlength="5"
                                   maxlength="255"
                                   input-focus />
                            <div class="text-danger"
                                 data-ng-if="newForm.Address.$invalid && (!newForm.Address.$pristine || showValid) && !newForm.Address.$focus">
                                {{ 'Enter valid Address' | translate }}
                            </div>

                        </div>
                        <div id="editcontact_removeaddress" ng-class="{'add-input add_btn_address': $index==0,'remove-field': $index>0}" ng-click="addNewChoice2($event)"><a id="editcontact_remove_address" href="javascript:">Remove</a></div>
                    </div>
                </div>
            </div>


            <div class="clearfix">
                <div class="form-group"
                     data-ng-class="{
                                       'has-error' : addNewForm.Area.$invalid && (!addNewForm.Area.$pristine || showValid) && !addNewForm.Area.$focus,
                                       'has-success': addNewForm.Area.$valid && !addNewForm.Area.$pristine && !addNewForm.Area.$focus
                                       }">

                    <div class="form-group form-bx form-bx8">
                        <label for="">Area</label>
                        <input type="text" class="form-control text-bold" id="editcontact_Area" autofocus name="Area"
                               data-ng-model="params.area"
                               minlength="1"
                               maxlength="255"
                               input-focus />
                        <div class="text-danger"
                             data-ng-if="addNewForm.Area.$invalid && (!addNewForm.Area.$pristine || showValid) && !addNewForm.Area.$focus">
                            {{ 'Enter valid Area' | translate }}
                        </div>
                    </div>

                </div>


            </div>

            <div class="clearfix">
                <div class="form-bx form-bx3">
                    <label>State</label>
                    <select ng-model="state1" ng-change="selectstate(state)" class="dropdown form-control" id="editcontact_state">
                        <option value="" selected>State</option>
                        <option ng-repeat="state in states"
                                value="{{state.state_id}}">
                            {{state.state_name}}
                        </option>
                    </select>
                </div>




                <div class="field-mdl field-mdl2 field-req"></div>
                <div class="form-bx form-bx3">
                    <label>City</label>
                    <select ng-change="selectcity(city)" ng-model="city1" class="dropdown form-control" id="editcontact_city">
                        <option value="" selected>City</option>
                        <option ng-repeat="city in cities  | filter: filterExpression"
                                value="{{city.city_id}}">
                            {{city.city_name}}
                        </option>
                    </select>
                </div>

                <div class="field-mdl field-mdl2 field-req"></div>
                <div class="form-bx form-bx3">
                    <div class="form-group"
                         data-ng-class="{
                                               'has-error' : newForm.Pin.$invalid && (!newForm.Pin.$pristine || showValid) && !newForm.Pin.$focus,
                                               'has-success': newForm.Pin.$valid && !newForm.Pin.$pristine && !newForm.Pin.$focus
                                                                         }">
                        <label>Pin</label>
                        <input type="text" name="Pin" class="form-control" id="editcontact_pin"
                               data-ng-model="params.zip_code"
                               minlength="1"
                               maxlength="7"
                               input-focus
                               ng-pattern="/^[0-9]{1,7}$/" />
                        <div class="text-danger"
                             data-ng-if="newForm.Pin.$invalid && (!newForm.Pin.$pristine || showValid) && !newForm.Pin.$focus">
                            {{ 'Please enter valid pin' | translate }}
                        </div>
                    </div>
                </div>
            </div>

            <div class="progress" ng-show="((uploader.progress)/1)>0">
                <div class="progress-bar" role="progressbar"
                     ng-style="{ 'width': (uploader.progress)/1 + '%' }"></div>
            </div>

            <div class="modal-btn-wrap clearfix">
                <button id="btn_editcontect_save" type="submit" class="f-btn">SAVE</button>

                <button id="btn_editcontact_cancelme" type="button" class="f-btn f-btn2" ng-click="cancel()">CANCEL</button>
            </div>
        </form>


    </div><!-- modal-body ended -->

</div><!-- modal ended -->
<script>
    function readURL(input) {
        if (input.files && input.files[0]) {
            var reader = new FileReader();
            reader.onload = function (e) {
                $('#fetch').attr('src', e.target.result);
            }
            reader.readAsDataURL(input.files[0]);
        }
    }
    $("#contactedit_uploader1").change(function () {
        readURL(this);
    });
</script>