<div id="add_new_team" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">
   
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close" ng-click="$dismiss('cancel')"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="exampleModalLabel">Edit Notes</h4>
            </div>
            <form class="form-content form-content2 edit-organization-setting" style="text-align:left" name="addNewForm" data-ng-submit="addNew(addNewForm.$valid)" autocomplete="off">

                <div class="clearfix">

                    <div class="form-group form-bx form-bx8">
                        <label for="">From</label>
                        <tags-input ng-model="params.Name" input-focus name="from" placeholder="Contacts" id="contact_editNotes_From">
                            <auto-complete source="loadTags($query)"></auto-complete>
                        </tags-input>
                    </div>

                    <div class="form-bx form-bx5">
                        <label for="">Add Note</label>

                        <textarea id="contact_editNotes_addNotes" autofocus kendo-editor k-ng-model="params.text"></textarea>

                    </div>
                </div>

                <div class="modal-btn-wrap clearfix">
                    <button type="submit" class="f-btn" id="btn_contact_editNotes_save">SAVE</button>

                    <button type="button" class="f-btn f-btn2" id="contact_editNotes_cancel" ng-click="cancel()">CANCEL</button>
                </div>
            </form>

        </div>
   