
<!--<button type="button" class="close" ng-click="$dismiss('cancel')">&times;</button>-->
<button type="button" id="btn_AddTagClose" class="close" ng-click="$dismiss('cancel')">&times;</button>

<form class="form-content form-content2 edit-organization-setting" name="addNewForm" autocomplete="off" novalidate data-ng-submit="addNew(addNewForm.$valid)">
    <div style="font-family:Gotham, 'Helvetica Neue', Helvetica, Arial, sans-serif; font-size:13px; line-height:1.8; text-align:left; height:650px; overflow:auto;">
        <strong><span style="font-size:x-large;color:#3399cc;">Grammar For JQL</span></strong>

        <br>
        <strong>In Lead Page Grid can be filtered using the following Grammars.</strong><br>
        <br>
        A. &nbsp;For String &nbsp;: <br>
        Following Feilds can be used with string operators<br>
        &nbsp; &nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;1. FirstName<br>
        &nbsp; &nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;2. LastName<br>
        &nbsp; &nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;3. Email<br>
        &nbsp; &nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;4. Number or Phone<br>
        &nbsp; &nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;5. Tags<br>
        &nbsp; &nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;6. Notes<br>
        &nbsp; &nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;7.Company<br>
        <br>
        &nbsp; &nbsp;Feilds can be filtered using the follwing Operators. There should be space before and after every operator.<br>
        &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; <br>
        &nbsp; &nbsp; a. "contains" : Syntax &nbsp;: &lt;Feild&gt; &lt;Operator&gt; &lt;Value&gt;<br>
        &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; Example : Name contains priya<br>
        &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; Output : This query will return All the rows where name feild has word priya.<br>
        &nbsp; <br>
        &nbsp; &nbsp; b. &nbsp;"in" &nbsp; &nbsp; &nbsp;: Syntax &nbsp;: &lt;Feild&gt; &lt;Operator&gt; &lt;Value1,Value2...&gt;<br>
        &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; Example : Name in (priya,Rishikesh...) <br>
        &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; Output : This query will return All the rows where "Name" feild will have words "priya,Rishikesh.<br>
        <br>
        &nbsp; &nbsp; c. &nbsp;"=" &nbsp; &nbsp; &nbsp;: Syntax &nbsp;: &lt;Feild&gt; &lt;Operator&gt; &lt;Value1&gt;<br>
        &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;Example : Name = priya Gym<br>
        &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;Output : This query will return the rows where "Name" feild will have exact word "priya Gym"<br>
        <br>
        &nbsp; <br>
        &nbsp; &nbsp;Empty Data or Blank Data can be filtered using the follwing operators. There should be space before and after every operator.<br>
        &nbsp; &nbsp; <br>
        &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; <br>
        &nbsp; &nbsp; a. &nbsp; "is" &nbsp; &nbsp; &nbsp;Syntax : &lt;Feild&gt; is "blank"<br>
        &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; Example : Name is blank<br>
        &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; Output : This query will return All the rows where name feild has no data.<br>
        &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; Note : "blank" is a keyword defined in our JQL. <br>
        &nbsp; <br>
        &nbsp; &nbsp; b. &nbsp;"=" &nbsp; &nbsp; &nbsp; Syntax : &lt;Feild&gt; = "blank"<br>
        &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; Example : Name is blank<br>
        &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; Output : This query will return All the rows where name feild has no data.<br>
        &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; Note : "blank" is a keyword defined in our JQL. <br>
        <br>
        <br>
        B. For Numbers &nbsp;: Feilds can be filtered using the following Operators. There should be space before and after every operator.<br>
        <br>
        &nbsp; &nbsp;Following &nbsp;Feild can be used with string operators <br>
        &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;1. Follow up count<br>
        <br>
        <br>
        &nbsp; a. "&gt;=" &nbsp;: Syntax &nbsp;: &lt;Feild&gt; &lt;Operator&gt; &lt;Value&gt;<br>
        &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;Example : Follow up count &gt;= 5<br>
        &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;Output : This query will return All the rows where feild "Follow up count" is greater then equal (" &gt;= ") to 5.<br>
        <br>
        <br>
        b. "&lt;=" &nbsp;: Syntax &nbsp;: &lt;Feild&gt; &lt;Operator&gt; &lt;Value&gt;<br>
        &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; Example : Follow up count &lt;= 5<br>
        &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; Output : This query will return All the rows where feild "Follow up count" is less then equal (" &lt;= ") to 5.<br>
        <br>
        <br>
        c. &nbsp;"=" &nbsp; : Syntax &nbsp;: &lt;Feild&gt; &lt;Operator&gt; &lt;Value1&gt;<br>
        &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;Example : ollow up count= 1<br>
        &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;Output : This query will return All the rows where feild "Follow up count" is equal (" = ") to 1.<br>
        <br>
        <br>
        C. &nbsp;For Date &nbsp;: &nbsp;Feilds can be filtered using the following Operators. There should be space before and after every operator.<br>
        <br>
        &nbsp; &nbsp;Following &nbsp;Feild can be used with string operators <br>
        &nbsp; &nbsp; &nbsp;1. Last Contacted Date <br>
        &nbsp; &nbsp; &nbsp;2. Updated Date <br>
        <br>
        &nbsp; &nbsp; &nbsp;a. "isbefore" : Syntax &nbsp;: &lt;Feild&gt; &lt;Operator&gt; &lt;DD-MM-YYYY&gt; <br>
        &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;Example : Last Contacted Date isbefore 01-03-2016<br>
        &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;Output : This query will return All the rows where feild "Last Contacted Date" is greater than 01-03-2016.<br>
        &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;Note : No space between word is and before it is joint word as "isbefore"<br>
        <br>
        &nbsp; &nbsp; &nbsp;b. "isafter" : Syntax &nbsp;: &lt;Feild&gt; &lt;Operator&gt; &lt;DD-MM-YYYY&gt; <br>
        &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;Example : Last Contacted Date isafter 01-03-2016<br>
        &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;Output : This query will return All the rows where feild "Last Contacted Date" is less than 01-03-2016.<br>
        &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;Note : No space between word is and after it is joint word as "isafter"<br>
        <br>
        &nbsp; &nbsp; &nbsp;c. "between || " : Syntax &nbsp;: &lt;Feild&gt; &lt;Operator&gt; &lt;between DD-MM-YYYY || DD-MM-YYYY&gt; <br>
        &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;Example : Last Contacted Date between 01-03-2016 || 01-04-2016<br>
        &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;Output : This query will return All the rows where feild "Last Contacted Date" is greater than 01-03-2016 or lesser then &nbsp;01-04-2016.<br>
        &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;Note : Space present between words "between ||"<br>
        <br>
        <br>
        <br>
        &nbsp; &nbsp; Empty Data or Blank Data can be filtered using the follwing operator. There should be space before and after every operator.<br>
        <br>
        &nbsp; &nbsp; &nbsp;a. "is": &nbsp; &nbsp; &nbsp; Syntax &nbsp;: &lt;Feild&gt; is "never"<br>
        &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;Example : Last Contacted Date is never<br>
        &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;Output : This query will return All the rows where feild "Last Contacted Date" has no data.<br>
        &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;Note &nbsp; : "never" is a keyword defined in our JQL. <br>
        <br>
        &nbsp; &nbsp; &nbsp;b. "=" : &nbsp; &nbsp; &nbsp; Syntax &nbsp;: &lt;Feild&gt; = "never"<br>
        &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;Example : Last Contacted Date is never<br>
        &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;Output : This query will return All the rows where feild "Last Contacted Date" has no data.<br>
        &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;Note &nbsp; : "never" is a keyword defined in our JQL. <br>
        <br>
        <br>
        <br>
        Syntax for Complete "OR" Clause Query<br>
        <br>
        Name contains priya or Email in (burzin@dwellar.com,pradip@dwellar.com) or Follow up count = 6<br>
        Output : This query will Result where <br>
        &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; "Name" feild will contain "priya" or <br>
        &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; "Email" feild will contain "burzin@dwellar.com" or "pradip@dwellar.com" <br>
        &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;or Follow up count = 6<br>
        <br>
        <br>
        Syntax for Complete "AND" Clause Query<br>
        <br>
        Name contains priya and Email in (burzin@dwellar.com,pradip@dwellar.com) and Follow up count = 6<br>
        Output : This query will Result where <br>
        &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; "Name" feild should contain "priya" and <br>
        &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; "Email" feild should contain "burzin@dwellar.com" and "pradip@dwellar.com" <br>
        &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;and Follow up count should be = 6<br>
        <br>
        <br>
        <br>
    </div>
</form>
