<style type="text/css">
    .UseHand {
        cursor: pointer !important;
    }
</style>

<div id="main-content" class="col-xs-12">
    <div class="content-inner">
        <div class="pg-inner-header">
            <div class="row">

                <div class="col-md-2">
                    <h2 class="pg-inner-title">Leads</h2>
                </div>
                <div class="col-md-10">
                    <div class="pull-right btn-wrap-right">
                        <a id="leads_openUploadNotesPopup" href="" class="btn-lk" ng-click="openUploadNotesPopup()" style="cursor:pointer">Upload Notes</a>
                        <a id="leads_openUploadContactPopup" href="" class="btn-lk" ng-click="openUploadContactPopup()" style="cursor:pointer">Upload Contact</a>
                        <a id="leads_openContactPopup" href="" class="btn-lk" ng-click="openContactPopup()" style="cursor:pointer;margin-right: 40px;">+ Add New Contact </a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="pg-inner-content">

        <form action="">

            <div class="clearfix">
                <div class="col-lg-12 col-md-12 col-sm-12" style="margin-bottom: 20px;">
                    <div class="col-lg-1 col-md-1 col-sm-1 ">
                        <select ng-model="leadAction" class="form-control serach_bar_btn" style="font-size:14px;" ng-change="chooseAction()" id="contacaction">
                            <option value='no_action' selected></option>
                            <option value='add_tag'>ADD TAG</option>
                            <option value='assign_to'>ASSIGN TO</option>
                            <option value='delete'>DELETE</option>
                        </select>
                    </div>
                    <div class="col-lg-2 col-md-2 col-sm-2 ">
                        <select ng-model="gridView" class="form-control serach_bar_btn" style="font-size:14px;" ng-change="changeView()" id="contacaction">
                            <option value='default' selected>Default View</option>
                            <option ng-repeat="view in views" value={{view.view_name}}>{{view.view_name}}</option>
                        </select>
                    </div>
                    <div class="col-md-9 col-sm-9" style="margin-top: 0px;">
                        <div class="form-inline">
                            <!--ng-keypress="checkIfEnterKeyWasPressed($event)"-->
                            <textarea id="text" class="form-control serach_bar_filter custom_class" style="width: 73%;" placeholder="Query" cols="40" rows="2" my-maxlength="5" ng-model="textareaText" ng-enter="DoWork()"></textarea>
                            <button type="submit" class="btn search_btn_cancel" ng-click="clearFilter()"><i class="fa fa-times"></i></button>
                            <button type="submit" class="btn serch_btn_custom" ng-click="callFilter()"><i class="fa fa-check"></i></button>
                            <button type="submit" class="btn btn-primary serach_bar_btn-1" ng-click="saveView()">SAVE VIEW</button>
                            <button type="submit" class="btn btn-primary serach_bar_btn-1" ng-click="saveFilters()">SAVE FILTER</button>
                        </div>
                    </div>
                    <!--<div class="col-md-1 col-sm-1" style="width: 9%;">
                        <button type="submit" class="btn search_btn_cancel" ng-click="clearFilter()"><i class="fa fa-times"></i></button>
                        <button type="submit" class="btn serch_btn_custom" ng-click="callFilter()"><i class="fa fa-check"></i></button>
                    </div>
                    <div class="col-md-3 col-sm-3 pull-right" style="width: 22%;">
                        <button type="submit" class="btn btn-primary serach_bar_btn" ng-click="saveView()">SAVE VIEW</button>
                        <button type="submit" class="btn btn-primary serach_bar_btn" ng-click="saveFilters()">SAVE FILTER</button>
                    </div>-->


                </div>


            </div>

            <div id="record-content" class="properties-content">

                <div id="contact_kenomain" kendo-grid k-options="LeadGrid" selectable="true" k-on-change="myGridChange(dataItem )">
                </div>

            </div><!-- record-content ended -->

        </form>

    </div><!-- pg-inner-content ended -->

</div>