<div class="modal-header">
    <button type="button" id="btn_createViewClose" class="close" data-dismiss="modal" aria-label="Close" ng-click="$dismiss('cancel')" &times;><span aria-hidden="true">&times;</span></button>
    <h4 class="form-title">Create New View</h4>
</div>

<div class="modal-body">
    <form  name="viewForm" style="text-align:left;" data-ng-submit="createView(viewForm.$valid)" autocomplete="off">
        View Name
        <input type="text" autofocus name="viewName" class="form-control" id="createView_txtViewName"
               placeholder="View Name"
               data-ng-model="params.viewName"
               input-focus
               required />
        <div ng-messages="viewForm.viewName.$error" data-ng-if="viewForm.viewName.$invalid && (!viewForm.viewName.$pristine || showValid) && !viewForm.viewName.$focus" style="color:maroon" role="alert">
            <div ng-message="required">You did not enter a field</div>
        </div>
        <div class="modal-btn-wrap-1 clearfix">
            <button type="submit" class=" f-btn " style="margin:1px" ng-click="showValid=true"> SAVE </button>
        </div>
    </form>
</div>

<div class="modal-footer"></div>
