
<div>
    
    <button type="button"  class="close" ng-click="$dismiss('cancel')">&times;</button>
</div>
<div class="main-content add-new project sucessful-popup" style="padding: 20px 20px 20px 20px;">
   <span><img src="images/check2.png" height="42" width="42" /></span> 
   
    <h2 style="font-family:lato;font-size:23px;">Check your email</h2>
    <p class="form-title" style="font-family:lato;font-size:18px;">We have just sent mail to:<a href="" ui-sref="app.resetPasswordPage">{{resetAccountEmail}} </a></p>
    <p style="font-family:lato;font-size:18px;">with a link you will  need to click to reset your password</p>

    <h6 style="font-family:lato;font-size:18px;">In case you do not receive your password reset email shortly, please check your spam folder also.</h6>

    <button type="button" id="btn_success_cancel" class="btn btn-default" ng-click="$dismiss('cancel')">OK</button>


    <!--<a data-target="#" href="/index.html#/home/users"> Back to User List </a>-->
</div>
