
<div class="modal-header custom_head_error">
    <h4 class="form-title custom_head-h4"><i class="fa fa-exclamation-triangle"></i> Error</h4>
        <button type="button" style="margin-top:-36px" class="close" ng-click="$dismiss('cancel')">&times;</button>
</div>
<div class="main-content add-new project sucessful-popup" style="padding: 20px 20px 20px 20px;">
    <h4 class="form-title">{{title}}</h4>

    <button type="button" id="btn_success_cancel" class="btn btn-danger" ng-click="$dismiss('cancel')">OK</button>

    <!--<a data-target="#" href="/index.html#/home/users"> Back to User List </a>-->
</div>
