
<div class="modal-header">
 
    <h4 class="form-title" style="text-align:left;margin-left:1%" ><i class="fa fa-exclamation-triangle" style="color:red"></i>Error</h4>
    <div class="close-btn-wrap" style="height:0px!important">
        <button type="button" style="margin-top:-36px" class="close" ng-click="$dismiss('cancel')">&times;</button>
    </div>
</div>
<div class="main-content add-new project sucessful-popup" style="padding: 20px 20px 20px 20px;">
    <h3 class="form-title">{{title}}</h3>

    <button type="button" id="btn_success_cancel" class="btn btn-primary" ng-click="$dismiss('cancel')">OK</button>

    <!--<a data-target="#" href="/index.html#/home/users"> Back to User List </a>-->
</div>
