<header class="navbar navbar-default navbar-fixed-top header2 ">
    <div class="container">

        <div class="pull-left logo">
            <!--<a href="/">-->
            <img src="assets/images/logo.png" alt="" />
            <!--</a>-->
        </div><!-- logo ended -->
        <!--<div class="pull-right reg-wrap">
            <a href="#" class="h-btn">SIGN UP</a>
            <a href="#" class="h-btn">LOGIN</a>
        </div>-->
        <!-- reg-btn ended -->
        <!--<nav class="navbar navbar-default pull-right main-navbar">

            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
            </div>

            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li id="login_home"><a href="#">HOME</a></li>
                    <li id="login_feature"><a href="#">FEATURES</a></li>
                    <li id="login_plans"><a href="#">PLANS</a></li>
                    <li id="login_builder"><a ui-sref="builder_directory">BUILDER DIRECTORY</a></li>
                    <li id="login_contact"><a href="#">CONTACT US</a></li>
                </ul>
            </div>

        </nav>-->
        <!-- main-navbar ended -->
        <!--<!--<!--<div class="pull-right user-sec">
            <div class="dropdown" style="margin-top:35px;font-weight:600">
                <!--<a id="user-dropdown" data-target="#" href="http://example.com" data-toggle="dropdown" >-->
        <!--<span class="avatar">D</span>--> <!--<span class="welcome">Welcome</span>  {{loggedUser}} | <span class="welcome">Logout</span>-->
        <!--<i class="fa fa-angle-down"></i>
        </a>-->
        <!--<ul class="dropdown-menu" aria-labelledby="user-dropdown">
          <li><a href="#"><i class="fa fa-user"></i> My Profile</a></li>
          <li><a href="#"><i class="fa fa-cog"></i> Account Setting</a></li>
          <li><a href="#"><i class="fa fa-sign-out"></i> Signout</a></li>
        </ul>-->
    </div>
    <!--</div>-->


</header>

<div class="container" style="padding-top:200px">

    <form name="loginForm" novalidate data-ng-submit="loginemail(loginForm.$valid)" autocomplete="off" class="form-horizontal">
        <div class="above-login" style="background:#fff;width: 600px;height: 400px;margin-left: 250px;">
            <!--<div class="alert alert-danger" data-ng-if="error">{{ error }}</div>
            <div class="alert alert-success" data-ng-if="success">{{ success }}</div>-->

            <div class="form-group"
                 data-ng-class="{

                      'has-error' : loginForm.Email.$invalid && (!loginForm.Email.$pristine || showValid) && !loginForm.Email.$focus,
                                        'has-success': loginForm.Email.$valid && !loginForm.Email.$pristine && !loginForm.Email.$focus
                                    }">
                <div class="col-lg-10" style="margin: 118px 0px 0px 52px;margin-bottom: 4%;">
                    <br />
                    <label class="media-heading"style="font-size:24px;font-family:lato;color:#808080">Please Enter Your Register  Email Id </label>
                   
                        <input type="text" name="Email" class="form-control" id="forgotpass_email" style="margin: 14px 0px 0px 0px;"
                               placeholder="Email"
                               data-ng-model="params.account_email"
                               minlength="1"
                               maxlength="30"
                               input-focus
                               pattern=".{1,}@[_a-z0-9A-Z]+(\.[a-z0-9A-Z]+)+" />
               

                    <div class="text-danger"
                         data-ng-if="loginForm.Email.$invalid && (!loginForm.Email.$pristine || showValid) && !loginForm.Email.$focus">
                        {{ 'Enter Valid Email Address ' | translate }}
                    </div>
                </div>
                <div style="margin: 6px 14px 64px 55px;">
                    <button type="submit" name="button1" class=" btn btn-primary">
                        Proceed

                    </button>
                </div>
               
            </div>
           

        </div>

    </form>

    <br />
    <!--<form name="loginForm1" novalidate data-ng-submit="loginphone(loginForm1.$valid)" autocomplete="off" class="form-horizontal">
        <div class="above-login" style="background:#fff">
            <div class="alert alert-danger" data-ng-if="error">{{ error }}</div>
            <div class="alert alert-success" data-ng-if="success">{{ success }}</div>
            <div class="form-group"
                 data-ng-class="{
                                'has-error' : loginForm1.phone.$invalid && (!loginForm1.phone.$pristine || showValid) && !loginForm1.phone.$focus,
                                'has-success': loginForm1.phone.$valid && !loginForm1.phone.$pristine && !loginForm1.phone.$focus
                            }">
                <div class="col-sm-10">
                    <br />
                    <label class="media-heading"><b style="color:#289ff1;font-weight:600;font-size:20px">Recover  Account By Mobile Number</b> </label>
                    <label class="control-label">Enter Mobile Number</label>
                    <label class="label-group">
                        <input type="text" name="phone" class="form-control" id="forgotpass_phno"
                               placeholder="Mobile Number"
                               data-ng-model="post.account_phone"
                               ng-minlength="1"
                               ng-maxlength="10"
                               ng-pattern="/^[\+]?[(]?[0-9]{3}[)]?[-\s\.]?[0-9]{3}[-\s\.]?[0-9]{4,6}$/"
                                />
                    </label>

                    <div class="text-danger"
                         data-ng-if="loginForm1.phone.$invalid && (!loginForm1.phone.$pristine || showValid) && !loginForm1.phone.$focus">
                        {{ 'Please Enter 10 Digit Phone Number' | translate }}
                    </div>
                </div>
            </div>
            <button type="submit" id="btn_forgotpass_sub" name="button2"  class=" btn-default login-btn">
                Send
                <span class="icon-arrowright"></span>
            </button>

        </div>
    </form>-->

</div>
