
<div id="add_new_team" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">

    <div class="modal-dialog modal-lg">
        <div class="modal-content">

            <div >
                <br/>
            </div>

            <form class="form-content form-content2 edit-organization-setting" name="addNewForm" novalidate data-ng-submit="addNew(addNewForm.$valid)" autocomplete="off">
                
                <h4 class="form-title">Add New Resources</h4>
                <div class="clearfix">
                    <div class="form-group form-bx form-bx8">
                        <label for="">Resource Heading</label>
                        <input type="text" class="form-control text-bold" autofocus name="resource_feature" id="resource_head"
                               placeholder="Heading"
                               data-ng-model="params.Heading"
                               minlength="1"
                               maxlength="50"
                               input-focus
                               required
                               />
                    </div>
                </div>
                
               
                <div class="clearfix">
                    <div class="form-group form-bx form-bx8">
                        <label for="">Resource Name</label>
                        <input type="text" class="form-control text-bold" autofocus name="resource_feature" id="resource_feature"
                               placeholder="Resources"
                               data-ng-model="params.resource_feature"
                               minlength="1"
                               maxlength="50"
                               input-focus
                               required
                               />
                    </div>
                </div>
                
                <div class="modal-btn-wrap clearfix">
                    
                    <button type="submit" id="btn_resource_save" class="f-btn" >Save</button>

                   
                </div>
            </form>

        </div>
    </div>
</div>
