<div id="main-content" class="col-xs-12">
    <div class="content-inner">
        <div class="pg-inner-header">
            <div class="row">
                <div class="col-md-12">
                    <h2 class="pg-inner-title">Plot Details</h2>

                </div>


            </div>


            <div class="pg-inner-content">

                <div class="project-detail">


                    <div class="project-detail-info">

                        <div class="project-detail-photo">

                            <img src={{image.media_url}} alt="" class="img-responsive" />
                        </div>

                        <div class="project-detail-txt">
                            <a data-toggle="modal"><span class="edit-icon"></span></a>
                            <div class="project-name">Project Name:  {{image.name}} </div>
                            <div class="project-d01">City: {{image.city}},State: {{image.state}},Pin Code: {{image.pin_Code}}</div>
                            <div class="project-d02">Possession Date: {{image.possesion_date}}</div>
                            <div class="project-d03">Project Website: {{image.projectwebsite}}</div>
                            <div class="project-d03">Company Website:{{image.companywebsite}}</div>
                        </div>
                    </div> <!-- project-detail-info ended -->



                    <div class="project-detail-tabs pg-tabs" kendo-tab-strip>
                        <ul class="nav nav-tabs responsive-tagJS" role="tablist">
                            <li class="k-state-active"> <a aria-controls="summary" role="tab" data-toggle="tab">SUMMARY</a></li>
                            <li><a aria-controls="summary" role="tab" data-toggle="tab">USERS</a></li>
                            <li><a aria-controls="summary" role="tab" data-toggle="tab">TEAMS</a></li>
                            <li><a aria-controls="summary" role="tab" data-toggle="tab">LEGAL DOCUMENTS</a></li>
                            <li><a aria-controls="summary" role="tab" data-toggle="tab">PAYMENT</a></li>
                            <li><a aria-controls="summary" role="tab" data-toggle="tab">LOANS</a></li>
                            <li><a aria-controls="summary" role="tab" data-toggle="tab">AMENITIES</a></li>
                            <li><a aria-controls="summary" role="tab" data-toggle="tab">CONTACTS</a></li>
                            <li><a aria-controls="summary" role="tab" data-toggle="tab">INVENTORY</a></li>
                            <li><a aria-controls="summary" role="tab" data-toggle="tab">TASKS</a></li>
                            <li><a aria-controls="summary" role="tab" data-toggle="tab">OFFERS</a></li>
                            <li><a aria-controls="summary" role="tab" data-toggle="tab">PARTNER</a></li>
                            <li><a aria-controls="summary" role="tab" data-toggle="tab">GALLERY</a></li>
                           
                        </ul>
                       
                        <div class="tab-content">

                            <div class="tab-pane fade in active" id="summary">

                                <div class="project-detail-summary">

                                    <div class="summary-bx" ng-repeat="sum in buildsummary">
                                        <div class="summary-title"><span>{{::$index+1}}</span>{{::sum.tower_name}} </div>

                                        <div class="tb-c-wrap">

                                            <div class="tb-c" ng-repeat="summery in sum.UnitList1">
                                                <h3>{{::summery.unit_type_desc}}</h3>

                                                <div class="tb-sub">
                                                    <span class="tb-sub-t tb-sub-t01"></span>
                                                    <span class="tb-sub-txt">Carpet Area<span>{{::summery.carpet_area}} sq.ft</span></span>
                                                </div>
                                                <div class="tb-sub">
                                                    <span class="tb-sub-t tb-sub-t02"></span>
                                                    <span class="tb-sub-txt"> Saleable Area<span>{{::summery.super_built_up_area}} sq.ft</span></span>
                                               </div>
                                            </div>

                                        </div><!-- tb-c-wrap ended -->
                                    </div><!-- summary-bx ended -->
                                    <!-- summary-bx ended -->

                                </div><!-- project-detail-summary ended -->

                            </div>

                        </div>  <!--Summmary-->


                        <div style="padding: 1em" class="tab_content">
                            <div class="tab_style">
                                <div class="div_pad">


                                    <hr />
                                    <div class="row">
                                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">

                                            <div class="row">

                                                <div class="pull-left tb-box-img" style="float:left;">
                                                    <h4>Project_Logo</h4>
                                                    <img src="{{media_url4}}" alt="" width="218" height="160" class="img-responsive" />
                                                </div>
                                                <div class="col-sm-1"></div>
                                                <div class="pull-left tb-box-img" style="float:left;">
                                                    <h4>Project_Home_Page</h4>
                                                    <img src="{{media_url1}}" alt="" width="218" height="160" class="img-responsive" />
                                                </div>
                                                <div class="col-sm-1"></div>
                                                <div class="pull-left tb-box-img" style="float:left;">
                                                    <h4>Project_Thumb_2D</h4>
                                                    <img src="{{media_url3}}" alt="" width="218" height="160" class="img-responsive" />
                                                </div>
                                                <div class="col-sm-1"></div>
                                                <div class="pull-left tb-box-img" style="float:left;">
                                                    <h4>Project_Podium_Full_2D</h4>
                                                    <img src="{{media_url2}}" alt="" width="218" height="160" class="img-responsive" />
                                                </div>




                                            </div>

                                        </div>

                                    </div>
                                </div>

                            </div>
                        </div>  <!--Essential-->


                        <div class="leads_group" id="record-content">
                            <div kendo-grid k-options="UserGrid" selectable="true">

                            </div>
                        </div>  <!--User-->


                        <div class="leads_group" id="record-content">
                            <div kendo-grid k-options="TeamsGrid" selectable="true">

                            </div>
                        </div> <!--Teams-->


                        <div class="leads_group" id="record-content">
                            <div kendo-grid k-options="LegalDocumentssGrid" selectable="true">

                            </div>
                        </div>  <!--Property-->


                        <div class="leads_group" id="record-content">
                            <div kendo-grid k-options="PaymentGrid" selectable="true">

                            </div>
                        </div>  <!--People-->


                        <div class="leads_group" id="record-content">
                            <div kendo-grid k-options="LoansGrid" selectable="true">

                            </div>
                        </div>  <!--Task-->

                        <div class="leads_group" id="record-content">
                            <div kendo-grid k-options="AmenitiesGrid" selectable="true">

                            </div>
                        </div> 


                        
                        <!--<div class="leads_group" id="record-content">
                            <div kendo-grid k-options="InventoryGrid" selectable="true"k-save="saveFunction">
                                <btn class="btn btn-generate"> Upload Inventory</btn>
                            </div>
                        </div>--> 

                        <div id="record-content">
                            <kendo-grid k-options="InventoryGrid" k-data-source="gridData" k-columns="gridColumns" k-selectable="true" k-editable="editableOptions" k-save="saveFunction" k-remove="deleteFunction"></kendo-grid>
                        </div>
                </div>
            </div>
        </div>


    </div>

</div>
