
<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-label="Close" ng-click="$dismiss('cancel')"><span aria-hidden="true">&times;</span></button>
    <h4 class="modal-title" id="exampleModalLabel">Create New Blog Post</h4>
</div>

<form class="form-content form-content2 edit-organization-setting" name="emailForm" style="text-align:left;" novalidate data-ng-submit="addNewContact(emailForm.$valid)" autocomplete="off">
    <div class="clearfix image-upload-container">
    <div class="modal-body image-upload-wrap">
        <div class="image-upload-title">Upload Contact Image</div>
        <div class="dropzone dropzone-bx image-upload-bx">
            <div class="fallback">
                <div class="panel panel-success" uploader="uploader1" nv-file-over="">
                    <div class="image-upload-panel">
                        <div class="user-photo_2" ng-hide="uploader1.queue.length">
                            <img ng-src={{params.media_url}} class="image3" />
                        </div>
                        <div class="row" ng-show="uploader1.queue.length">
                            <div class="user-photo_4" ng-repeat="item in uploader1.queue">
                                <img id="fetch" src="#" class="image1" alt="your image" />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="uploadFileName">
            <p ng-show="uploader1.queue.length"> {{uploader1.queue[0]._file.name}}</p>
        </div>
        <label class="custom-file-input">

            <input type="file" class="image-upload-f" id="blog_Create_uploader1" value="Browse" accept="image/*" nv-file-select="" uploader="uploader1" />
        </label>
    </div>

</div>
    <div class="clearfix">
        <div class="form-group form-bx form-bx8">
            <label for="">Blog Name</label>
            <input type="text" class="form-control text-bold" id="edit_blog_name" autofocus name="Blog_name"
                   placeholder="Blog Name"
                   data-ng-model="params.name"
                   input-focus
                   ng-disabled="params.name"
                   required />
            <div ng-messages="emailForm.Blog_name.$error" data-ng-if="emailForm.Blog_name.$invalid && (!emailForm.Blog_name.$pristine || showValid) && !emailForm.Blog_name.$focus" style="color:maroon" role="alert">
                <div ng-message="required">Enter your name</div>
            </div>
        </div>
    </div>

    <div class="clearfix">     
        <div class="form-group">      
            <div class="form-group form-bx form-bx8">
                <label> Tag</label>
                <div class="form-bx13" style="padding-bottom: 29px;">

                    <input kendo-auto-complete k-data-source="tagList" class="form-control" ng-model="params.tag_name" id="edit_blog_tag" />
                </div>
            </div>
        </div>
    </div>

    <div class="clearfix">
        <div class="form-group form-bx form-bx8">
            <label for="">Select Template</label>
            <select ng-model="params.template" name="templateSelect" ng-change="selectTemplate()" class="dropdown form-control text-bold" id="emailAddTemplate_Select Template" required>
                <option value="" selected>--Select Template--</option>
                <option ng-repeat="template in templateList"
                        value="{{template.id}}">
                    {{template.template_name}}
                </option>
            </select>
        </div>
    </div>

    <div class="clearfix">
        <div class="form-group form-bx form-bx14">
            <label for="">Description</label>
            <textarea id="Blog_editor" rows="10" cols="30" style="width:100%;height:400px" kendo-editor k-options="editorOption" k-ng-model="params.bodyText" resizable="true"></textarea>
        </div>
    </div>
   
   

    <div class="clearfix">     
        <div class="form-group form-bx form-bx5" ng-hide='isContentWriter && (status === "Sent For Approval"||status === "Draft"||status === "Not Approved"||status === "Partially Approved")' >
            <label for="">Comment</label>
            <textarea cols="110" rows="05" name="description"
                      data-ng-model="params.comment"                   
                      input-focus 
                      id="edit_blog_textarea"/>
        </div>
    </div>
    <div class="clearfix">
        <div class="pull-left f-half-6" ng-show='isContentPublisher && status === "Approved"'>
                <div class="form-group form-bx form-bx3-1">
                    <label for="">Date:</label>
                    <input kendo-date-time-picker class="form-control "
                           ng-model="params.due_date"
                           id="addTaskDate"
                           k-ng-model="k_due_date"
                           k-format="'dd/MM/yyyy hh:mm tt'" />
                
            </div>
        </div>
    </div>

        <input ng-show="false" id="imageBrowser" type="file" value="Browse" accept="image/*" nv-file-select="" uploader="uploader" />
        <div class="progress" ng-show="((uploader.progress)/1)>0">
            <div class="progress-bar" role="progressbar"
                 ng-style="{ 'width': (uploader.progress)/1 + '%' }"></div>
        </div>

        <div class="modal-btn-wrap-1 clearfix">

            <button type="button" class=" f-btn" id="editBlog_btn_approve" ng-click="approval()" ng-show='isContentApprover && (status === "Sent For Approval" ||status === "Partially Approved")'> APPROVE </button>
            <button type="button" class=" f-btn" id="editBlog_btn_sendforapproval" ng-click="sendForApproval()" ng-show='isContentWriter && status === "Draft"'>SEND FOR APPROVAL </button>
            <button type="button" class=" f-btn f-btn-19" id="editBlog_btn_decline"  ng-click="decline()" ng-show='(isContentApprover || isContentPublisher) && (status === "Sent For Approval"||status === "Approved"||status === "Partially Approved" )'> DECLINE </button>
            <button type="button" class=" f-btn" id="editBlog_btn_publish" ng-click="publish()" ng-show='isContentPublisher && status === "Approved"'> PUBLISH </button>
            <button type="submit" id="editBlog_btn_save" class="f-btn" ng-show='isContentWriter && (status === "Draft"||status === "Not Approved")'> SAVE DRAFT </button>           
        </div>
</form>
<!-- for image fetch -->

<script>
    function readURL(input) {
        if (input.files && input.files[0]) {
            var reader = new FileReader();
            reader.onload = function (e) {
                $('#fetch').attr('src', e.target.result);
            }
            reader.readAsDataURL(input.files[0]);
        }
    }
    $("#blog_Create_uploader1").change(function () {
        readURL(this);
    });
</script>
