<div class="main-content new-user-container">
    <form name="newForm" class="form-horizontal" autocomplete="off" novalidate
          data-ng-submit="addNew(newForm.$valid)">
        <div class="row">
            <div class="col-sm-6">
                <div class="form-group">
                    <div class="col-xs-12">
                        <div class="title">Add Property Name</div>
                    </div>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="form-group">
                    <!--<div class="col-xs-12">
                        <button class="btn btn-default pull-right" data-ng-click="uploadUsers()">UPLOAD</button>
                    </div>-->
                </div>
            </div>
        </div>
      
        <label class="control-label">Property Name</label>
                <div class="form-group"
                     data-ng-class="{
                            'has-error' : newForm.Add_Property_Name.$invalid && (!newForm.Add_Property_Name.$pristine || showValid) && !newForm.Add_Property_Name.$focus,
                            'has-success': newForm.Add_Property_Name.$valid && !newForm.Add_Property_Name.$pristine && !newForm.Add_Property_Name.$focus
                        }">
                    <div class="col-xs-12">
                        <label class="label-group">
                            <input type="text" autofocus name="Add_Property_Name" class="form-control"
                                   placeholder="Add Property Name"
                                   data-ng-model="params.name"
                                   minlength="1"
                                   maxlength="40"
                                   alphabets-only
                                   input-focus
                                   required
                                  />

                        </label>
                        <div class="text-danger"
                             data-ng-if="newForm.Add_Property_Name.$invalid && (!newForm.Add_Property_Name.$pristine || showValid) && !newForm.Add_Property_Name.$focus">
                            {{ 'Please enter alphabets only' | translate }}
                </div>
            </div>
            <!--<div class="col-sm-6">
                <div class="form-group"
                     data-ng-class="{
                            'has-error' : newForm.lastName.$invalid && (!newForm.lastName.$pristine || showValid) && !newForm.lastName.$focus,
                            'has-success': newForm.lastName.$valid && !newForm.lastName.$pristine && !newForm.lastName.$focus
                        }">
                    <div class="col-xs-12">
                        <label class="label-group">
                            <input type="text" name="lastName" class="form-control"
                                   placeholder="Last Name"
                                   data-ng-model="params.last_name"
                                   minlength="1"
                                   maxlength="50"
                                   alphabets-only
                                   input-focus
                                   required
                                   ng-pattern="/^[a-zA-Z\s]*$/" />
                        </label>
                        <div class="text-danger"
                             data-ng-if="newForm.lastName.$invalid && (!newForm.lastName.$pristine || showValid) && !newForm.lastName.$focus">
                            {{ 'Please enter alphabets only' | translate }}
                        </div>
                    </div>
                </div>
            </div>-->
        </div>
        <label class="control-label">Select Project</label>
        <div class="form-group">
            <div class="col-xs-12">
                <input type="hidden" name="Select Project" data-ng-model="params.country">
                
                    <select  ng-change="selectproject()" ng-model="project1" class="dropdown form-control" required>
                        <option value="" selected>-- Choose Project --</option>
                        <option ng-repeat="project in projects"
                                value="{{project.id}}">
                            {{project.name}}
                        </option>
                    </select>

                
             
            </div>
        </div>
        <label class="control-label">Address</label>
        <div class="form-group"
             data-ng-class="{
                    'has-error' : newForm.Address.$invalid && (!newForm.Address.$pristine || showValid) && !newForm.Address.$focus,
                    'has-success': newForm.Address.$valid && !newForm.Address.$pristine && !newForm.Address.$focus
                }">
            <div class="col-xs-12">
                <label class="label-group">
                    <input type="text" name="Address" class="form-control"
                           placeholder="Address"
                           data-ng-model="params.address"
                           minlength="1"
                           maxlength="30"
                           input-focus
                           required />
                </label>
                <div class="text-danger"
                     data-ng-if="newForm.Address.$invalid && (!newForm.Address.$pristine || showValid) && !newForm.Address.$focus">
                    <!--{{ 'Please enter valid email' | translate }}-->
                </div>
            </div>


      
        </div>
       
         

        <div class="col-sm-5">
            <label class="control-label">State</label>
            <div class="form-group">
               
              
                    <select ng-change="selectstate()" ng-model="state1" class="dropdown form-control" required>
                        <option value="" selected>-- Choose State --</option>
                        <option ng-repeat="state in states"
                                value="{{state.state_id}}">
                            {{state.state_name}}
                        </option>
                    </select>

            </div>
        </div>
        <div class="col-sm-1"></div>
        <div class="col-sm-5">
            <label class="control-label">City</label>
            <div class="form-group">
               
               
                <select ng-change="selectcity()" ng-model="city1" class="dropdown form-control" required>
                    <option value="" selected>-- Choose City --</option>
                    <option ng-repeat="city in cities"
                            value="{{city.city_id}}">
                        {{city.city_name}}
                    </option>
                </select>
                   
               
            </div>
        </div>
      
        <div>

            <button class="btn  btn-default" type="submit">Save</button>
            <button class="btn  btn-default" type="button" ng-click="cancel()">Cancel</button>
            <button class="btn  btn-default" type="button" ng-click="reset()">Remove</button>
        </div>
       
        <!--<div class="row actions-btn">
            <div class="col-xs-6 col-sm-6">
                <div class="form-group">
                    <div class="col-xs-12">
                        <!--<button class="btn  btn-default"type="button" data-ng-click="cancel()">Cancel</button>-->
                        <!--<button class="btn  btn-default" type="submit">Save</button>
                        <button class="btn  btn-default" type="button" ng-click="reset()">Remove</button>
                        <button class="btn  btn-default" type="button" ng-click="cancel()">Cancel</button>
                       
                       
                    </div>
                </div>
            </div>-->
            <!--<div class="col-xs-6 col-sm-6">
                <div class="form-group">
                    <div class="col-xs-12">
                        <button class="btn  btn-default" type="submit">
                            Save and Send Invitation
                           <span class="icon-arrowright"></span>
                        </button>

                    </div>
                </div>
            </div>
        </div>-->
    </form>
</div>