<div id="main-content" class="col-xs-12">
    <div class="content-inner">

        <div class="pg-inner-header">
            <div class="row">

                <div class="col-md-12">
                    <h2 class="pg-inner-title">Create New Event Campaign</h2>
                </div>

            </div>
        </div><!-- pg-inner-header ended -->

    </div><!-- content-inner ended -->

    <div class="pg-inner-content" style="">
        <div class="col-md-12 tab_head-2">
            <div class="row " style="padding: 1px 0px 1px 16px;">
                <div class="col-md-3 email_tabs2">General</div>
                <div class="col-md-1 tabarrow"><img src="images/gray_blue_arrow.png" class="arrow-height" /></div>
                <div class="col-md-3 email_tabs_active">Budget & Goal</div>
                <div class="col-md-1 tabarrow"><img src="images/gray_arrow.png" class="arrow-height" /></div>
                <div class="col-md-3 email_tabs_active">Summary</div>

            </div>
        </div>

        <div class="project-detail">
            <div class="top-row" style="width:100%; background:#fff; padding: 0px 26px 15px 14px;">
                <div class="col-lg-12 pull-left">
                    <div class="right-inner-addon" style="padding-top: 12px;border-bottom: 1px solid #e7e7e7;">
                        <h2 class="pg-inner-title">General Information</h2>
                    </div>
                </div>

            </div>

                <div class="top-row" style="width:100%; background:#fff; padding:60px">
                    <form class="form-content form-content2 edit-organization-setting" name="addNewForm" novalidate data-ng-submit="addNew(addNewForm.$valid)" autocomplete="off">
                        <div class="clearfix campaign-container tab-head-inner">
                            <div class="clearfix">
                                <div class="form-group form-bx form-bx5">
                                    <label for="">Event Name</label>
                                    <input type="text" class="form-control text-bold" autofocus name="project_name"
                                           placeholder="Event Name"
                                           data-ng-model="params.name"
                                           minlength="1"
                                           maxlength="50"
                                           ng-pattern="/^[a-z 0-9\s]+$/i"
                                           input-focus
                                           required />
                                </div>
                            </div>

                            <div class="clearfix">
                                <div class="form-group form-bx form-bx5">
                                    <label for="">Location</label>
                                    <input type="text" class="form-control text-bold" autofocus name="project_name"
                                           placeholder="Address"
                                           data-ng-model="params.Street_1"
                                           minlength="1"
                                           maxlength="50"
                                           ng-pattern="/^[a-z 0-9\s]+$/i"
                                           input-focus
                                            />
                                </div>
                            </div>

                            <div class="clearfix">
                                <div class="form-group form-bx form-bx5">
                                    <label for="">Project</label>
                                    <select ng-model="project1" ng-change="selectproject()" id="contact_project"
                                            class="dropdown form-control" >
                                        <option value="" selected>Select Project</option>
                                        <option ng-repeat="project in projects"
                                                value="{{project.id}}">
                                            {{project.name}}
                                        </option>

                                    </select>
                                </div>
                            </div>

                            <div class="clearfix">
                                <div class="pull-left f-half-6">
                                    <div class="form-group form-bx4 form-bx3-1" style="width:390px">
                                        <label for="">Start Date </label>
                                        <input kendo-date-time-picker class="form-control"
                                               data-ng-model="params.start_date1"
                                               k-ng-model="dateObject"
                                               k-format="'MMMM d, yyyy h:mm tt'" />                                   
                                    </div>
                                </div>

                                <div class="pull-left f-half-6">
                                    <div class="form-group form-bx4 form-bx3-1" style="width:390px">
                                        <label for="">End Date</label>
                                        <input kendo-date-time-picker class="form-control"
                                               data-ng-model="params.end_date"
                                               k-ng-model="dateObject1"
                                               k-format="'MMMM d, yyyy h:mm tt'" />
                                    </div>

                                </div>
                            </div>

                            <div class="modal-btn-wrap5 modal-btn-wrap6 clearfix" style="text-align:right;">
                                <button class="btn campaign-container-btn" id="campaign_cancel" type="button" ng-click="cancel()">
                                    CANCEL
                                </button>
                                <button class="btn organization-btn" id="campaign_save" type="submit" >NEXT</button>                             
                            </div>
                        </div>
                   </form>
                </div>
           

        </div><!-- pg-inner-content ended -->

    </div><!-- main-content ended -->


</div>