<div id="main-content" class="col-xs-12">
    <div class="content-inner">

        <div class="pg-inner-header">
            <div class="row">

                <div class="col-md-12">
                    <h2 class="pg-inner-title">Create New Event Campaign</h2>
                </div>

            </div>
        </div><!-- pg-inner-header ended -->

    </div><!-- content-inner ended -->

    <div class="pg-inner-content" style="">
        <div class="col-md-12 tab_head-2">
            <div class="row " style="padding: 1px 0px 1px 16px;">
                <div class="col-md-3 email_tabs2">General</div>
                <div class="col-md-1 tabarrow"><img src="images/blue_arrow.png" class="arrow-height" /></div>
                <div class="col-md-3 email_tabs2" style="margin-left: 23px;">Budget & Goal</div>
                <div class="col-md-1 tabarrow"><img src="images/gray_blue_arrow.png" class="arrow-height" /></div>
                <div class="col-md-3 email_tabs_active">Summary</div>

            </div>
        </div>

        <div class="project-detail">
            <div class="top-row" style="width:100%; background:#fff; padding: 0px 26px 15px 14px;">
                <div class="col-lg-12 pull-left">
                    <div class="right-inner-addon" style="padding-top: 12px;border-bottom: 1px solid #e7e7e7;">
                        <h2 class="pg-inner-title">Set Budget</h2>
                    </div>
                </div>

            </div>

            <div class="top-row" style="width:100%; background:#fff; padding:60px">

                <form class="form-content form-content2 edit-organization-setting" name="addNewForm" novalidate data-ng-submit="addNew(addNewForm.$valid)" autocomplete="off">
                    <div class="clearfix campaign-container tab-head-inner">
                    <div class="clearfix">
                        <div class="form-group form-bx form-bx5" 
                             data-ng-class="{
                                             'has-error' : addNewForm.Budget.$invalid && (!addNewForm.Budget.$pristine || showValid),
                                             'has-success': addNewForm.Budget.$valid && !addNewForm.Budget.$pristine
                                             }">
                            <label for="">Budget</label>
                            <input type="text" format 
                                   class="form-control text-bold rupee" autofocus name="Budget"
                                   placeholder="Budget"
                                   data-ng-model="params.budget"
                                   ng-pattern="/^([1-9][0-9,./]*)$/" 
                                   input-focus
                                   required />
                            <div ng-messages="addNewForm.Budget.$error" style="color:maroon" role="alert">
                                <div ng-message="required" data-ng-if="addNewForm.Budget.$invalid && (!addNewForm.Budget.$pristine || showValid) && !addNewForm.Budget.$focus">This field should not be empty </div>
                                <div ng-message="pattern">Enter valid value for Budget</div>
                            </div>
                        </div>
                    </div>

                    <div class="clearfix">                       
                        <h4 class="h4goals">Goals</h4>                   
                    </div>
                    <div class="clearfix">
                        <div class="form-group form-bx form-bx5"
                              data-ng-class="{
                                             'has-error' : addNewForm.Leads.$invalid && (!addNewForm.Leads.$pristine || showValid),
                                             'has-success': addNewForm.Leads.$valid && !addNewForm.Leads.$pristine
                                              }">                    
                            <label for="">Leads</label>
                            <input type="text" format
                                   class="form-control" name="Leads"
                                   placeholder="Leads"
                                   data-ng-model="params.no_of_leads"
                                   ng-pattern="/^([1-9][0-9,./]*)$/"  
                                   input-focus
                                   required />
                            <div ng-messages="addNewForm.Leads.$error" style="color:maroon" role="alert">
                                <div ng-message="required" data-ng-if="addNewForm.Leads.$invalid && (!addNewForm.Leads.$pristine || showValid) && !addNewForm.Leads.$focus">This field should not be empty </div>
                                <div ng-message="pattern">Enter valid value for Lead</div>
                            </div>
                            
                        </div>
                    </div>


                    <div class="clearfix">
                        <div class="form-group form-bx form-bx5"
                               data-ng-class="{
                                             'has-error' : addNewForm.sales.$invalid && (!addNewForm.sales.$pristine || showValid),
                                             'has-success': addNewForm.sales.$valid && !addNewForm.sales.$pristine
                                            }">

                            <label for="">Sales</label>
                            <input type="text" format 
                                   class="form-control rupee" name="sales"
                                   placeholder="sales"
                                   data-ng-model="params.sales"
                                   input-focus
                                   required />
                            <div ng-messages="addNewForm.sales.$error" style="color:maroon" role="alert">
                                <div ng-message="required" data-ng-if="addNewForm.sales.$invalid && (!addNewForm.sales.$pristine || showValid) && !addNewForm.sales.$focus">This field should not be empty </div>
                                <div ng-message="pattern">Enter valid value for Sales</div>
                            </div>
                        </div>
                    </div>

                    
                    <div class="modal-btn-wrap5 modal-btn-wrap6" style="text-align:right;" >
                        <button type="submit" class="btn organization-btn" id="btn_next" style="margin-right: 1%;" ><b> Next ></b></button>
                        <button class="btn campaign-container-btn" id="campaign_cancel" type="button" ng-click="back()">
                            BACK
                        </button>
                        <button class="campaign-container-btn-cancel" style="margin-left: 24%;" id="campaign_cancel" type="button" ng-click="cancel()">
                            CANCEL
                        </button>
                   </div>
                 </div>

</form>
        </div>
            <!--</div>--><!-- project-detail ended -->

        </div><!-- pg-inner-content ended -->

    </div><!-- main-content ended -->


</div>