<div id="main-content" class="col-xs-12">
    <div class="content-inner">
        <div class="pg-inner-header">
            <div class="row">

                <div class="col-md-3">
                    <h2 class="pg-inner-title">Campaigns</h2>
                </div>
            </div>
        </div>
    </div>

    <div class="content-inner">
        <div class="pg-inner-header">
            <div class="row">
                <div class="pg-inner-hside-1 pg-inner-hside2">                
                    <!--<input type="text" id="select-dates2" placeholder="Start Date" class="form-control cxo-f1">-->    
                    <!--<input type="text" id="select-dates2" placeholder="End Date" class="form-control cxo-f1">-->  
                    <input kendo-date-picker class="form-control cxo-f1" data-ng-model="params.start_date1" k-ng-model="dateObject" placeholder="Start Date" />            
                    <input kendo-date-picker class="form-control cxo-f1" data-ng-model="params.start_date1" k-ng-model="dateObject" placeholder="End Date" />
                    <select ng-model="event1" ng-change="selectevent()" class="form-control cxo-f1" required>
                        <option value="" selected>--Channel--</option>
                        <option ng-repeat="event in events"
                                value="{{event.id}}">
                            {{event.type}}
                    </select>
                    <select ng-model="project1" ng-change="selectproject()" id="contact_project" class="form-control cxo-f1" required>
                        <option value="" selected>--Status--</option>
                        <option ng-repeat="project in projects"
                                value="{{project.id}}">
                            {{project.name}}
                        </option>
                    </select>

                    <button type="submit" class="f-btn  cxo-f3">VIEW</button>

                </div>

            </div>
        </div><!-- pg-inner-header ended -->

    </div><!-- content-inner ended -->

    <div style="width:100%; background:#e7e7e7; padding:30px">

        <div class="pull-left actions-wrap">
            <select id="actions-option" class="form-control actions-option">
                <option>ACTIONS</option>
                <option>EDIT</option>
                <option>DELETE</option>
            </select>
        </div>
        <div class="pull-right btn-wrap-right">
            <a id="btnAdd" href="#" class="btn-lk" ng-click="openCampaignsPopUp()" style="cursor:pointer">+ Create New Campaign</a>
        </div>
    </div>

        <div class="pg-inner-content">
            <div class="project-detail">
                <div class="top-row" style="width:100%; background:#fff; padding:60px">
                    <div class="row">

                        <div class="builder-listing-wrap">
                            <form action="">
                                <div id="record-content" class="properties-content">

                                    <div id="project-record-list" kendo-grid k-options="projectGrid" selectable="true" k-on-change="changeGridChange(dataItem)">
                                    </div>

                                </div><!-- record-content ended -->

                            </form>


                        </div><!-- builder-content ended -->
                    </div>
                </div>
            </div>

        </div><!-- project-detail ended -->



    </div><!-- main-content ended -->