    <div id="main-content" class="col-xs-12">
    <div class="content-inner">
        <div class="pg-inner-header">
            <div class="row">
                <div class="col-md-12">
                    <h2 class="pg-inner-title">Team Details</h2>
                    <!--<button class="btn btn-default login-btn" id="btn_addnewteam" ng-click="openAddPopup()">Add New User</button>-->
                </div>
            </div>
          </div>
        </div>
            <div class="clearfix project-detail-info-1 pg-inner-content_1 contact_header">
                <div class="row" style="background:#fff;">
                    <div class="col-md-3 col-sm-3 contact-detail-txt">
                        <div class="project-name capt" style="line-height:17px;">
                            <span class="conatct_name-2" id="projectName"> {{image.name}}</span>
                        </div>
                    </div>
                    <div class="col-md-6 col-sm-6" style="margin-top:8px;">
                        <div class="col-md-4">
                            <span class="project-data" id="TeamLead">Team Lead</span>
                            <p class="data-value" id="TeamLead_value">0</p>
                        </div>
                        <div class="col-md-4">
                            <span class="project-data" id="noProject">No. of Project </span> <p class="data-value" id="noProjectValue">0</p>
                        </div>
                        <div class="col-md-4">
                            <span class="project-data" id="noUsers" style="text-align:right">No. of Users</span> <p class="data-value" id="noUsersValue">0</p>
                        </div>
                    </div>
                    <div class="col-md-2 stick-right">
                        <div class="clearfix">

                            <span><a herf="" class="btn  serach_bar_btn-1 button_save_del" id="teamDelete" data-toggle="modal" style="cursor:pointer; width: 43px;"><i class="fa fa-trash fa-2x" style="color: #BFBCBC;" aria-hidden="true"></i></a></span>
                            <span><a herf="" class="btn  serach_bar_btn-1 button_save_del "  id="teamEdit" ng-click="openTeamPopup()"  ng-show="projects.write "  data-toggle="modal" style="cursor:pointer"><i class="fa fa-pencil-square-o fa-2x" style="color: #BFBCBC;" aria-hidden="true"></i></a></span>
                        </div>

                    </div>
                </div>

            </div>




            <!--<div class="pull-right btn-wrap-right">
               
            </div>
                <div class="project-detail">
                    <div class="project-detail-info">
                    
                          
                            <img src={{image.Contact_Image}} alt="" class="img-responsive" />
                           
                        </div>
                        <div class="project-detail-txt">
                            <div class="project-name">Name:  {{image.name}}
                                <a  id="teamEdit" ng-click="openTeamPopup()" data-toggle="modal" style="cursor:pointer"><span class="edit-icon"></span></a>
                            </div>


                            <div class="project-d02">{{image.description}}</div>
                          

                        </div>
                    </div>-->    
                    



                    <div class="project-detail-tabs pg-tabs" kendo-tab-strip>
                        <ul class=" responsive-tagJS" role="tablist">
                            <li id="teamDetail_summary" class="k-state-active"> <a aria-controls="summary" role="tab" data-toggle="tab">SUMMARY</a></li>
                            <li id="teamDetail_user"><a aria-controls="summary" role="tab" data-toggle="tab">USERS</a></li>
                            <li id="teamDetail_project"><a aria-controls="summary" role="tab" data-toggle="tab">PROJECTS</a></li>
  
                        </ul>

                        <div class="clearfix">

                            <div class="pull-left company-profile-half custom-space">
                                <div class="clearfix spacer-user" style="margin-top:15px;">
                                    <div class="col-md-12">
                                        <div class="pull-left project-title profile-row1">
                                            <div class="contact_title" style="margin-bottom:5px">Team Name:</div>
                                                <label class="label-group">
                                                    <span class="" ng-bind="name" id="teamDetail_teamName"></span>
                                                </label>
                                            </div>
                                    </div>
                                </div>

                                <div class="clearfix spacer-user" style="margin-top:15px;">
                                    <div class="col-md-12">
                                        <div class="pull-left project-title profile-row1">
                                            <div class="contact_title" style="margin-bottom:5px">Description:</div>
                                            
                                            <label class="label-group">
                                                <span class="" ng-bind="description" id="teamDetail_description" style="line-height: 2em;"></span>
                                            </label>
                                        </div>
                                    </div>
                                </div>


                               

                                <!--<div class="company-profile-row clearfix">
                                    <div class="pull-left profile-row1">Description:</div>
                                    <div class="pull-right profile-row2" id="teamDetail_description">
                                        <label class="label-group">
                                            <span ng-bind="description"></span>
                                        </label>
                                    </div>
                                </div>-->
                            </div>

                        </div> <!--Summary-->

                        <div class="leads_group" id="documentGridDiv">
                            <div class="tab-content-title"><a id="teamDetail_openNewUserPopup"class="btn btn-primary custom-space" data-toggle="modal" ng-click="openAddPopup()" style="cursor:pointer">+ Users</a></div>
                            <div kendo-grid k-options="UserGrid" selectable="true">

                            </div>
                        </div>  <!--UserGrid-->

                        <div class="leads_group" id="record-content">
                            <div class="tab-content-title"><a id="teamDetail_openNewProjectPopup" class="btn btn-primary custom-space" data-toggle="modal" ng-click="openProjectPopup()" style="cursor:pointer">+ Projects</a></div>
                                <div kendo-grid k-options="ProjectGrid" selectable="true">

                                </div>
                            </div> <!--ProjectGrid--> 

                        <div class="leads_group" id="record-content">
                            <div class="tab-content-title"> <a id="teamDetail_openNewTaskPopup" class="btn btn-primart custom-space" data-toggle="modal" ng-click="openAddNewTask()">+ Task</a></div>                  
                                <div kendo-grid k-options="TaskGrid" selectable="true"></div>
                        </div>  <!--Task-->

                        <div class="leads_group" id="record-content">
                            <div kendo-grid k-options="NotesGrid" selectable="true">

                            </div>
                        </div>  <!--Notes-->

                        </div>
            </div>


   