<style type="text/css">
    .UseHand {
        cursor: pointer !important;
    }
</style>
<div id="main-content" class="col-xs-12">
    <div class="content-inner">

        <div class="pg-inner-header">
            <div class="row">

                <div class="col-md-12">
                    <h2 class="pg-inner-title">Projects</h2>
                </div>

            </div>
        </div><!-- pg-inner-header ended -->

    </div><!-- content-inner ended -->

    <div class="pg-inner-content">

        <form action="">

            <div class="clearfix">
                <div class="pull-left actions-wrap">
                    <select ng-model="ddlFruits" class="form-control actions-wrap" ng-options="fruit.Id as fruit.Name for fruit in Fruits track by fruit.Id"
                            ng-change="GetValue();addUser()">
                        <option value="" selected> ACTION </option>
                    </select>
                    
                    <!--<select ng-model="ddlFruits" class="form-control actions-wrap" ng-options="fruit.Id as fruit.Name for fruit in Fruits track by fruit.Id"
                            ng-change="GetValue()"></select>-->
                </div>

                <div class="pull-right btn-wrap-right">
                    <a href="#"  id="btnAdd" class="btn-lk" ng-click="openProjectPopup()">+ Create New Project</a>
                </div>
            </div>

            <div id="record-content" class="properties-content">

                <div id="project-record-list" kendo-grid k-options="projectGrid" selectable="true" k-on-change="myGridChange( dataItem )">
                </div>

            </div><!-- record-content ended -->

        </form>

    </div><!-- pg-inner-content ended -->

</div><!-- main-content ended -->
