

<div id="add_new_contact" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">

    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close" ng-click="$dismiss('cancel')"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="exampleModalLabel" style="text-align: left;">Edit Organization</h4>
    </div><!-- modal-header ended -->

    <div class="modal-body">
        <form class="form-content" name="newForm" autocomplete="off" novalidate
              data-ng-submit="addNewUser(newForm.$valid)">

            <!--<div class="upload-wrap">
                <input name="upload-photo" id="upload-photo" type="file" />
                <span class="upload-text">Add Photo</span>
            </div>-->
            <div class="clearfix image-upload-container">
                <div class="modal-body image-upload-wrap">
                    <!--<div class="image-upload-title">Upload Organization Image</div>-->
                    <div class="dropzone dropzone-bx image-upload-bx">
                        <div class="fallback">
                            <div class="panel panel-success" uploader="uploader" nv-file-over="">
                                <div class="image-upload-panel project-detail-photo_2">
                                    <div class="" ng-hide="uploader.queue.length">
                                        <img ng-src={{data.media_url}}  class="image1" />
                                    </div>
                                    <div class="" ng-show="uploader.queue.length">
                                        <div class="user-photo_3-1" ng-repeat="item in uploader.queue">
                                            <img id="fetch" src="#" class="image1" alt="your image" />
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="image-upload-link">
                        <div class="uploadFileName">
                            <p ng-show="uploader.queue.length">{{uploader.queue[0]._file.name}}</p>
                        </div>
                        <label class="custom-file-input" id="addNewImage">
                            <input type="file" class="image-upload-f" id="editorganization_uploader1" value="Browse" accept="image/*" nv-file-select="" uploader="uploader" />
                         </label>
</div>
                </div>

            </div>

            <div class="clearfix">
                <div id="address-no" class="form-bx form-bx6">
                    <div class="form-group"
                         data-ng-class="{
                                        'has-error' : newForm.Organization.$invalid && (!newForm.Organization.$pristine || showValid) && !newForm.Organization.$focus,
                                        'has-success': newForm.Organization.$valid && !newForm.Organization.$pristine && !newForm.Organization.$focus
                                    }">
                        <label for="">Organization Name</label>
                        <input type="text" disabled name="Organization" class="form-control" id="editOrganization_orgName"
                               placeholder="DB Realty"
                               data-ng-model="name"
                               minlength="1"
                               maxlength="30"
                               alphabets-only
                               input-focus
                                />
                        <div class="text-danger"
                             data-ng-if="newForm.Organization.$invalid && (!newForm.Organization.$pristine || showValid) && !newForm.Organization.$focus">
                            {{ 'Please Enter Alphabets' | translate }}
                        </div>
                    </div>
                </div>
            </div>

            <div class="pull-left f-half-1">

                <div class="clearfix">
                    <div class="form-bx form-bx6">
                        <div class="form-group"
                             data-ng-class="{
                            'has-error' : newForm.Street_1.$invalid && (!newForm.Street_1.$pristine || showValid),
                            'has-success': newForm.Street_1.$valid && !newForm.Street_1.$pristine
                        }">
                            <label for="">Street 1</label>

                            <input type="text" name="Street_1" class="form-control" id="orgz_street1"
                                   placeholder="Street 1"
                                   data-ng-model="street_1"
                                    ng-pattern="/^[a-zA-Z 0-9 ',_#/:.&()-\s]*$/"
                                   />

                            <div class="text-danger"
                                 data-ng-if="newForm.Street_1.$invalid && (!newForm.Street_1.$pristine || showValid) && !newForm.Street_1.$focus">
                                {{ 'Please enter valid Street' | translate }}
                            </div>

                        </div>
                    </div>

                </div>


               
                
                
                <div class="clearfix">
                    <div class="form-bx form-bx6">
                        <div class="form-group">
                            <label for="">Country</label>

                            <select ng-model="country1" id="orgz_country" ng-change="selectcountry()" class="dropdown form-control">
                                <option value="" selected> Country</option>
                                <option ng-repeat="country in countries  "
                                        value="{{country.id}}">
                                    {{country.country_name}}
                                </option>
                            </select>

                        </div>
                    </div>
                </div>

                <div class="clearfix">
                    <div class="form-bx form-bx6">
                        <div class="form-group">
                            <label for="">City</label>

                            
                            <select ng-model="city1" id="orgz_city" ng-change="selectcity()" class="dropdown form-control">
                                <option value="" selected>City</option>
                                <option ng-repeat="city in cities | filter:filterExpression"
                                        value="{{city.city_id}}">
                                    {{city.city_name}}
                                </option>
                            </select>

                        </div>
                    </div>
                </div>


            </div>

            <div class="pull-left f-half-2">

                <div class="clearfix">
                    <div class="form-bx form-bx6">
                        <div class="form-group"
                             data-ng-class="{
                            'has-error' : newForm.Street_2.$invalid && (!newForm.Street_2.$pristine || showValid),
                            'has-success': newForm.Street_2.$valid && !newForm.Street_2.$pristine && !!params.Street_2
                        }">
                            <label for="">Street 2</label>

                            <input type="text" name="Street_2" class="form-control" id="orgz_street2"
                                   placeholder="Street 2"
                                   data-ng-model="street_2"
                                     ng-pattern="/^[a-zA-Z 0-9 ',_#/:.&()-\s]*$/"
                                    />

                            <div class="text-danger"
                                 data-ng-if="newForm.Street_2.$invalid && (!newForm.Street_2.$pristine || showValid) && !newForm.Street_2.$focus">
                                {{ 'Please enter valid Street 2' | translate }}
                            </div>

                        </div>
                    </div>
                </div>



                

                <div class="clearfix">
                    <div class="form-bx form-bx6">
                        <div class="form-group">
                            <label for="">State</label>

                            
                            <select ng-model="state1" id="orgz_state" ng-change="selectstate()" class="dropdown form-control">
                                <option value="" selected> State</option>
                                <option ng-repeat="state in states"
                                        value="{{state.state_id}}">
                                    {{state.state_name}}
                                </option>
                            </select>

                        </div>
                    </div>
                </div>


                

                <div class="form-bx form-bx6">


                    <div class="form-group"
                         data-ng-class="{
                            'has-error' : newForm.ZipCode.$invalid && (!newForm.ZipCode.$pristine || showValid),
                            'has-success': newForm.ZipCode.$valid && !newForm.ZipCode.$pristine }">


                        <label for="">Postal Code</label>
                        <input type="text" name="ZipCode" class="form-control" id="orgz_zip"
                               placeholder="Postal Code"
                               data-ng-model="zip_code"
                                ng-pattern="/^([1-9][0-9]*)$/"
                                minlength="6"
                                maxlength="6"
                              />

                        <div class="text-danger"
                             data-ng-if="newForm.ZipCode.$invalid && (!newForm.ZipCode.$pristine || showValid)">
                            {{ 'Invalid Postal Code' | translate }}
                        </div>
                        <!--<div class="text-danger"
                             data-ng-if="newForm.zip_code.$error.minlength || newForm.zip_code.$error.maxlength">
                            {{ 'Invalid Postal Code' | translate }}
                        </div>-->

                    </div>

                </div>









            </div>

            <div class="organization_desc_wrap clearfix">
                <div class="form-group form-bx form-bx5">
                    <div class="form-group"
                         data-ng-class="{
                                        'has-error' : newForm.Description.$invalid && (!newForm.Description.$pristine || showValid) && !newForm.Description.$focus,
                                        'has-success': newForm.Description.$valid && !newForm.Description.$pristine && !newForm.Description.$focus
                                    }">
                        <label for="">Description</label>
                        <textarea id="organization_desc" autofocus kendo-editor k-ng-model="description"></textarea>
                        <div class="text-danger"
                             data-ng-if="newForm.Description.$invalid && (!newForm.Description.$pristine || showValid) && !newForm.Description.$focus">
                            {{ 'invalid Description' | translate }}
                        </div>
                    </div>
                </div>
            </div>

            <div class="clearfix">

                <div class="pull-left f-half-1">

                    <div class="clearfix">
                        <div class="form-bx form-bx6">
                            <label for="">Organization ID</label>
                            <span></span>
                            <input type="text" disabled name="orgid" class="form-control" id="editOrganization_orgId"
                                   placeholder="Organization ID"
                                   data-ng-model="params.organization_id"
                                  input-focus
                               />
                        </div>
                    </div>

                    <div class="clearfix">
                        <div class="form-bx form-bx6">
                            <div class="form-group"
                                 data-ng-class="{
                                        'has-error' : newForm.Divisions.$invalid && (!newForm.Divisions.$pristine || showValid) && !newForm.Divisions.$focus,
                                        'has-success': newForm.Divisions.$valid && !newForm.Divisions.$pristine && !newForm.Divisions.$focus
                                    }">
                                <label for="">Divisions: </label>
                               <span></span>
                                <input type="text" name="Divisions" class="form-control"id="editOrganization_orgDivisions"
                                       placeholder="Divisions"
                                       data-ng-model="divisions"
                                       minlength="1"
                                       maxlength="30"
                                       alphabets-only
                                       input-focus
                                       ng-pattern="/^[a-zA-Z\s]*$/" />
                                <div class="text-danger"
                                     data-ng-if="newForm.Divisions.$invalid && (!newForm.Divisions.$pristine || showValid) && !newForm.Divisions.$focus">
                                    {{ 'Please Enter Alphabets' | translate }}
                                </div>
                            </div>
                        </div>
                    </div>


                <!--Test-->
                    <div ng-repeat="choice1 in choices1">
                        <div id="email-wrap2" class="clearfix">
                            <div id="email-no2" class="form-bx form-bx6">
                                <div class="form-group"
                                     data-ng-class="{
                                                         'has-error' : newForm.email.$invalid && (!newForm.email.$pristine || showValid) && !newForm.email.$focus,
                                                         'has-success': newForm.email.$valid && !newForm.email.$pristine && !newForm.email.$focus
                                                     }">
                                    <label for="" class="clearfix">Email <span class="pull-right">Primary</span></label>
                                    <input type="text" name="email" class="form-control" id="editOrganization_orgEmail"
                                           placeholder="Email"
                                           data-ng-model="choice1.email"
                                           minlength="1"
                                           maxlength="50"
                                          
                                           input-focus
                                           ng-pattern="/^[a-z]+[a-z0-9._]+@[a-z]+\.[a-z.]{2,5}$/" />
                                    <div class="text-danger"
                                         data-ng-if="newForm.email.$invalid && (!newForm.email.$pristine || showValid) && !newForm.email.$focus">
                                        {{ 'Please Enter Valid Email Id' | translate }}
                                    </div>
                                </div>
                            </div>
                            <div id="add-address" ng-class="{'add-input add-input5': $index==0,'remove-field5': $index>0}" ng-click="addNewChoice1($event)"><a href="javascript:">Remove</a></div>
                        </div>
                    </div>

                    <div ng-repeat="choice in choices">
                        <div id="phone-wrap2" class="clearfix">
                            <div id="phone-no2" class="form-bx form-bx6">
                                <div class="form-group"
                                     data-ng-class="{
                                                         'has-error' : newForm.Phone.$invalid && (!newForm.Phone.$pristine || showValid) && !newForm.Phone.$focus,
                                                        'has-success': newForm.Phone.$valid && !newForm.Phone.$pristine && !newForm.Phone.$focus
                                                     }">
                                    <label for="" class="clearfix">Phone <span class="pull-right">Primary</span></label>
                                    <input type="text" name="Phone" class="form-control" id="editOrganization_orgPhone"
                                           placeholder="Phone"
                                           data-ng-model="choice.phone_no"
                                           input-focus
                                           ng-pattern="/^[0-9]{1,11}$/" />
                                    <div class="text-danger"
                                         data-ng-if="newForm.Phone.$invalid && (!newForm.Phone.$pristine || showValid) && !newForm.Phone.$focus">
                                        {{ 'Please Enter Valid Phone Number' | translate }}
                                    </div>
                                </div>
                            </div>
                            <div id="add-address" ng-class="{'add-input add-input5': $index==0,'remove-field5': $index>0}" ng-click="addNewChoice($event)"><a href="javascript:">Remove</a></div>
                        </div>
                    </div>



                    <!--<div class="clearfix">
                        <div class="form-bx form-bx6">
                            <label for="">List In Builder Directory	</label>
                            <label><input type="radio" name="test" ng-model="radioValue" ng-checked="true" value="1" /> Yes</label>
                            <label><input type="radio" name="test" ng-model="radioValue"  value="2" /> No</label>



                        </div>
                    </div>-->
                    <div class="pull-left f-half-5">
                        <div class="form-bx form-bx6">
                            <label for="">List In Builder Directory</label>
                            <select id="year_select" ng-change="selectbuilder()" ng-model="directory1" class="dropdown form-control">
                                <option value="" selected>--Select Yes or No--</option>
                                <option value="1">Yes</option>
                                <option value="0">No</option>
                            </select>
                        </div>
                    </div>

                    <div class="clearfix">
                        <div class="form-bx form-bx6">
                            <div class="form-group"
                                 data-ng-class="{
                                                            'has-error' : newForm.Language.$invalid && (!newForm.Language.$pristine || showValid) && !newForm.Language.$focus,
                                                            'has-success': newForm.Language.$valid && !newForm.Language.$pristine && !newForm.Language.$focus
                                                     }">
                                <label for="">Language	</label>
                                <input type="text" name="Language" class="form-control" id="editOrganization_orgLanguage"
                                       placeholder="Language"
                                       data-ng-model="language"
                                       minlength="1"
                                       maxlength="30"
                                      
                                       input-focus
                                       ng-pattern="/^[a-zA-Z\s]*$/" />
                                <div class="text-danger"
                                     data-ng-if="newForm.Language.$invalid && (!newForm.Language.$pristine || showValid) && !newForm.Language.$focus">
                                    {{ 'Please Enter Alphabets' | translate }}
                                </div>
                            </div>
                        </div>
                    </div>

                </div><!-- f-half-1 ended -->

                <div class="pull-left f-half-2">

                    <div class="clearfix">
                        <div class="form-bx form-bx6">
                            <label for="">Pan No.</label>
                            <div class="form-group"
                                 data-ng-class="{
                                                            'has-error' : newForm.pan_no.$invalid && (!newForm.pan_no.$pristine || showValid) && !newForm.pan_no.$focus,
                                                            'has-success': newForm.pan_no.$valid && !newForm.pan_no.$pristine && !newForm.pan_no.$focus
                                                         }">
                              
                                <input type="text" name="pan_no" class="form-control" id="editOrganization_orgPanNo"
                                       placeholder="PAN No"
                                       data-ng-model="pan_no"
                                       minlength="10"
                                       maxlength="10"
                                       input-focus
                                       ng-pattern="/^[A-Z0-9\.]*$/" />
                                <div class="text-danger"
                                     data-ng-if="newForm.pan_no.$invalid && (!newForm.pan_no.$pristine || showValid) && !newForm.pan_no.$focus">
                                    {{ 'Please Enter Valid PAN No' | translate }}
                                </div>
                            </div>
                        </div>
                    </div>


                    <div class="clearfix">
                        <div class="form-bx form-bx6" style="margin-top: -12px;">
                            <label for="">Tan No.</label>
                            <div class="form-group"
                                 data-ng-class="{
                                                             'has-error' : newForm.Tan_No.$invalid && (!newForm.Tan_No.$pristine || showValid) && !newForm.Tan_No.$focus,
                                                            'has-success': newForm.Tan_No.$valid && !newForm.Tan_No.$pristine && !newForm.Tan_No.$focus
                                                        }">
                               
                                <input type="text" name="Tan_No" class="form-control"  id="editOrganization_orgTanNo"
                                       placeholder="TAN No"
                                       data-ng-model="tan_no"
                                       minlength="10"
                                       maxlength="10"
                                       input-focus
                                       ng-pattern="/^[A-Z0-9\.]*$/" />
                                <div class="text-danger"
                                     data-ng-if="newForm.Tan_No.$invalid && (!newForm.Tan_No.$pristine || showValid) && !newForm.Tan_No.$focus">
                                    {{ 'Please Enter Valid TAN No' | translate }}
                                </div>
                            </div>
                        </div>
                    </div>


                    <div class="clearfix">
                        <div class="form-bx form-bx6">
                            <label for="">Service Tax No.</label>
                            <div class="form-group"
                                 data-ng-class="{
                                                          'has-error' : newForm.service_tax_no.$invalid && (!newForm.service_tax_no.$pristine || showValid) && !newForm.service_tax_no.$focus,
                                                           'has-success': newForm.service_tax_no.$valid && !newForm.service_tax_no.$pristine && !newForm.service_tax_no.$focus
                                                         }">
                              
                                <input type="text" name="service_tax_no" class="form-control" id="editOrganization_orgservice_tax_no"
                                       placeholder="Service Tax No"
                                       data-ng-model="service_tax_no"
                                       minlength="15"
                                       maxlength="15"
                                       
                                       input-focus
                                       ng-pattern="/^[A-Z0-9\.]*$/" 
                                       />
                                <div class="text-danger"
                                     data-ng-if="newForm.service_tax_no.$invalid && (!newForm.service_tax_no.$pristine || showValid) && !newForm.service_tax_no.$focus">
                                    {{ 'Please Enter Valid Service Tax No' | translate }}
                                </div>
                            </div>
                        </div>
                    </div>


                    <div class="clearfix" style="margin-top:12px;">
                        <div class="form-bx form-bx6">
                            <label for="">Cin No.</label>
                            <div class="form-group"
                                 data-ng-class="{
                                                             'has-error' : newForm.cin_no.$invalid && (!newForm.cin_no.$pristine || showValid) && !newForm.cin_no.$focus,
                                                             'has-success': newForm.cin_no.$valid && !newForm.cin_no.$pristine && !newForm.cin_no.$focus
                                                          }">
                               
                                <input type="text" name="cin_no" class="form-control" id="editOrganization_orgcin_no" 
                                       placeholder="CIN No"
                                       data-ng-model="cin_no"
                                       minlength="21"
                                       maxlength="21"
                                      
                                       input-focus
                                       ng-pattern="/^[A-Z0-9\.]*$/"
                                        />
                                <div class="text-danger"
                                     data-ng-if="newForm.cin_no.$invalid && (!newForm.cin_no.$pristine || showValid) && !newForm.cin_no.$focus">
                                    {{ 'Please Enter Valid CIN No' | translate }}
                                </div>
                            </div>

                        </div>
                    </div>


                    <div class="clearfix">
                        <div class="form-bx form-bx6">
                            <label for="">First month of financial year</label>
                            <select ng-change="selectmonth()" ng-model="month1" class="dropdown form-control" id="editOrganization_selectMonth" >
                                <option value="" selected>--Select Month--</option>
                                <option ng-repeat="month in month"
                                        value="{{month.id}}">
                                    {{month.month}}
                            </select>
                        </div>
                    </div>


                    <div class="clearfix" style="margin-top: 10px;">
                        <div class="form-bx form-bx6">
                            <label for="">Time Zone</label>
                            <select ng-change="SelectTimezone()" ng-model="timezone1" class="dropdown form-control" id="editOrganization_orgTimeZon" >
                                <option value="" selected>--Select Timezone--</option>
                                <option ng-repeat="Time in timezone | orderBy:'timezone'"
                                        value="{{Time.id}}">
                                    {{Time.timezone}}
                                </option>
                            </select>
                        </div>
                    </div>


                    

                </div><!-- f-half-2 ended -->

            </div>

            <div class="progress" ng-show="((uploader.progress)/1)>0">
                <div class="progress-bar" role="progressbar"
                     ng-style="{ 'width': uploader.progress + '%' }"></div>
            </div>

            <!--<a ng-show="showProgress" id="iconEdit" ng-click="CanceUpload()" data-toggle="modal" style="cursor:pointer;align-content:center"><span class="edit-icon"></span></a>-->

            <div class="modal-btn-wrap clearfix">
                <button type="submit" class="f-btn" style="width:390px" id="btn_editOrganization_save">SAVE</button>

                <button type="button" class="f-btn f-btn2"  style="width:390px" ng-click="$dismiss('cancel')" id="btn_editOrganization_cancel">CANCEL</button>
            </div>

        </form>
    </div><!-- modal-body ended -->

</div><!-- modal ended -->
<!-- for image fetch -->
<script>
    function readURL(input) {
        if (input.files && input.files[0]) {
            var reader = new FileReader();
            reader.onload = function (e) {
                $('#fetch').attr('src', e.target.result);
            }
            reader.readAsDataURL(input.files[0]);
        }
    }
    $("#editorganization_uploader1").change(function () {
        readURL(this);
    });
</script>
