
   <div class="modal-content">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close" ng-click="$dismiss('cancel')"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="exampleModalLabel">Preview</h4>
    </div>

    <div class="modal-body">
        <div class="clearfix" style="text-align:left;">
            <span ng-bind-html="params.bodyText"></span>
        </div>

        <div class="modal-footer">
            <button type="button" class="btn btn-primary " style="margin:1px" ng-click="cancel()"> CLOSE </button>
        </div>
    </div>
</div>




