<button type="button" class="close" ng-click="$dismiss('cancel')">&times;</button>
<div class="main-content add-new project sucessful-popup" style="padding: 3%;">
    <h4 style="    text-align: center;line-height: 27px;">Thank you. Your {{title}} has been saved successfully. We will send you a confirmation after all Emails have been sent.</h4>

    <button type="button" id="btn_sucessfullCampaign_ok" class="f-btn f-btn-sucessfull-ok" ng-click="$dismiss('cancel')">OK</button>

    <!--<a data-target="#" href="/index.html#/home/users"> Back to User List </a>-->
</div>

