<div id="main-content" class="col-xs-12">
    <div class="content-inner">

        <div class="pg-inner-header">
            <div class="row">

                <div class="col-md-12">
                    <h2 class="pg-inner-title">Create New Email Campaign</h2>
                </div>

            </div>
        </div><!-- pg-inner-header ended -->

    </div><!-- content-inner ended -->

    <div class="pg-inner-content" style="">
        <div class="col-md-12 tab_head">
            <div class="row " style="padding: 1px 0px 1px 16px;">
                <div class="col-md-2 email_tabs2">Campaign info</div>
                <div class="col-md-1 tabarrow"><img src="images/blue_arrow.png" class="arrow-height" /></div>
                <div class="col-md-2 email_tabs2" style="margin-left: 21px;">Set Budget</div>
                <div class="col-md-1 tabarrow"><img src="images/blue_arrow.png" class="arrow-height" /></div>
                <div class="col-md-2 email_tabs2" style="margin-left: 21px;">Select contact</div>
                <div class="col-md-1 tabarrow"><img src="images/blue_arrow.png" class="arrow-height" /></div>
                <div class="col-md-2 email_tabs2" style="margin-left: 21px;">Add template</div>
                <div class="col-md-1 tabarrow"><img src="images/blue_arrow.png" class="arrow-height" /></div>
                <div class="col-md-2 email_tabs2" style="margin-left: 21px;">Summary</div>
            </div>
        </div>

        <div class="project-detail">
            <div class="top-row" style="width:100%; background:#fff; padding: 0px 26px 15px 14px;">
                <div class="col-lg-12 pull-left">
                    <div class="right-inner-addon" style="padding-top: 12px;border-bottom: 1px solid #e7e7e7;">
                        <h2 class="pg-inner-title"> Summary</h2>
                    </div>
                </div>

            </div>


            <div class="top-row" style="width:100%; background:#fff; padding:60px">
                <form class="form-content form-content2 edit-organization-setting" name="addNewForm" data-ng-submit="addNew(addNewForm.$valid)" autocomplete="off">
                    <div class="project-detail">
                        <div class="content-inner-bx">
                            <div class="clearfix tab-inner" style="margin-left: 3%;">

                                <div class="pull-left company-profile-half">
                                    <div class="company-profile-row clearfix">
                                        <div class="pull-left profile-row1">Campaign ID:</div>
                                        <div class="pull-right profile-row2" id="summaryEmail_Campaign ID">
                                            <label class="label-group">
                                                <span ng-bind="params.campaign_ID">{{params.campaign_ID}}</span>
                                            </label>
                                        </div>
                                    </div>

                                    <div class="company-profile-row clearfix">
                                        <div class="pull-left profile-row1">Event Name:</div>
                                        <div class="pull-right profile-row2" id="summaryEmail_EventName">
                                            <label class="label-group">
                                                <span ng-bind="params.name">{{params.name}}</span>
                                            </label>
                                        </div>
                                    </div>

                                    <div class="company-profile-row clearfix">
                                        <div class="pull-left profile-row1">Project:</div>
                                        <div class="pull-right profile-row2" id="summaryEmail_project">
                                            <label class="label-group">
                                                <span ng-bind="params.project_id">{{params.project_id}}</span>
                                            </label>
                                        </div>
                                    </div>

                                    <div class="company-profile-row clearfix">
                                        <div class="pull-left profile-row1">Start Date</div>
                                        <div class="pull-right profile-row2" id="summaryEmail_startDate">
                                            <label class="label-group">
                                                <span ng-bind="start_date">{{start_date}}</span>
                                            </label>
                                        </div>
                                    </div>

                                </div>
                                <div class="pull-left company-profile-half company-profile-half-2">

                                    <!--<div class="company-profile-row clearfix">
                                        <div class="pull-left profile-row1"> End Date:</div>
                                        <div class="pull-right profile-row2">
                                            <label class="label-group">
                                                <h4 ng-bind="params.end_date">{{params.end_date}}</h4>
                                            </label>
                                        </div>
                                    </div>-->

                                    <div class="company-profile-row clearfix">
                                        <div class="pull-left profile-row1">Budget:</div>
                                        <div class="pull-right profile-row2" id="summaryEmail_budget">
                                            <label class="label-group">
                                                <span ng-bind="params.budget">{{params.budget}}</span>
                                            </label>
                                        </div>
                                    </div>

                                    <div class="company-profile-row clearfix">
                                        <div class="pull-left profile-row1">Lead:</div>
                                        <div class="pull-right profile-row2" id="summaryEmail_lead">
                                            <label class="label-group">
                                                <span ng-bind="params.no_of_leads">{{params.no_of_leads}}</span>
                                            </label>
                                        </div>
                                    </div>

                                    <div class="company-profile-row clearfix">
                                        <div class="pull-left profile-row1">Sales:</div>
                                        <div class="pull-right profile-row2" id="summaryEmail_sales">
                                            <label class="label-group">
                                                <span ng-bind="params.sales">{{params.sales}}</span>
                                            </label>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="col-sm-1"></div>

                        </div>
                    </div>
                    <div class="col-md-12" style="margin-left: 4%;">
                        <div class="row">
                            <div class="col-md-4"><button class="btn campaign-container-btn-1-1" id="btn_summaryEmail_back" type="button" ng-click="back()">BACK</button></div>
                            <div class="col-md-4"><button class="campaign-container-btn-cancel" id="btn_summaryEmail_cancel" style="margin-left: 12%;" type="button" ng-click="cancel()"> CANCEL</button></div>
                            <div class="col-md-4"><button class="btn organization-btn" style="margin-left: 28%;"  type="submit" id="btn_summaryEmail_save" ng-click="RemoveCookies()"><b>SAVE &gt;</b></button></div>
                            </div>
                    </div>

                    <a href="" class=""></a>
                       
                  

                </form>
            </div>
            <!--</div>--><!-- project-detail ended -->

        </div><!-- pg-inner-content ended -->

    </div><!-- main-content ended -->


</div>