
<div id="add_new_contact" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">

  

    <div class="modal-body">

        <div class="close-btn-wrap">
            <button type="button" class="close" id="btn_newuser_close" data-dismiss="modal" aria-label="Close" ng-click="$dismiss('cancel')" &times;><span aria-hidden="true">&times;</span></button>
        </div>
       
        <p align="center" style="font-size:20px"><strong>Invitation Sent Successfully</strong></p>

        <br/>
        <a  ng-click="user() " style="margin-left:40%;cursor:pointer" class="backArrow" >Back To Userlist</a>
    </div><!-- modal-body ended -->
</div>