<!--<button type="button" class="close" ng-click="$dismiss('cancel')">&times;</button>-->
<button type="button" class="close" ng-click="$dismiss('cancel')">&times;</button>

    <div class="main-content project add-new">
    <form name="loginForm" novalidate data-ng-submit="addNew()" autocomplete="off" class="form-horizontal">
        <div style="font-size:20px;font-weight:900">Options</div>
        <div class="modal-body" style="padding:10%">
           
                <!--<label>Option</label>-->
              
                    <div class="col-md-8">
                        <input type="hidden" name="Select Project" data-ng-model="params.country">

                        <select ng-change="selectcity()" ng-model="city1" id="option_project" class="dropdown form-control" required>
                            <option value="" selected>-- Select Role --</option>
                            <option ng-repeat="project in states"
                                    value="{{project.id}}">
                                {{project.name}}
                            </option>

                        </select>
                    </div>
               
            

            <div style="text-align:center">
                <button class="btn btn-default  login-btn" id="option_sub" type="submit">Submit</button>
            </div>
            <!--<button class="btn organization-btn" type="submit">Submit</button>-->
        </div>
    </form>

    </div>


