<div class="modal-content img-responsive">
    <div class="modal-header">
        <button type="button" class="close" ng-click="$close()">
            <span aria-hidden="true">×</span><span class="sr-only">Close</span>
        </button>
        <button class="btn btn-default login-btn"  type="submit" ng-click="mapfun()"> Map Fields</button>
        <button class="btn btn-default login-btn" type="submit" ng-click="reviewfun()">Review Data</button>
        <button class="btn btn-default login-btn" type="submit" ng-click="summaryfun()"> Import</button>
       
    </div>
    <br>
    <div class="modal-body" nv-file-drop="" uploader="uploader" filters="queueLimit, customFilter">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12">
                <div class="btn btn-primary"><input type="file" nv-file-select="" uploader="uploader"  ng-pattern=^(?:[\w]\:|\\)(\\[a-z_\-\s0-9\.]+)+\.(xls|xlsx)$/></div>
                <div class="panel panel-success" uploader="uploader" nv-file-over="">
                    <div class="panel-body image-upload-panel">
                        <div class="row" ng-hide="uploader.queue.length">
                            <div class="col-lg-2 col-md-2 col-sm-12"></div>
                            <div class="col-lg-8 col-md-8 col-sm-12 col-xs-4" style="height:100%">
                                <span class="page-center">Drag And Drop your file here</span>
                            </div>
                            <div class="col-lg-2 col-md-8 col-sm-12"></div>
                        </div>
                        <div class="row" ng-show="uploader.queue.length">
                            <div class="col-sm-6 last" ng-repeat="item in uploader.queue">
                                <div ng-show="uploader.isHTML5"
                                     ng-thumb="{ file: item._file, height: 200 }"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div>
            <div>
                Upload progress:
                <div class="progress" ng-show="showProgress">
                    <div class="progress-bar" role="progressbar"
                         ng-style="{ 'width': uploader.progress + '%' }"></div>
                </div>
            </div>
           
                <button type="button" class="btn btn-default login-btn" ng-click="showProgress=true;uploader.uploadAll()"
                        ng-disabled="!uploader.getNotUploadedItems().length">Upload
                </button>
            
            <button type="button" class="btn btn-default login-btn" ng-click="uploader.cancelAll()"
                    ng-disabled="!uploader.isUploading"> Cancel
            </button>
            <button type="button" class="btn btn-default login-btn" ng-click="uploader.clearQueue()"
                    ng-disabled="!uploader.queue.length"> Remove
            </button>
            
        </div>
    </div>
</div>