
<button type="button" class="close" ng-click="$dismiss('cancel')">&times;</button>
<div class="contain">
    <div class="add_project_header" align="center">Select Project</div>
    <div class="row left-inner-addon">
        <!--<div class="col-lg-1"></div>
        <div class="col-lg-10">
            <i class="glyphicon glyphicon-search"></i>
            <input type="search" class="form-control" placeholder="Search Projects" />
        </div>
        <div class="col-lg-1"></div>-->
    </div>
    <hr />
    <div class="project_details">
        <div class="row row_content" ng-repeat="user in orgProjects">
            <div class="col-lg-1 col-md-2 col-sm-3">
                <div class='user-photo pull_left'><img src="{{user.project_image}}"  /></div>
            </div>
            <div class="col-lg-3 col-md-4 col-sm-6">
                <p class="project-name">
                    {{user.name }}
                </p>


            </div>
            <div class="col-lg-8 col-md-6 col-sm-3">
                <span class="pull-right" ng-click="addUser(user)">
                    <img ng-src="assets/images/{{user.isUserMember ? 'ok': 'plus'}}_icon.png" />
                </span>
            </div>


        </div>
    </div>
    <hr />
    <div class="project_list_content">

        <div class="project_list_item">
            <span class="project_items" ng-repeat="project in orgProjects">
                <span class="btn btn-info btn_pad" ng-if="project.isUserMember">
                    {{project.name + ' ' + project.description}}
                    <span class="icon_space glyphicon glyphicon-remove" ng-click="removeProject(project)"></span>
                </span>
            </span>
        </div>
        <div class="project_list_text">
            <div class="row left-inner-addon">
                <div class="col-lg-2 col-md-2 col-sm-1"></div>
                <!--<div class="col-lg-5 col-md-5 col-sm-5">
                    <i class="glyphicon glyphicon-envelope"></i>
                    <input type="search" class="form-control" placeholder="If not in list, send invitation by email"/>
                </div>-->
                <!--<div class="col-lg-3 col-md-3 col-sm-5">
                    <a href="" class="btn btn-primary">INVITE</a>
                </div>-->
                <div class="col-lg-2 col-md-2 col-sm-1"></div>
            </div>
        </div>
        <br/>
        <div class="add_btn_pad" align="center">
            <a href="" class="btn btn-primary" ng-click="updateUserProjects()">ASSIGN</a>
        </div>
    </div>
</div>