
<div id="add_new_team" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">

    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close" ng-click="$dismiss('cancel')"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="exampleModalLabel">Create New Agent</h4>
            </div>
            <form class="form-content form-content2 edit-organization-setting" name="newForm" style="text-align:left;" autocomplete="off" novalidate data-ng-submit="addNew(newForm.$valid)">

                <div class="clearfix">

                    <div class="form-group form-bx form-bx14">
                        <div class="form-group"
                             data-ng-class="{
                                          'has-error' : newForm.firstName.$invalid && (!newForm.AgentName.$pristine || showValid) && !newForm.AgentName.$focus,
                                                                        'has-success': newForm.AgentName.$valid && !newForm.AgentName.$pristine && !newForm.AgentName.$focus
                                            }">
                            <label for="">Agent Name</label>
                            <input type="text" class="form-control text-bold" autofocus name="AgentName" id="agentname"
                                   data-ng-model="params.name"
                                   minlength="3"
                                   maxlength="50"
                                   alphabets-only
                                   input-focus
                                   ng-pattern="/^[a-zA-Z\s]*$/"
                                   required />

                            <div ng-messages="newForm.AgentName.$error" style="color:maroon" role="alert">
                                <div ng-message="required" data-ng-if="newForm.AgentName.$invalid && (!newForm.AgentName.$pristine || showValid) && !newForm.AgentName.$focus">This field should not be empty </div>
                                <div ng-message="pattern">Enter valid Agent name</div>
                            </div>
                            </div>

                        </div>
                </div>

                <div class="clearfix">
                    <div class="form-group form-bx form-bx14">
                        <label for="">Agent Email</label>
                        <input type="text" class="form-control text-bold" autofocus name="AgentEmail" id="agentemail"
                               data-ng-model="params.email"                              
                               input-focus
                               ng-pattern="^[a-zA-Z][\w\.-]*[a-zA-Z0-9]@[a-zA-Z0-9][\w\.-]*[a-zA-Z0-9]\.[a-zA-Z][a-zA-Z\.]*[a-zA-Z]$"
                               required />
                    </div>
                </div>

                <div class="clearfix">
                    <div class="form-group form-bx form-bx14">
                        <label for="">Agent Phone</label>
                        <input type="text" class="form-control text-bold" autofocus name="AgentPhone" id="agentphone"
                               data-ng-model="params.phone_no"
                               minlength="10"
                               maxlength="10"                              
                               ng-pattern="/^[0-9\-]{8,12}$/"
                               required />
                    </div>
                </div>

                <div class="modal-btn-wrap clearfix">

                    <button type="submit" class="f-btn" id="btn_createagentsave">Save</button>

                    <button type="button" class="f-btn f-btn2" ng-click="cancel()" id="btn_createagentcancel">CANCEL</button>
                </div>
            </form>

        </div>
    </div>
</div>
