<!--<div id="main-content" class="col-xs-12">
    <div class="content-inner">
        <div class="property-header">




            <div class="row">
                <div class="col-sm-1"></div>
                <div class="content-inner">
                    <div class="property-header">
                        <div class="row">
                            <div class="col-md-5">
                                <h2 class="property-title">User Details</h2>
                            </div>
                            <button class="btn btn-default login-btn" ng-click="openUserPopup()">Edit User</button>
                        </div>
                    </div>
                </div>
            </div>


          <div class="row">

                <div class="pull-left tb-box-img">
                    <img src="{{media_url}}" alt="" width="218" height="160" class="img-responsive" />
                </div>
            </div>


        </div>

    </div>
    <div class="property-content">
        <div class="content-inner property-inner">
            <div class="div_head_pad">

                <br /><span class="tab_sub_head" ng-bind="first_name"></span> &nbsp; <span class="tab_sub_head" ng-bind="last_name"></span>


                <div class="row div_pad2 tab_strip_content">
                    <div class="col-sm-10 common_tabstrip li_style" kendo-tab-strip>
                        <ul class="tab_back tabs_pipe">
                            <li class="k-state-active">ESSENTIAL</li>

                            <li>PROJECT</li>
                            <li>TEAM</li>
                            <li>PROPERTY LISTINGS</li>
                            <li>PEOPLE</li>
                            <li>TASKS</li>

                        </ul>

                        <div style="padding: 1em" class="tab_content">
                            <div class="tab_style">
                                <div class="div_pad">
                                    <div class="row">
                                        <span class="tab_content_head">User</span>

                                    </div>
                                    <hr />


                                    <div class="row">
                                        <div class="col-sm-5">
                                            <label class="control-label">First Name</label>
                                            <div class="col-xs-10">
                                                <label class="label-group">
                                                    <h4 ng-bind="first_name"></h4>
                                                </label>

                                            </div>
                                        </div>
                                        <div class="col-sm-5">
                                            <label class="control-label">Last Name</label>
                                            <div class="form-group">
                                                <div class="col-xs-10">
                                                    <label class="label-group">
                                                        <h4 ng-bind="last_name"></h4>
                                                    </label>

                                                </div>
                                            </div>
                                        </div>
                                    </div>


                                    <div class="row">
                                        <div class="col-sm-5">
                                            <label class="control-label">Account Phone</label>
                                            <div class="col-xs-10">
                                                <label class="label-group">
                                                    <h4 ng-bind="account_phone"></h4>
                                                </label>
                                            </div>
                                        </div>

                                        <div class="col-sm-5">
                                            <label class="control-label">Account Email</label>
                                            <div class="form-group">
                                                <div class="col-xs-10">
                                                    <label class="label-group">
                                                        <h4 ng-bind="account_email"></h4>
                                                    </label>

                                                </div>
                                            </div>
                                        </div>
                                    </div>


                                    <div class="row">
                                        <div class="col-sm-5">
                                            <label class="control-label">Account Country</label>
                                            <div class="col-xs-10">
                                                <label class="label-group">
                                                    <h4 ng-bind="account_country"></h4>
                                                </label>
                                            </div>
                                        </div>
                                        <div class="col-sm-5">
                                            <label class="control-label">Role</label>
                                            <div class="form-group">
                                                <div class="col-xs-10">
                                                    <label class="label-group">
                                                        <h4 ng-bind="role_name"></h4>
                                                    </label>

                                                </div>
                                            </div>
                                        </div>
                                   </div>


                                    <div class="row">
                                        <div class="col-sm-5">
                                            <label class="control-label">Address </label>
                                            <div class="col-xs-10">
                                                <label class="label-group">
                                                    <h4 ng-bind="street_1"></h4>
                                                </label>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>

                        <div class="leads_group" id="record-content">
                            <div kendo-grid k-options="ProjectGrid" selectable="true">

                            </div>
                        </div>

                        <div class="leads_group" id="record-content">
                            <div kendo-grid k-options="TeamGrid" selectable="true">

                            </div>
                        </div>
                        <div class="leads_group" id="record-content">
                            <div kendo-grid k-options="PropertyListGrid" selectable="true">

                            </div>
                        </div>

                        <div class="leads_group" id="record-content">
                            <div kendo-grid k-options="PeopleGrid" selectable="true">

                            </div>
                        </div>

                        <div class="leads_group" id="record-content">
                            <div kendo-grid k-options="TaskGrid" selectable="true">

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>-->


<!-- main-content ended -->


<div id="main-content" class="col-xs-12">
    <div class="content-inner">
        <div class="pg-inner-header">
            <div class="row">
                <div class="col-md-12">
                    <h2 class="pg-inner-title">User Details</h2>
                </div>
            </div>
            <div class="pg-inner-content">
                <div class="project-detail-info">

                    <div class="pg-inner-content2">
                        <div class="content-inner-bx">
                            <div class="company-profile-h">

                                <div class="clearfix">

                                    <div class="pull-left company-profile-photo">
                                        <img src="{{media_url}}" alt="" width="218" height="160" class="img-responsive" />
                                        <a href="javascript:" class="edit-lk"></a>
                                    </div>

                                    <div class="pull-right profile-side-txt">
                                        <div>
                                            <button class="btn btn-default login-btn" ng-click="openUserPopup()">Edit User</button>
                                        </div>

                                    </div>

                                </div>

                                <div>
                                    <br />
                                </div>

                                <h3>DB Realty: the name behind Mumbai’s Landmarks</h3>
                                <p>Founded in 2007, DB Realty Limited has been redefining the Mumbai skyline by transforming spaces into landmarks. Emerging as one of India’s leading real estate developers, with a legacy built on excellence, at DB Realty we focus on creating landmarks that set new benchmarks in all the market segments. This even as we are deeply committed to delivering our promise to both customers and stakeholders.......</p>

                            </div><!-- company-profile-h ended -->
                        </div><!-- content-inner-bx ended -->
                    </div>

                    <!--<div class="project-detail-photo">
                        <img src="{{media_url}}" alt="" width="218" height="160" class="img-responsive" />
                    </div>
                    <div class="clearfix">
                        <div class="pull-right profile-side-txt">
                            <button class="btn btn-default login-btn" ng-click="openUserPopup()">Edit User</button>
                        </div>
                    </div>-->




                        <div class="project-detail-tabs pg-tabs" kendo-tab-strip>
                            <ul class="nav nav-tabs responsive-tagJS" role="tablist">
                                <!--<li> <a aria-controls="summary" role="tab" data-toggle="tab" class="k-state-active">ESSENTIAL</a></li>-->
                                <li class="k-state-active"><a aria-controls="summary" role="tab" data-toggle="tab"> ESSENTIAL</a></li>

                                <li><a aria-controls="summary" role="tab" data-toggle="tab">TEAMS</a></li>
                                <li><a aria-controls="summary" role="tab" data-toggle="tab">PROPERTYLIST</a></li>
                                <li><a aria-controls="summary" role="tab" data-toggle="tab">PEOPLE</a></li>
                                <li><a aria-controls="summary" role="tab" data-toggle="tab">TASKS</a></li>

                            </ul>

                            <div class="content-inner-bx">

                                <div class="clearfix">

                                    <div class="pull-left company-profile-half">

                                        <div class="company-profile-row clearfix">
                                            <div class="pull-left profile-row1">First Name:</div>
                                            <div class="pull-right profile-row2">
                                                <label class="label-group">
                                                    <h4 ng-bind="first_name"></h4>
                                                </label>
                                            </div>
                                        </div>

                                        <div class="company-profile-row clearfix">
                                            <div class="pull-left profile-row1">Account Phone</div>
                                            <div class="pull-right profile-row2">
                                                <label class="label-group">
                                                    <h4 ng-bind="account_phone"></h4>
                                                </label>
                                            </div>
                                        </div>

                                        <div class="company-profile-row clearfix">
                                            <div class="pull-left profile-row1">Role</div>
                                            <div class="pull-right profile-row2">
                                                <label class="label-group">
                                                    <h4 ng-bind="role_name"></h4>
                                                </label>
                                            </div>
                                        </div>

                                        <div class="company-profile-row clearfix">
                                            <div class="pull-left profile-row1">City</span></div>
                                            <div class="pull-right profile-row2">
                                                <label class="label-group">
                                                    <h4 ng-bind="city"></h4>
                                                </label>
                                            </div>
                                        </div>
   
                                    </div>
                                    <div class="pull-left company-profile-half company-profile-half-2">

                                        <div class="company-profile-row clearfix">
                                            <div class="pull-left profile-row1">Last Name</div>
                                            <div class="pull-right profile-row2">
                                                <label class="label-group">
                                                    <h4 ng-bind="last_name"></h4>
                                                </label>
                                            </div>
                                        </div>

                                        <div class="company-profile-row clearfix">
                                            <div class="pull-left profile-row1">Account Email</div>
                                            <div class="pull-right profile-row2">
                                                <label class="label-group">
                                                    <h4 ng-bind="account_email"></h4>
                                                </label>
                                            </div>
                                        </div>

                                        <div class="company-profile-row clearfix">
                                            <div class="pull-left profile-row1">Address</div>
                                            <div class="pull-right profile-row2">
                                                <label class="label-group">
                                                    <h4 ng-bind="street_1"></h4>
                                                </label>
                                            </div>
                                        </div>

                                        <div class="company-profile-row clearfix">
                                            <div class="pull-left profile-row1">State</div>
                                            <div class="pull-right profile-row2">
                                                <label class="label-group">
                                                    <h4 ng-bind="state"></h4>
                                                </label>
                                            </div>
                                        </div>

                                    </div>
                                </div>
                            </div>


                            


                            <div class="leads_group" id="record-content">
                                <div kendo-grid k-options="ProjectGrid" selectable="true">

                                </div>
                            </div>


                            <div class="leads_group" id="record-content">
                                <div kendo-grid k-options="TeamGrid" selectable="true">

                                </div>
                            </div>


                            <div class="leads_group" id="record-content">
                                <div kendo-grid k-options="PropertyListGrid" selectable="true">

                                </div>
                            </div>


                            <div class="leads_group" id="record-content">
                                <div kendo-grid k-options="PeopleGrid" selectable="true">

                                </div>
                            </div>


                            <div class="leads_group" id="record-content">
                                <div kendo-grid k-options="TaskGrid" selectable="true">

                                </div>
                            </div>

                        </div>
                    </div>

                
        </div>
    </div>
    </div>
    </div>
