
<div id="add_new_team" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">

    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" id="btn_addNewTaskClose" aria-label="Close" ng-click="$dismiss('cancel')"><span aria-hidden="true">&times;</span></button>
                <h4 class="form-title" id="exampleModalLabel" style="text-align:left">Create New Task</h4>
            </div>
            <form class="form-content form-content2 edit-organization-setting" name="addNewForm" style="text-align:left;" autocomplete="off" novalidate data-ng-submit="addNew(addNewForm.$valid)" >

                <div class="clearfix">
                    <div class="form-group"
                         data-ng-class="{
                                  'has-error' : addNewForm.TaskName.$invalid && (!addNewForm.TaskName.$pristine || showValid) && !addNewForm.TaskName.$focus,
                                  'has-success': addNewForm.TaskName.$valid && !addNewForm.TaskName.$pristine && !addNewForm.TaskName.$focus
                                                     }">
                        <div class="form-group form-bx form-bx14">
                            <label for="">Task Name<span class="validationStarRed">*</span></label></label>
                            <input type="text" class="form-control text-bold" autofocus name="TaskName"
                                   data-ng-model="name"
                                   minlength="1"
                                   id="addNewTaskName"
                                   maxlength="200"
                                   input-focus
                                   required />
                            <div ng-messages="addNewForm.TaskName.$error" style="color:maroon" role="alert">
                                <div ng-message="required" data-ng-if="addNewForm.TaskName.$invalid && (!addNewForm.TaskName.$pristine || showValid) && !addNewForm.TaskName.$focus">This field should not be empty </div>
                                <div ng-message="pattern">Enter valid Task Name</div>
                            </div>
                        </div>

                    </div>
                   
                </div>

                <div class="clearfix">
                    <div class="pull-left f-half-6">
                        <div class="form-group form-bx form-bx3-1">
                            <label for="" class="hidden-xs" id="addnewproject_state">Task  Type</label>
                            <select ng-model="event1" ng-change="selectevent()" class="dropdown form-control text-bold" id=" id="addNewTaskType">
                                <option value="" selected>Choose Task Type</option>
                                <option ng-repeat="event in events"
                                        value="{{event.id}}">
                                    {{event.type}}
                            </select>
                        </div>
                    </div>
                </div>

                <div class="clearfix">
                    <div class="form-group"
                         data-ng-class="{
                                  'has-error' : addNewForm.project.$invalid && (!addNewForm.project.$pristine || showValid) && !addNewForm.project.$focus,
                                  'has-success': addNewForm.project.$valid && !addNewForm.project.$pristine && !addNewForm.project.$focus
                                                     }">
                        <div class="pull-left f-half-6">
                            <div class="form-group form-bx form-bx3-1">
                                <label for="">Project<span class="validationStarRed">*</span></label>
                                <select ng-model="project1" ng-change="selectproject()" id="addNewTaskProject" name="project"
                                        class="dropdown form-control" required>
                                    <option value="" selected>Select Project</option>
                                    <option ng-repeat="project in projects"
                                            value="{{project.id}}"
                                            ng-disabled="project.id !== project1">
                                        {{project.name}}
                                    </option>
                                </select>
                                <div ng-messages="addNewForm.project.$error" style="color:maroon" role="alert">
                                    <div ng-message="required" data-ng-if="addNewForm.project.$invalid && (!addNewForm.project.$pristine || showValid) && !addNewForm.project.$focus">This field should not be empty </div>
                               
                                </div>
                            </div>
                        </div>
                    </div>

                    <!--<div class="pull-left f-half-6">
                        <div class="form-group form-bx form-bx3-1">
                            <label for="">Property:</label>
                            <select ng-model="project1" ng-change="selectproject()" id="contact_project"
                                    class="dropdown form-control" >
                                <option value="" selected>Select Property</option>
                                <option ng-repeat="project in projects"
                                        value="{{project.id}}">
                                    {{project.name}}
                                </option>

                            </select>
                        </div>
                    </div>-->

                    <div class="pull-left f-half-6">
                        <div class="form-group ">
                            <label for="">Person:</label>
                            <select kendo-combo-box class="dropdown form-control"
                                    id="addNewTaskPerson"
                                    k-placeholder="'Select Contact'"
                                    k-data-text-field="'Contact_Name'"
                                    k-data-value-field="'Contact_id'"
                                    k-filter="'contains'"
                                    ng-model="contact1"
                                    k-auto-bind="false"
                                    ng-change="selectcontact()"
                                    k-min-length="0"
                                    k-data-source="contactsDataSource">
                            </select>
                        </div>
                    </div>
                </div>

                <div class="clearfix">
                    <div class="pull-left f-half-6">
                        <div class="form-group form-bx form-bx3-1">
                            <label for="">Assign To:</label>
                            <select ng-model="user1" ng-change="selectuser()"
                                    class="dropdown form-control" id="addNewTaskAssignTo">
                                <option value="" selected>Select User</option>
                                <option ng-repeat="user in users"
                                        value="{{user.assign_user_id}}">
                                    {{user.user_name}}
                                </option>

                            </select>
                        </div>
                    </div>

                    <div class="pull-left f-half-6">
                        <div class="form-group form-bx form-bx3-1">
                            <label for="">Set Priority</label>
                            <select ng-model="priority1" ng-change="selectpriority()"
                                    class="dropdown form-control" id="addNewTaskSetPreiority">
                                <option value="" selected>Select Priority</option>
                                <option ng-repeat="prio in priority"
                                        value="{{prio.id}}">
                                    {{prio.type}}
                                </option>
                            </select>
                        </div>
                    </div>
                </div>
                <strong class="duration_time form-content form-bx13"> Due Date </strong>
                <div class="clearfix">

                    <div class="pull-left f-half-6">
                        <div class="form-group form-bx form-bx3-1">
                            <label for="">Date:</label>
                            <input kendo-date-time-picker class="form-control"
                                   ng-model="due_date"
                                   id="addNewTaskDate"
                                   k-ng-model="k_due_date"
                                   k-format="'dd/MM/yyyy hh:mm tt'" />
                        </div>
                    </div>

                    <div class="form-group" style="MARGIN-TOP: 4%;">
                        <div style="float:left;margin-bottom:-13px">
                            <label>
                                <input type="checkbox" id="addNewTaskRemindMe" name="test3" value="1" ng-model="remind_me" ng-init="remind_me=true">
                                Remind Me
                            </label>
                        </div>
                    </div>
                </div>

                <div class="clearfix">
                    <div class="pull-left f-half-6">
                        <div class="form-group form-bx form-bx3-1">
                            <label for="">Select Time</label>
                            <select ng-model="reminder_time1" ng-change="selectReminderTime()" id="opt_addTaskAssignSetPriority" class="dropdown form-control">
                                <option value="" selected>Select Time</option>
                                <option ng-repeat="remind in reminders"
                                        value="{{remind.id}}">
                                    {{remind.key_name}}
                                </option>
                            </select>
                        </div>
                    </div>
                </div>

                <strong class="duration_time form-content form-bx8">Add Notes</strong>   
                <!--<div class="clearfix">
                    <div class="form-group form-bx form-bx6">
                       
                        <textarea wrap="soft" cols="100" rows="5" name="description"
                                  data-ng-model="text"
                                  minlength="1"
                                  maxlength="500"
                                  id="txt_addNewTaskNotes"
                                  input-focus
                                   />
                    </div>
                </div>-->
                <div class="clearfix">
                    <div class="form-group form-bx form-bx14">
                        <textarea id="txt_addNewTaskNotes" rows="10" cols="30" style="width:100%;height:400px" kendo-editor k-options="editorOption" k-ng-model="params.htmlcontent" resizable="true"></textarea>
                    </div>
                </div>

                <div class="progress" ng-show="uploader.progress>0 && uploader.progress<100">
                    <div class="progress-bar" role="progressbar"
                         ng-style="{ 'width': uploader.progress + '%' }"></div>
                </div>
                <input ng-show="false" type="file" id="imageBrowser" value="Browse" nv-file-select="" uploader="uploader" />

                

                <div class="modal-btn-wrap clearfix">
                    <button type="button" id="btn_addNewTaskCancel" class="btn odd_btn" ng-click="cancel()">CANCEL</button>

                    <button type="submit" id="btn_addNewTaskSave" class="btn btn-primary" ng-disabled="isDisabled">Save</button>

                 
                </div>
            </form>

        </div>
    </div>
</div>
