
<div id="add_new_unit" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">
    <div class="modal-header">
        <h4 class="form-title" style="text-align:left">{{title}}</h4>
        <div class="close-btn-wrap" style="height:0px!important">
            <button type="button" id="btn_addNewUnitClose"  data-toggle="tooltip" title="Close Tab" style="margin-top:-4%" class="close" data-dismiss="modal" aria-label="Close" ng-click="$dismiss('cancel')" &times;><span aria-hidden="true">&times;</span></button>
        </div>
    </div>
    <div class="modal-body">
        <form class="form-content form-content2 edit-organization-setting" name="addNewForm" novalidate data-ng-submit="addNew(addNewForm.$valid)" autocomplete="off">
            <div class="clearfix">
                <div class="pull-left f-half-3">
                    <div class="clearfix">
                        <div class="form-group"
                             data-ng-class="{
                                                        'has-error' : addNewForm.unitdesc.$invalid && (!addNewForm.unitdesc.$pristine || showValid),
                                                        'has-success': addNewForm.unitdesc.$valid && !addNewForm.unitdesc.$pristine
                                                            }">
                            <div class="form-group form-bx unit-type">
                                <label for="">Unit Type</label>
                                <input type="text" class="form-control" autofocus name="unitdesc" id="addNewUnitType"
                                       placeholder="Unit Type"
                                       data-ng-model="unit_type_desc"
                                       minlength="1"
                                       maxlength="20"
                                       ng-pattern="/^[a-z 0-9.\s]+$/i"
                                       input-focus
                                       required />
                                <div ng-messages="addNewForm.unitdesc.$error" style="color:maroon" role="alert">
                                    <div ng-message="required" data-ng-if="addNewForm.unitdesc.$invalid && (!addNewForm.unitdesc.$pristine || showValid) && !addNewForm.unitdesc.$focus">This field should not be empty </div>
                                    <div ng-message="pattern" id="err_addNewUnitType">Enter valid value for unit type</div>
                                </div>
                            </div>
                            <span class="field-md5 field-req">*</span>
                        </div>
                    </div>
                </div>
            </div>

            <div class="clearfix">

                <div class="pull-left f-half-3">
                    <div class="clearfix">
                        <div class="form-group"
                             data-ng-class="{
                                                         'has-error' : addNewForm.bedrooms.$invalid && (!addNewForm.bedrooms.$pristine || showValid),
                                                          'has-success': addNewForm.bedrooms.$valid && !addNewForm.bedrooms.$pristine
                                                         }">

                            <div class="form-group form-bx">
                                <label for="">Bedrooms</label>
                                <div class="area-f">
                                    <input type="text" autofocus name="bedrooms" class="form-control" id="addNewUnitBedroom"
                                           placeholder="No of Bedrooms"
                                           data-ng-model="num_bedrooms"
                                           minlength="1"
                                           maxlength="10"
                                           ng-pattern="/^[0-9]+$/"
                                           input-focus />
                                    <div ng-messages="addNewForm.bedrooms.$error" style="color:maroon" role="alert">
                                        <div ng-message="required" data-ng-if="addNewForm.bedrooms.$invalid && (!addNewForm.bedrooms.$pristine || showValid) && !addNewForm.bedrooms.$focus">This field should not be empty </div>
                                        <div ng-message="pattern" id="err_addNewUnitBedroom">Enter valid value for bedroom</div>
                                    </div>
                                </div>
                            </div>
                            <div class="field-md2 field-req"></div>
                        </div>

                    </div>
                </div>

                <div class="pull-left f-half-3">
                    <div class="clearfix">
                        <div class="form-group"
                             data-ng-class="{
                                                        'has-error' : addNewForm.bathrooms.$invalid && (!addNewForm.bathrooms.$pristine || showValid),
                                                        'has-success': addNewForm.bathrooms.$valid && !addNewForm.bathrooms.$pristine
                                                        }">
                            <div class="form-group form-bx">
                                <label for="">Bathrooms</label>
                                <div class="area-f">
                                    <input type="text" autofocus name="bathrooms" class="form-control" id="addNewUnitBathroom"
                                           placeholder="No of Bathrooms"
                                           data-ng-model="num_bathrooms"
                                           minlength="1"
                                           maxlength="10"
                                           ng-pattern="/^[0-9]+$/"
                                           input-focus />
                                    <div ng-messages="addNewForm.bathrooms.$error" style="color:maroon" role="alert">
                                        <div ng-message="required" data-ng-if="addNewForm.bathrooms.$invalid && (!addNewForm.bathrooms.$pristine || showValid) && !addNewForm.bathrooms.$focus">This field should not be empty </div>
                                        <div ng-message="pattern" id="err_addNewUnitBathroom">Enter valid value for bathroom</div>
                                    </div>

                                </div>
                            </div>
                            <div class="field-md2 field-req"></div>
                        </div>
                    </div>
                </div>

            </div>

            <div class="clearfix">

                <div class="pull-left f-half-3">
                    <div class="clearfix">
                        <div class="form-group"
                             data-ng-class="{
                                                        'has-error' : addNewForm.carpetarea.$invalid && (!addNewForm.carpetarea.$pristine || showValid),
                                                        'has-success': addNewForm.carpetarea.$valid && !addNewForm.carpetarea.$pristine
                                                        }">

                            <div class="form-group form-bx">
                                <label for="">Carpet Area</label>
                                <div class="area-f">
                                    <input type="text" autofocus name="carpetarea" class="form-control" id="addNewUnitCarpetArea"
                                           placeholder="Carpet Area"
                                           data-ng-model="carpet_area"
                                           minlength="1"
                                           maxlength="10"
                                           ng-pattern="/^[0-9]+$/"
                                           input-focus
                                           required />
                                    <span class="area-txt">sq.ft</span>
                                    <div ng-messages="addNewForm.carpetarea.$error" style="color:maroon" role="alert">
                                        <div ng-message="required" data-ng-if="addNewForm.carpetarea.$invalid && (!addNewForm.carpetarea.$pristine || showValid) && !addNewForm.carpetarea.$focus">This field should not be empty </div>
                                        <div ng-message="pattern" id="err_addNewUnitCarpetArea">Enter valid value for carpet area</div>
                                    </div>

                                </div>
                            </div>
                            <div class="field-md2 field-req">*</div>
                        </div>

                    </div>
                </div>

                <div class="pull-left f-half-3">
                    <div class="clearfix">
                        <div class="form-group"
                             data-ng-class="{
                                                        'has-error' : addNewForm.saleablearea.$invalid && (!addNewForm.saleablearea.$pristine || showValid),
                                                        'has-success': addNewForm.saleablearea.$valid && !addNewForm.saleablearea.$pristine
                                                         }">
                            <div class="form-group form-bx">
                                <label for="">Saleable Area</label>
                                <div class="area-f">
                                    <input type="text" autofocus name="saleablearea" class="form-control" id="addNewUnitSaleableArea"
                                           placeholder="Saleable Area"
                                           data-ng-model="super_built_up_area"
                                           minlength="1"
                                           maxlength="10"
                                           ng-pattern="/^[0-9]+$/"
                                           input-focus
                                           required />
                                    <span class="area-txt">sq.ft</span>
                                    <div ng-messages="addNewForm.saleablearea.$error" style="color:maroon" role="alert">
                                        <div ng-message="required" data-ng-if="addNewForm.saleablearea.$invalid && (!addNewForm.saleablearea.$pristine || showValid) && !addNewForm.saleablearea.$focus">This field should not be empty </div>
                                        <div ng-message="pattern" id="err_addNewUnitSaleableArea">Enter valid value for saleable area</div>
                                    </div>

                                </div>
                            </div>
                            <div class="field-md2 field-req">*</div>
                        </div>
                    </div>
                </div>

                <div class="pull-left f-half-3">
                    <div class="clearfix">

                        <div class="form-group"
                             data-ng-class="{
                                                        'has-error' : addNewForm.carkpark.$invalid && (!addNewForm.carkpark.$pristine || showValid),
                                                        'has-success': addNewForm.carkpark.$valid && !addNewForm.carkpark.$pristine
                                                        }">
                            <div class="form-group form-bx">
                                <label for="">Car Parks</label>
                                <input type="text" autofocus name="carkpark" class="form-control" id="addNewUnitCarPark"
                                       placeholder="Car Parks"
                                       minlength="1"
                                       maxlength="10"
                                       ng-pattern="/^[0-9]+$/"
                                       data-ng-model="cark_park"
                                       input-focus />
                                <div ng-messages="addNewForm.carkpark.$error" style="color:maroon" role="alert">
                                    <div ng-message="required" data-ng-if="addNewForm.carkpark.$invalid && (!addNewForm.carkpark.$pristine || showValid) && !addNewForm.carkpark.$focus">This field should not be empty </div>
                                    <div ng-message="pattern" id="err_addNewUnitCarPark">Enter valid value for car park</div>
                                </div>
                            </div>
                            <div class="field-md2 field-req"></div>
                        </div>
                    </div>
                </div>

                <div class="pull-left f-half-3">
                    <div class="clearfix">
                        <div class="form-group"
                             data-ng-class="{
                                                        'has-error' : addNewForm.usablearea.$invalid && (!addNewForm.usablearea.$pristine || showValid),
                                                        'has-success': addNewForm.usablearea.$valid && !addNewForm.usablearea.$pristine
                                                         }">
                            <div class="form-group form-bx">
                                <label for="">Usable Area</label>
                                <div class="area-f">
                                    <input type="text" autofocus name="usablearea" class="form-control" id="addNewUnitUsableArea"
                                           placeholder="Usable Area"
                                           data-ng-model="usable_area"
                                           minlength="1"
                                           maxlength="10"
                                           ng-pattern="/^[0-9]+$/"
                                           input-focus
                                            />
                                    <span class="area-txt">sq.ft</span>
                                    <div ng-messages="addNewForm.usablearea.$error" style="color:maroon" role="alert">
                                        <div ng-message="required" data-ng-if="addNewForm.usablearea.$invalid && (!addNewForm.usablearea.$pristine || showValid) && !addNewForm.usablearea.$focus">This field should not be empty </div>
                                        <div ng-message="pattern" id="err_addNewUnitUsableArea">Enter valid value for Usable area</div>
                                    </div>

                                </div>
                            </div>
                            <div class="field-md2 field-req"></div>
                        </div>
                    </div>
                </div>

                <div class="pull-left f-half-3">
                        <div class="clearfix">
                            <div class="form-group"
                                 data-ng-class="{
                                                        'has-error' : addNewForm.boxprice.$invalid && (!addNewForm.boxprice.$pristine || showValid),
                                                        'has-success': addNewForm.boxprice.$valid && !addNewForm.boxprice.$pristine
                                                         }">
                                <div class="form-group form-bx">
                                    <label for="">Box Price</label>
                                    <div class="area-f">
                                        <input type="text" autofocus name="boxprice" class="form-control" id="addNewUnitBoxPrice" ng-focus="box_price_applicable=true;" 
                                               placeholder="Box Price"
                                               data-ng-model="box_price" 
                                               minlength="1"
                                               maxlength="10"
                                               ng-pattern="/^([1-9][0-9+./]*)$/"
                                               input-focus />
                                        <div ng-messages="addNewForm.boxprice.$error" style="color:maroon" role="alert">
                                            <div ng-message="required" data-ng-if="addNewForm.boxprice.$invalid && (!addNewForm.boxprice.$pristine || showValid) && !addNewForm.boxprice.$focus">This field should not be empty </div>
                                            <div ng-message="pattern" id="err_addNewUnitBoxPrice">Enter valid value for box price</div>
                                        </div>

                                    </div>
                                </div>
                                <div class="field-md2 field-req"></div>
                            </div>
                        </div>
                    </div>
                    <div class="form-group" style="MARGIN-TOP: 4%;">
                        <div style="float:left;margin-bottom:-13px;margin-top: 9%;margin-left: -39%;">
                            <label>
                                <input type="checkbox" id="chk_addNewUnitBoxPriceApplicable" name="chk_addNewUnitBoxPriceApplicable" ng-click="emptyText()" ng-model="box_price_applicable" />
                                Box Price Applicable
                            </label>
                        </div>
                    </div>
               
                <div class="pull-left f-half-3">
                    <div class="form-group form-bx form-bx3-1">
                        <label for="">Price Decided On</label>
                        <select ng-model="area1" ng-change="selectArea()" id="opt_addTaskAssign" class="dropdown form-control">
                            <option value="" selected>Select Area</option>
                            <option value="Carpet_Area">Carpet Area</option>
                            <option value="Saleable_Area">Saleable Area</option>
                            <option value="Usable_Area">Usable Area</option>
                        </select>
                    </div>
                </div>
            </div>

            <div class="clearfix image-upload-container">
                <div class="modal-body image-upload-wrap" nv-file-drop="" uploader="uploader" filters="queueLimit, customFilter">
                    <div class="image-upload-title">Upload Unit Image</div>

                    <div class="dropzone dropzone-bx image-upload-bx">
                        <div class="fallback">
                            <div class="panel panel-success" uploader="uploader" nv-file-over="">
                                <div class="image-upload-panel">
                                    <div class="row" ng-hide="uploader.queue.length">
                                        <img ng-src={{media1}} class="img-responsive" />
                                    </div>
                                    <div class="row" ng-show="uploader.queue.length">
                                        <div class="col-sm-6 last" ng-repeat="item in uploader.queue">
                                            <div ng-show="uploader.isHTML5"
                                                 ng-thumb="{ file: item._file, height: 200 }"></div>
                                        </div>
                                        <div class="row" ng-show="media1.isHTML5">
                                            <div ng-thumb="{file:media1, height :200}"></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="uploadFileName"><p ng-show="uploader.queue.length"> {{uploader.queue[0]._file.name}}</p></div>

                    <label class="custom-file-input">
                        <input type="file" class="image-upload-f" id="addNewUnitUploade1" value="Browse" accept="image/*" nv-file-select="" uploader="uploader" />
                    </label>
                </div>

                <div class="modal-body image-upload-wrap" nv-file-drop="" uploader="uploader1" filters="queueLimit, customFilter">
                    <div class="image-upload-title">Upload 3D Zip</div>

                    <div class="dropzone dropzone-bx image-upload-bx">
                        <div class="fallback">
                            <div class="panel panel-success" uploader="uploader1" nv-file-over="">
                                <div class=" image-upload-panel">
                                    <div class="row" ng-hide="uploader1.queue.length">
                                        <img ng-src={{media2}} class="img-responsive" />
                                    </div>
                                    <div class="row" ng-show="uploader1.queue.length">
                                        <div class="col-sm-6 last" ng-repeat="item in uploader1.queue">
                                            <div ng-show="uploader1.isHTML5"
                                                 ng-thumb="{ file: item._file, height: 200 }"></div>
                                        </div>
                                    </div>
                                    <div class="row" ng-show="media2!">
                                        <div ng-thumb="{file:media2, height :200}"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="uploadFileName"><p ng-show="uploader.queue.length"> {{uploader1.queue[0]._file.name}}</p></div>

                    <label class="custom-file-input">
                        <input type="file" class="image-upload-f" id="addNewUnitUploade2" value="Browse" accept="application/zip" nv-file-select="" uploader="uploader1" />
                    </label>
                </div>

                <div class="modal-body image-upload-wrap" nv-file-drop="" uploader="uploader2" filters="queueLimit, customFilter">
                    <div class="image-upload-title">Upload Mini Map Image</div>

                    <div class="dropzone dropzone-bx image-upload-bx">
                        <div class="fallback">
                            <div class="panel panel-success" uploader="uploader2" nv-file-over="">
                                <div class=" image-upload-panel">
                                    <div class="row" ng-hide="uploader2.queue.length">
                                        <img ng-src={{media3}} class="img-responsive" />
                                    </div>
                                    <div class="row" ng-show="uploader2.queue.length">
                                        <div class="col-sm-6 last" ng-repeat="item in uploader2.queue">
                                            <div ng-show="uploader2.isHTML5"
                                                 ng-thumb="{ file: item._file, height: 200 }"></div>
                                        </div>
                                    </div>
                                    <div class="row" ng-show="media3..isHTML5">
                                        <div ng-thumb="{file:media3, height :200}"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="uploadFileName"><p ng-show="uploader.queue.length"> {{uploader2.queue[0]._file.name}}</p></div>

                    <label class="custom-file-input">
                        <input type="file" class="image-upload-f" id="addNewUnitUploade2" value="Browse"  accept="image/*" nv-file-select="" uploader="uploader2" />
                    </label>
                </div>

            </div>

            <div class="progress" ng-show="((uploader.progress+uploader1.progress + uploader2.progress)/3)>0">
                <div class="progress-bar" role="progressbar"
                     ng-style="{ 'width': (uploader.progress+uploader1.progress + uploader2.progress)/3 + '%' }"></div>
            </div>

            <div class="modal-btn-wrap3 clearfix">

                <button type="submit" class="f-btn" id="btn_addNewUnitSave">
                    Save
                </button>
            </div>

        </form>
    </div><!-- modal-body ended -->


</div><!-- modal ended -->
<!--<script>
    $(document).ready(function () {
        $('#addNewUnitBoxPrice').on('focus', function () {
            $("#chk_addNewUnitBoxPriceApplicable").prop("checked", true);
           // $scope.box_price_applicable = true;
        });
    });

</script>-->
