
                    
                    <div id="add_new_wing" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">                        
                       
                            <div class="modal-body">      
                                    
                                    <div class="close-btn-wrap">
                                        <button type="button" class="close" id="btn_addnewwing_close" data-dismiss="modal" aria-label="Close" ng-click="$dismiss('cancel')">&times;><span aria-hidden="true">&times;</span></button>
                                    </div>
                                    
                                    <form class="form-content form-content2 edit-organization-setting" name="addNewForm"  data-ng-submit="addNew(addNewForm.$valid)" novalidate autocomplete="off">
                                        
                                        <h4 class="form-title">Add New Wing Type</h4>
                                                                                
                                        <div class="clearfix">
                                            <div class="form-group"
                                                 data-ng-class="{
                                                    'has-error' : addNewForm.wingname.$invalid && (!addNewForm.wingname.$pristine || showValid),
                                                    'has-success': addNewForm.wingname.$valid && !addNewForm.wingname.$pristine
                                                 }">
                                                <div class="form-group form-bx form-bx3-2 ">
                                                    <label for="">Enter Wing Name:</label>
                                                    <input type="text" autofocus name="wingname" class="form-control" id="addnewwing_wing_code"
                                                           placeholder="Wing Name"
                                                           data-ng-model="params.wing_code"
                                                           minlength="1"
                                                           maxlength="20"
                                                           ng-pattern="/^[\w -]*$/"
                                                           required />
                                                    <div ng-messages="addNewForm.wingname.$error" style="color:maroon" role="alert">
                                                        <div ng-message="required" data-ng-if="addNewForm.wingname.$invalid && (!addNewForm.wingname.$pristine || showValid) && !addNewForm.wingname.$focus">This field should not be empty </div>
                                                        <div ng-message="pattern">Enter valid value for wing name</div>
                                                    </div>
                                                </div>
                                            <div class="field-md2 field-req">*</div>
                                               
                                            </div>
                                        </div>
                                        <div class="clearfix">
                                            <div class="form-group"
                                                 data-ng-class="{
                                                    'has-error' : addNewForm.totalfloors.$invalid && (!addNewForm.totalfloors.$pristine || showValid),
                                                    'has-success': addNewForm.totalfloors.$valid && !addNewForm.totalfloors.$pristine
                                                 }">
                                                <div class="form-group form-bx form-bx3-2">
                                                    <label for="">How many floors are there in this wing?</label>
                                                    <input type="text" autofocus name="totalfloors" class="form-control" id="addnewwing_totalnooffloors"
                                                           placeholder="How many floors are there in this wing?"
                                                           data-ng-model="params.total_no_of_floors"
                                                           ng-pattern="/^([1-9][0-9]*)$/"
                                                           input-focus
                                                           required />
                                                    <div ng-messages="addNewForm.totalfloors.$error" style="color:maroon" role="alert">
                                                        <div ng-message="required" data-ng-if="addNewForm.totalfloors.$invalid && (!addNewForm.totalfloors.$pristine || showValid) && !addNewForm.totalfloors.$focus">This field should not be empty </div>
                                                        <div ng-message="pattern">Enter valid value for Number of Floors </div>
                                                    </div>
                                                </div>
                                           <div class="field-md2 field-req">*</div>
                                            </div>
                                            </div>
                                        
                                        <div class="clearfix image-upload-container">
                                            <div class="modal-body image-upload-wrap" nv-file-drop="" uploader="uploader" filters="queueLimit, customFilter">
                                                <div class="image-upload-title">Upload Wing Image</div>
                                                <div class="dropzone dropzone-bx image-upload-bx">
                                                    <div class="fallback">
                                                        <div class="panel panel-success" uploader="uploader" nv-file-over="">
                                                            <div class="panel-body image-upload-panel">
                                                                <div class="row" ng-hide="uploader.queue.length">
                                                                    <div class="col-lg-2 col-md-2 col-sm-12"></div>
                                                                    <div class="col-lg-8 col-md-8 col-sm-12 col-xs-4" style="height:100%">
                                            
                                                                    </div>
                                                                    <div class="col-lg-2 col-md-8 col-sm-12"></div>
                                                                </div>
                                                                <div class="row" ng-show="uploader.queue.length">
                                                                    <div class="col-sm-6 last" ng-repeat="item in uploader.queue">
                                                                        <div ng-show="uploader.isHTML5"
                                                                             ng-thumb="{ file: item._file, height: 200 }"></div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="uploadFileName">
                                                 <p ng-show="uploader.queue.length"> {{uploader.queue[0]._file.name}}</p></div>
                                                    <label class="custom-file-input">
                                                        
                                                         <input type="file" class="image-upload-f" id="editproject_uploader1" value="Browse" accept="image/*" nv-file-select="" uploader="uploader" />
                                                       
                                                    </label>
                                            </div>

                                            <div class="modal-body image-upload-wrap" nv-file-drop="" uploader="uploader1" filters="queueLimit, customFilter">
                                                    <div class="image-upload-title">Upload 3D Zip</div>
                                                    <div class="dropzone dropzone-bx image-upload-bx">
                                                        <div class="fallback">
                                                            <div class="panel panel-success" uploader="uploader1" nv-file-over="">
                                                                <div class="panel-body image-upload-panel">
                                                                    <div class="row" ng-hide="uploader1.queue.length">
                                                                        <div class="col-lg-2 col-md-2 col-sm-12"></div>
                                                                        <div class="col-lg-8 col-md-8 col-sm-12 col-xs-4" style="height:100%">
                                                    
                                                                        </div>
                                                                        <div class="col-lg-2 col-md-8 col-sm-12"></div>
                                                                    </div>
                                                                    <div class="row" ng-show="uploader1.queue.length">
                                                                        <div class="col-sm-6 last" ng-repeat="item in uploader1.queue">
                                                                            <div ng-show="uploader1.isHTML5"
                                                                                 ng-thumb="{ file: item._file, height: 200 }"></div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                <div class="uploadFileName"><p ng-show="uploader1.queue.length"> {{uploader1.queue[0]._file.name}}</p></div>
                                                    <label class="custom-file-input">
                                                       
                                                        <input type="file" class="image-upload-f" id="editproject_uploader1" value="Browse" accept="application/zip" nv-file-select="" uploader="uploader1" />
                                                    </label>
                                                </div>
                                            </div>

                                                <h4 class="form-title form-title2">Assign Floor Type</h4>
                                                <div class="row" data-ng-repeat="floor in floors ">

                                                    <div class="clearfix" style="margin-left:2%">

                                                        <div class="pull-left f-half-3">
                                                            <div class="clearfix">
                                                                <div class="form-group form-bx">
                                                                    <label for="">Floor Type</label>
                                                                    <input type="text" disabled autofocus name="floortype" class="form-control" id="addnewwing_unit_type_desc"
                                                                           placeholder="Floor Type"
                                                                           data-ng-model="floor.unit_type_desc"
                                                                           input-focus />
                                                                </div>
                                                            </div>

                                                        </div>

                                                        <div class="pull-left f-half-4">
                                                            <div class="clearfix">
                                                                <div class="form-group form-bx">
                                                                    <label for="">Floor No.</label>
                                                                    <input type="text" autofocus name="floortype" class="form-control" id="addnewwing_no_of_unit"
                                                                           placeholder="Floor No"
                                                                           data-ng-model="floor.no_of_units_new"
                                                                           input-focus />
                                                                </div>
                                                            </div>
                                                            <div class="clearfix">
                                                                <div class="form-group">
                                                                    <div class="form-group form-bx">
                                                                        <input type="hidden" disabled autofocus name="floortype" class="form-control" id="addnewwing_id"
                                                                               placeholder="Floor Type"
                                                                               data-ng-model="floor.id"
                                                                              
                                                                               input-focus />
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>

                                                <div class="progress" ng-show="((uploader.progress+uploader1.progress)/2)>0">
                                                    <div class="progress-bar" role="progressbar"
                                                         ng-style="{ 'width': (uploader.progress+uploader1.progress)/2 + '%' }"></div>
                                                </div>

                                         <!--<a ng-show="showProgress" id="iconEdit" ng-click="CanceUpload()" data-toggle="modal" style="cursor:pointer;align-content:center"><span class="edit-icon"></span></a>-->

                                                <div class="modal-btn-wrap3 clearfix">
                                                    <button type="submit" class="f-btn" id="btn_addnewwing_save"> 
                                                        <!--<span class="glyphicon glyphicon-upload"></span>--> SAVE
                                                    </button>
                                                </div>

                                     </form>
                                </div><!-- modal-body ended -->
                                
                         
                    </div><!-- modal ended -->
                    
              