

<div id="add_new_floor" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">
    <div class="modal-header">
        <h4 class="form-title" style="text-align:left">Add New Floor Type</h4>
        <div class="close-btn-wrap" style="height:0px!important">
            <button type="button" id="btn_AddNewFloorClose"   data-toggle="tooltip" title="Close Tab" style="margin-top:-4%" class="close" data-dismiss="modal" aria-label="Close" ng-click="$dismiss('cancel')" &times;><span aria-hidden="true">&times;</span></button>
        </div>
    </div>
        <div class="modal-body">
                <form class="form-content form-content2 edit-organization-setting" name="addNewForm" data-ng-submit="addNew(addNewForm.$valid)" novalidate autocomplete="off">
                    <div class="clearfix">
                        <div class="form-group"
                             data-ng-class="{
                                                    'has-error' : addNewForm.floors.$invalid && (!addNewForm.floors.$pristine || showValid),
                                                    'has-success': addNewForm.floors.$valid && !addNewForm.floors.$pristine
                                                 }">

                            <div class="form-group form-bx f-unit">
                                <label for="">How many units are there on this floor?</label>
                                <input type="text" autofocus name="floors" class="form-control" id="addNewFloorNoOfUnits"
                                       placeholder="Units "
                                       data-ng-model="params.no_of_units"
                                       minlength="1"
                                       maxlength="10"
                                       ng-pattern="/^([0-9][0-9]*)$/"
                                       required />
                                <div ng-messages="addNewForm.floors.$error" style="color:maroon" role="alert">
                                    <div ng-message="required" data-ng-if="addNewForm.floors.$invalid && (!addNewForm.floors.$pristine || showValid) && !addNewForm.floors.$focus">This field should not be empty </div>
                                    <div ng-message="pattern" id="err_addNewFloorNoOfUnits">Enter valid value for floor number</div>
                                </div>
                            </div>
                           <div class="field-md6 field-req">*</div>
                        </div>
                    </div>

                    <div class="clearfix">
                        <div class="form-group"
                             data-ng-class="{
                                             'has-error' : addNewForm.tname.$invalid && (!addNewForm.tname.$pristine || showValid),
                                             'has-success': addNewForm.tname.$valid && !addNewForm.tname.$pristine
                                                 }">

                            <div class="form-group form-bx form-bx3-2 ">
                                <label for="">Enter floor type name:</label>
                                <input type="text" autofocus name="tname" class="form-control" id="addNewFloorName"
                                       placeholder="Floor Name"
                                       data-ng-model="params.unit_name"
                                       minlength="1"
                                       maxlength="40"
                                       ng-pattern="/^[a-z 0-9\s.]+$/i"
                                       required />
                                <div ng-messages="addNewForm.tname.$error" style="color:maroon" role="alert">
                                    <div ng-message="required" data-ng-if="addNewForm.tname.$invalid && (!addNewForm.tname.$pristine || showValid) && !addNewForm.tname.$focus">This field should not be empty </div>
                                    <div ng-message="pattern" id="err_addNewFloorName">Enter valid value for floor name</div>
                                </div>
                            </div>
                       <span class="field-md2 field-req">*</span>
                        </div>
                    </div>

                    <div class="clearfix image-upload-container">
                        <div class="modal-body image-upload-wrap" nv-file-drop="" uploader="uploader" filters="queueLimit, customFilter">
                            <div class="image-upload-title">Upload Floor Image</div>
                            <div class="dropzone dropzone-bx image-upload-bx">
                                <div class="fallback">
                                    <div class="panel panel-success" uploader="uploader" nv-file-over="">

                                        <div class="image-upload-panel">
                                            <div class="row" ng-hide="uploader.queue.length">
                                                <div class="col-lg-2 col-md-2 col-sm-12"></div>
                                               
                                                <div class="col-lg-2 col-md-8 col-sm-12"></div>
                                            </div>
                                            <div class="row" ng-show="uploader.queue.length">
                                                <div class="user-photo_5" ng-repeat="item in uploader.queue">
                                                    <img id="fetch" src="#" class="image1" />
                                                </div>
                                            </div>
                                        </div>
                                        <!--<div class="image-upload-panel">
                                            <div class="row" ng-hide="uploader.queue.length">
                                                <div class="col-lg-2 col-md-2 col-sm-12"></div>
                                                <div class="col-lg-8 col-md-8 col-sm-12 col-xs-4" style="height:100%">
                                                
                                                </div>
                                                <div class="col-lg-2 col-md-8 col-sm-12"></div>
                                            </div>
                                            <div class="row" ng-show="uploader.queue.length">
                                                <div class="col-sm-6 last" ng-repeat="item in uploader.queue">
                                                    <div ng-show="uploader.isHTML5"
                                                         ng-thumb="{ file: item._file, height: 200 }"></div>
                                                </div>
                                            </div>
                                        </div>-->
                                    </div>
                                </div>
                            </div>
                            <div class="uploadFileName"><p ng-show="uploader.queue.length"> {{uploader.queue[0]._file.name}}</p></div>
                   
                            <label class="custom-file-input">
                                <input type="file" class="image-upload-f" id="addNewFloorNameUpload1" value="Browse" accept="image/*" nv-file-select="" uploader="uploader" />
                            </label>
                            </div>

                            <div class="modal-body image-upload-wrap" nv-file-drop="" uploader="uploader1" filters="queueLimit, customFilter">
                                <div class="image-upload-title">Upload 3D Zip</div>
                                <div class="dropzone dropzone-bx image-upload-bx">
                                    <div class="fallback">


                                        <div class="panel panel-success" uploader="uploader1" nv-file-over="">
                                            

                                            <div class="image-upload-panel">
                                                <div class="row" ng-hide="uploader1.queue.length">
                                                    <div class="col-lg-2 col-md-2 col-sm-12"></div>
                                                    <div class="col-lg-8 col-md-8 col-sm-12 col-xs-4" style="height:100%">
                                                       
                                                    </div>
                                                    <div class="col-lg-2 col-md-8 col-sm-12"></div>
                                                </div>
                                                <div class="row" ng-show="uploader1.queue.length">
                                                    <div class="col-sm-6 last" ng-repeat="item in uploader1.queue">
                                                        <div ng-show="uploader1.isHTML5"
                                                             ng-thumb="{ file: item._file, height: 200 }"></div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="uploadFileName"><p ng-show="uploader1.queue.length"> {{uploader1.queue[0]._file.name}}</p></div>
                            
                                <label class="custom-file-input">
                                    <input type="file" class="image-upload-f" id="addNewFloorNameUpload2" value="Browse" accept="application/zip" nv-file-select="" uploader="uploader1" />
                                </label>
                                </div>
                           
                        </div>

                            <h4 class="form-title form-title2">Assign Unit Type</h4>
                         
                        <div class="row" data-ng-repeat="unit in units ">

                            <div class="clearfix" style="margin-left:2%">

                                <div class="pull-left f-half-3">
                                    <div class="clearfix">
                                        <div class="form-group form-bx">
                                            <label for="">Unit Type</label>
                                            <input type="text" disabled autofocus class="form-control" id="addNewFloorUnitTypeDesc"
                                                   placeholder="Unit Type"
                                                   data-ng-model="unit.unit_type_desc"
                                                   input-focus />
                                        </div>
                                    </div>

                                </div>

                                <div class="pull-left f-half-4">
                                    <div class="clearfix">
                                        <div class="form-group form-bx">
                                            <label for="">Unit No.</label>
                                            <input type="text" autofocus class="form-control" id="addNewFloorNoOfUnit"
                                                   placeholder="Unit No"
                                                   data-ng-model="unit.no_of_units "
                                                   input-focus />
                                        </div>
                                    </div>
                                    <div class="clearfix">
                                        <div class="form-group"
                                             >
                                            <div class="form-group form-bx">
                                                <input type="hidden" disabled autofocus name="floortype" id="addNewFloorUnit" class="form-control"
                                                       placeholder="Unit Type"
                                                       data-ng-model="unit.id"
                                                      
                                                       input-focus />
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        

                            <div class="progress" ng-show="((uploader.progress+uploader1.progress)/2)>0">
                                <div class="progress-bar" role="progressbar"
                                     ng-style="{ 'width': (uploader.progress+uploader1.progress)/2 + '%' }"></div>
                            </div>

                     <!--<a ng-show="showProgress" id="iconEdit" ng-click="CanceUpload()" data-toggle="modal" style="cursor:pointer;align-content:center"><span class="edit-icon"></span></a>-->

                            <div class="modal-btn-wrap3 clearfix">
                                <button class="btn btn-primary" type="submit" id="btn_addeNewFloorSave">
                                    Save
                                </button>
                            </div>

</form>
            </div><!-- modal-body ended -->
</div><!-- modal ended -->
<script>
        function readURL(input) {
            if (input.files && input.files[0]) {
                var reader = new FileReader();
                reader.onload = function (e) {
                    $('#fetch').attr('src', e.target.result);
                }
                reader.readAsDataURL(input.files[0]);
            }
        }
        $("#addNewFloorNameUpload1").change(function () {
            readURL(this);
        });
</script>

<!--ng-disabled="!uploader.getNotUploadedItems().length && !uploader1.getNotUploadedItems().length && !uploader2.getNotUploadedItems().length"-->