<div id="add_new_floor" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">

    <div class="modal-header">
        <h4 class="form-title" style="text-align:left">Add New Images</h4>
        <div class="close-btn-wrap" style="height:0px!important">
            <button type="button" id="btn_galleryClose" data-toggle="tooltip" title="Close Tab" style="margin-top:-4%" class="close" data-dismiss="modal" aria-label="Close" ng-click="$dismiss('cancel')" &times;><span aria-hidden="true">&times;</span></button>
        </div>
    </div>
    <div class="modal-body" nv-file-drop="" uploader="uploader" filters="queueLimit, customFilter">
        <form class="form-content form-content2 edit-organization-setting" name="addNewForm" novalidate data-ng-submit="addNew(addNewForm.$valid)" autocomplete="off">
            <div class="clearfix">
                <div class="form-group"
                     data-ng-class="{
                                                    'has-error' : addNewForm.notes.$invalid && (!addNewForm.notes.$pristine || showValid),
                                                    'has-success': addNewForm.notes.$valid && !addNewForm.notes.$pristine
                                                 }">

                    <div class="form-group form-bx form-bx8">
                        <label for="">Notes</label>
                        <input type="text" autofocus name="notes" class="form-control" id="galleryNotes"
                               placeholder="Add Notes "
                               data-ng-model="notes"
                               alphabets-only
                               required />
                        <div class="text-danger"
                             data-ng-if="addNewForm.notes.$invalid && (!addNewForm.notes.$pristine || showValid) && !addNewForm.notes.$focus" id="err_galleryNotes">
                            {{ 'Enter a proper note' | translate }}
                        </div>
                    </div>

                </div>
            </div>



            <div class="clearfix image-upload-container">
                <div class="modal-body  image-upload-wrap">
                    <div class="image-upload-title">Upload Image</div>
                    <div class="dropzone dropzone-bx image-upload-bx">
                        <div class="fallback">
                            <div class="panel panel-success" uploader="uploader" nv-file-over="">
                                <div class="image-upload-panel">
                                    <div class="row" ng-hide="uploader.queue.length">
                                        <img ng-src={{media_url}} class="upload-image" />
                                    </div>
                                    <div class="row" ng-show="uploader.queue.length">
                                        <div class="user-photo_5" ng-repeat="item in uploader.queue">
                                            <img id="fetch" src="#" class="image1" />
                                        </div>
                                    </div>
                                </div>



                            </div>
                        </div>
                    </div>
                    <div class="uploadFileName"><p ng-show="uploader.queue.length"> {{uploader.queue[0]._file.name}}</p></div>

                    <label class="custom-file-input">
                        <input type="file" class="image-upload-f" id="galleryUpload1" value="Browse" accept="image/*" nv-file-select="" uploader="uploader" />
                    </label>
                </div>
            </div>

            <div class="progress" ng-show="showProgress">
                <div class="progress-bar" role="progressbar"
                     ng-style="{ 'width': (uploader.progress)/1 + '%' }"></div>
            </div>

            <!--<a ng-show="showProgress" id="iconEdit" ng-click="CanceUpload()" data-toggle="modal" style="cursor:pointer;align-content:center"><span class="edit-icon"></span></a>-->

            <div class="modal-btn-wrap3 clearfix">
                <button type="submit" id="btn_gallerySave" class="btn btn-primary"
                        ng-click="showProgress=true;uploader.uploadAll()" ng-disabled="!uploader.getNotUploadedItems().length">
                    Save
                </button>
            </div>

        </form>
    </div><!-- modal-body ended -->


</div>
<script>
    function readURL(input) {
        if (input.files && input.files[0]) {
            var reader = new FileReader();
            reader.onload = function (e) {
                $('#fetch').attr('src', e.target.result);
            }
            reader.readAsDataURL(input.files[0]);
        }
    }
    $("#galleryUpload1").change(function () {
        readURL(this);
    });
</script>