
<div id="add_new_unit" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">
    <div class="modal-header">
        <button id="btn_offersClose" type="button" class="close" data-dismiss="modal" aria-label="Close" ng-click="$dismiss('cancel')" &times;><span aria-hidden="true">&times;</span></button>
        <h4 class="form-title modal-top" style="text-align:left">Add New Offer</h4>
    </div> 
    <div class="modal-body">
        <form class="form-content form-content2 edit-organization-setting" name="addNewForm" novalidate data-ng-submit="addNew(addNewForm.$valid)" autocomplete="off">
            <div class="clearfix">

                <div class="pull-left f-half-3">
                    <div class="clearfix">
                        <div class="form-group"
                             data-ng-class="{
                                                         'has-error' : addNewForm.offername.$invalid && (!addNewForm.offername.$pristine || showValid),
                                                          'has-success': addNewForm.offername.$valid && !addNewForm.offername.$pristine
                                                         }">

                            <div class="form-group form-bx">
                                <label for="">Offer Name</label>
                                <div class="area-f" style="margin-top: 2%;">
                                    <input type="text" autofocus name="offername" class="form-control" id="offerName"
                                           
                                           data-ng-model="params.offer_name"
                                           minlength="1"
                                           maxlength="50"
                                           ng-pattern="/^[a-zA-Z\s]*$/"
                                           input-focus />
                                    <div ng-messages="addNewForm.offername.$error" style="color:maroon" role="alert">
                                        <div ng-message="required" data-ng-if="addNewForm.offername.$invalid && (!addNewForm.offername.$pristine || showValid) && !addNewForm.offername.$focus">This field should not be empty </div>
                                        <div ng-message="pattern" id="err_offerName">Enter valid offer name</div>
                                    </div>
                                </div>
                            </div>
                            
                        </div>

                    </div>
                </div>
            </div>

            <div class="clearfix">

                <div class="pull-left f-half-3">
                    <div class="clearfix">
                        <div class="form-group form-bx ">
                            <div class="form-group"
                                 data-ng-class="{
                                                                        'has-error' : addNewForm.project.$invalid && (!addNewForm.project.$pristine || showValid) && !addNewForm.project.$focus,
                                                                        'has-success': addNewForm.project.$valid && !addNewForm.project.$pristine && !addNewForm.project.$focus
                                                                     }">
                                <label for="" >Select Project</label>
                                <select ng-model="project1" style="margin-top: 2%;" name="project" ng-change="selectproject()" id="offerSelectProject"
                                        class="dropdown form-control" required>
                                    <option value="" selected>Select Project</option>
                                    <option ng-repeat="project in projects"
                                            value="{{project.id}}">
                                        {{project.name}}
                                    </option>

                                </select>
                                <div ng-messages="newForm.project.$error" style="color:maroon" role="alert">
                                    <div ng-message="required" data-ng-if="addNewForm.project.$invalid && (!addNewForm.project.$pristine || showValid) && !addNewForm.project.$focus">This field should not be empty </div>
                                    <div ng-message="pattern" id="err_offerSelectProject">Enter valid project to be assigned</div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>




            </div>

            <div class="clearfix" style="margin-left: 2%;">
                    <div class="col-md-12">
                        <div class="row" style="margin-bottom: 1%;" >
                            <div class="col-md-3" ng-repeat="offer in offers" ><input type="radio" ng-value="offer.id" name="test" ng-model="dicountType[$index].id" ng-click="selectoffers(offer.id,$index)" id="offerTypeName" /> &nbsp;{{offer.type_name}}  </div>
                  
                        </div>
                    </div>
                    <div class="com-md-12">
                        <div class="row">
                            <div class="col-md-3" ng-repeat="offer in offers">
                                <div class="form-group"
                                     data-ng-class="{
                                                                        'has-error' : addNewForm.dperecent.$invalid && (!addNewForm.dperecent.$pristine || showValid),
                                                                        'has-success': addNewForm.dperecent.$valid && !addNewForm.dperecent.$pristine
                                                                            }">
                                    <div class="form-group form-bx unit-type">
                                        <label for=""></label>
                                        <input type="text" class="form-control" autofocus name="dperecent" id="offerDiscPercent"
                                          
                                               data-ng-model="dicountType[$index].value"
                                               input-focus 
                                               ng-disabled="!dicountType[$index].enable"/>
                                        <div class="text-danger"
                                             data-ng-if="addNewForm.dperecent.$invalid && (!addNewForm.dperecent.$pristine || showValid) && !addNewForm.dperecent.$focus" id="err_offerDiscPercent">
                                            {{ 'Enter valid discount percentage' | translate }}
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
            </div>

            <div class="clearfix">

                <div class="pull-left f-half-3">
                  
                    <div class="clearfix">

                        <div class="form-group"
                             data-ng-class="{
                                        'has-error' : addNewForm.Description.$invalid && (!addNewForm.Description.$pristine || showValid) && !addNewForm.Description.$focus,
                                        'has-success': addNewForm.Description.$valid && !addNewForm.Description.$pristine && !addNewForm.Description.$focus
                                    }">
                            
                            <div class="col-md-7" style="margin-top: 2%;">
                           <div style="margin-bottom: 2%;"> <label for="">Description</label></div>
                            <textarea id="txt_offerDesc" autofocus kendo-editor k-ng-model="params.description"></textarea>
                                </div>
                            <div class="text-danger"
                                 data-ng-if="addNewForm.Description.$invalid && (!addNewForm.Description.$pristine || showValid) && !addNewForm.Description.$focus">
                                {{ 'Enter valid Description' | translate }}
                            </div>
                        </div>


                    </div>
                </div>




            </div>

            



            <div class="modal-btn-wrap5 modal-btn-wrap6 clearfix" style="margin-top: 4%;">
                <div class="btn-f-c">
                    <button type="submit" class="f-btn " id="btn_offerSave">
                        SAVE
                    </button>
                </div>
                <div class="btn-f-c">
                    <button type="button" class="f-btn2" id="btn_offerCancel" ng-click="$dismiss('cancel')">CANCEL</button>
                </div>
            </div>

        </form>
    </div><!-- modal-body ended -->


</div><!-- modal ended -->
