

    <header class="navbar navbar-default navbar-fixed-top header2">
        <div class="container">

            <div class="pull-left logo" style="margin-top: 2%;">
                <a href="/">
                    <img src="assets/images/logo.png" alt="" />
                </a>
            </div><!-- logo ended -->

            <!--<div class="pull-right reg-wrap" style="margin-top: 2%;">
                <a href="#" class="btn btn-primary">SIGN UP</a>
                <a href="#" class="btn btn-primary">LOGIN</a>
            </div>--><!-- reg-btn ended -->

            <nav class="navbar navbar-default pull-right main-navbar" style="border: none;background: none;margin-bottom: 0px;">

                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                </div>

                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                    <ul class="nav navbar-nav">
                        <li id="builder_home"><a href="#">HOME</a></li>
                        <li id="builder_feature"><a href="#">FEATURE</a></li>
                        <li id="builder_plans"><a href="#">PLANS</a></li>
                        <li id="builder_builderdir"><a ui-sref="builder_directory">BUILDER DIRECTORY</a></li>
                        <li id="builder_contact"><a href="#">CONTACT US</a></li>
                    </ul>
                </div>

            </nav><!-- main-navbar ended -->

        </div>
    </header>
       



    <section id="content2" class=builde-directory-wrap>

        <div class="container">
            <form name="newForm" class="form-horizontal" autocomplete="off" novalidate
                  data-ng-submit="builderDirectoryDetails(newForm.$valid)">

                <div class="row">



                    <div id="main-content-1" class="col-xs-12">
                        <div class="content-inner">

                            <div class="builder-header">
                                <div class="row">

                                    <div class="col-md-6">
                                        <h2 class="builder-title">Builder Directory</h2>
                                    </div>

                                    <div class="col-md-6">
                                        <div class="row">
                                            <div class="col-md-5"> <input id="search_city" placeholder="Search City" class="form-control" /> </div>
                                            <div class="col-md-5" style="margin-left: 7%;">
                                                <select id="select-citys" class="form-control">
                                                    <option>Select City</option>
                                                    <option>Paris</option>
                                                    <option>New York</option>
                                                    <option>London</option>
                                                    <option>Singapore</option>
                                                    <option>Kuala Lumpur</option>
                                                    <option>Hong Kong</option>
                                                    <option>Bangkok</option>
                                                </select>
                                            </div>
                                        </div>
                                    </div>

                                </div>
                            </div><!-- builder-header ended -->

                        </div>

                        <div class="builder-content">
                            <div class="content-inner builder-inner">

                                <div class="builder-listing-wrap clearfix">

                                    <div class="builder-item" ng-repeat="user in orgUsers">
                                        <div class="builder-item-inner">

                                            <div class="builder-img-wrap">
                                                <div class="builder-img">
                                                    <img src={{user.meadia_logo}} class="img-responsive" alt="" />
                                                </div>
                                            </div>

                                            <div class="builder-item-content">
                                                <!--<button class="apply-btn" type="submit">Apply</button>-->
                                                <input type="hidden" name="someData" value="{{user.org_id}}" />
                                                <a data-id="{{user.org_id}}" ng-click="customNavigate($event)" class="apply-btn" style="cursor:pointer">Apply</a>
                                                <h4><span>{{user.OrganizationName}}</span></h4>
                                                <div class="builder-detail">
                                                    <div class="clearfix">
                                                        <div class="box-1">
                                                            Total Project <span>{{user.BuilderProjCount}}</span>
                                                        </div>
                                                        <div class="box-1">
                                                            {{user.ProjLast}}
                                                        </div>
                                                    </div>
                                                    <div class="box-t"></div>

                                                </div>
                                            </div>

                                        </div>
                                    </div>



                                </div><!-- building-listing-wrap ended -->

                            </div>
                        </div><!-- builder-content ended -->

                    </div><!-- main-content ended -->

                </div>
            </form>
</div>
        
        </section><!-- content ended -->





<footer>

    <div id="footer-bottom" class="footer-bottom2">
        <div class="container">

            <a href="#">Privacy Statement</a> | <a href="#">Site Map</a>

            <div class="pull-left copyright">
                &COPY; Copyright 2000-2015 Dwellar Pvt.Ltd. All rights reserved.
            </div>

            <div class="pull-right footer-logo">
                <img src="assets/images/footer-logo.png" alt="" />
            </div>

        </div>
    </div>
</footer>