

<div id="main-content" class="col-xs-12">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close" ng-click="$dismiss('cancel')"><span aria-hidden="true">&times;</span></button>
    </div>
    <div class="pg-inner-content2 pg-inner-content2-2">
        <div class=" content-inner-bx">


            
                <h2 class="pg-inner-title">New Channel Partner Request</h2>
            
            <div class="pull-right btn-wrap-right">
                <button class="btn-lk" id="btn_channelreq_app" ng-click="openAcceptPopup()">Approve</button>
                <button class="btn-lk" id="btn_channelreq_decline" ng-click="openDeclinePopup()">Decline</button>

            </div>
        </div>
    </div>

        <div class="pg-inner-content2 pg-inner-content2-2">
            <div class="content-inner-bx">
                <div class="clearfix">
                    <div class="pull-left company-profile-half">
                        <div class="company-profile-row clearfix">
                            <div class="pull-left profile-row1">First Name : </div>
                            <div class="pull-right profile-row2">
                                <label class="label-group">
                                    <h4 ng-bind="first_name"></h4>
                                </label>
                            </div>
                        </div>

                        <div class="company-profile-row clearfix">
                            <div class="pull-left profile-row1">Enrollment No : </div>
                            <div class="pull-right profile-row2">
                                <label class="label-group">
                                    <h4 ng-bind="enrollment_no"></h4>
                                </label>
                            </div>
                        </div>

                        <div class="company-profile-row clearfix">
                            <div class="pull-left profile-row1">Types of operations : </div>
                            <div class="pull-right profile-row2">
                                <label class="label-group">
                                    <h4 ng-bind="type_of_operation"></h4>
                                </label>
                            </div>
                        </div>

                    </div>
                    <div class="pull-left company-profile-half company-profile-half-2">
                        <div class="company-profile-row clearfix">
                            <div class="pull-left profile-row1">Last Name : </div>
                            <div class="pull-right profile-row2">
                                <label class="label-group">
                                    <h4 ng-bind="last_name"></h4>
                                </label>
                            </div>
                        </div>

                        <div class="company-profile-row clearfix">
                            <div class="pull-left profile-row1">Project Site : </div>
                            <div class="pull-right profile-row2">
                                <label class="label-group">
                                    <h4 ng-bind="project_site"></h4>
                                </label>
                            </div>
                        </div>

                    </div>
                </div>
            </div><!-- content-inner-bx ended -->
        </div>

        <div class="pg-inner-content2 pg-inner-content2-2">
            <div class="content-inner-bx">
                <div class="clearfix">
                    <div class="pull-left company-profile-half">
                        <div class="company-profile-row clearfix">
                            <div class="pull-left profile-row1"> Pan No :</div>
                            <div class="pull-right profile-row2">
                                <label class="label-group">
                                    <h4 ng-bind="pan_no"></h4>
                                </label>
                            </div>
                        </div>

                        <div class="company-profile-row clearfix">
                            <div class="pull-left profile-row1">Chaque issued to be name : </div>
                            <div class="pull-right profile-row2">
                                <label class="label-group">
                                    <h4 ng-bind="chequeissuedname"></h4>
                                </label>
                            </div>
                        </div>



                    </div>
                    <div class="pull-left company-profile-half company-profile-half-2">

                        <div class="company-profile-row clearfix">
                            <div class="pull-left profile-row1"> Service Tax No : </div>
                            <div class="pull-right profile-row2">
                                <label class="label-group">
                                    <h4 ng-bind="servicetaxno"></h4>
                                </label>
                            </div>
                        </div>

                    </div>
                </div>
            </div><!-- content-inner-bx ended -->
        </div>

        <div class="pg-inner-content2 pg-inner-content2-2">
            <div class="content-inner-bx">
                <div class="clearfix">
                    <div class="pull-left company-profile-half">
                        <div class="company-profile-row clearfix">
                            <div class="pull-left profile-row1">Are you associate with any other real estate company</div>
                            <div class="pull-right profile-row2">
                                <label class="label-group">
                                    <h4 ng-bind="real_estate"></h4>
                                </label>
                            </div>
                        </div>

                        <div class="company-profile-row clearfix">
                            <div class="pull-left profile-row1">Area Of Specialization : </div>
                            <div class="pull-right profile-row2">
                                <label class="label-group">
                                    <h4 ng-bind="area_of_specialization"></h4>
                                </label>
                            </div>
                        </div>



                    </div>
                    <div class="pull-left company-profile-half company-profile-half-2">

                        <div class="company-profile-row clearfix">
                            <div class="pull-left profile-row1">Primary Occupations : </div>
                            <div class="pull-right profile-row2">
                                <label class="label-group">
                                    <h4 ng-bind="primary_occupations"></h4>
                                </label>
                            </div>
                        </div>
                        <div class="company-profile-row clearfix">
                            <div class="pull-left profile-row1">Total Turnover : </div>
                            <div class="pull-right profile-row2">
                                <label class="label-group">
                                    <h4 ng-bind="total_turnover"></h4>
                                </label>
                            </div>
                        </div>

                    </div>
                </div>
            </div><!-- content-inner-bx ended -->
        </div>

        <div class="pg-inner-content2 pg-inner-content2-2">
            <div class="content-inner-bx">
                <div class="clearfix">
                    <div class="pull-left company-profile-half">
                        <div class="company-profile-row clearfix">
                            <div class="pull-left profile-row1">Address :</div>
                            <div class="pull-right profile-row2">
                                <label class="label-group">
                                    <h4 ng-bind="address"></h4>
                                </label>
                            </div>
                        </div>

                        <div class="company-profile-row clearfix">
                            <div class="pull-left profile-row1">State : </div>
                            <div class="pull-right profile-row2">
                                <label class="label-group">
                                    <h4 ng-bind="state"></h4>
                                </label>
                            </div>
                        </div>

                        <div class="company-profile-row clearfix">
                            <div class="pull-left profile-row1">Pin :</div>
                            <div class="pull-right profile-row2">
                                <label class="label-group">
                                    <h4 ng-bind="pin"></h4>
                                </label>
                            </div>
                        </div>

                        <div class="company-profile-row clearfix">
                            <div class="pull-left profile-row1">Office Phone : </div>
                            <div class="pull-right profile-row2">
                                <label class="label-group">
                                    <h4 ng-bind="office_phone"></h4>
                                </label>
                            </div>
                        </div>



                    </div>
                    <div class="pull-left company-profile-half company-profile-half-2">

                        <div class="company-profile-row clearfix">
                            <div class="pull-left profile-row1">Email Id :</div>
                            <div class="pull-right profile-row2">
                                <label class="label-group">
                                    <h4 ng-bind="email"></h4>
                                </label>
                            </div>
                        </div>
                        <div class="company-profile-row clearfix">
                            <div class="pull-left profile-row1">City : </div>
                            <div class="pull-right profile-row2">
                                <label class="label-group">
                                    <h4 ng-bind="city"></h4>
                                </label>
                            </div>
                        </div>

                        <div class="company-profile-row clearfix">
                            <div class="pull-left profile-row1">Website URL :</div>
                            <div class="pull-right profile-row2">
                                <label class="label-group">
                                    <h4 ng-bind="website_url"></h4>
                                </label>
                            </div>
                        </div>

                        <div class="company-profile-row clearfix">
                            <div class="pull-left profile-row1">Mobile : </div>
                            <div class="pull-right profile-row2">
                                <label class="label-group">
                                    <h4 ng-bind="mobile"></h4>
                                </label>
                            </div>
                        </div>

                    </div>
                </div>
            </div><!-- content-inner-bx ended -->
        </div>

    </div>

