
<header class="navbar navbar-default navbar-fixed-top header2">
    <div class="container">

        <div class="pull-left logo">
            <!--<a href="/">-->
                <img src="assets/images/logo.png" alt="" />
            <!--</a>-->
        </div><!-- logo ended -->
        <!--<div class="pull-right reg-wrap">
            <a href="#" class="h-btn">SIGN UP</a>
            <a href="#" class="h-btn">LOGIN</a>
        </div>-->
        <!-- reg-btn ended -->

        <nav class="navbar navbar-default pull-right main-navbar">

            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
            </div>

            <!--<!--<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li id="orgz_home"><a href="#">HOME</a></li>
                    <li id="orgz_features"><a href="#">FEATURES</a></li>
                    <li id="orgz_plans"><a href="#">PLANS</a></li>
                    <li id="orgz_builder"><a ui-sref="builder_directory">BUILDER DIRECTORY</a></li>
                    <li id="orgz_contact"><a href="#">CONTACT US</a></li>
                </ul>
            </div>-->

        </nav><!-- main-navbar ended -->

    </div>
</header>


<section id="content2">

    <div class="container">
        <div class="signup">
            <div class="row">

                <div class="col-md-7">
                    <div class="col-sm-1"></div>
                    <h2 class="title"><b>Sign Up</b></h2>
                    <div class="col-sm-1"> </div>
                  

                    <ul class="state-bar" data-ng-if="breadcrumb<=2">
                        <li data-ng-class="{ 'selected': breadcrumb>0, 'current': breadcrumb==0 }">Personal Info</li>
                        <li data-ng-class="{ 'selected': breadcrumb>1,'current': breadcrumb==1 }">Organization</li>
                        <li data-ng-class="{ 'selected': breadcrumb>2,'current': breadcrumb==2 }">Billing</li>
                        <li data-ng-class="{ 'selected': breadcrumb>3,'current': breadcrumb==3 }">Complete</li>
                    </ul>

                    <div data-ng-include="'guest/signup/personal_info/personal_info.tpl.html'" data-ng-if="breadcrumb===0"></div>
                    <div data-ng-include="'guest/signup/organization/organization.tpl.html'" data-ng-if="breadcrumb===1"></div>
                    <div data-ng-include="'guest/signup/bill/bill.tpl.html'" data-ng-if="breadcrumb===2"></div>


                    <div class="organization-container">

                        <!--<form name="newForm" class="form-horizontal" autocomplete="off" novalidate>-->

                        <form name="newForm" class="form-horizontal" autocomplete="off" novalidate
                              data-ng-submit="addPersonalInfo(newForm.$valid)">

                            <div class="row">
                                <div class="col-sm-1"></div>
                                <div class="col-sm-6">
                                    <label><input type="radio" id="orgz_broker" name="test" ng-model="radioValue" value="1" ng-checked="true" />&nbsp; Broker</label>
                                    &nbsp; &nbsp; &nbsp;<label><input type="radio" id="orgz_Builder" name="test" ng-model="radioValue" value="2" /> &nbsp; Builder</label>
                                </div>
                                <div class="col-sm-6">

                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-1"></div>
                                <div class="col-sm-5">

                                    <div class="form-group"
                                         data-ng-class="{
                            'has-error' : newForm.name.$invalid && (!newForm.name.$pristine || showValid),
                            'has-success': newForm.name.$valid && !newForm.name.$pristine  }">
                                        <div class="col-xs-12">

                                            <label class="label-group">
                                                <input type="text" name="name" class="form-control" id="orgz_name" autofocus
                                                       placeholder="Organization Name"
                                                       data-ng-model="params.name"
                                                       alphabets-only
                                                       ng-pattern="/^[a-zA-Z 0-9 -/,\s]*$/"
                                                       required />
                                            </label>
                                            <div class="text-danger"
                                                 data-ng-if="newForm.name.$invalid && (!newForm.name.$pristine || showValid) && !newForm.name.$focus">
                                                {{ 'Please enter valid Organization Name' | translate }}
                                            </div>
                                        </div><div class="field-mdl field-req">*</div>
                                    </div>
                                </div>
                                <div class="col-sm-5">
                                    <div class="form-group"
                                         data-ng-class="{
                            'has-error' : newForm.street_1.$invalid && (!newForm.street_1.$pristine || showValid),
                            'has-success': newForm.street_1.$valid && !newForm.street_1.$pristine
                        }">
                                        <div class="col-xs-12">
                                            <label class="label-group">
                                                <input type="text" name="street_1" class="form-control" id="orgz_street1"
                                                       placeholder="Street 1"
                                                       data-ng-model="params.street_1"
                                                       ng-pattern="/^[a-zA-Z 0-9 ',_#/:.&-()\s]*$/"
                                                       required />
                                            </label>
                                            <div class="text-danger"
                                                 data-ng-if="newForm.street_1.$invalid && (!newForm.street_1.$pristine || showValid) && !newForm.street_1.$focus">
                                                {{ 'Please enter valid Street' | translate }}
                                            </div>
                                        </div><div class="field-mdl field-req">*</div>
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-sm-1"></div>
                                <div class="col-sm-5">
                                    <div class="form-group"
                                         data-ng-class="{
                            'has-error' : newForm.street_2.$invalid && (!newForm.street_2.$pristine || showValid),
                            'has-success': newForm.street_2.$valid && !newForm.street_2.$pristine && !!params.street_2
                        }">
                                        <div class="col-xs-12">
                                            <label class="label-group">
                                                <input type="text" name="street_2" class="form-control" id="orgz_street2"
                                                       placeholder="Street 2"
                                                       data-ng-model="params.street_2"
                                                       ng-pattern="/^[a-zA-Z 0-9 ',_#/:.&-()\s]*$/"
                                                       required />
                                            </label>
                                            <div class="text-danger"
                                                 data-ng-if="newForm.street_2.$invalid && (!newForm.street_2.$pristine || showValid) && !newForm.street_2.$focus">
                                                {{ 'Please enter valid Street 2' | translate }}
                                            </div>
                                        </div><div class="field-mdl field-req">*</div>
                                    </div>
                                </div>
                                <div class="col-sm-5">
                                    <div class="form-group"
                                         data-ng-class="{
                            'has-error' : newForm.street_3.$invalid && (!newForm.street_3.$pristine || showValid),
                            'has-success': newForm.street_3.$valid && !newForm.street_3.$pristine && !!params.street_3
                        }">
                                        <div class="col-xs-12">
                                            <label class="label-group">
                                                <input type="text" name="street_3" class="form-control" id="orgz_street3"
                                                       placeholder="Street 3"
                                                       data-ng-model="params.street_3"
                                                       ng-pattern="/^[a-zA-Z 0-9 ',_#/:.&-()\s]*$/"
                                                       required />
                                            </label>
                                            <div class="text-danger"
                                                 data-ng-if="newForm.street_3.$invalid && (!newForm.street_3.$pristine || showValid) && !newForm.street_3.$focus">
                                                {{ 'Please enter valid Street 3' | translate }}
                                            </div>
                                        </div><div class="field-mdl field-req">*</div>
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-sm-1"></div>
                                <div class="col-sm-5">
                                    <div class="form-group"    data-ng-class="{
                            'has-error' : newForm.country.$invalid && (!newForm.country.$pristine || showValid),
                            'has-success': newForm.country.$valid && !newForm.country.$pristine && !!params.country
                        }">
                                        <div class="col-xs-10">

                                            <select ng-model="country1"  name="country"  id="orgz_country" ng-change="selectcountry()" class="dropdown form-control" required>
                                                <option value="" selected> Country</option>
                                                <option ng-repeat="country in countries  "
                                                        value="{{country.id}}">
                                                    {{country.country_name}}
                                                </option>
                                            </select>
                                            <div class="text-danger"
                                                 data-ng-if="newForm.country.$invalid && (!newForm.country.$pristine || showValid) && !newForm.country.$focus">
                                                {{ 'Please enter valid Country' | translate }}
                                            </div>
                                        </div><div class="field-mdl field-req">*</div>
                                    </div>
                                </div>
                                <div class="col-sm-5">
                                    <div class="form-group"  data-ng-class="{
                            'has-error' : newForm.State.$invalid && (!newForm.State.$pristine || showValid),
                            'has-success': newForm.State.$valid && !newForm.State.$pristine && !!params.State
                        }" >
                                        <div class="col-xs-10">
                                            <select ng-model="state1" name="State" id="orgz_state" ng-change="selectstate()" class="dropdown form-control" required>
                                                <option value="" selected> State</option>
                                                <option ng-repeat="state in states"
                                                        value="{{state.state_id}}">
                                                    {{state.state_name}}
                                                </option>
                                            </select>
                                            <div class="text-danger"
                                                 data-ng-if="newForm.country.$invalid && (!newForm.country.$pristine || showValid) && !newForm.country.$focus">
                                                {{ 'Please enter valid State' | translate }}
                                            </div>
                                        </div><div class="field-mdl field-req">*</div>
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-sm-1"></div>
                                <div class="col-sm-5">
                                    <div class="form-group" data-ng-class="{
                            'has-error' : newForm.City.$invalid && (!newForm.City.$pristine || showValid),
                            'has-success': newForm.City.$valid && !newForm.City.$pristine && !!params.City
                        }">
                                        <div class="col-xs-12">
                                         
                                            <select ng-model="city1" name="City"  id="orgz_city" ng-change="selectcity()" class="dropdown form-control" required>
                                                <option value="" selected>City</option>
                                                <option ng-repeat="city in cities| filter:filterExpression | orderBy:'city_name'"
                                                        value="{{city.city_id}}">
                                                    {{city.city_name}}
                                                </option>
                                            </select>
                                            <div class="text-danger"
                                                 data-ng-if="newForm.City.$invalid && (!newForm.City.$pristine || showValid) && !newForm.City.$focus">
                                                {{ 'Please enter valid City' | translate }}
                                            </div>
                                        </div><div class="field-mdl field-req">*</div>
                                    </div>
                                </div>

                                <div class="col-sm-5">
                                    <div class="form-group"     data-ng-class="{
                            'has-error' : newForm.zip_code.$invalid && (!newForm.zip_code.$pristine || showValid),
                            'has-success': newForm.zip_code.$valid && !newForm.zip_code.$pristine }">

                                      
                                            <div class="col-xs-12">
                                                <label class="label-group">
                                                    <input type="text" name="zip_code" class="form-control" id="orgz_zip" style="width: 92%;margin-left: 16px;"
                                                           placeholder="Postal Code"
                                                           data-ng-model="params.zip_code"
                                                           ng-pattern="/^([1-9][0-9]*)$/"
                                                           minlength="6"
                                                           maxlength="6"
                                                           required />
                                                </label>
                                                <div class="text-danger"
                                                     data-ng-if="newForm.zip_code.$invalid && (!newForm.zip_code.$pristine || showValid)">
                                                    {{ 'Invalid Postal Code' | translate }}
                                                </div>
                                               
                                            </div><div class="field-mdl field-req">*</div>
                                       
                                    </div>
                                </div>

                            </div>

                    

                    <div class="col-sm-1"></div>
                            &nbsp;
                            <button class="btn organization-btn" id="btn_signup" type="submit" ng-click="signup()"><b>< Back</b></button>
                            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                          


                            <button class="btn organization-btn" id="btn_next" type="submit"><b>  Save & Next ></b></button>

                        </form>
                    </div>

                    <div class="profile">
                        <div class="col-sm-1"></div>
                        <div class="media">
                            <div class="media-left pull-left">
                                <a>
                                    <img src="assets/icons/info.png" class="media-object">
                                </a>
                            </div>
                            <div class="media-right">
                                <h4 class="media-heading">John Doe</h4>
                                <p>Dropbox - <span class="position-title">Founder & CEO</span></p>
                            </div>
                            <div class="media-content">
                                <div class="bubble">
                                    <div class="row">
                                        <div class="col-xs-1">
                                            <div class="bubble-quote"></div>
                                        </div>
                                        <div class="col-xs-10">
                                            <div class="bubble-content">
                                                Dwellar not only provided a great learning foundation for what I do on a daily
                                                basis... I now have friends across the globe, who I would never have met had it
                                                not
                                                been for Dwellar . I definitely would not be where I am today in terms of
                                                development both personally and professionally if it wasn't for this community.
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- RIGHT -->
                <div class="col-md-3 left-border">
                    <div class="support">
                        <div class="chat-with-us">
                            <div class="form-group">
                                <button type="button" class="btn btn-default btn-chat-with-us btn-lg">
                                    <b>
                                        CHAT WITH US NOW
                                    </b>
                                    <img src="assets/icons/thumb-bubbles.png">

                                </button>
                            </div>
                        </div>
                        <!-- Customer Support -->
                        <div class="customer-support">
                            <div class="form-group">
                                <div class="support-icon"></div>
                                <div class="content-icon"><b>Customer Support</b></div>
                            </div>
                            <div class="form-group">
                                <div>
                                    <label><b>Landline: </b></label>
                                    <span>0120-4960600</span>
                                </div>
                                <div>
                                    <label><b>India Toll Free: </b></label>
                                    <span>0120-4960600</span>
                                </div>
                                <div>
                                    <label><b>Email: </b></label>
                                    <a href="mailto:support@dwellar.com">support@dwellar.com</a>
                                </div>
                            </div>
                        </div>
                        <hr>
                        <!-- Sales Enquiries -->
                        <div class="sales-enquiries">
                            <div class="form-group">
                                <div class="sale-icon"></div>
                                <div class="content-icon"><b style="color: #289ff1;">Sales Enquiries</b></div>
                            </div>
                            <div class="form-group">
                                <div class="from-india">
                                    FROM INDIA:
                                </div>
                                <div>
                                    <div>
                                        <label><b>India Toll Free: </b></label>
                                        <span>1800-102-2558</span>
                                    </div>
                                    <div>
                                        <label><b>Mobile: </b></label>
                                        <span>+91 9818882211</span>
                                    </div>
                                </div>
                                <div>
                                    <label><b>Email: </b></label>
                                    <a href="mailto:sales@dwellar.com">sales@dwellar.com</a>
                                </div>
                            </div>
                        </div>
                        <!-- Request a call Back -->
                        
                        

                    </div>
                </div>
            </div>
        </div>
    </div>
</section>



<footer>

    <div id="footer-bottom" class="footer-bottom2">
        <div class="container">

            <!--<a href="#">Privacy Statement</a> | <a href="#">Site Map</a>-->

            <div class="pull-left copyright">
                ©Copyright 2016. Dwellar Systems Private Limited. All Rights Reserved.
             
            </div>

            <div class="pull-right footer-logo">
                <img src="assets/images/footer-logo.png" alt="" />
            </div>

        </div>
    </div>
</footer>
