

<header class="navbar navbar-default navbar-fixed-top header2">
    <div class="container">

        <div class="pull-left logo">
            <a href="/">
                <img src="assets/images/logo.png" alt="" />
            </a>
        </div><!-- logo ended -->

        <!--<div class="pull-right reg-wrap">
            <a href="#" class="h-btn">SIGN UP</a>
            <a href="#" class="h-btn">LOGIN</a>
        </div>--><!-- reg-btn ended -->

        <nav class="navbar navbar-default pull-right main-navbar">

            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
            </div>

            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li id="signup_home"><a href="#">HOME</a></li>
                    <li id="signup_feature"><a href="#">FEATURES</a></li>
                    <li id="signup_plans"><a href="#">PLANS</a></li>
                    <li id="signup_builder"><a ui-sref="builder_directory">BUILDER DIRECTORY</a></li>
                    <li id="signup_contact"><a href="#">CONTACT US</a></li>
                </ul>
            </div>

        </nav><!-- main-navbar ended -->

    </div>
</header><!-- header ended -->



<section id="content2" >

    <div class="container">
       
            <div class="signup">
                <div class="row">

                    <div class="col-md-7">
                        <div class="col-sm-1"></div>
                        <h2 class="title" style="margin-left:10px">
                        <b style="margin-left:-15px">Sign Up</b></h2>
                        <div class="col-sm-1"> </div>
                      


                        <ul class="state-bar" data-ng-if="breadcrumb<=2">
                            <li data-ng-class="{ 'selected': breadcrumb>=0 }">Personal Info</li>
                            <li data-ng-class="{ 'selected': breadcrumb>=1 }">Organization</li>
                            <li data-ng-class="{ 'selected': breadcrumb>=2 }">Billing</li>
                            <li data-ng-class="{ 'selected': breadcrumb>=3 }">Complete</li>
                        </ul>

                        <div data-ng-include="'guest/signup/personal_info/personal_info.tpl.html'" data-ng-if="breadcrumb===0"></div>

                        <div data-ng-include="'guest/signup/organization/organization.tpl.html'" data-ng-if="breadcrumb===1"></div>

                        <div data-ng-include="'guest/signup/bill/bill.tpl.html'" data-ng-if="breadcrumb===2"></div>


                        <div class="personal-container">
                            <form name="newForm" class="form-horizontal" autocomplete="off" novalidate
                                  data-ng-submit="addPersonalInfo(newForm.$valid)">



                                <div class="row">
                                    <div class="col-sm-1"></div>
                                    <div class="col-sm-5">
                                        <label class="control-label">First Name</label>
                                        <div class="form-group"
                                             data-ng-class="{
                                        'has-error' : newForm.firstName.$invalid && (!newForm.firstName.$pristine || showValid) && !newForm.firstName.$focus,
                                        'has-success': newForm.firstName.$valid && !newForm.firstName.$pristine && !newForm.firstName.$focus
                                    }">
                                            <div class="col-xs-10">
                                                <label class="label-group">
                                                    <input type="text" name="firstName" class="form-control" id="signup_fname" 
                                                           autofocus
                                                           placeholder="First Name"
                                                           data-ng-model="params.first_name"
                                                           alphabets-only
                                                           input-focus
                                                           maxlength="40"
                                                           ng-pattern="/^[a-zA-Z\s]*$/" 
                                                           required
                                                           />
                                                </label>
                                                <div class="text-danger"
                                                     data-ng-if="newForm.firstName.$invalid && (!newForm.firstName.$pristine || showValid) && !newForm.firstName.$focus">
                                                    {{ 'Please Enter Valid First Name' | translate }}
                                                </div>
                                            </div><div class="field-mdl field-req">*</div>
                                        </div>
                                      
                                    </div>

                                   

                                    <div class="col-sm-5">
                                        <label class="control-label">Last Name</label>
                                        <div class="form-group"
                                             data-ng-class="{
                                        'has-error' : newForm.lastName.$invalid && (!newForm.lastName.$pristine || showValid) && !newForm.lastName.$focus,
                                        'has-success': newForm.lastName.$valid && !newForm.lastName.$pristine && !newForm.lastName.$focus
                                    }">
                                            <div class="col-xs-10">
                                                <label class="label-group">
                                                    <input type="text" name="lastName" class="form-control" id="signup_lname"
                                                           placeholder="Last Name"
                                                           data-ng-model="params.last_name"
                                                           alphabets-only
                                                           input-focus
                                                           maxlength="40"
                                                           ng-pattern="/^[a-zA-Z\s]*$/"
                                                           required
                                                            />
                                                </label>
                                                <div class="text-danger"
                                                     data-ng-if="newForm.lastName.$invalid && (!newForm.lastName.$pristine || showValid) && !newForm.lastName.$focus">
                                                    {{ 'Please Enter Valid Last Name ' | translate }}
                                                </div>
                                            </div><div class="field-mdl field-req">*</div>
                                        </div>
                                    </div>

                                   
                                </div>
                                <div class="row">
                                    <div class="col-sm-1"></div>
                                    <div class="col-sm-5">
                                        <label class="control-label">Email Address</label>
                                        <div class="form-group"
                                             data-ng-class="{
                                        'has-error' : newForm.email.$invalid && (!newForm.email.$pristine || showValid) && !newForm.email.$focus,
                                        'has-success': newForm.email.$valid && !newForm.email.$pristine && !newForm.email.$focus
                                    }">
                                            <div class="col-xs-10">
                                                <label class="label-group">
                                                    <input type="email" name="email" class="form-control" id="signup_email"
                                                           placeholder="Email Address"
                                                           data-ng-model="params.account_email"
                                                           minlength="1"
                                                           maxlength="30"
                                                           ng-pattern="/^[a-z]+[a-z0-9._-]+@[a-z]+\.[a-z.]{2,5}$/"
                                                           ng-model-options="{ updateOn: 'blur' }"
                                                           required />
                                                </label>
                                                <label class="normal-message"
                                                       data-ng-if="!(newForm.email.$invalid && (!newForm.email.$pristine || showValid))">
                                                    This will be your username
                                                </label>
                                                <div class="text-danger"
                                                     data-ng-if="newForm.email.$invalid && (!newForm.email.$pristine || showValid) && !newForm.email.$focus">
                                                    {{ 'Please Enter Valid Email Address' | translate }}
                                                </div>
                                            </div><div class="field-mdl field-req">*</div>
                                        </div>
                                    </div>
                                    
                                    <div class="col-sm-5">
                                        <div class="form-group">
                                            <div class="col-xs-10">
                                                <label for="" class="hidden-xs">Country</label>
                                                <select ng-model="state1" ng-change="selectcountry()" id="signup_country" class="dropdown form-control">
                                                  
                                                    <option value="" selected>--Choose Country--</option>
                                                    <option required ng-repeat="country in countries  "
                                                            value="{{country.id}}">
                                                        {{country.country_name}}
                                                    </option>
                                                </select>
                                            </div><div class="field-mdl field-req" style="vertical-align:central">*</div>
                                        </div>
                                    </div>
                                    
                                </div>
                                <div class="row">
                                    <div class="col-sm-1"></div>
                                    <div class="col-sm-5">
                                        <label class="control-label">Password</label>
                                        <div class="form-group"
                                             data-ng-class="{
                                         'has-error' : newForm.password.$invalid && (!newForm.password.$pristine || showValid) && !newForm.password.$focus,
                                'has-success': newForm.password.$valid && !newForm.password.$pristine && !newForm.password.$focus
                                    }">
                                            <div class="col-xs-10">
                                                <label class="label-group">
                                                    <input type="password" name="password" class="form-control" id="signup_orgname"
                                                           placeholder="Password"
                                                           data-ng-model="params.OrgName"
                                                           ng-minlength="8"
                                                           ng-maxlength="25"
                                                           input-focus
                                                           ng-pattern="/(?=.*[a-z])(?=.*[A-Z])(?=.*[^a-zA-Z])/"
                                                           required />
                                                </label>
                                                <div class="text-danger"
                                                     data-ng-if="newForm.password.$invalid && (!newForm.password.$pristine || showValid) && !newForm.password.$focus">
                                                    {{ 'password is weak...'| translate }}
                                                </div>
                                            </div><div class="field-mdl field-req">*</div>
                                        </div>
                                    </div>
                                    <div class="col-sm-5">
                                        <label class="control-label">Repeat Password</label>
                                        <div class="form-group"
                                             data-ng-class="{
                                        'has-error' : newForm.confirmPassword.$invalid && (!newForm.confirmPassword.$pristine || showValid) && !newForm.confirmPassword.$focus,
                                        'has-success': newForm.confirmPassword.$valid && !newForm.confirmPassword.$pristine && !newForm.confirmPassword.$focus
                                    }">
                                            <div class="col-xs-10">
                                                <label class="label-group">
                                                    <input type="password" name="confirmPassword" class="form-control" id="signup_pass"
                                                           placeholder="Repeat Password"
                                                           data-ng-model="params.Password"
                                                           compareto="params.OrgName"
                                                           input-focus
                                                           required>
                                                </label>
                                                <div ng-if="newForm.confirmPassword.$error"></div>
                                                <div class="text-danger"
                                                     data-ng-if="newForm.confirmPassword.$invalid && (!newForm.confirmPassword.$pristine || showValid) && !newForm.confirmPassword.$focus">
                                                    {{ 'Please Enter Valid Password' | translate }}
                                                </div>
                                            </div><div class="field-mdl field-req">*</div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-1"></div>
                                    <div class="col-sm-5">
                                        <label class="control-label">Phone Number</label>
                                        <div class="form-group"
                                             data-ng-class="{
                                'has-error' : newForm.phone.$invalid && (!newForm.phone.$pristine || showValid) && !newForm.phone.$focus,
                                'has-success': newForm.phone.$valid && !newForm.phone.$pristine && !newForm.phone.$focus
                            }">
                                            <div class="col-sm-10">
                                                <label class="label-group">
                                                    <input type="text" name="phone" class="form-control" id="signup_phone"
                                                           placeholder="Phone Number"
                                                           data-ng-model="params.account_phone"
                                                           minlength="10"
                                                           maxlength="10"
                                                           ng-pattern="/^[0-9]*$/"
                                                           numbers-only
                                                           required />
                                                </label>
                                                <lable class="normal-message"
                                                       data-ng-if="!(newForm.phone.$invalid && (!newForm.phone.$pristine || showValid))">
                                                      Needed for verification
                                                </lable>
                                                <div class="text-danger"
                                                     data-ng-if="newForm.phone.$invalid && (!newForm.phone.$pristine || showValid) && !newForm.phone.$focus">
                                                    {{ 'Please Enter 10 Digit Phone Number' | translate }}
                                                </div>
                                            </div><div class="field-mdl field-req">*</div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-1"></div>
                                    <div class="col-sm-5">
                                        
                                        <button class="btn organization-btn" id="btn_signup_save" type="submit"><b>SAVE & NEXT ></b></button>
                                        
                                    </div>
                                </div>
                            </form>
                        </div>

                        <div class="profile">
                            <div class="col-sm-1"></div>
                            <div class="media">
                                <div class="media-left pull-left">
                                    <a>
                                        <img src="assets/icons/info.png" class="media-object">
                                    </a>
                                </div>
                                <div class="media-right">
                                    <h4 class="media-heading">John Doe</h4>

                                    <p>Dropbox - <span class="position-title">Founder & CEO</span></p>
                                </div>
                                <div class="media-content">
                                    <div class="bubble">
                                        <div class="row">
                                            <div class="col-xs-1">
                                                <div class="bubble-quote"></div>
                                            </div>
                                            <div class="col-xs-10">
                                                <div class="bubble-content">
                                                    Dwellar not only provided a great learning foundation for what I do on a daily
                                                    basis... I now have friends across the globe, who I would never have met had it
                                                    not
                                                    been for Dwellar . I definitely would not be where I am today in terms of
                                                    development both personally and professionally if it wasn't for this community.
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- RIGHT -->
                    <div class="col-md-3 left-border">
                        <div class="support">
                            <div class="chat-with-us">
                                <div class="form-group">
                                    <button type="button" class="btn btn-default btn-chat-with-us btn-lg">
                                        <b>
                                            CHAT WITH US NOW
                                        </b>
                                        <img src="assets/icons/thumb-bubbles.png">

                                    </button>
                                </div>
                            </div>
                            <!-- Customer Support -->
                            <div class="customer-support">
                                <div class="form-group">
                                    <div class="support-icon"></div>
                                    <div class="content-icon"><b>Customer Support</b></div>
                                </div>
                                <div class="form-group">
                                    <div>
                                        <label><b>Landline: </b></label>
                                        <span>0120-4960600</span>
                                    </div>
                                    <div>
                                        <label><b>India Toll Free: </b></label>
                                        <span>0120-4960600</span>
                                    </div>
                                    <div>
                                        <label><b>Email: </b></label>
                                        <a href="mailto:support@dwellar.com">support@dwellar.com</a>
                                    </div>
                                </div>
                            </div>
                            <hr>
                            <!-- Sales Enquiries -->
                            <div class="sales-enquiries">
                                <div class="form-group">
                                    <div class="sale-icon"></div>
                                    <div class="content-icon"><a href="#" ng-click="openSalesPopup()"><b>Sales Enquiries </b></a></div>
                                </div>
                                <div class="form-group">
                                    <div class="from-india">
                                        FROM INDIA:
                                    </div>
                                    <div>
                                        <div>
                                            <label><b>India Toll Free: </b></label>
                                            <span>1800-102-2558</span>
                                        </div>
                                        <div>
                                            <label><b>Mobile: </b></label>
                                            <span>+91-9898989831</span>
                                        </div>
                                    </div>
                                    <div>
                                        <label><b>Email: </b></label>
                                        <a href="mailto:sales@dwellar.com">sales@dwellar.com</a>
                                    </div>
                                </div>
                            </div>
                            <!-- Request a call Back -->

                            <div class="request-call-back">
                                <form name="newForm1" class="form-horizontal" autocomplete="off" novalidate
                                      data-ng-submit="addPersonalInfo1(newForm1.$valid)">
                                    <div class="form-group">
                                        <div class="title">
                                            <b>Request a call Back</b>
                                        </div>
                                        <p>If you have any request fill in the below details</p>
                                    </div>
                                    <div class="ionic">
                                        <div class="list list-inset">

                                            <!--<label class="item item-input">-->
                                            <div class="form-group"
                                                 data-ng-class="{
                                                                        'has-error' : newForm1.name.$invalid && (!newForm1.name.$pristine || showValid) && !newForm1.name.$focus,
                                                                        'has-success': newForm1.name.$valid && !newForm1.name.$pristine && !newForm1.name.$focus
                                                                    }">
                                                <input type="text" name="name" class="form-control" id="name"
                                                       placeholder="Name"
                                                       data-ng-model="callparam.name"
                                                       minlength="1"
                                                       maxlength="40"
                                                       alphabets-only
                                                       required
                                                       ng-pattern="/^[a-zA-Z\s]*$/" />
                                            </div>
                                            <div class="text-danger"
                                                 data-ng-if="newForm1.name.$invalid && (!newForm1.name.$pristine || showValid) && !newForm1.name.$focus">
                                                {{ 'Please enter alphabets only' | translate }}
                                            </div>
                                            <!--</label>-->
                                            <!--<label class="item item-input">-->
                                            <div class="form-group"
                                                 data-ng-class="{
                                                                        'has-error' : newForm1.company.$invalid && (!newForm1.company.$pristine || showValid) && !newForm1.company.$focus,
                                                                        'has-success': newForm1.company.$valid && !newForm1.company.$pristine && !newForm1.company.$focus
                                                                    }">
                                                <input type="text" autofocus name="company" class="form-control" id="company"
                                                       placeholder="Company"
                                                       data-ng-model="callparam.company"
                                                       minlength="1"
                                                       maxlength="40"
                                                       alphabets-only
                                                       required
                                                       ng-pattern="/^[a-zA-Z\s]*$/" />
                                            </div>
                                            <div class="text-danger"
                                                 data-ng-if="newForm1.company.$invalid && (!newForm1.company.$pristine || showValid) && !newForm1.company.$focus">
                                                {{ 'Please enter alphabets only' | translate }}
                                            </div>
                                            <!--</label>-->




                                            <div class="form-group"
                                                 data-ng-class="{
                                                                        'has-error' : newForm1.email.$invalid && (!newForm1.email.$pristine || showValid) && !newForm1.email.$focus,
                                                                        'has-success': newForm1.email.$valid && !newForm1.email.$pristine && !newForm1.email.$focus
                                                                    }">
                                                <!--<label class="item item-input">-->
                                                <input type="text" autofocus name="email" class="form-control" id="email"
                                                       placeholder="Email"
                                                       data-ng-model="callparam.email"
                                                       minlength="1"
                                                       maxlength="40"
                                                       ng-pattern="/^[_a-z0-9]+(\.[_a-z0-9]+)*@[a-z0-9-]+(\.[a-z0-9-]+)*(\.[a-z]{2,4})$/"
                                                       ng-model-options="{ updateOn: 'blur' }" />
                                            </div>
                                            <!--</label>-->

                                            <div class="text-danger"
                                                 data-ng-if="newForm1.email.$invalid && (!newForm1.email.$pristine || showValid) && !newForm1.email.$focus">
                                                {{ 'invalid email' | translate }}
                                            </div>



                                            <!--<label class="item item-input">-->
                                            <div class="form-group"
                                                 data-ng-class="{
                                                                        'has-error' : newForm1.phone.$invalid && (!newForm1.phone.$pristine || showValid) && !newForm1.phone.$focus,
                                                                        'has-success': newForm1.phone.$valid && !newForm1.phone.$pristine && !newForm1.phone.$focus
                                                                    }">
                                                <input type="text" name="phone" class="form-control" id="phone"
                                                       placeholder="Phone"
                                                       data-ng-model="callparam.phone"
                                                       minlength="10"
                                                       maxlength="10"
                                                       required
                                                       ng-pattern="/^[0-9]*$/" />
                                                <!--</label>-->

                                            </div>
                                            <div class="text-danger"
                                                 data-ng-if="newForm1.phone.$invalid && (!newForm1.phone.$pristine || showValid) && !newForm1.phone.$focus">
                                                {{ 'invalid phone' | translate }}
                                            </div>

                                            <div class="form-group">
                                                <button class="btn submit-btn" id="btn_signup_sub" ng-click="call_back_info()">Submit</button>
                                            </div>

                                        </div>
                                    </div>
                                </form>
                            </div>

                            <!--<div class="request-call-back">
                                <div class="form-group">
                                    <div class="title">
                                        <b>Request a call Back</b>
                                    </div>
                                    <p>If you have any request fill in the below details</p>
                                </div>
                                <div class="ionic">
                                    <div class="list list-inset">
                                        <div class="form-group">
                                            <label class="item item-input">
                                                <input type="text" placeholder="Name">
                                            </label>
                                        </div>
                                        <div class="form-group">
                                            <label class="item item-input">
                                                <input type="text" placeholder="Company">
                                            </label>
                                        </div>
                                        <div class="form-group"
                                                 data-ng-class="{
                                        'has-error' : newForm.Email.$invalid && (!newForm.Email.$pristine || showValid) && !newForm.Email.$focus,
                                        'has-success': newForm.Email.$valid && !newForm.Email.$pristine && !newForm.Email.$focus
                                    }">
                                                <label class="item item-input">
                                                    <input type="text" placeholder="Email" id=""
                                                           data-ng-model="params.Email"
                                                           data-ng-pattern="patternRegexs.email"
                                                           ng-pattern="/^[_a-z0-9]+(\.[_a-z0-9]+)*@[a-z0-9-]+(\.[a-z0-9-]+)*(\.[a-z]{2,4})$/"
                                                           ng-model-options="{ updateOn: 'blur' }"
                                                           required />
                                                </label>
                                           
                                                <div class="text-danger"
                                                     data-ng-if="newForm.Email.$invalid && (!newForm.Email.$pristine || showValid) && !newForm.Email.$focus">
                                                    {{ 'invalid email' | translate }}
                                                </div>
                                            </div>
                                            
                                        <div class="form-group">
                                            <label class="item item-input">
                                                <input type="text" placeholder="Phone">
                                            </label>
                                        </div>
                                        <div class="form-group">
                                            <button class="btn submit-btn" id="btn_signup_sub" ng-click="call_back_info()">Submit</button>
                                        </div>
                                    </div>
                                </div>
                            </div>-->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    
</section><!-- content ended -->



   <footer>

    <div id="footer-bottom" class="footer-bottom2">
        <div class="container">

            <a href="#">Privacy Statement</a> | <a href="#">Site Map</a>

            <div class="pull-left copyright">
                &COPY; Copyright 2000-2015 Dwellar Pvt.Ltd. All rights reserved.
            </div>

            <div class="pull-right footer-logo">
                <img src="assets/images/footer-logo.png" alt="" />
            </div>

        </div>
    </div>
</footer><!-- footer-bottom -->
