

<div id="add_new_contact" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">
    <div class="modal-header">
        <button type="button" class="close" id="btn_addnewproperty_close" data-dismiss="modal" aria-label="Close" ng-click="$dismiss('cancel')"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="exampleModalLabel">Add New Promo Campaign</h4>
    </div>
    <div class="modal-body">
        <form class="form-content form-content2 edit-organization-setting" name="addNewForm" novalidate data-ng-submit="addNew(addNewForm.$valid)" autocomplete="off">

            <div class="clearfix">
                <div class="form-group form-bx form-bx5">
                    <label for=""><b>Project</b></label>
                    <select ng-model="project1" ng-change="selectproject()" id="contact_project"
                            class="dropdown form-control" required>
                        <option value="" selected>Select Project</option>
                        <option ng-repeat="project in projects"
                                value="{{project.id}}">
                            {{project.name}}
                        </option>

                    </select>
                </div>
            </div>

            <div class="clearfix">
                <div class="form-group form-bx form-bx5">
                    <label for=""><b>Select Permission Level</b></label>
                    <select ng-model="level1" ng-change="selectlevel()" id="contact_project"
                            class="dropdown form-control" required>
                        <option value="" selected>Select Permission Level</option>
                        <option ng-repeat="level in levels"
                                value="{{level.id}}">
                            {{level.level_name}}
                        </option>

                    </select>
                </div>
            </div>

            <div class="clearfix">
                <div class="pull-left f-half-6">
                    <div class="form-group form-bx4 form-bx3-1" style="width:390px">

                        <label for="">Expires</label>
                        <input kendo-date-time-picker class="form-control"
                               data-ng-model="params.expiry_datetime "
                               k-ng-model="dateObject"
                               k-format="'dd/MM/yyyy hh:mm tt'" />

                    </div>
                </div>
            </div>



            <div class="modal-btn-wrap5 modal-btn-wrap6 clearfix" style="text-align:right;">

                <button class="btn organization-btn" id="campaign_save" type="submit" ng-click="save()">
                    SAVE
                </button>
                <button class="btn organization-btn" id="campaign_cancel" type="button" ng-click="$dismiss('cancel')">
                    CANCEL
                </button>

            </div>
        </form>
    </div>
    </div>