<style type="text/css">
    .UseHand {
        cursor: pointer !important;
    }
</style>
<div id="main-content" class="col-xs-12">
    <div class="content-inner">

        <div class="pg-inner-header">
            <div class="row">

                <div class="col-md-12">
                    <h2 class="pg-inner-title">Email Transactions</h2>
                </div>

            </div>
        </div><!-- pg-inner-header ended -->

    </div><!-- content-inner ended -->

    <div class="pg-inner-content">

        <!--<form action="">

            <div id="record-content" class="properties-content">

                <div id="project-record-list" kendo-grid k-options="emailTransGrid" selectable="true">
                </div>

            </div>

        </form>-->
        <div class="clearfix" style="background: #fff;" id="emailContent">
            <div class="col-lg-12 col-md-12 col-sm-12">
                <div class="vdivide">
                    <div class="col-lg-3 col-md-3 col-sm-3 left_email"  style="overflow: auto;height: 770px; outline: none!important;">
                        <div class="inner-mail" ng-repeat="email in emailData">
                            <span class="email_name capt"><a ui-sref="app.contactdetail({id:email.contact_id})">{{email.contact_name | limitTo:10}}</a></span> <span class="badge custom-badge">0</span> <span class=" pull-right  email_date ">{{email.email_send_date_time | date:'dd/MM/yyyy hh:mm a'}} </span>
                            <div ng-click="showDetail($index)" style=" outline: none;">
                                <p class="email_subject" style="font-size: 15px;text-transform:capitalize">{{email.subject}}</p>
                                <p class="email_name1" ng-bind-html="email.template | limitTo:50">
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-9 col-md-9 col-sm-9" ng-hide="showEmailDetail">
                        <div class="email_body center">
                           <span>Select an item to view</span>
                        </div>
                    </div>
                    <div class="col-lg-9 col-md-9 col-sm-9 main_body" ng-show="showEmailDetail">
                        <div class="email_body inner-attach-border " >
                            <!--subject-->
                            <span class="email_subject">{{emailDetail.subject }}</span><span class="pull-right " ><span style="font-size: 10px;color: #a0a0a0;">{{emailDetail.email_send_date_time | date:'dd/MM/yyyy hh:mm a'}}</span>&nbsp;&nbsp;&nbsp; <a href="" style="color:#e0e0e0"><i class="fa fa-trash"></i></a></span><span class="pull-right"></span>
                            <!--content-->
                            <p class="email_content" ng-bind-html="emailDetail.template"> 
                            </p><br /><br />
                        <!--attachment-->
                        <!--<div class="attachment_section">
                            <i class="fa fa-paperclip"></i> <span>2</span> <span>attachment</span> <span style="color:#289ff1"><a href="">- Download all</a></span>
                        </div>-->
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>