/* ================================================ */
/* Responsive - Media queries                       */
/* Author: RAMAN                                    */
/* ================================================ */
/* Smartphones (portrait and landscape) ----------- */
@media only screen
and (min-device-width : 320px)
and (max-device-width : 480px) {

}
 
/* Smartphones (landscape) ----------- */
@media only screen
and (min-width : 321px) {
/* STYLES GO HERE */
}
 
/* Smartphones (portrait) ----------- */
@media only screen
and (max-width : 320px) {
/* STYLES GO HERE */
}
 
/* iPads (portrait and landscape) ----------- */
@media only screen
and (min-device-width : 768px)
and (max-device-width : 1024px) {
/* STYLES GO HERE */
}
 
/* iPads (landscape) ----------- */
@media only screen
and (min-device-width : 768px)
and (max-device-width : 1024px)
and (orientation : landscape) {
/* STYLES GO HERE */
}
 
/* iPads (portrait) ----------- */
@media only screen
and (min-device-width : 768px)
and (max-device-width : 1024px)
and (orientation : portrait) {
/* STYLES GO HERE */
}
 
/* Desktops and laptops ----------- */
@media only screen
and (min-width : 1224px) {
/* STYLES GO HERE */
}
 
/* Large screens ----------- */
@media only screen
and (min-width : 1824px) {
/* STYLES GO HERE */
}
 
/* iPhone 5 (portrait &amp; landscape)----------- */
@media only screen
and (min-device-width : 320px)
and (max-device-width : 568px) {
/* STYLES GO HERE */
}
 
/* iPhone 5 (landscape)----------- */
@media only screen
and (min-device-width : 320px)
and (max-device-width : 568px)
and (orientation : landscape) {
/* STYLES GO HERE */
}
 
/* iPhone 5 (portrait)----------- */
@media only screen
and (min-device-width : 320px)
and (max-device-width : 568px)
and (orientation : portrait) {
.btn-wrap-right {
     float: right;
}
.btn {
    /* width: 100%; */
    margin: 2px 1px 6px 7px !important;
}
}







@media (max-width: 1340px) {
    .tb-c-wrap .tb-sub {
        margin-right: 10px;
    }

    .builder-direcory-dl .dl-box {
        margin: 0 35px 15px 0;
    }

    .tb-c-wrap .tb-c {
        padding-left: 20px;
    }

    .builder-tab-content .tb-c-wrap .tb-sub {
        margin-right: 25px;
    }
}

@media (max-width: 1330px) {
    .builder-listing-wrap .builder-item {
        width: 33.33%;
    }

    .builder-item .builder-item-inner {
        width: auto;
    }

    .builder-content .builder-inner {
        padding-left: 30px !important;
    }

    .builder-title {
        margin: 5px 0 15px !important;
    }

    .builder-listing-wrap {
       
    }

        .builder-listing-wrap .builder-item {
            padding-left: 7px;
            padding-right: 7px;
        }

    .content-inner-bx .company-profile-half-2 {
        margin-left: 50px;
    }

    .content-inner-bx .company-profile-half {
        width: 360px;
    }
}
@media (max-width: 1240px) {
    .properties-list .properties-bx {
        width: 25%;
    }

    .tb-content-inner .tb-title,
    .tb-c-wrap {
        margin: 17px 5px 10px 25px;
    }

        .tb-c-wrap .tb-sub {
            display: block;
            margin-bottom: 4px;
        }

    .builder-direcory-dl .dl-box {
        margin: 0 15px 15px 0;
    }

        .builder-direcory-dl .dl-box span {
            margin-right: 3px;
        }

    .builder-directory-detail .builder-directory-inner {
        padding: 32px 22px;
    }

    .builder-tab .nav-tabs > li {
        margin-left: 26px;
    }

    .builder-tab-content .tb-c-wrap .tb-sub {
        margin-right: 20px;
    }

    .builder-tab-content .tb-c-wrap .tb-sub {
        display: inline-block;
        margin-bottom: 20px;
    }

    .summary-bx .tb-c-wrap .tb-sub {
        display: inline-block;
    }

    .pg-inner-hside {
        display: block;
        float: none !important;
        margin-top: 15px;
        text-align: left;
        clear: both;
        width: 100%;
    }
}




@media (min-width: 992px) and (max-width: 1199px) {
    #main-content .content-inner {
        padding: 20px;
    }

    .builder-item .builder-detail .box-1 {
        display: block;
        width: 100%;
        float: none;
    }

    .apply-btn {
        padding: 3px 5px;
        top: 7px;
        right: 7px;
    }

    .modal-lg {
        width: 900px;
    }

    .form-content .form-bx9 {
        margin-right: 30px;
        width: 320px;
    }

    .form-content .form-bx9-1 {
        margin-right: 12px;
        width: 198px;
    }

    .form-content .form-bx8 {
        width: 760px;
    }

    .form-content .form-bx3-1 {
        width: 244px;
    }

    .main-navbar .navbar-nav > li {
        margin: 0;
    }

    .plan-sec .plan-header .plan-h01 {
        width: 118px;
    }

    .plan-sec .plan-header .plan-h02 {
        width: 205px;
    }

        .plan-sec .plan-header .plan-h02 .h02 .plan-title {
            font-size: 34px;
        }

        .plan-sec .plan-header .plan-h02 .h02 .plan-duration2 {
            font-size: 14px;
        }

    .plan-sec .plan-content .plan-row {
        padding: 17px 0 15px;
    }

    .plan-sec .plan-content .plan-c01 {
        width: 207px;
        font-size: 14px;
        padding-left: 10px;
    }

    .plan-sec .plan-content .plan-c02 {
        width: 114px;
    }

    .plan-sec .plan-content .plan-c03 {
        width: 205px;
    }

    .footer-sec h3 {
        font-size: 17px;
    }

    .footer-sec .footer-txt {
        font-size: 13px;
    }

    .content-inner-bx .company-profile-half-2 {
        margin-left: 20px;
    }

    .content-inner-bx .company-profile-half {
        width: 280px;
    }


    .company-profile-half .company-profile-row {
        font-size: 13px;
    }

    .company-profile-row .profile-row1 span {
        font-size: 10px;
    }

    .profile-side-txt .profile-info-btn {
        font-size: 12px;
        width: 210px;
        padding: 5px 10px;
    }

    .profile-info-btn span {
        font-size: 13px;
    }

    .company-profile-h .profile-side-txt {
        margin-bottom: 20px;
    }

    .summary-bx .tb-c-wrap .tb-sub {
        display: block;
        margin-right: 20px;
    }

    .unit-bx {
        width: 370px;
    }

    .unit-bx-1 {
        display: inline-block;
    }

    .unit-bx .unit-content {
        margin-right: 20px;
        margin-left: 0;
    }

    .unit-bx .unit-img {
        padding: 0;
    }

    .society-amenities-list li {
        font-size: 15px;
    }

    .tab-content .properties-list .properties-bx {
        width: 29%;
    }

    .form-content .form-bx11 {
        width: 450px;
    }

    .form-content .form-bx-1 {
        width: 265px;
    }

    .modal-btn-wrap6 {
        width: 756px;
    }
}

@media screen and (min-width: 768px) and (max-width: 991px) {
    #main-content .content-inner {
        padding: 20px 15px;
    }

    .field-title {
        margin-top: 15px;
        margin-bottom: 5px;
    }

    .builder-header {
        margin-bottom: -15px;
    }

        .builder-header .form-control {
            margin-bottom: 15px;
        }

    .builder-item .builder-detail .box-1 {
        display: block;
        width: 100%;
        float: none;
    }

    .apply-btn {
        padding: 3px 5px;
        top: 7px;
        right: 7px;
    }

    .builder-listing-wrap .builder-item {
        width: 50%;
    }

    .properties-list .properties-bx {
        width: 33.33%;
    }

    .channel-partner {
        padding: 20px 25px;
    }

        .channel-partner .channel-partner-content {
            padding: 16px 22px 20px;
        }

    .builder-tab .nav-tabs > li {
        margin-left: 10px;
    }

        .builder-tab .nav-tabs > li > a {
            padding: 5px 0 16px;
        }

    .builder-tab .nav-tabs {
        clear: both;
        float: none !important;
        padding-top: 15px;
    }

    .builder-directory-detail {
        padding: 20px 15px;
    }

    .modal-lg {
        width: 96%;
    }

    .modal-content .form-content {
        padding: 12px 0 15px;
    }

    .form-content .form-bx7,
    .form-content .form-bx5 {
        width: 560px;
    }

    .f-half-1 {
        width: 350px;
    }

    .form-content .form-bx6 {
        width: 300px;
    }

    .modal-btn-wrap2 .f-btn {
        width: 318px;
    }

    #content {
        height: auto;
    }

    .image-upload-container .image-upload-wrap {
        margin: 10px 15px 10px 0;
    }

    .form-content .form-bx9 {
        margin-right: 20px;
        width: 260px;
    }

    .form-content .form-bx9-1 {
        margin-right: 12px;
        width: 174px;
    }

    .form-content .form-bx8 {
        width: 640px;
    }

    .form-content .form-bx3-1 {
        width: 203px;
    }

    .project-type-list .project-type-bx {
        width: 164px;
    }

    .modal-btn-wrap4 .f-btn {
        width: 704px;
    }

    .main-navbar .navbar-nav > li {
        margin: 0;
    }

        .main-navbar .navbar-nav > li > a {
            padding: 35px 8px 23px;
        }

    body > header .reg-wrap .h-btn {
        padding: 12px 7px;
        margin-left: 2px;
    }

    .plan-wrap {
        overflow: auto;
    }

    .plan-sec {
        width: 938px;
    }

        .plan-sec .plan-header .plan-h01 {
            width: 120px;
        }

        .plan-sec .plan-header .plan-h02 {
            width: 204px;
        }

            .plan-sec .plan-header .plan-h02 .h02 .plan-title {
                font-size: 34px;
            }

            .plan-sec .plan-header .plan-h02 .h02 .plan-duration2 {
                font-size: 14px;
            }

        .plan-sec .plan-content .plan-row {
            padding: 17px 0 15px;
        }

        .plan-sec .plan-content .plan-c01 {
            width: 207px;
            font-size: 14px;
            padding-left: 10px;
        }

        .plan-sec .plan-content .plan-c02 {
            width: 114px;
        }

        .plan-sec .plan-content .plan-c03 {
            width: 205px;
        }

    .footer-sec h3 {
        font-size: 17px;
    }

    .footer-sec .footer-txt {
        font-size: 13px;
    }

    body > footer {
        padding-bottom: 20px;
    }

        body > footer .footer-sec {
            min-height: 0;
            margin-bottom: 16px;
        }

    #footer-bottom .copyright {
        margin-right: 83px;
    }

    .builder-tab-content .tb-c-wrap .tb-sub {
        display: block;
        margin-bottom: 5px;
    }

    .builder-tab-content .tb-c-wrap .tb-sub {
        margin-right: 35px;
    }

    .content-inner-bx .company-profile-half-2 {
        margin-left: 20px;
    }

    .content-inner-bx .company-profile-half {
        width: 280px;
    }

    .company-profile-half .company-profile-row {
        font-size: 13px;
    }

    .company-profile-row .profile-row1 span {
        font-size: 10px;
    }

    .profile-side-txt .profile-info-btn {
        font-size: 12px;
        width: 210px;
        padding: 5px 10px;
    }

    .profile-info-btn span {
        font-size: 13px;
    }

    .company-profile-h .company-profile-photo,
    .company-profile-h .profile-side-txt {
        margin-bottom: 22px;
        float: none !important;
    }

    .pg-inner-content2 {
        padding: 20px 18px 6px;
    }

        .pg-inner-content2 .content-inner-bx {
            padding: 22px 18px;
        }

    .pg-inner-content2-2 {
        padding-top: 0;
    }

    .content-inner-bx .company-profile-half {
        width: 100%;
        float: none !important;
    }

    .content-inner-bx .company-profile-half-2 {
        margin-left: 0;
        padding-top: 0;
        border-top: 1px solid #ececec;
    }

    .summary-bx .tb-c-wrap .tb-sub {
        display: block;
        margin-right: 5px;
    }

    .summary-bx .tb-c-wrap .tb-c {
        padding-left: 12px;
        margin-left: 5px;
    }

    .summary-bx .tb-sub-txt {
        font-size: 13px;
    }

        .summary-bx .tb-sub-txt span {
            font-size: 14px;
        }

    .inventory-list,
    .generate-inventory-process {
        width: auto;
    }

    .society-amenities-list li {
        font-size: 14px;
        width: 50%;
        padding: 4px 0 16px;
    }

    .modal-content .society-amenities-wrap .society-amenities-list li {
        font-size: 13px;
    }

    .modal-content .society-amenities-wrap {
        margin: 10px -16px;
    }

    .society-amenities-list .amenities-bg {
        margin: 10px 16px 8px;
    }

    .project-detail-info .project-detail-photo {
        width: auto;
        display: block;
    }

    .tab-content .properties-list .properties-bx {
        width: 33.33%;
    }

    .properties-list .properties-bx .properties-name {
        font-size: 13px;
    }

    .gallery-upload-list ul {
        margin: 0 -12px;
    }

        .gallery-upload-list ul li {
            padding: 7px 12px;
        }

    .gallery-upload-list .gallery-upload-name {
        font-size: 14px;
        padding: 10px;
    }

    .form-content .form-bx11 {
        width: 60%;
    }

    .form-content .form-bx-1 {
        width: 25%;
    }

    .modal-btn-wrap6 {
        width: auto;
    }

    .form-b-b {
        margin: 7px -15px 35px;
    }

    .select-campaign .campaign-btn {
        margin: 0 2px 10px 0;
    }
}
@media screen and (max-width: 767px) {
    container.container {
     padding-right: 0px !important; 
     padding-left: 0px !important; 
     margin-right: auto; 
     margin-left: auto; 
}


    #header {
        position: relative !important;
    }

    #content #sidebar {
        width: auto !important;
        float: none !important;
        height: auto !important;
        padding: 0 !important;
        position: relative !important;
    }

    #content #main-content {
        padding: 0 !important;
        margin: 0px !important;
    }

    #sidebar .navbar-default .navbar-nav {
        margin-top: 0;
    }

    #header .logo {
        padding-left: 0;
    }

    #main-content .content-inner {
        padding: 20px 15px;
    }

    .navbar-default {
        margin-bottom: 0 !important;
    }

    .field-title {
        margin-top: 15px;
        margin-bottom: 5px;
    }

    .builder-header {
        margin-bottom: -15px;
    }

        .builder-header .form-control {
            margin-bottom: 15px;
        }

    .builder-header {
        margin-bottom: -15px;
    }

        .builder-header .form-control {
            margin-bottom: 15px;
        }

    .builder-item .builder-detail .box-1 {
        display: block;
        width: 100%;
        float: none;
    }

    .apply-btn {
        padding: 3px 5px;
        top: 7px;
        right: 7px;
    }

    .builder-listing-wrap .builder-item {
        width: 50%;
    }

    .builder-content .builder-inner {
        padding-left: 15px !important;
    }

    .properties-list .add-images-title {
        margin: 0 0 20px;
    }

    .properties-list .properties-bx-wrap {
        margin: 0 -8px;
    }

    .properties-list .properties-bx {
        padding: 0 8px 20px;
    }

    .properties-list .properties-bx {
        width: 33.33%;
    }

        .properties-list .properties-bx .properties-name {
            font-size: 13px;
            padding: 15px 2px 12px;
        }

    .channel-partner {
        padding: 20px 15px;
    }

        .channel-partner .channel-partner-content {
            padding: 16px 15px;
        }

    #content h2.channel-partner-title {
        margin-left: 8px;
    }

    .field-sep {
        margin: 8px 0;
    }

    .field-sep2 {
        margin: 7px 0;
    }

    .f-btn {
        margin: 0 0 10px;
    }

    .builder-tab .nav-tabs > li {
        margin-left: 10px;
    }

        .builder-tab .nav-tabs > li > a {
            padding: 5px 0 16px;
        }

    .builder-tab .nav-tabs {
        clear: both;
        float: none !important;
        padding-top: 15px;
    }

    .builder-directory-detail {
        padding: 20px 15px;
    }

    .tb-content-inner .tb-title, .tb-c-wrap {
        margin: 17px 5px 10px 15px;
    }

    .modal-lg {
        width: 97%;
    }

    .modal-content .form-content {
        padding: 7px 0 10px;
    }

    .form-content .form-bx {
        width: 84%;
        float: none;
        display: inline-block;
    }

    .field-mdl {
        width: 11%;
        float: none;
        display: inline-block;
    }

    /*.add-input {
        float: none;
        display: inline-block;
        vertical-align: top;
    }*/

    /*.add-input a {
            margin-left: 0;
        }*/

    .modal-btn-wrap .f-btn {
        width: 84%;
        margin-right: 0;
    }

    .remove-field {
        display: inline-block;
        font-size: 11px;
        margin: 14px 0 5px;
        vertical-align: top;
    }

    .remove-field1 {
        display: inline-block;
        font-size: 13px;
        margin: 46px 0 0 13px;
    }

        .remove-field1 a {
            color: #f66;
        }

    .remove-field2 {
        display: inline-block;
        font-size: 13px;
        margin: 11px 0 0 13px;
    }

        .remove-field2 a {
            color: #f66;
        }

    .remove-field a {
        margin-left: 3px;
    }

    .f-half-3, .f-half-4 {
        margin-right: 0;
    }

    .form-content .f-half-3 .form-bx,
    .form-content .f-half-4 .form-bx {
        width: 95%;
    }

    .modal-btn-wrap3 .f-btn {
        width: 100%;
    }

    .modal-content .form-content2 .form-control {
        line-height: 48px;
    }

    .form-content2 .form-bx {
        margin-bottom: 15px;
    }

    #content #sidebar {
        overflow: auto;
    }

    #content {
        height: auto;
    }

        #content .pg-inner-content {
            padding: 14px 10px;
        }

    .actions-wrap {
        float: none !important;
        margin-bottom: 10px;
        width: 220px;
    }

    .btn-wrap-right {
        float: none;
    }

    .image-upload-container .image-upload-wrap {
        margin: 10px 15px 10px 0;
    }

    .f-half-5,
    .f-half-6 {
        float: none !important;
    }

    .form-content .form-bx9 {
        width: 90%;
    }

    .form-content .form-bx9-1 {
        width: 90%;
    }

    .form-content .form-bx8 {
        width: 90%;
    }

    .form-content .form-bx3-1 {
        width: 90%;
    }

    .project-type-list .project-type-bx {
        width: 35%;
        font-size: 14px;
    }

    .modal-btn-wrap4 .f-btn {
        width: 100%;
    }

    body > header {
        position: relative;
    }

    #content2 {
        margin: 30px 0 40px;
    }

    .main-navbar .navbar-nav > li {
        margin: 0;
    }

        .main-navbar .navbar-nav > li > a {
            padding: 35px 8px 23px;
        }

    body > header .reg-wrap .h-btn {
        padding: 12px 7px;
        margin-left: 2px;
    }

    .plan-wrap {
        overflow: auto;
    }

    .plan-sec {
        width: 938px;
    }

        .plan-sec .plan-header .plan-h01 {
            width: 120px;
        }

        .plan-sec .plan-header .plan-h02 {
            width: 204px;
        }

            .plan-sec .plan-header .plan-h02 .h02 .plan-title {
                font-size: 34px;
            }

            .plan-sec .plan-header .plan-h02 .h02 .plan-duration2 {
                font-size: 14px;
            }

        .plan-sec .plan-content .plan-row {
            padding: 17px 0 15px;
        }

        .plan-sec .plan-content .plan-c01 {
            width: 207px;
            font-size: 14px;
            padding-left: 10px;
        }

        .plan-sec .plan-content .plan-c02 {
            width: 114px;
        }

        .plan-sec .plan-content .plan-c03 {
            width: 205px;
        }

    .footer-sec h3 {
        font-size: 17px;
    }

    .footer-sec .footer-txt {
        font-size: 13px;
    }

    body > footer {
        padding-bottom: 15px;
    }

        body > footer .footer-sec {
            min-height: 0;
            margin-bottom: 16px;
        }

    #footer-bottom .copyright {
        margin-right: 83px;
    }

    .callback-btn {
        margin-left: 0;
        margin-top: 14px;
    }

    body > #footer-bottom {
        padding: 15px 0;
    }

    .copyright,
    .footer-logo {
        float: none !important;
        margin-top: 5px;
    }

    body > header .main-navbar {
        float: none !important;
        clear: both;
        border-top: 1px solid #eee;
    }

    body > header .reg-wrap {
        padding-bottom: 15px;
    }

    .main-navbar .navbar-nav > li > a {
        padding: 15px 8px 13px;
    }

    .builder-tab-content .tb-c-wrap .tb-sub {
        display: block;
        margin-bottom: 5px;
    }

    .builder-tab-content .tb-c-wrap .tb-sub {
        margin-right: 35px;
    }

    .builder-tab-content .tb-c-wrap .tb-c {
        padding-left: 8px;
        margin-left: 0;
    }

    .content-inner-bx .company-profile-half-2 {
        margin-left: 20px;
    }

    .content-inner-bx .company-profile-half {
        width: 280px;
    }

    .company-profile-half .company-profile-row {
        font-size: 13px;
    }

    .company-profile-row .profile-row1 span {
        font-size: 10px;
    }

    .profile-side-txt .profile-info-btn {
        font-size: 12px;
        width: 210px;
        padding: 5px 10px;
    }

    .profile-info-btn span {
        font-size: 13px;
    }

    .company-profile-h .company-profile-photo,
    .company-profile-h .profile-side-txt {
        margin-bottom: 22px;
        float: none !important;
    }

    .pg-inner-content2 {
        padding: 20px 18px 6px;
    }

        .pg-inner-content2 .content-inner-bx {
            padding: 22px 18px;
        }

    .pg-inner-content2-2 {
        padding-top: 0;
    }

    .content-inner-bx .company-profile-half {
        width: 100%;
        float: none !important;
    }

    .content-inner-bx .company-profile-half-2 {
        margin-left: 0;
        padding-top: 0;
        border-top: 1px solid #ececec;
    }
    /* responsive tab css -- start*/
    .responsive-tabs-container .tabs-dropdown .dropdown-menu {
        position: fixed;
        top: 20px;
        right: 20px;
        bottom: 20px;
        left: 20px;
        padding-top: 50px;
        overflow: hidden;
        overflow-y: scroll;
    }

        .responsive-tabs-container .tabs-dropdown .dropdown-menu .dropdown-header {
            position: fixed;
            left: 21px;
            right: 21px;
            background: #FFF;
            margin-top: -50px;
            padding-top: 18px;
            border-radius: 4px 4px 0 0;
        }

        .responsive-tabs-container .tabs-dropdown .dropdown-menu .close {
            position: absolute;
            top: 14px;
            right: 20px;
        }

        .responsive-tabs-container .tabs-dropdown .dropdown-menu .divider {
            margin: 0;
        }
    /* responsive tab css -- ended */
    .summary-bx .tb-c-wrap .tb-sub {
        display: block;
        margin-right: 5px;
    }

    .summary-bx .tb-c-wrap .tb-c {
        padding-left: 12px;
        margin-left: 5px;
    }

    .summary-bx .tb-sub-txt {
        font-size: 13px;
    }

        .summary-bx .tb-sub-txt span {
            font-size: 14px;
        }

    .unit-bx {
        width: 370px;
    }

        .unit-bx .unit-content {
            margin-right: 20px;
            margin-left: 0;
        }

        .unit-bx .unit-img {
            padding: 0;
        }

    .pg-tabs .tab-content {
        padding: 40px 15px;
    }

    .inventory-list,
    .generate-inventory-process {
        width: auto;
    }

    .society-amenities-list li {
        font-size: 14px;
        width: 50%;
        padding: 4px 0 12px;
    }

    .modal-content .society-amenities-wrap .society-amenities-list li {
        font-size: 13px;
        width: 50%;
    }

    .modal-content .society-amenities-wrap {
        margin: 10px -16px;
    }

    .society-amenities-list .amenities-bg {
        margin: 10px 16px 8px;
    }

    .project-detail-info .project-detail-photo {
        width: auto;
        display: block;
    }

    .tab-content .properties-list .properties-bx {
        width: 33.33%;
    }

    .properties-list .properties-bx .properties-name {
        font-size: 13px;
    }

    .gallery-upload-list ul {
        margin: 0 -5px;
    }

        .gallery-upload-list ul li {
            width: 50%;
            padding: 7px 5px;
        }

    .gallery-upload-list .gallery-upload-name {
        font-size: 13px;
        padding: 10px;
    }

    .gallery-image-upload {
        min-height: 120px;
    }

    .upload-link-btn .browse-title {
        font-size: 14px;
    }

    .gallery-upload-list ul {
        height: 268px;
    }

    .form-content .form-bx11 {
        width: 55%;
        margin-right: 5px;
    }

    .form-content .form-bx-1 {
        width: 30%;
    }

    .modal-btn-wrap6 {
        width: auto;
    }

    .form-b-b {
        margin: 7px -15px 35px;
    }

    .payment-list-head {
        font-size: 12px;
        padding: 12px 5px;
    }

        .payment-list-head .edit-lk {
            margin-left: 3px;
        }

    .payment-list-content {
        padding: 10px 0 20px;
    }

        .payment-list-content .payment-list-row {
            font-size: 13px;
        }

    .payment-modal-wrap {
        height: 519px;
    }
    /*login start*/
    body > .header2 .main-navbar {
        border-top: 1px solid #e1e1e1;
        clear: both;
        float: none !important;
        margin-right: 0;
    }

    #content2.login-wrap {
        padding: 0px 0 0px;
    }

    .login-content {
        width: 450px;
        padding-top: 0;
    }

        .login-content .login-inner-bx {
          padding: 15px 20px 20px 5px !important;
        }

    .login-bx .login-title {
        font-size: 18px;
        padding: 15px 15px 15px !important;
    }

    .btn-blk {
        margin-bottom: 15px;
    }

    .create-account-bx {
        padding: 20px 18px;
    }

    .btn-create-account {
        padding: 5px 25px;
    }
    /*login end*/
    .bx-h1-head {
        padding: 7px 15px;
    }

        .bx-h1-head .title {
            font-size: 15px;
        }

    .bx-h1-link a {
        margin: 0 2px;
    }

    .bx-h1-head-i {
        top: 6px;
    }

    .cxo-bx2-3 .cxo-bx2 {
        margin-bottom: 10px;
    }

    .pg-inner-hside {
        display: block;
        float: none !important;
        margin-top: 15px;
        text-align: left;
    }

        .pg-inner-hside .form-control {
            display: block;
            width: 280px;
            margin-bottom: 7px;
        }

    .cxo-dash {
        display: none;
    }

    .select-campaign .campaign-btn {
        margin: 0 2px 10px 0;
        font-size: 13px;
    }

    .pg-inner-hside .form-control {
        width: 265px;
    }

    .marketing-sec .marketing-bx {
        width: 105px;
        margin-right: 4px;
    }

    .marketing-sec .marketing-side {
        width: 58%;
    }
}



