
<div class="login" align="center">
    <div class="logo logo_center">
        <a href="/">
            <img src="assets/images/logo.png" alt="" />
        </a>
    </div>
    <div class="above-login">
        <h3 class="login-intro">Login To Your Account</h3>
        <div class="bottom-dashed-line"></div>
        <form name="loginForm" novalidate data-ng-submit="login(loginForm.$valid)" autocomplete="off" class="form-horizontal">
            <div class="alert alert-danger" data-ng-if="error">{{ error }}</div>
            <div class="alert alert-success" data-ng-if="success">{{ success }}</div>
            <div class="form-group"
                 data-ng-class="{
                        'has-error' : loginForm.email.$invalid && (!loginForm.email.$pristine || showValid) && !loginForm.email.$focus,
                        'has-success': loginForm.email.$valid && !loginForm.email.$pristine && !loginForm.email.$focus
                    }">
                <div class="col-xs-12">
                    <label class="control-label">Account Email</label>
                    <label class="label-group">
                        <input type="text" name="email" class="form-control"
                               placeholder="user@dwellar.com"
                               data-ng-model="params.email"
                               data-ng-pattern="patternRegexs.email"
                               input-focus
                               pattern=".{1,}@[_a-z0-9A-Z]+(\.[a-z0-9A-Z]+)+"
                               required />
                    </label>
                    <div class="text-danger"
                         data-ng-if="loginForm.email.$invalid && (!loginForm.email.$pristine || showValid) && !loginForm.email.$focus">
                        {{ 'Please Enter Valid ' | translate }}
                    </div>
                </div>
            </div>
            <div class="form-group"
                 data-ng-class="{
                        'has-error' : loginForm.password.$invalid && (!loginForm.password.$pristine || showValid) && !loginForm.password.$focus,
                        'has-success': loginForm.password.$valid && !loginForm.password.$pristine && !loginForm.password.$focus
                    }">
                <div class="col-xs-12">
                    <label class="control-label">Password</label>
                    <label class="label-group">
                        <input type="password" name="password" class="form-control"
                               placeholder="Your password"
                               data-ng-model="params.password"
                               input-focus
                               required />
                    </label>
                    <div class="text-danger"
                         data-ng-if="loginForm.password.$invalid && (!loginForm.password.$pristine || showValid) && !loginForm.password.$focus">
                        {{ 'Please Enter Valid Password' | translate }}
                    </div>
                </div>
            </div>
            <div class="checkbox">
                <label>
                    <input type="checkbox" name="remember" data-ng-model="params.remember">Remember Me
                </label>
            </div>
            <button type="submit" class=" btn-default login-btn">
                Login & Continue
                <!--<span class="icon-arrowright"></span>-->
            </button>
        </form>
    </div>
    <div class="below-login">
        <div class="pull-left">
            <a ui-sref="guest.recover">Forgot Password?</a>
        </div>
        <div class="pull-left" style="">
            <a ui-sref="builder_directory">Builder Directory</a>
        </div>
        <div class="pull-right">
            <!--<a href="#" ng-click="openSignupPopup()">CREATE ACCOUNT</a>-->
            <a ui-sref="subscriptionLimit">Create Account</a>
        </div>
    </div>
</div>
