<div class="main-content project add-new">
    <h3>Want a quotes or have questions?</h3>

    <form name="addNewForm" novalidate
          data-ng-submit="addNew(addNewForm.$valid)"
          autocomplete="off"
          class="form-horizontal">

        <div class="form-group"
             data-ng-class="{
                    'has-error' : addNewForm.firstname.$invalid && (!addNewForm.firstname.$pristine || showValid),
                    'has-success': addNewForm.firstname.$valid && !addNewForm.firstname.$pristine
                 }">
            <div class="col-xs-11">
                <label class="control-label">First Name</label>
                <label class="label-group">
                    <input type="text" autofocus name="firstname" class="form-control"
                           placeholder="First Name"
                           data-ng-model="params.firstname"
                           minlength="1"
                           maxlength="30"
                           alphabets-only
                           required
                           ng-pattern="/^[a-zA-Z\s]*$/" />
                </label>
                <div class="text-danger"
                     data-ng-if="addNewForm.firstname.$invalid && (!addNewForm.firstname.$pristine || showValid) && !addNewForm.firstname.$focus">
                    {{ 'Please enter alphabets only' | translate }}
                </div>
            </div>
        </div>


        <div class="form-group"
             data-ng-class="{
                    'has-error' : addNewForm.lastname.$invalid && (!addNewForm.lastname.$pristine || showValid),
                    'has-success': addNewForm.lastname.$valid && !addNewForm.lastname.$pristine
                 }">
            <div class="col-xs-11">
                <label class="control-label">Last Name</label>
                <label class="label-group">
                    <input type="text" name="lastname" class="form-control"
                           placeholder="Last Name"
                           data-ng-model="params.lastname"
                           minlength="1"
                           maxlength="30"
                           alphabets-only
                           required
                           ng-pattern="/^[a-zA-Z\s]*$/" />
                </label>
                <div class="text-danger"
                     data-ng-if="addNewForm.lastname.$invalid && (!addNewForm.lastname.$pristine || showValid) && !addNewForm.lastname.$focus">
                    {{ 'Please Enter Alphabets Only' | translate }}
                </div>
            </div>
        </div>



        <div class="form-group"
             data-ng-class="{
                    'has-error' : addNewForm.Email.$invalid && (!addNewForm.Email.$pristine || showValid),
                    'has-success': addNewForm.Email.$valid && !addNewForm.Email.$pristine
                 }">
            <!--<div class="col-xs-12">
            <label class="control-label">Email</label>
            <label class="label-group">
                <input type="text" name="email" class="form-control"
                       placeholder="Email"
                       data-ng-model="params.email"
                       ng-minlength="1"
                       ng-maxlength="100"
                       pattern=".{1,}@[_a-z0-9A-Z]+(\.[a-z0-9A-Z]+)+"
                       required />
            </label>
            <div class="text-danger"
                 data-ng-if="addNewForm.email.$invalid && (!addNewForm.email.$pristine || showValid) && !addNewForm.email.$focus">
                {{ 'Please Enter Valid Email ' | translate }}
            </div>
        </div>-->

            <div class="col-xs-11">
                <label class="control-label">Email</label>
                <label class="label-group">
                    <input type="text" name="email" class="form-control"
                           placeholder="Email"
                           data-ng-model="params.emailid"
                           minlength="1"
                           maxlength="30"
                           input-focus
                           pattern=".{1,}@[_a-z0-9A-Z]+(\.[a-z0-9A-Z]+)+"
                           required />
                </label>
                <div class="text-danger"
                     data-ng-if="loginForm.Email.$invalid && (!loginForm.Email.$pristine || showValid) && !loginForm.Email.$focus">
                    {{ 'Please Enter Valid ' | translate }}
                </div>
            </div>
        </div>




        <div class="form-group"
             data-ng-class="{
                    'has-error' : addNewForm.phoneno.$invalid && (!addNewForm.phoneno.$pristine || showValid),
                    'has-success': addNewForm.phoneno.$valid && !addNewForm.phoneno.$pristine
                 }">
            <div class="col-xs-11">
                <label class="control-label">Phone Number</label>
                <label class="label-group">
                    <input type="text" name="phoneno" class="form-control"
                           placeholder="Mobile Number"
                           data-ng-model="params.phoneno"
                           minlength="10"
                           maxlength="11"
                           ng-pattern="/^[\+]?[(]?[0-9]{3}[)]?[-\s\.]?[0-9]{3}[-\s\.]?[0-9]{4,6}$/"
                           required />
                </label>
                <div class="text-danger"
                     data-ng-if="addNewForm.phoneno.$invalid && (!addNewForm.phoneno.$pristine || showValid) && !addNewForm.phoneno.$focus">
                    {{ 'Please enter Mobile Number' | translate }}
                </div>
            </div>

        </div>

        <div class="form-group"
             data-ng-class="{
                    'has-error' : addNewForm.comment.$invalid && (!addNewForm.comment.$pristine || showValid),
                    'has-success': addNewForm.comment.$valid && !addNewForm.comment.$pristine
                 }">
            <!--<div class="col-xs-11">
                <label class="control-label">Comment</label>
                <label class="label-group">
                    <textarea rows="4" cols="50" data-ng-model="params.comment" required></textarea>

                </label>
                <div class="text-danger"
                     data-ng-if="addNewForm.comment.$invalid && (!addNewForm.comment.$pristine || showValid) && !addNewForm.comment.$focus">
                    {{ 'Please enter Mobile Number' | translate }}
                </div>
            </div>-->
            <div class="col-xs-11">
                <label class="control-label">Comment</label>
                <label class="label-group">
                    <textarea class="form-control" cols="4" rows="10" name="comment"
                              placeholder="Project comment"
                              data-ng-model="params.comment"
                              minlength="1"
                              maxlength="500"
                              alphabets-only
                              input-focus
                              required></textarea>
                </label>
                <div class="text-danger"
                     data-ng-if="addNewForm.comment.$invalid && (!addNewForm.comment.$pristine || showValid) && !addNewForm.comment.$focus">
                    {{'Please enter Team desc.' | translate }}
                </div>
            </div>
        </div>







        <button class="btn organization-btn" type="submit" ng-click="sales_info()">Submit</button>
        <!--<!--<button class="btn  btn-default" type="button" ng-click="reset()">Reset</button>
        <button class="btn btn-warning" type="button" ng-click="cancel()">Cancel</button>
        <button class="btn  btn-default" type="button" ng-click="cancel()">Cancel</button>-->
    </form>
</div>

