

<div id="add_new_contact" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">


    <!--<div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="exampleModalLabel">Add New Contact</h4>
    </div>-->
    <!-- modal-header ended -->

    <div class="modal-body" nv-file-drop="" uploader="uploader" filters="queueLimit, customFilter">
        <div class="close-btn-wrap">
            <button id="btn_contact_cancel" type="button" class="close" data-dismiss="modal" aria-label="Close" ng-click="$dismiss('cancel')" &times;><span aria-hidden="true">&times;</span></button>
        </div>
        <form class="form-content" name="newForm" autocomplete="off" novalidate
              data-ng-submit="addNewContact(newForm.$valid)">

            <!--<div class="upload-wrap">
                <input name="upload-photo" id="upload-photo" type="file" />
                <span class="upload-text">Add Photo</span>

            </div>-->
            <h4 class="form-title">Add New Contact</h4>

            <div class="clearfix image-upload-container">
                <div class="modal-body image-upload-wrap">
                    <div class="image-upload-title">Upload Contact Image</div>
                    <div class="dropzone dropzone-bx photo-upload-bx">
                        <div class="fallback">
                            <div class="panel panel-success" uploader="uploader" nv-file-over="">
                                <div class="panel-body image-upload-panel">
                                    <div class="row" ng-hide="uploader.queue.length">
                                        <div class="col-lg-2 col-md-2 col-sm-12"></div>
                                        <!--<div class="col-lg-8 col-md-8 col-sm-12 col-xs-4" style="height:100%">
                                            <span class="page-center">Drag And Drop your file here</span>
                                        </div>-->
                                        <div class="col-lg-2 col-md-8 col-sm-12"></div>
                                    </div>
                                    <div class="row" ng-show="uploader.queue.length">
                                        <div class="col-sm-6 last" ng-repeat="item in uploader.queue">
                                            <div ng-show="uploader.isHTML5"
                                                 ng-thumb="{ file: item._file, height: 200 }"></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="uploadFileName">
                        <p ng-show="uploader.queue.length">{{uploader.queue[0]._file.name}}</p>
                    </div>
                    <div class="image-upload-link">

                        <div class="browse-title">Add Photo</div>
                        <input type="file" class="image-upload-f" id="editproject_uploader1" value="Browse" accept="image/*" nv-file-select="" uploader="uploader" />

                    </div>

                </div>
            </div>

            <div class="clearfix">

                <div class="form-bx">
                    <div class="form-group"
                         data-ng-class="{
                                                                        'has-error' : newForm.firstName.$invalid && (!newForm.firstName.$pristine || showValid) && !newForm.firstName.$focus,
                                                                        'has-success': newForm.firstName.$valid && !newForm.firstName.$pristine && !newForm.firstName.$focus
                                                                    }">
                        <input type="text" autofocus name="firstName" class="form-control" id="contact_fname"
                               placeholder="First Name"
                               data-ng-model="params.first_name"
                               minlength="1"
                               maxlength="40"
                               alphabets-only
                               input-focus
                               required
                               ng-pattern="/^[a-zA-Z\s]*$/" />
                        <div ng-messages="newForm.firstName.$error" style="color:maroon" role="alert">
                            <div ng-message="required" data-ng-if="newForm.firstName.$invalid && (!newForm.firstName.$pristine || showValid) && !newForm.firstName.$focus">This field should not be empty </div>
                            <div ng-message="pattern">Enter valid first name</div>
                        </div>
                    </div>
                </div>

                <div class="field-mdl field-req">*</div>

                <div class="form-bx">
                    <div class="form-group"
                         data-ng-class="{
                                                                        'has-error' : newForm.lastName.$invalid && (!newForm.lastName.$pristine || showValid) && !newForm.lastName.$focus,
                                                                        'has-success': newForm.lastName.$valid && !newForm.lastName.$pristine && !newForm.lastName.$focus
                                                                     }">
                        <input type="text" name="lastName" class="form-control" id="contact_lastname"
                               placeholder="Last Name"
                               data-ng-model="params.last_name"
                               minlength="1"
                               maxlength="50"
                               alphabets-only
                               input-focus
                               ng-pattern="/^[a-zA-Z\s]*$/" />
                        <div class="text-danger"
                             data-ng-if="newForm.lastName.$invalid && (!newForm.lastName.$pristine || showValid) && !newForm.lastName.$focus">
                            {{ 'Enter valid last name ' | translate }}
                        </div>
                    </div>
                </div>

            </div>


            <div class="clearfix">

                <div class="form-bx">
                    <div class="form-group"
                         data-ng-class="{
                                                                        'has-error' : newForm.gender.$invalid && (!newForm.gender.$pristine || showValid) && !newForm.gender.$focus,
                                                                        'has-success': newForm.gender.$valid && !newForm.gender.$pristine && !newForm.gender.$focus
                                                                     }">
                        <select id="gender_select" name="gender" ng-change="selectgender()" ng-model="directory2" class="dropdown form-control" required>
                            <option value="" selected>Select Gender</option>
                            <option value="Male">Male</option>
                            <option value="Female">Female</option>
                        </select>
                        <div ng-messages="newForm.gender.$error" style="color:maroon" role="alert">
                            <div ng-message="required" data-ng-if="newForm.gender.$invalid && (!newForm.gender.$pristine || showValid) && !newForm.gender.$focus">This field should not be empty </div>
                            <div ng-message="pattern">Enter valid gender</div>
                        </div>
                    </div>
                </div>


                <div class="field-mdl field-req">*</div>

                <div class="form-bx">
                    <div class="form-group"
                         data-ng-class="{
                                                                        'has-error' : newForm.Age.$invalid && (!newForm.Age.$pristine || showValid) && !newForm.Age.$focus,
                                                                        'has-success': newForm.Age.$valid && !newForm.Age.$pristine && !newForm.Age.$focus
                                                                     }">
                        <input type="text" name="Age" class="form-control" id="contact_age"
                               placeholder="Age"
                               data-ng-model="params.age"
                               minlength="1"
                               maxlength="2"
                               input-focus
                               ng-pattern="/^([1-9][0-9]*)$/" />
                        <div class="text-danger"
                             data-ng-if="newForm.Age.$invalid && (!newForm.Age.$pristine || showValid) && !newForm.Age.$focus">
                            {{ 'Enter valid age' | translate }}
                        </div>
                    </div>
                </div>

            </div>

            <div ng-repeat="choice in choices">
                <div class="form-group"
                     data-ng-class="{
                                                                'has-error' : newForm.phone_no.$invalid && (!newForm.phone_no.$pristine || showValid) && !newForm.phone_no.$focus,
                                                                 'has-success': newForm.phone_no.$valid && !newForm.phone_no.$pristine && !newForm.phone_no.$focus
                                                              }">

                    <div id="phone-wrap" class="clearfix">
                        <div id="phone-no" class="form-bx form-bx2">
                            <input type="text" name="phone_no" class="form-control" id="contact_phoneno"
                                   placeholder="Phone Number"
                                   data-ng-model="choice.contact_element_info_phone"
                                   minlength="10"
                                   maxlength="10"
                                   input-focus
                                   ng-pattern="/^[1-9]{1}[0-9]{9}$/"
                                   required />
                            <div ng-messages="newForm.phone_no.$error" style="color:maroon" role="alert">
                                <div ng-message="required" data-ng-if="newForm.phone_no.$invalid && (!newForm.phone_no.$pristine || showValid) && !newForm.phone_no.$focus">This field should not be empty </div>
                                <div ng-message="pattern">Enter valid phone number</div>
                            </div>
                        </div><div class="field-mdl field-req">*</div>
                        <div id="contact_removephone" ng-class="{'add-input add-input2': $index==0,'remove-field2': $index>0}" ng-click="addNewChoice($event)"><a id="contact_remove_phone" href="javascript:">remove</a></div>
                    </div>
                </div>
            </div>

            <div ng-repeat="choice1 in choices1">
                <div class="form-group"
                     data-ng-class="{
                                                               'has-error' : newForm.email.$invalid && (!newForm.email.$pristine || showValid) && !newForm.email.$focus,
                                                               'has-success': newForm.email.$valid && !newForm.email.$pristine && !newForm.email.$focus
                                                              }">
                    <div id="email-wrap" class="clearfix">
                        <div id="email-no" class="form-bx form-bx2">
                            <input type="email" name="email" class="form-control" id="contact_email"
                                   placeholder="Email Address"
                                   data-ng-model="choice1.contact_element_info_email"
                                   minlength="1"
                                   maxlength="30"
                                   input-focus
                                   ng-pattern="/^[a-zA-Z\s]+[a-zA-Z\s0-9._-]+@[a-zA-Z\sa-z]+\.[a-zA-Z\s.]{2,5}$/"
                                   required />
                            <div ng-messages="newForm.email.$error" style="color:maroon" role="alert">
                                <div ng-message="required" data-ng-if="newForm.email.$invalid && (!newForm.email.$pristine || showValid) && !newForm.email.$focus">This field should not be empty </div>
                                <div ng-message="pattern">Enter valid email address</div>
                            </div>

                        </div><div class="field-mdl field-req">*</div>
                        <div id="contact_removeemail" ng-class="{'add-input add-input2': $index==0,'remove-field2': $index>0}" ng-click="addNewChoice1($event)"><a id="contact_remove_email" href="javascript:">remove</a></div>
                    </div>
                </div>
            </div>

            <div class="clearfix">

                <div class="form-bx">
                    <div class="form-group"
                         data-ng-class="{
                                                               'has-error' : newForm.type.$invalid && (!newForm.type.$pristine || showValid) && !newForm.type.$focus,
                                                               'has-success': newForm.type.$valid && !newForm.type.$pristine && !newForm.type.$focus
                                                              }">
                        <select id="type_select" name="type" ng-change="selecttype()" ng-model="directory1" class="dropdown form-control" required>
                            <option value="" selected>Select Type</option>
                            <option value="Client">Client</option>
                            <option value="Lead">Lead</option>
                            <option value="Contact">Contact</option>
                        </select>
                        <div ng-messages="newForm.type.$error" style="color:maroon" role="alert">
                            <div ng-message="required" data-ng-if="newForm.type.$invalid && (!newForm.type.$pristine || showValid) && !newForm.type.$focus">This field should not be empty </div>
                            <div ng-message="pattern">Enter valid type</div>
                        </div>

                    </div>
                </div>
                <div class="field-mdl field-req">*</div>

                <div class="form-bx">
                    <div class="form-group"
                         data-ng-class="{
                                                                        'has-error' : newForm.Title.$invalid && (!newForm.Title.$pristine || showValid) && !newForm.Title.$focus,
                                                                        'has-success': newForm.Title.$valid && !newForm.Title.$pristine && !newForm.Title.$focus
                                                                     }">
                        <input type="text" name="Title" class="form-control" id="contact_designation"
                               placeholder="Title"
                               data-ng-model="params.designation"
                               minlength="1"
                               maxlength="50"
                               alphabets-only
                               input-focus
                               ng-pattern="/^[a-zA-Z\s]*$/" />
                        <div class="text-danger"
                             data-ng-if="newForm.Title.$invalid && (!newForm.Title.$pristine || showValid) && !newForm.Title.$focus">
                            {{ 'Enter valid title' | translate }}
                        </div>
                    </div>
                </div>

            </div>

            <div class="clearfix">
                <div class="form-group form-bx ">
                    <div class="form-group"
                         data-ng-class="{
                                                                        'has-error' : newForm.user.$invalid && (!newForm.user.$pristine || showValid) && !newForm.user.$focus,
                                                                        'has-success': newForm.user.$valid && !newForm.user.$pristine && !newForm.user.$focus
                                                                     }">
                        <label for="">Assign To</label>
                        <select ng-model="user1" name="user" ng-change="selectuser()" id="contact_user"
                                class="dropdown form-control" required>
                            <option value="" selected>Select User</option>
                            <option ng-repeat="User in users"
                                    value="{{User.id}}">
                                {{User.first_name}}
                            </option>
                        </select>
                        <div ng-messages="newForm.user.$error" style="color:maroon" role="alert">
                            <div ng-message="required" data-ng-if="newForm.user.$invalid && (!newForm.user.$pristine || showValid) && !newForm.user.$focus">This field should not be empty </div>
                            <div ng-message="pattern">Enter valid user to be assigned</div>
                        </div>

                    </div>
                </div>

                <div class="field-mdl field-mdl2 field-req">*</div>

                <div class="form-group form-bx ">
                    <div class="form-group"
                         data-ng-class="{
                                                                        'has-error' : newForm.project.$invalid && (!newForm.project.$pristine || showValid) && !newForm.project.$focus,
                                                                        'has-success': newForm.project.$valid && !newForm.project.$pristine && !newForm.project.$focus
                                                                     }">
                        <label for="">Add To Project</label>
                        <select ng-model="project1" name="project" ng-change="selectproject()" id="contact_project"
                                class="dropdown form-control" required>
                            <option value="" selected>Select Project</option>
                            <option ng-repeat="project in projects"
                                    value="{{project.id}}">
                                {{project.name}}
                            </option>

                        </select>
                        <div ng-messages="newForm.project.$error" style="color:maroon" role="alert">
                            <div ng-message="required" data-ng-if="newForm.project.$invalid && (!newForm.project.$pristine || showValid) && !newForm.project.$focus">This field should not be empty </div>
                            <div ng-message="pattern">Enter valid project to be assigned</div>
                        </div>

                    </div>
                </div>

                <div class="field-mdl field-mdl2 field-req">*</div>

            </div>

            <div ng-repeat="choice in choices2">
                <div class="form-group"
                     data-ng-class="{
                                                                  'has-error' : newForm.Address.$invalid && (!newForm.Address.$pristine || showValid) && !newForm.Address.$focus,
                                                                  'has-success': newForm.Address.$valid && !newForm.Address.$pristine && !newForm.Address.$focus
                                                                 }">
                    <div id="address-wrap" class="clearfix">
                        <div id="address-no" class="form-bx form-bx2">
                            <!--<label for="" style="padding-top:5px;"><b>Address</b></label>-->
                            <input type="text" name="Address" class="form-control" id="contact_address"
                                   placeholder="Address Line"
                                   data-ng-model="choice.Street_1"
                                   minlength="5"
                                   maxlength="50"
                                   input-focus
                                   required />
                            <div ng-messages="newForm.Address.$error" style="color:maroon" role="alert">
                                <div ng-message="required" data-ng-if="newForm.Address.$invalid && (!newForm.Address.$pristine || showValid) && !newForm.Address.$focus">This field should not be empty </div>
                                <div ng-message="pattern">Please enter valid address</div>
                            </div>

                        </div><div class="field-mdl field-req">*</div>
                        <div id="contact_removeaddress" ng-class="{'add-input add-input2': $index==0,'remove-field2': $index>0}" ng-click="addNewChoice2($event)"><a id="contact_remove_address" href="javascript:">remove</a></div>
                    </div>
                </div>
            </div>

            <div class="clearfix">
                <div class="form-bx form-bx3">
                    <select ng-model="state1" ng-change="selectstate()" class="dropdown form-control" id="contact_details_state">
                        <option value="" selected>state</option>
                        <option ng-repeat="state in states"
                                value="{{state.state_id}}">
                            {{state.state_name}}
                        </option>
                    </select>
                </div>


                <div class="field-mdl field-mdl2 field-req"></div>

                <div class="form-bx form-bx3">
                    <select ng-change="selectcity()" ng-model="city1" class="dropdown form-control" id="contact_details_city">
                        <option value="" selected>City</option>
                        <option ng-repeat="city in cities  | filter:filterExpression"
                                value="{{city.city_id}}">
                            {{city.city_name}}
                        </option>
                    </select>
                </div>

                <div class="field-mdl field-mdl2 field-req"></div>
                <div class="form-bx form-bx3">
                    <div class="form-group"
                         data-ng-class="{
                                               'has-error' : newForm.Pin.$invalid && (!newForm.Pin.$pristine || showValid) && !newForm.Pin.$focus,
                                               'has-success': newForm.Pin.$valid && !newForm.Pin.$pristine && !newForm.Pin.$focus
                                                                         }">
                        <input type="text" name="Pin" class="form-control" id="contact_pin"
                               placeholder="Pin"
                               data-ng-model="params.zip_code"
                               minlength="1"
                               maxlength="6"
                               input-focus
                               ng-pattern="/^[0-9]{1,7}$/" />
                        <div class="text-danger"
                             data-ng-if="newForm.Pin.$invalid && (!newForm.Pin.$pristine || showValid) && !newForm.Pin.$focus">
                            {{ 'Please enter valid pin' | translate }}
                        </div>
                    </div>
                </div>
            </div>

            <div class="progress" ng-show="((uploader.progress)/1)>0">
                <div class="progress-bar" role="progressbar"
                     ng-style="{ 'width': (uploader.progress)/1 + '%' }"></div>
            </div>


            <div class="modal-btn-wrap clearfix">
                <button id="btn_contact_save" type="submit" class="f-btn">SAVE</button>

                <button id="btn_contact_cancelme" type="button" class="f-btn f-btn2" ng-click="cancel()">CANCEL</button>
            </div>
        </form>


    </div><!-- modal-body ended -->

</div><!-- modal ended -->
