<style type="text/css">
    .UseHand {
        cursor: pointer !important;
    }
</style>

<div id="main-content" class="col-xs-12">
    <div class="content-inner">
        <div class="pg-inner-header">
            <div class="row">

                <div class="col-md-12">
                    <h2 class="pg-inner-title">Clients</h2>
                </div>

            </div>
        </div>
    </div>

    <div class="pg-inner-content">

        <form action="">

            <div class="clearfix">
                <div class="pull-left actions-wrap">

                    <select ng-model="ddlFruits" class="form-control actions-wrap" ng-options="fruit.Id as fruit.Name for fruit in Fruits track by fruit.Id"
                            ng-change="GetValue();addUser()" id="contacaction">
                        <option value="" selected>ACTIONS</option>
                    </select>
                </div>


                <div class="pull-right btn-wrap-right">
                    <a id="contact_opencontactpopup" href="#" class="btn-lk" ng-click="openUploadNotesPopup()" style="cursor:pointer">Upload Notes</a>
                    <a id="contact_opencontactpopup" href="#" class="btn-lk" ng-click="openUploadContactPopup()" style="cursor:pointer">Upload Person</a>
                    <a id="contact_opencontactpopup" href="#" class="btn-lk" ng-click="openContactPopup()" style="cursor:pointer">+ Add New Person</a>
                </div>
            </div>

            <div id="record-content" class="properties-content">

                <div id="contact_kenomain" kendo-grid k-options="contactGrid" selectable="true" k-on-change="myGridChange(dataItem )">
                </div>

            </div><!-- record-content ended -->

        </form>

    </div><!-- pg-inner-content ended -->

</div>