<div id="add_new_team" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">
   
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close" ng-click="$dismiss('cancel')"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="exampleModalLabel">Edit Notes</h4>
            </div>
            <form class="form-content form-content2 edit-organization-setting" name="addNewForm" data-ng-submit="addNew(addNewForm.$valid)" autocomplete="off">

                <div class="clearfix">
                    <div class="form-group form-bx form-bx5">
                        <label for="">Add Notes</label>
                        <textarea cols="100" rows="5" name="description"
                                  data-ng-model="params.text"
                                  minlength="1"
                                  maxlength="500"
                                  input-focus
                                  required />
                    </div>
                </div>

                <div class="modal-btn-wrap clearfix">
                    <button type="submit" class="f-btn">Save</button>

                    <button type="button" class="f-btn f-btn2" ng-click="cancel()">CANCEL</button>
                </div>
            </form>

        </div>
   