

<div id="add_new_contact" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">
   

          

            <div class="modal-body" nv-file-drop="" uploader="uploader" filters="queueLimit, customFilter">
                <div class="close-btn-wrap">
                    <button id="btn_editbtn_cancel" type="button" class="close" data-dismiss="modal" aria-label="Close" ng-click="$dismiss('cancel')" &times;><span aria-hidden="true">&times;</span></button>
                </div>
                <form class="form-content" name="newForm" autocomplete="off" novalidate
                      data-ng-submit="addNewUser(newForm.$valid)">

                    <!--<div class="upload-wrap">
                        <input name="upload-photo" id="upload-photo" type="file" />
                        <span class="upload-text">Add Photo</span>

                    </div>-->
                    <h4 class="form-title">Edit Contact</h4>

                    <div class="clearfix image-upload-container">
                        <div class="image-upload-wrap">
                            <div class="image-upload-title">Upload Contact Image</div>
                            <div class="dropzone dropzone-bx image-upload-bx">
                                <div class="fallback">
                                    <div class="panel panel-success" uploader="uploader" nv-file-over="">
                                        <div class="panel-body image-upload-panel">
                                            <div class="row" ng-hide="uploader.queue.length">
                                                <div class="col-lg-2 col-md-2 col-sm-12"></div>
                                                <div class="col-lg-8 col-md-8 col-sm-12 col-xs-4" style="height:100%">
                                                    <span class="page-center">Drag And Drop</span>
                                                </div>
                                                <div class="col-lg-2 col-md-8 col-sm-12"></div>
                                            </div>
                                            <div class="row" ng-show="uploader.queue.length">
                                                <div class="col-sm-6 last" ng-repeat="item in uploader.queue">
                                                    <div ng-show="uploader.isHTML5"
                                                         ng-thumb="{ file: item._file, height: 200 }"></div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="image-upload-link">
                                <div class="browse-title">Browse</div>
                                <input id="editcontactupload" type="file" class="image-upload-f" value="Browse" accept="image/*" nv-file-select="" uploader="uploader" />

                            </div>
                        </div>

                    </div>

                    <div class="clearfix">

                        <div class="form-bx">
                            <div class="form-group"
                                 data-ng-class="{
                                                                        'has-error' : newForm.firstName.$invalid && (!newForm.firstName.$pristine || showValid) && !newForm.firstName.$focus,
                                                                        'has-success': newForm.firstName.$valid && !newForm.firstName.$pristine && !newForm.firstName.$focus
                                                                    }">
                                <input type="text" autofocus name="firstName" class="form-control" id="editcontact_fname"
                                       placeholder="First Name"
                                       data-ng-model="params.Contact_First_Name"
                                       minlength="1"
                                       maxlength="40"
                                       alphabets-only
                                       input-focus
                                       required
                                       ng-pattern="/^[a-zA-Z\s]*$/" />
                                <div class="text-danger"
                                     data-ng-if="newForm.firstName.$invalid && (!newForm.firstName.$pristine || showValid) && !newForm.firstName.$focus">
                                    {{ 'Please enter alphabets only' | translate }}
                                </div>
                            </div>
                        </div>

                        <div class="field-mdl field-req">*</div>

                        <div class="form-bx">
                            <div class="form-group"
                                 data-ng-class="{
                                                                        'has-error' : newForm.lastName.$invalid && (!newForm.lastName.$pristine || showValid) && !newForm.lastName.$focus,
                                                                        'has-success': newForm.lastName.$valid && !newForm.lastName.$pristine && !newForm.lastName.$focus
                                                                     }">
                                <input type="text" name="lastName" class="form-control" id="editcontact_lname"
                                       placeholder="Last Name"
                                       data-ng-model="params.Contact_Last_Name"
                                       minlength="1"
                                       maxlength="50"
                                       alphabets-only
                                       input-focus
                                       required
                                       ng-pattern="/^[a-zA-Z\s]*$/" />
                                <div class="text-danger"
                                     data-ng-if="newForm.lastName.$invalid && (!newForm.lastName.$pristine || showValid) && !newForm.lastName.$focus">
                                    {{ 'Please enter alphabets only' | translate }}
                                </div>
                            </div>
                        </div>

                    </div>


                    <div ng-repeat="choice in choices">
                        <div class="form-group"
                             data-ng-class="{
                                                                'has-error' : newForm.phone_no.$invalid && (!newForm.phone_no.$pristine || showValid) && !newForm.phone_no.$focus,
                                                                 'has-success': newForm.phone_no.$valid && !newForm.phone_no.$pristine && !newForm.phone_no.$focus
                                                              }">

                            <div id="phone-wrap" class="clearfix">
                                <div id="phone-no" class="form-bx form-bx2">
                                    <input type="text" name="phone_no" class="form-control" id="editcontact_phone"
                                           placeholder="Phone Number"
                                           data-ng-model="choice.Contact_Phone"
                                           minlength="10"
                                           maxlength="10"
                                           input-focus
                                           ng-pattern="/^[1-9]{1}[0-9]{9}$/"
                                           required />
                                    <div class="text-danger"
                                         data-ng-if="newForm.phone_no.$invalid && (!newForm.phone_no.$pristine || showValid) && !newForm.phone_no.$focus">
                                        {{ 'Please enter valid Phone Number' | translate }}
                                    </div>
                                </div>
                                <div id="editcontact_removephone" ng-class="{'add-input add-input2': $index==0,'remove-field': $index>0}" ng-click="addNewChoice($event)"><a id="editcontact_remove_phone" href="javascript:">remove</a></div>
                            </div>
                        </div>
                    </div>


                    <div ng-repeat="choice1 in choices1">
                        <div class="form-group"
                             data-ng-class="{
                                                               'has-error' : newForm.email.$invalid && (!newForm.email.$pristine || showValid) && !newForm.email.$focus,
                                                               'has-success': newForm.email.$valid && !newForm.email.$pristine && !newForm.email.$focus
                                                              }">
                            <div id="email-wrap" class="clearfix">
                                <div id="email-no" class="form-bx form-bx2">
                                    <input type="email" name="email" class="form-control" id="editcontact_email"
                                           placeholder="Email Address"
                                           data-ng-model="choice1.Contact_Email"
                                           minlength="1"
                                           maxlength="30"
                                           input-focus
                                           ng-pattern=".{1,}@[_a-z0-9A-Z]+(\.[a-z0-9A-Z]+)+"
                                           required />
                                    <div class="text-danger"
                                         data-ng-if="newForm.email.$invalid && (!newForm.email.$pristine || showValid) && !newForm.email.$focus">
                                        {{ 'Please enter valid email' | translate }}
                                    </div>
                                </div>
                                <div id="editcontact_removeemail" ng-class="{'add-input add-input2': $index==0,'remove-field': $index>0}" ng-click="addNewChoice1($event)"><a id="editcontact_remove_email" href="javascript:">remove</a></div>
                            </div>
                        </div>
                    </div>


                    <div class="clearfix">

                        <div class="form-bx">
                            <div class="form-group"
                                 data-ng-class="{
                                                                        'has-error' : newForm.Type.$invalid && (!newForm.Type.$pristine || showValid) && !newForm.Type.$focus,
                                                                        'has-success': newForm.Type.$valid && !newForm.Type.$pristine && !newForm.Type.$focus
                                                                    }">
                                <input type="text" autofocus name="Type" class="form-control" id="editcontact_type"
                                       placeholder="Type"
                                       data-ng-model="params.Type"
                                       minlength="1"
                                       maxlength="40"
                                       alphabets-only
                                       input-focus
                                       required
                                       ng-pattern="/^[a-zA-Z\s]*$/" />
                                <div class="text-danger"
                                     data-ng-if="newForm.Type.$invalid && (!newForm.Type.$pristine || showValid) && !newForm.Type.$focus">
                                    {{ 'Please enter alphabets only' | translate }}
                                </div>
                            </div>
                        </div>
                        <div class="field-mdl field-req">*</div>

                        <div class="form-bx">
                            <div class="form-group"
                                 data-ng-class="{
                                                                        'has-error' : newForm.Title.$invalid && (!newForm.Title.$pristine || showValid) && !newForm.Title.$focus,
                                                                        'has-success': newForm.Title.$valid && !newForm.Title.$pristine && !newForm.Title.$focus
                                                                     }">
                                <input type="text" name="Title" class="form-control" id="editcontact_title"
                                       placeholder="Title"
                                       data-ng-model="params.Title"
                                       minlength="1"
                                       maxlength="50"
                                       alphabets-only
                                       input-focus
                                       required
                                       ng-pattern="/^[a-zA-Z\s]*$/" />
                                <div class="text-danger"
                                     data-ng-if="newForm.Title.$invalid && (!newForm.Title.$pristine || showValid) && !newForm.Title.$focus">
                                    {{ 'Please enter alphabets only' | translate }}
                                </div>
                            </div>
                        </div>

                    </div>
                    <div class="clearfix">
                        <div class="form-group form-bx ">
                            <label for="">Assign To</label>
                            <select ng-model="user1" ng-change="selectuser()"
                                    class="dropdown form-control" id="editcontact_assignto" required>
                                <option value="" selected>Select User</option>
                                <option ng-repeat="User in users"
                                        value="{{User.id}}">
                                    {{User.first_name}}
                                </option>
                            </select>
                        </div>

                        <div class="field-mdl field-mdl2 field-req">*</div>

                        <div class="form-group form-bx ">
                            <label for="">Add To Project</label>
                            <select ng-model="project1" ng-change="selectproject()"
                                    class="dropdown form-control" id="editcontact_project" required>
                                <option value="" selected>Select Project</option>
                                <option ng-repeat="project in projects"
                                        value="{{project.id}}">
                                    {{project.name}}
                                </option>

                            </select>
                        </div>

                        <div class="field-mdl field-mdl2 field-req">*</div>

                    </div>


                    <div ng-repeat="choice in choices2">
                        <div class="form-group"
                             data-ng-class="{
                                                                  'has-error' : newForm.Address.$invalid && (!newForm.Address.$pristine || showValid) && !newForm.Address.$focus,
                                                                  'has-success': newForm.Address.$valid && !newForm.Address.$pristine && !newForm.Address.$focus
                                                                 }">
                            <div id="address-wrap" class="clearfix">
                                <div id="address-no" class="form-bx form-bx2">
                                    <label for="" style="padding-top:5px;"><b>Address</b></label>
                                    <input type="text" name="Address" class="form-control" id="editcontact_address"
                                           placeholder="Address Line"
                                           data-ng-model="choice.street1"
                                           minlength="5"
                                           maxlength="50"
                                           input-focus
                                           required />
                                    <div class="text-danger"
                                         data-ng-if="newForm.Address.$invalid && (!newForm.Address.$pristine || showValid) && !newForm.Address.$focus">
                                        {{ 'Please enter valid address' | translate }}
                                    </div>
                                </div>
                                <div id="editcontact_removeaddress" ng-class="{'add-input add-input2': $index==0,'remove-field': $index>0}" ng-click="addNewChoice2($event)"><a id="editcontact_remove_address" href="javascript:">remove</a></div>
                            </div>
                        </div>
                    </div>
                    <div class="clearfix">
                        <div class="form-bx form-bx3">
                            <select ng-model="state1" ng-change="selectstate(state)" class="dropdown form-control" id="editcontact_state" required>
                                <option value="" selected>state</option>
                                <option ng-repeat="state in states"
                                        value="{{state.state_id}}">
                                    {{state.state_name}}
                                </option>
                            </select>
                        </div>
                       

                        <div class="field-mdl field-mdl2 field-req"></div>

                        <div class="form-bx form-bx3">
                            <select ng-change="selectcity(city)" ng-model="city1" class="dropdown form-control" id="editcontact_city" required>
                                <option value="" selected>City</option>
                                <option ng-repeat="city in cities  | filter: filterExpression"
                                        value="{{city.city_id}}">
                                    {{city.city_name}}
                                </option>
                            </select>
                        </div>

                        <div class="field-mdl field-mdl2 field-req"></div>
                        <div class="form-bx form-bx3">
                            <div class="form-group"
                                 data-ng-class="{
                                               'has-error' : newForm.Pin.$invalid && (!newForm.Pin.$pristine || showValid) && !newForm.Pin.$focus,
                                               'has-success': newForm.Pin.$valid && !newForm.Pin.$pristine && !newForm.Pin.$focus
                                                                         }">
                                <input type="text" name="Pin" class="form-control" id="editcontact_pin"
                                       placeholder="Pin"
                                       data-ng-model="params.zipcode"
                                       minlength="1"
                                       maxlength="7"
                                       input-focus
                                       ng-pattern="/^[0-9]{1,7}$/"
                                       required />
                                <div class="text-danger"
                                     data-ng-if="newForm.Pin.$invalid && (!newForm.Pin.$pristine || showValid) && !newForm.Pin.$focus">
                                    {{ 'Please enter valid pin' | translate }}
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="modal-btn-wrap clearfix">
                        <button id="btn_editcontect_save" type="submit" class="f-btn" ng-click="showProgress=true;uploader.uploadAll()">SAVE</button>

                        <button id="btn_editcontact_cancelme" type="button" class="f-btn f-btn2" ng-click="cancel()">CANCEL</button>
                    </div>
                </form>


            </div><!-- modal-body ended -->
    
</div><!-- modal ended -->
