<div id="main-content" class="col-xs-12">
    <div class="content-inner">

        <div class="pg-inner-header">
            <div class="row">

                <div class="col-md-12">
                    <h2 class="pg-inner-title">Booking Preview</h2>
                </div>

            </div>
        </div><!-- pg-inner-header ended -->

    </div><!-- content-inner ended -->

    <div class="pg-inner-content" style="">

        <div class="top-row" style="width:100%; background:#fff; padding:60px">
            <div class="clearfix">

                <div class="col-md-12 seperate">

                    <div class="col-md-8 col-sm-8">
                        <h5 class="capt"><b>{{organizationName}}</b></h5>
                        <span class="capt">{{organizationAddress}}</span><br />
                        <span class="capt">{{organizationEmail}}</span><br />
                        <span class="capt">{{organizationPhone_no}}</span><br />
                        <p>http://www.dwellar.com</p>


                    </div>

                </div>
                <!--options dropdown-->
                <div class="col-md-12  ">
                    <div class="quote-bold">
                        <div class="col-md-3 contact_quotes">
                            <span>ST No:</span> <span class="upper">{{organizationService_tax_no}}</span>
                        </div>
                        <div class="col-md-3 contact_quotes">
                            <span>PAN No:</span> <span class="upper">{{organizationPan_no}}</span>
                        </div>
                        <div class="col-md-4 contact_quotes">
                            <span class="upper">payments terms :</span> &nbsp;&nbsp;&nbsp;<span class="upper per_box">100 % Advance</span>
                        </div>

                    </div>
                </div>
                <div class="col-md-12 seperate tbl_sprt">
                    <div class="title"><h3 style="color: #d5d5d5;" class="seperate">Estimate</h3></div>
                    <div style="margin-top:2%">
                        <div class="col-md-6 contact_quotes">
                            <h5 class="capt"><b>{{contactName}}</b></h5>
                            <span class="capt">{{contactStreet1}},{{contactStreet2}} </span><br>
                            <p class="capt "> {{contactCity}},{{contactStateName}},{{contactZipcode}}</p>
                        </div>
                        <div class="col-md-6 contact_quotes">
                            <span>Estimate No.</span>
                            <span class="quote-bold">{{contactEstimate_no}}</span><br />
                            <span>Date :</span><span style="margin-left: 12%;">{{contactEstimateDate}}</span><br>
                            <div style="margin-top:3px; margin-bottom: 4%;">
                                <span>Expiration Date :</span><span>{{contactExpirationDate | date:'dd/MM/yyyy'}}</span>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="clearfix">

                    <div class="col-md-10 seperate tbl_sprt">

                        <div class="table-responsive">
                            <table class="table table-hover">
                                <thead>
                                    <tr class="tbl_head">
                                        <th>Payment Scheme For<span></span> </th>
                                        <th>Percentage</th>
                                        <th>Amount</th>
                                        <th>Service Tax</th>
                                        <th>Due Date</th>

                                    </tr>
                                </thead>
                                <tbody  >
                                    <tr ng-repeat="payment in contactcServiceTax">
                                        <td><span class=""></span></td>
                                        <td><span class=""></span></td>
                                        <td><span class="">{{payment.amount}}</span></td>
                                        <td><span class="">{{payment.service_tax | number:2}}</span></td>
                                        <td><span class="">{{payment.due_date}}</span></td><!--<input kendo-date-picker class=" cstm_height cxo-f1" data-ng-model="amount[$index].due_date" /></span></td>-->
                                        
                                    </tr>

                                    <!--<tr class="quote-bold">
                                        <td><span class="">Current Due</span></td>
                                        <td><span class="">20%</span></td>
                                        <td><span class="">{{payment.amount}}</span></td>
                                        <td><span class="">{{payment.service_tax | number:2}}</span></td>
                                        <td><span class=""></span></td>
                                        

                                    </tr>
                                    <tr class="quote-bold">
                                        <td><span class="">Due on Completion Of Super Structure</span></td>
                                        <td><span class="">20%</span></td>
                                        <td><span class="">{{payment.amount}}</span></td>
                                        <td><span class="">{{payment.service_tax | number:2}}</span></td>
                                        <td><span class=""></span></td>

                                    </tr>
                                    <tr class="quote-bold">
                                        <td><span class=""> Due On Possession</span></td>
                                        <td><span class="">20%</span></td>
                                        <td><span class="">{{payment.amount}}</span></td>
                                        <td><span class="">{{payment.service_tax | number:2}}</span></td>
                                        <td><span class=""></span></td>

                                    </tr>-->
                                    <tr class="quote-bold">
                                        <td><span class="">Total</span></td>
                                        <td><span class="">100%</span></td>
                                        <td><span class="">{{sumamount}}</span></td>
                                        <td><span class="">{{sumservice |number:2}}</span></td>
                                        <td><span class=""></span></td>
                                       
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>


                <h4 class="seperate"><b>Project</b> :</h4>
                <div class="col-md-10 ">

                    <div class="table-responsive">
                        <table class="table table-bordered">
                            <tbody class="c_td">
                                <tr>
                                    <td><span class="data_span">{{contactTowerName}}</span><p>Tower</p></td>
                                    <td><span class="data_span">{{contactcFloorNo}}</span><p>Floor</p></td>
                                    <td><span class="data_span">{{contactUnitNo}}</span><p>Unit No.</p></td>
                                    <td><span class="data_span">{{contactUnitTypeDesc}}</span><p>BHK</p></td>
                                    <td><span class="data_span">{{contactSaleable}} sq.ft</span><p>Salable Area</p></td>
                                    <td><span class="data_span">{{contactCarpetArea}}sq.ft</span><p>Carpet Area</p></td>
                                    <td><span class="data_span">{{contactcar_park_id}}</span><p>Car Park</p></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>

                <!--data end-->
            </div>
            <div class="clearfix">
                <div class="col-md-10 seperate ">

                    <div class="table-responsive">
                        <table class="table table-hover">
                            <thead>
                                <tr class="tbl_head">
                                    <th><span>Total Consideartion:{{contactcTotalConsideration}}</span></th>
                                    <th class="per_txt_right"></th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td><span class="">Rate Per Sq. Ft</span></td>
                                    <td class="per_txt_right">4000<span class=""></span></td>
                                </tr>
                                <tr>
                                    <td><span class="">Floor Rise Applicable</span></td>
                                    <td class="per_txt_right">{{contactcFloorRiseApplicable}}<span class=""></span></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>

                <div class="col-md-10 seperate">

                    <div class="table-responsive">
                        <table class="table table-hover">
                            <thead>
                                <tr class="tbl_head">
                                    <th><span>Goverment Charges</span></th>
                                    <th class="per_txt_right"></th>
                                </tr>
                            </thead>
                            <tbody>
                                <!--<tr ng-repeat="govermentCharge in govermentChargesAfterCalculation">
                                    <td><span class="">{{govermentCharge.name}}</span></td>
                                    <td class="per_txt_right"><span>{{govermentCharge.value| number:2}}</span></td>
                                </tr>-->

                                <tr>
                                    <td><span class="">d>Stamp Duty 5%pa</span></td>
                                    <td class="per_txt_right">2,252,444<span class=""></span></td>
                                </tr>
                                <tr>
                                    <td><span class="">Registration</span></td>
                                    <td class="per_txt_right">23,155,55<span class=""></span></td>
                                </tr>
                                <tr>
                                    <td><span class=""> Vat 1%</span></td>
                                    <td class="per_txt_right">22,65,330<span class=""></span></td>
                                </tr>
                                <tr>
                                    <td><span class="">Service Tax 4.5%</span></td>
                                    <td class="per_txt_right">98,54,142<span class=""></span></td>
                                </tr>

                            </tbody>
                        </table>
                    </div>
                </div>


                <div class="col-md-10 seperate">
                    <div class="table-responsive">
                        <table class="table table-hover">
                            <thead>
                                <tr class="tbl_head">
                                    <th><span>Other Charges</span></th>
                                    <th class="per_txt_right"></th>
                                </tr>
                            </thead>
                            <tbody>
                                <!--<tr ng-repeat="otherCharge in otherChargesAfterCalculation">
                                    <td><span class="">{{otherCharge.name}}</span></td>
                                    <td class="per_txt_right"><span>{{otherCharge.value| number:2}}</span></td>
                                </tr>-->

                                <tr>
                                    <td><span class="">paCorpus Fundn></span></td>
                                    <td class="per_txt_right">98,54,142<span class=""></span></td>
                                </tr>
                                <tr>
                                    <td><span class="">Condomonium Formation</span></td>
                                    <td class="per_txt_right">98,54,142<span class=""></span></td>
                                </tr>
                                <tr>
                                    <td><span class="">utility(Gas,Water,Electric)</span></td>
                                    <td class="per_txt_right">98,54,142<span class=""></span></td>
                                </tr>
                                <tr>
                                    <td><span class="">Advance Maintenance For 24 Month</span></td>
                                    <td class="per_txt_right">98,54,142<span class=""></span></td>
                                </tr>
                                <tr>
                                    <td><span class="">legal</span></td>
                                    <td class="per_txt_right">98,54,142<span class=""></span></td>
                                </tr>
                                <tr>
                                    <td><span class="">Club House</span></td>
                                    <td class="per_txt_right">98,54,142<span class=""></span></td>
                                </tr>
                                <tr>
                                    <td><span class="">Infrastructure Charges</span></td>
                                    <td class="per_txt_right">98,54,142<span class=""></span></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="col-md-10 seperate tbl_sprt">
                    <div class="table-responsive">
                        <table class="table">
                            <tbody>
                                <tr>
                                    <td style="width: 55%; border-top: none;"><span class=""><b>Offer Discount</b></span></td>
                                    <td style=" border-top: none;"></td>
                                    <td style=" border-top: none;">{{contactDiscount}}</td>
                                </tr>
                                <tr>
                                    <td style="width: 55%; border-top: none;"><span class=""><b>Additional Discount</b></span></td>
                                    <td style=" border-top: none;"></td>
                                    <td style=" border-top: none;">{{contactAdditionalDiscount}}</td>
                                </tr>
                                <tr>
                                    <td style="width: 55%; border-top: none;"><span class=""><b> FINAL TOTAL</b></span></td>
                                    <td style=" border-top: none;"></td>
                                    <td style=" border-top: none;">{{contactFinalTotal}}</td>
                                </tr>
                                <tr>
                                    <td style="border-top: none;"><i class="fa fa-tags " style="color: #FF8F00;"></i> <span>Offer applied(Gold Coin) - {{offersvalue}}</span></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <hr class="custom_hr">
            <div class="modal-btn-wrap5 modal-btn-wrap6 clearfix">
                <button class="btn organization-btn" style="float:left" ng-show="bookingId==null" id="campaign_save" ng-click="bookNow()">
                  Book Now
                </button>
                <button class="btn campaign-container-btn" id="campaign_cancel" ng-show="bookingId==null" type="button" ng-click="cancel()">
                  Cancel
                </button>
                <button class="btn organization-btn" style="float:left" id="campaign_save" ng-show="quoteId!=null && bookingId!=null">
                 Confirm Booking
                </button>
                <button class="btn campaign-container-btn" id="campaign_cancel" ng-show="quoteId!=null && bookingId!=null" type="button">
                 Decline
                </button>
            </div>
        </div>
    </div>
    <!-- pg-inner-content ended -->
</div>