<button type="button" class="close" ng-click="$dismiss('cancel')" id="btn_addSuccessfulClose">&times;</button>
<div class="main-content add-new project sucessful-popup">
    <br />
    <br />

    <h3 style="text-align:center">{{title}} Updated Successfully.</h3>
    <br />
    <br />
    <button type="button" id="btn_addSuccessfulOk" class="f-btn f-btn-sucessfull-ok" ng-click="$dismiss('cancel')">OK</button>

    <!--<a data-target="#" href="/index.html#/home/users"> Back to User List </a>-->
</div>

