<div id="add_new_floor" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">

            <div class="modal-body" nv-file-drop="" uploader="uploader" filters="queueLimit, customFilter">

                <div class="close-btn-wrap">
                    <button type="button" class="close" id="btn_panaromicClose" data-dismiss="modal" aria-label="Close" ng-click="$dismiss('cancel')" &times;><span aria-hidden="true">&times;</span></button>
                </div>

                <form class="form-content form-content2 edit-organization-setting" name="addNewForm" novalidate data-ng-submit="addNew(addNewForm.$valid)" autocomplete="off">

                    <h4 class="form-title">Unit View Images</h4>


                    <select id="panaromicViewImage" ng-change="selectdir()" ng-model="dir1" class="dropdown form-control" required>
                        <option value="" selected>--Select direction--</option>
                        <option value="North" >North</option>
                        <option value="South">South</option>
                        <option value="West" >West</option>
                        <option value="East">East</option>
                        
                    </select>

                    <div class="clearfix image-upload-container">
                        <div class="image-upload-wrap">
                            <div class="image-upload-title">Upload Image</div>
                            <div class="dropzone dropzone-bx image-upload-bx">
                                <div class="fallback">
                                    <div class="panel panel-success" uploader="uploader" nv-file-over="">
                                        <div class="panel-body image-upload-panel">
                                            <div class="row" ng-hide="uploader.queue.length">
                                                <div class="col-lg-2 col-md-2 col-sm-12"></div>
                                                <div class="col-lg-8 col-md-8 col-sm-12 col-xs-4" style="height:100%">
                                                    <span class="page-center">Drag And Drop</span>
                                                </div>
                                                <div class="col-lg-2 col-md-8 col-sm-12"></div>
                                            </div>
                                            <div class="row" ng-show="uploader.queue.length">
                                                <div class="col-sm-6 last" ng-repeat="item in uploader.queue">
                                                    <div ng-show="uploader.isHTML5"
                                                         ng-thumb="{ file: item._file, height: 200 }"></div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="image-upload-link">
                                <div class="browse-title">Browse</div>
                                <input type="file" class="image-upload-f" id="panaromicUpload" value="Browse" accept="image/*" nv-file-select="" uploader="uploader" />
                                <p ng-show="uploader.queue.length"> {{uploader.queue[0]._file.name}}</p>
                            </div>
                        </div>
                    </div>

                    <div class="progress" ng-show="showProgress">
                        <div class="progress-bar" role="progressbar"
                             ng-style="{ 'width': (uploader.progress)/1 + '%' }"></div>
                    </div>
                    <!--<div class="modal-btn-wrap3 clearfix">
                        <button type="submit" id="gallery_save" class="f-btn"
                                ng-click="showProgress=true;uploader.uploadAll()" ng-disabled="!uploader.getNotUploadedItems().length">
                            Save
                        </button>

                    </div>-->
                    <div class="modal-btn-wrap5 modal-btn-wrap6 clearfix">
                        <div class="btn-f-c">
                            <button class="f-btn" id="btn_PanaromicSave" type="submit"
                                    ng-click="showProgress=true;uploader.uploadAll()" ng-disabled="!uploader.getNotUploadedItems().length">
                                SAVE
                            </button>
                        </div>
                        <div class="btn-f-c"><button class="f-btn f-btn2" type="submit" id="btn_PanaromicCancel" ng-click="$dismiss('cancel')">CANCEL</button></div>
                    </div>
                </form>
            </div><!-- modal-body ended -->

        </div>
    </div>
</div>