



<div id="main-content" class="col-xs-12">
    <div class="content-inner">
        <div class="pg-inner-header">
            <div class="row">
                <div class="col-md-12">
                    <h2 class="pg-inner-title">Projects Details</h2>

                </div>


            </div>


            <div class="pg-inner-content">

                <div class="project-detail">

                    
                    <div class="project-detail-info">
                     
                        <div class="project-detail-photo">
                          
                            <img src={{image.media_url}} alt="" class="img-responsive" style="margin: 79px 12px 79px 12px;height: 90px;width: 200px;"/>
                        </div>
                      
                        <div  class="project-detail-txt">
                           

                            <div class="project-name">Project Name:  {{image.name}} &nbsp; &nbsp; <a id="iconEdit"  ng-click="openEditProjectPopup()" data-toggle="modal" style="cursor:pointer"><span class="edit-icon"></span></a> </div>
                            <div class="project-d02">Street:{{image.Street_1}} {{image.Street_2}}</div>
                            <div class="project-d02">Area: {{image.area}}</div>
                            <div class="project-d01">City: {{image.city}} State: {{image.state}} Pin Code: {{image.ZipCode}}</div>
                            <div class="project-d02">Possession Date: {{image.possesion_date}}</div>
                            <div class="project-d02">Latitude: {{image.lat1}}</div>
                            <div class="project-d02">Longitude: {{image.long1}}</div>
                            <div class="project-d03">Project Website: {{image.project_website}}</div>
                            <div class="project-d03">Company Website:{{image.builder_website}}</div>

                        </div>
                        <div style="float:right; margin-top:210px" >
                            <a ng-href="{{facebook}}">
                               
                                <img src="images/facebook.png" />
                            </a>
                            <a ng-href={{twitter}}>
                                <img src="images/twitter.png" />
                            </a>   
                            <a ng-href="{{linkedin}}">
                                <img src="images/linkedin.png" />
                            </a>                               
                        </div>

                    </div> <!-- project-detail-info ended -->   



                    <div class="project-detail-tabs pg-tabs" kendo-tab-strip >
                        <ul class="nav nav-tabs responsive-tagJS" role="tablist">
                            <li class="k-state-active"> <a aria-controls="summary" role="tab" data-toggle="tab">SUMMARY</a></li>
                            <li><a aria-controls="summary" role="tab" data-toggle="tab">ESSENTIAL</a></li>
                            <li><a aria-controls="summary" role="tab" data-toggle="tab">USERS</a></li>
                            <li><a aria-controls="summary" role="tab" data-toggle="tab">TEAMS</a></li>
                            <!--<li><a aria-controls="summary" role="tab" data-toggle="tab">PROPERTYLIST</a></li>-->
                            <li><a aria-controls="summary" role="tab" data-toggle="tab">TOWER TYPE</a></li>
                            <li><a aria-controls="summary" role="tab" data-toggle="tab">WING TYPE</a></li>
                            <li><a aria-controls="summary" role="tab" data-toggle="tab">FLOOR TYPE</a></li>
                            <li><a aria-controls="summary" role="tab" data-toggle="tab">UNIT TYPE</a></li>
                            <li><a aria-controls="summary" role="tab" data-toggle="tab">CONTACTS</a></li>
                            <li><a aria-controls="summary" role="tab" data-toggle="tab">TASKS</a></li>
                            <li><a aria-controls="summary" role="tab" data-toggle="tab">INVENTORY</a></li>
                            <li><a aria-controls="summary" role="tab" data-toggle="tab">PAYMENT</a></li>
                            <li><a aria-controls="summary" role="tab" data-toggle="tab">GALLERY</a></li>
                            <li><a aria-controls="summary" role="tab" data-toggle="tab">AMENITIES</a></li>
                            <li><a aria-controls="summary" role="tab" data-toggle="tab">BROCHURE </a></li>
                            <li><a aria-controls="summary" role="tab" data-toggle="tab">PANORAMIC VIEW</a></li>
                            <li><a aria-controls="summary" role="tab" data-toggle="tab">EVENTS</a></li>
                            <li><a aria-controls="summary" role="tab" data-toggle="tab">ACTIVITY HISTORY</a></li>
                            <li><a aria-controls="summary" role="tab" data-toggle="tab">UPLOAD VIEW</a></li>
                            <!--<li><a aria-controls="summary" role="tab" data-toggle="tab">CHARGES</a></li>-->
                         </ul>


                        <div class="tab-content">

                            <div class="tab-pane fade in active" id="summary">

                                <div class="project-detail-summary">

                                    <div class="summary-bx" ng-repeat="sum in buildsummary">
                                        <div class="summary-title"><span>{{::$index+1}}</span>{{::sum.tower_name}} </div>

                                        <div class="tb-c-wrap">

                                            <div class="tb-c"  ng-repeat="summery in sum.UnitList1" >
                                                <h3>{{::summery.unit_type_desc}}</h3>

                                                <div class="tb-sub">
                                                    <span class="tb-sub-t tb-sub-t06"></span>
                                                    <span class="tb-sub-txt">Carpet Area<span>{{::summery.carpet_area}} sq.ft</span></span>
                                                </div>
                                                <div class="tb-sub">
                                                    <span class="tb-sub-t tb-sub-t04"></span>
                                                    <span class="tb-sub-txt"> Saleable Area<span>{{::summery.super_built_up_area}} sq.ft</span></span>
                                                </div>
                                            </div>

                                        </div><!-- tb-c-wrap ended -->
                                    </div><!-- summary-bx ended -->
                                    <!-- summary-bx ended -->

                                </div><!-- project-detail-summary ended -->

                            </div>

                            </div>  <!--Summmary-->


                        <div  class="tab_content">
                            <div class="tab_style">
                                <div class="div_pad">
                                    <div class="row">
                                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">

                                            <div class="row">

                                                <div class="pull-left tb-box-img essential-tab" style="margin-left:18px">
                                                    <h4>Project Logo</h4>
                                                    <img src="{{media_url1}}" alt="" width="218" height="160"  />
                                                </div>
                                                <div class="col-sm-1"></div>
                                                <div class="pull-left tb-box-img essential-tab" >
                                                    <h4>Project Home Page Image</h4>
                                                    <img src="{{media_url2}}"  alt="" width="218" height="160"  />
                                                </div>
                                                <div class="col-sm-1"></div>
                                                <div class="pull-left tb-box-img essential-tab" >
                                                    <h4>Project Thumb 2D Image</h4>
                                                    <img src="{{media_url3}}"  width="218" height="160"  />
                                                </div>
                                                <div class="col-sm-1"></div>
                                                <div class="pull-left tb-box-img essential-tab">
                                                    <h4>Project Podium image</h4>
                                                    <img src="{{media_url4}}" alt="" width="218" height="160"  />
                                                </div>
                                            </div>

                                        </div>

                                    </div>
                                </div>

                            </div>
                        </div> <!--Essential-->


                        <div class="leads_group" id="record-content">
                            <div class="tab-content-title">Users<a id="team_user" class="add-btn" data-toggle="modal" ng-click="openAddPopup()" style="cursor:pointer">+</a></div>
                                <div kendo-grid k-options="UserGrid" selectable="true">

                                </div>
                            </div>  <!--User-->


                        <div class="leads_group" id="record-content">
                            <div class="tab-content-title">Teams<a id="team_user" class="add-btn" data-toggle="modal" ng-click="openTeamPopup()" style="cursor:pointer">+</a></div>
                                <div kendo-grid k-options="TeamsGrid" selectable="true">

                                </div>
                            </div> <!--Teams-->                         

                        <div class="container">
                            <div class="col-md-12">
                                <div id="tower-type">

                                    <div class="tab-content-title">Tower Type <a id="btn_opentowerpopup" class="add-btn" data-toggle="modal" ng-click="openNewTowerPopup()" style="cursor:pointer">+</a></div>

                                    <div class="unit-content-wrap-1" ng-repeat="tower in built">

                                        <div class="unit-title-1">{{tower.tower_name}}&nbsp;<a id="iconEdit" ng-click="openEditTowerPopup(tower.id)" data-toggle="modal" style="cursor:pointer"><span class="edit-icon"></span></a></div>

                                        <div class="unit-bx-1">

                                            <div class="col-md-12 tower-row">
                                                <div class="row">
                                                    <div class="col-md-3 col-sm-3">
                                                        <div class="unit-img">
                                                            <img src="{{tower.Image_Url_Tower1}}" alt="" class="img-responsive" style="width:162px;height:150px " />
                                                        </div>
                                                    </div>
                                                    <div class="col-md-3 col-sm-3">
                                                        <div class="tb-sub">
                                                            <span class="tb-sub-t-1 tb-sub-t07"></span>
                                                            <span class="tb-sub-txt">Base Price</span>
                                                            <p class="tower-p">{{tower.base_price}}<small style="color: #d5d5d5;"> /sq.ft</small></p>
                                                        </div>
                                                        <div class="tb-sub">
                                                            <span class="tb-sub-t-1 tb-sub-t07"></span>
                                                            <span class="tb-sub-txt">Park Price</span>
                                                            <p class="tower-p">{{tower.cark_park_price}}</p>
                                                        </div>
                                                    </div>
                                                    <div class="col-md-3 col-sm-3">
                                                        <div class="tb-sub">
                                                            <span class="tb-sub-t-1 tb-sub-t07"></span>
                                                            <span class="tb-sub-txt">Floor Rise</span>
                                                            <p class="tower-p">{{tower.floor_rise}}<small style="color: #d5d5d5;"> /sq.ft</small></p>
                                                        </div>
                                                        <div class="tb-sub">
                                                            <span class="tb-sub-t-1 tb-sub-t07"></span>
                                                            <span class="tb-sub-txt">Floor Rise Starts From</span>
                                                            <p class="tower-p">{{tower.floor_rise_starts_from}}</p>
                                                        </div>
                                                    </div>
                                                    <div class="col-md-3 col-sm-3">
                                                        <div class="tb-sub">
                                                            <span class="tb-sub-t-1 tb-sub-t08"></span>
                                                            <span class="tb-sub-txt">No of Wings</span>
                                                            <p class="tower-p">{{tower.no_of_wings}}</p>
                                                        </div>
                                                    </div><!-- unit-bx ended -->
                                                </div>
                                            </div>
                                        </div><!-- unit-content-wrap ended -->
                                    </div>
                                </div>
                            </div>
                        </div>  <!-- tower-type ended -->

                        <div class="tab-pane" id="wing-type">

                            <div class="tab-content-title tab-content-title-b">Wing Type<a id="btn_openwingpopup" class="add-btn" ng-click="openNewWingPopup()" data-toggle="modal" style="cursor:pointer">+</a></div>

                            <div class="unit-content-wrap">

                                <div class="unit-bx" ng-repeat="user in builder">
                                   
                                    <div class="unit-title"> {{user.wing_code}} &nbsp;<a id="iconEdit" ng-click="openEditWingPopup(user.id)" data-toggle="modal" style="cursor:pointer"><span class="edit-icon"></span></a></div>
                                    <div class="unit-content">
                                        <div class="unit-img">
                                            <img src="{{user.image_url_wing1}}" alt="" class="img-responsive" style="width:162px;height:150px "/>
                                        </div>
                                        <div class="unit-info">
                                            <div class="tb-c-wrap">
                                                <div class="tb-c">
                                                    <div class="tb-sub" ng-repeat="wing in user.FloorList1 ">
                                                        <span class="tb-sub-t tb-sub-t06"></span>
                                                        <span class="tb-sub-txt">{{wing.unit_type_desc}}<span>{{wing.no_of_units}}</span></span>
                                                    </div>
                                                    <!--<div class="tb-sub">
                                    <span class="tb-sub-t tb-sub-t02"></span>
                                    <span class="tb-sub-txt">{{user.floor_type_name}}   <span>{{user.no_of_floors}}</span></span>
                                </div>-->
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div><!-- unit-bx ended -->



                            </div><!-- unit-content-wrap ended -->

                        </div>          <!-- wing-type ended -->

                        <div class="tab-pane fade" id="floor-type">
                            <div class="tab-content-title">Floor Types <a id="btn_openfloorpopup" class="add-btn" data-toggle="modal" ng-click="openNewFloorPopup()" style="cursor:pointer">+</a></div>

                            <div class="unit-bx" ng-repeat="user in builddetail">
                               
                                <div class="unit-title"> <b>{{user.floor_type}}</b> &nbsp; &nbsp; <a id="iconEdit" ng-click="openEditFloorPopup(user.floor_id)" data-toggle="modal" style="cursor:pointer"><span class="edit-icon"></span></a> </div>

                                <!--<div class="unit-bx" ng-repeat="floor in user.UnitList1">-->

                                    <!--<h3>Unit {{$index + 1}}</h3>-->

                                    <div class="unit-content">
                                        <div class="unit-img">
                                            <img src={{user.Image_Url_Floor1}} alt="" class="img-responsive"  style="width:162px;height:150px "/>
                                        </div>

                                        <div class="unit-info">
                                            <div class="tb-c-wrap">
                                                <div class="tb-c">
                                                    <!--<h3>{{floor.unit_type_desc}}</h3>-->
                                                    <div class="tb-sub">
                                                        <span class="tb-sub-t tb-sub-t04"></span>
                                                        <span class="tb-sub-txt">No of Units<span>{{user.no_of_units_floor}}</span></span>
                                                    </div>

                                      
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                <!--</div>-->   <!-- unit-bx ended -->
                                <!-- unit-bx ended -->
                                <!-- unit-bx ended -->

                            </div><!-- unit-content-wrap ended -->
                            <!-- unit-content-wrap ended -->
                        </div>  <!-- floor-type ended -->

                        <div class="tab-pane" id="unit-type">
                            <div class="tab-content-title tab-content-title-b">Unit Type <a id="btn_openunitpopup" class="add-btn" ng-click="openNewUnitPopup()" data-toggle="modal" style="cursor:pointer">+</a></div>

                            <div class="unit-content-wrap">

                                <div class="unit-bx" ng-repeat="user in orgUsers">
                                    <div class="unit-title"> {{user.unit_type_desc}} &nbsp; &nbsp;<a id="iconEdit" ng-click="openNewUnitPopup(user)" data-toggle="modal" style="cursor:pointer"><span class="edit-icon"></span></a></div>
                                    
                                    <div class="unit-content">
                                        <div class="unit-img">
                                            <img src="{{user.Image_Url}}" alt="" class="img-responsive"style="width:162px;height:150px " />
                                        </div>
                                        <div class="unit-info">
                                            <div class="tb-c-wrap">
                                                <div class="tb-c">
                                                    <div class="tb-sub">
                                                        <span class="tb-sub-t tb-sub-t06"></span>
                                                        <span class="tb-sub-txt">Carpet Area<span>{{user.carpet_area}}</span></span>
                                                    </div>
                                                    <div class="tb-sub">
                                                        <span class="tb-sub-t tb-sub-t04"></span>
                                                        <span class="tb-sub-txt">Saleable Area<span>{{user.super_built_up_area}}</span></span>
                                                    </div>
                                                    <div class="tb-sub">
                                                        <span class="tb-sub-t tb-sub-t03"></span>
                                                        <span class="tb-sub-txt">Bedrooms<span>{{user.num_bedrooms}}</span></span>
                                                    </div>
                                                    <div class="tb-sub">
                                                        <span class="tb-sub-t tb-sub-t02"></span>
                                                        <span class="tb-sub-txt">Bathrooms<span>{{user.num_bathrooms}}</span></span>
                                                    </div>
                                                    <div class="tb-sub">
                                                        <span class="tb-sub-t tb-sub-t05"></span>
                                                        <span class="tb-sub-txt">Car Park<span>{{user.cark_park}}</span></span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div><!-- unit-bx ended -->
                            </div><!-- unit-content-wrap ended -->
                        </div>  <!-- unit-type ended -->

                        <div class="leads_group" id="record-content">
                                <div kendo-grid k-options="PeopleGrid" selectable="true">

                                </div>
                            </div>  <!--People-->

                        <div class="leads_group" id="record-content">
                            <div class="tab-content-title">Task <a id="contact_openNewPaymentPopup" class="add-btn" data-toggle="modal" ng-click="openAddNewTask()">+</a></div>
                            <div kendo-grid k-options="TaskGrid" selectable="true" k-on-change="myGridChange(dataItem)">

                            </div>
                        </div>  <!--Task-->

                        <div class="tab-pane fade" id="inventory">

                            <div class="tab-content-title tab-content-title-b" id="gen-inventory">
                                <div class="form-group">
                                    <div class="col-xs-2">
                                        <input type="hidden" name="Select Project"  data-ng-model="params.country">

                                        <select ng-change="selectTower()"
                                                ng-model="tower1" class="dropdown form-control" required>
                                            <option value="" selected>-- Choose Tower--</option>
                                            <option ng-repeat="tower in towers"
                                                    value="{{tower.id}}">
                                                {{tower.tower_name}}
                                            </option>

                                        </select>




                                    </div>
                                </div>
                                <div class="col-sm-1"></div>
                                <btn class="btn btn-generate" ng-click="towerGrid()"> Generate Inventory</btn>

                                <!--<btn class="btn btn-generate" ng-click="showTowergrid()">Show Inventory</btn>-->
                            </div>

                            <div class="leads_group" id="record-content">
                                <div kendo-grid k-options="TowerListGrid" selectable="true" id="gridInventory" k-on-change="myGridChangePanam(dataItem)">

                                </div>
                                <div ng-show="width>0" class="progress">
                                    <div class="progress-bar" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" ng-style="{'width':width+'%'}">
                                
                                        </div>
                                    </div>
                                </div>
                            </div>

                        <div class="tab-pane fade" id="payment">

                            <div class="tab-content-title">Payment Schemes <a data-toggle="modal" ng-click="openNewPaymentSchemePopup()" class="add-btn" style="cursor:pointer">+</a></div>
                            <div class="payment-list-wrap toggle-on" ng-repeat="user in orgpayment track by $index">
                                <div class="payment-list-head clearfix">
                                    <div class="pull-left payment-list-title">
                                        {{user.type_of_payment}}<a data-toggle="modal"></a>
                                        <a ng-click="openEditPaymentSchemePopup(user.PaymentScheduleDetailsList[0].payment_schedule_id)" style="cursor:pointer" data-toggle="modal"><span class="edit-icon"></span></a>
                                    </div>
                                    <div class="pull-right">
                                        <label ng-click="toggleClass($index)">{{isVisible[$index] ? '-' : '+'}}</label>
                                    </div>

                                </div>
                                <div ng-show="isVisible[$index]" class="payment-list-content">
                                    <div class="payment-list-row clearfix" ng-repeat="sum in user.PaymentScheduleDetailsList">
                                        <span class="payment-c01">{{sum.description}}</span>
                                        <span class="payment-c02">{{sum.percentage}}</span>
                                        
                                    </div>
                                    <div class="payment-list-row clearfix">
                    <span class="payment-c01 payment-c-b">TOTAL</span>
                    <span class="payment-c02 payment-c-b">100</span>
                </div>
                                </div>
                            </div>
                        </div> <!-- payment ended -->

                        <div class="tab-pane fade" id="gallery">
                            <div class="properties-list">

                                <div class="tab-content-title tab-content-title-b"><b>Images</b> <a id="btn_opengallerypopup" data-toggle="modal" class="add-btn" ng-click="openNewGalleryPopup()" style="cursor:pointer">+</a></div>

                                <div class="properties-bx-wrap clearfix">
                                    <div class="properties-bx" ng-repeat="image in Gallery">
                                        <div class="properties-bx-inner">
                                            <div class="properties-img">
                                                <img src={{image.media_url}} alt="" width="218" height="160" />
                                            </div>
                                            <a class="properties-close"><i ng-click ="removeImage($index)" class="fa fa-close"></i></a>
                                            <!--<a class="properties-name">{{::image.media_name}}</a>-->
                                            
                                        </div>
                                        <a class="properties-name">{{image.notes}}</a>
                                     
                                    </div>

                                </div><!-- properties-bx-wrap ended -->

                                <div class="tab-content-title tab-content-title-b"><b>Videos</b> <a id="btnAdd" data-toggle="modal" class="add-btn" ng-click="openNewVideoPopup()">+</a></div>

                                <div class="properties-bx-wrap clearfix">
                                    <div class="properties-bx" ng-repeat="video in Videos">
                                        <div class="properties-bx-inner">
                                            <div class="properties-img">
                                                <video src={{video.media_name}} type="video/mp4" alt="" width="218" height="160" />
                                            </div>
                                            <a class="properties-close"><i class="fa fa-close"></i></a>
                                            <!--<a class="properties-name">{{::image.media_name}}</a>-->
                                            <!--<a class="properties-name">{{image.notes}}</a>-->
                                        </div>
                                    </div>

                                </div><!-- properties-bx-wrap ended -->

                            </div>
                        </div><!-- gallery ended -->

                        <div class="tab-pane fade" id="amenities">

                            <div class="tab-content-title tab-content-title-b"><b>Society Amenities</b> <a id="open_aminitiesopup" data-toggle="modal" class="add-btn" ng-click="openNewAmenityPopup()" style="cursor:pointer">+</a></div>
                            <div class="society-amenities-wrap clearfix">
                                <ul class="list-unstyled society-amenities-list">
                                    <li ng-repeat="amenity in orgAmenities">
                                        <div class="amenities-bg-dis clearfix">
                                            <span class="amenities-ico amenities-ico01">
                                                <img src="{{amenity.media_url}}" alt=""  width="45" height="45" /></span>{{amenity.amenity_type_code}}
                                       </div>
</li>

                                </ul>
                            </div><!-- society-amenities-wrap ended -->

                        </div><!-- amenities ended -->

                        <div class="tab-pane fade" id="brochure">
                            <div class="properties-list">

                                <div class="tab-content-title tab-content-title-b"><b>Brochure</b> <a id="btn_opengallerypopup" data-toggle="modal" class="add-btn" ng-click="openNewBrochurePopup()" style="cursor:pointer">+</a></div>

                                <div class="properties-bx-wrap clearfix">
                                    <div class="properties-bx" ng-repeat="image in Gallery2">
                                        <div class="properties-bx-inner">
                                            <div class="properties-img">
                                                <img src="images/pdf.jpg" alt="" width="218" height="160" />
                                            </div>
                                            <a class="properties-close"><i class="fa fa-close"></i></a>
                                            <!--<a class="properties-name">{{::image.media_name}}</a>-->
                                            <a class="properties-name">{{image.notes}} Start</a>
                                        </div>
                                    </div>

                                </div><!-- properties-bx-wrap ended -->

                                <div class="properties-bx-wrap clearfix">
                                    <div class="properties-bx" ng-repeat="image in Gallery1">
                                        <div class="properties-bx-inner">
                                            <div class="properties-img">
                                                <img src="images/pdf.jpg" alt="" width="218" height="160" />
                                            </div>
                                            <a class="properties-close"><i class="fa fa-close"></i></a>
                                            <!--<a class="properties-name">{{::image.media_name}}</a>-->
                                            <a class="properties-name">{{image.notes}} End</a>

                                        </div>
                                    </div>

                                </div><!-- properties-bx-wrap ended -->



                            </div>
                        </div><!-- brochure ended -->

                        <div class="tab-pane fade" id="Panoramic_view">
                            <div class="properties-list">

                                <div class="tab-content-title tab-content-title-b"><b>Panoramic Views</b> <a id="btn_opengallerypopup" data-toggle="modal" class="add-btn" ng-click="openNewPanoramicViewPopup()" style="cursor:pointer">+</a></div>

                                <div class="properties-bx-wrap clearfix">
                                    <div class="properties-bx" ng-repeat="image in view">
                                        <div class="properties-bx-inner">
                                            <div class="properties-img">
                                                <img src="/images/Zip-File.png" alt="" width="218" height="160" />
                                            </div>
                                            <a class="properties-close"><i class="fa fa-close"></i></a>
                                            <!--<a class="properties-name">{{::image.media_name}}</a>-->
                                            <!--<a class="properties-name">{{image.notes}}</a>-->
                                        </div>
                                        <a class="properties-name">{{image.notes}}</a>
                                    </div>

                                </div><!-- properties-bx-wrap ended -->



                            </div>
                        </div>  <!--panoramic ended -->

                        <div class="leads_group" id="EventGridDiv">
                            <div class="tab-content-title">Create New Event<a id="contact_openNewEvent" class="add-btn" data-toggle="modal" ng-click="openEventCampaignPopup()">+</a></div>
                            <div kendo-grid k-options="EventGrid" selectable="true" k-on-change="myGridChangeEvent(dataItem)"> </div>
                        </div>

                        <div class="leads_group" id="record-content">
                            <div kendo-grid k-options="EngagementGrid" selectable="true">

                            </div>
                        </div> <!--Event ended-->

                        <div class="tab-pane fade" id="gallery">
                            <div class="properties-list">

                                <div class="tab-content-title tab-content-title-b"><b>Upload View</b> <a id="btn_openuplaodviewpopup" data-toggle="modal" class="add-btn" ng-click="openUploadViewPopup()" style="cursor:pointer">+</a></div>

                                <div class="properties-bx-wrap clearfix">
                                    <div class="properties-bx" ng-repeat="image in UploadView">
                                        <div class="properties-bx-inner">
                                            <div class="properties-img">
                                                <img src={{image.media_url}} alt="" width="218" height="160" />
                                            </div>
                                            <a class="properties-close"><i class="fa fa-close"></i></a>
                                        </div>
                                        <a class="properties-name">{{image.tags}}</a>
                                    </div>

                                </div>



                            </div>
                        </div> <!--Upload View-->

                        <div class="tab-pane fade" id="gallery">
                            <div class="properties-list">

                                <div class="tab-content-title tab-content-title-b"><b>Add Charges</b> <a id="btn_openuplaodviewpopup" data-toggle="modal" class="add-btn" ng-click="openCharges()" style="cursor:pointer">+</a></div>
   
                            </div>
                        </div>


                         
 </div>
                </div>
            </div>
        </div>


    </div>

</div>
               