<!--<button type="button" class="close" ng-click="$dismiss('cancel')">&times;</button>-->
<button type="button" id="btn_AddTagClose" class="close" ng-click="$dismiss('cancel')">&times;</button>

<form class="form-content form-content2 edit-organization-setting" name="addNewForm" autocomplete="off" novalidate data-ng-submit="addNew(addNewForm.$valid)">
    <div style="font-family:Gotham, 'Helvetica Neue', Helvetica, Arial, sans-serif; font-size:13px; line-height:1.8; text-align:left; height:650px; overflow:auto;">
        <span style="color:#0099cc;font-size:x-large;"><strong>Grammar For JQL</strong></span>
        <br />
        <strong> Call Page Grid can be filtered using the following Grammars.</strong><br />
        <br />
        A. &nbsp;For String &nbsp;:&nbsp;<br />
        &nbsp; &nbsp; Following Feilds can be used with string operators<br />
        &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; 1. Caller Name<br />
        &nbsp; &nbsp;<br />
        &nbsp; &nbsp;Above Feilds can be filtered using the follwing Operators. There should be space before and after every operator.<br />
        &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;<br />
        &nbsp; &nbsp; a. "contains" : Syntax &nbsp;: &lt;Feild&gt; &lt;Operator&gt; &lt;Value&gt;<br />
        &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; Example : Name contains priya<br />
        &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; Output &nbsp;: This query will return All the rows where name feild has word priya.<br />
        &nbsp; &nbsp;<br />
        &nbsp; &nbsp; b. &nbsp;"in" &nbsp; &nbsp; &nbsp; : Syntax &nbsp;: &lt;Feild&gt; &lt;Operator&gt; &lt;Value1,Value2...&gt;<br />
        &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;Example : Name in (priya,Rishikesh...)&nbsp;<br />
        &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;Output &nbsp;: This query will return All the rows where "Name" feild will have words "priya,Rishikesh.<br />
        <br />
        &nbsp; &nbsp; c. &nbsp;"=" &nbsp; &nbsp; &nbsp; : Syntax &nbsp;: &lt;Feild&gt; &lt;Operator&gt; &lt;Value1&gt;<br />
        &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; Example : Name = priya Gym<br />
        &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; Output &nbsp;: This query will return the rows where "Name" feild will have exact word "priya Gym"<br />
        &nbsp;<br />
        &nbsp;&nbsp;<br />
        &nbsp; &nbsp;Empty Data or Blank String Data can be filtered using the follwing operators. There should be space before and after every operator.<br />
        &nbsp; &nbsp;&nbsp;<br />
        &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;<br />
        &nbsp; &nbsp; a. &nbsp; "is" &nbsp; &nbsp; &nbsp; Syntax : &lt;Feild&gt; is "blank"<br />
        &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; Example : Name is blank<br />
        &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; Output : This query will return All the rows where name feild has no data.<br />
        &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; Note : "blank" is a keyword defined in our JQL.&nbsp;<br />
        &nbsp; &nbsp;<br />
        &nbsp; &nbsp; b. &nbsp; &nbsp;"=" &nbsp; &nbsp; &nbsp; Syntax : &lt;Feild&gt; = "blank"<br />
        &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; Example : Name = blank<br />
        &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; Output : This query will return All the rows where name feild has no data.<br />
        &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; Note : "blank" is a keyword defined in our JQL.&nbsp;<br />
        <br />
        <br />
        B. &nbsp;For Date &nbsp;: &nbsp;<br />
        &nbsp; &nbsp; &nbsp;<br />
        &nbsp; &nbsp; &nbsp;1. Calldate<br />
        &nbsp; &nbsp;&nbsp;<br />
        
        &nbsp; &nbsp; Above Feilds can be filtered using the following Operators. There should be space before and after every operator.<br />
        &nbsp; &nbsp;&nbsp;<br />
        &nbsp; &nbsp; &nbsp;a. "isbefore" : Syntax &nbsp;: &lt;Feild&gt; &lt;Operator&gt; &lt;DD-MM-YYYY&gt;&nbsp;<br />
        &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;Example : Calldate isbefore 01-03-2016<br />
        &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;Output : This query will return All the rows where feild "Calldate" is greater than 01-03-2016.<br />
        &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;Note : No space between word is and before it is joint word as "isbefore"<br />
        <br />
        &nbsp; &nbsp; &nbsp;b. "isafter" : Syntax &nbsp;: &lt;Feild&gt; &lt;Operator&gt; &lt;DD-MM-YYYY&gt;&nbsp;<br />
        &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;Example : Calldate isafter 01-03-2016<br />
        &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;Output : This query will return All the rows where feild "Calldate" is less than 01-03-2016.<br />
        &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;Note : No space between word is and after it is joint word as "isafter"<br />
        <br />
        &nbsp; &nbsp; &nbsp;c. "between || " : Syntax &nbsp;: &lt;Feild&gt; &lt;Operator&gt; &lt;between DD-MM-YYYY || DD-MM-YYYY&gt;&nbsp;<br />
        &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;Example : Calldate between 01-03-2016 || 01-04-2016<br />
        &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;Output : This query will return All the rows where feild "Calldate" is greater than 01-03-2016 or lesser then &nbsp;01-04-2016.<br />
        &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;Note : Space is present between words "between ||"<br />
        <br />
        &nbsp; &nbsp; &nbsp;<br />
        <br />
        &nbsp; &nbsp; Empty Data or Blank Date Data can be filtered using the follwing operator. There should be space before and after every operator.<br />
        <br />
        &nbsp; &nbsp; &nbsp;a. &nbsp;"is": &nbsp; &nbsp; &nbsp; Syntax &nbsp;: &lt;Feild&gt; is "never"<br />
        &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;Example : Calldate is never<br />
        &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;Output &nbsp;: This query will return All the rows where feild "Calldate" has no data.<br />
        &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;Note &nbsp; &nbsp;: "never" is a keyword defined in our JQL.&nbsp;<br />
        <br />
        &nbsp; &nbsp; &nbsp;b. &nbsp;"=" : &nbsp; &nbsp; &nbsp; Syntax &nbsp;: &lt;Feild&gt; = "never"<br />
        &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;Example : Calldate is never<br />
        &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;Output &nbsp;: This query will return All the rows where feild "Calldate" has no data.<br />
        &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;Note &nbsp; &nbsp;: "never" is a keyword defined in our JQL.&nbsp;<br />
        <br />
        <br />
        &nbsp; &nbsp; Variables can also be used to filter dates values.<br />
        &nbsp;<br />
        <br />
        &nbsp; &nbsp; a. "Today" &nbsp; &nbsp; &nbsp;: &nbsp; &nbsp;Syntax &nbsp;: &lt;Feild&gt; is "Today"<br />
        &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; Example : Calldate is Today<br />
        &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;Output &nbsp;: This query will return All the rows where feild "Calldate" is same as current date (Today's date).<br />
        <br />
        &nbsp; &nbsp;b. &nbsp;"Yesterday" &nbsp;:   Syntax &nbsp;: &lt;Feild&gt; is "Yesterday"<br />
        &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;    Example : Calldate is Yesterday<br />
        &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;   Output &nbsp;: This query will return All the rows where feild "Calldate" is same as yesterday's date. (1 day before current date starting from 00:00 to 23:59) <br />
        <br />
        &nbsp; &nbsp;c. &nbsp;"This Week" &nbsp;:   Syntax &nbsp;: &lt;Feild&gt; is "This Week"<br />
        &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;   Example : Calldate is This Week<br />
        &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;   Output &nbsp;: This query will return All the rows where feild "Calldate" has value starting from 00:00 on most recent Monday to current time.<br />
        <br />
        &nbsp; &nbsp;d. &nbsp;"Last Week" &nbsp;:   Syntax &nbsp;: &lt;Feild&gt; is "Last Week"<br />
        &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;    Example : Calldate is Last Week<br />
        &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;   Output &nbsp;: This query will return All the rows where feild "Calldate" has value starting from 00:00 on Monday before most recent Monday to Sunday 11:59 before most recent Monday.<br />
        <br />
        &nbsp; &nbsp;e. &nbsp;"This Month" &nbsp;:   Syntax &nbsp;: &lt;Feild&gt; is "This Month"<br />
        &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;   Example : Calldate is This Month<br />
        &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;  Output &nbsp;: This query will return All the rows where feild "Calldate" has value starting from 00:00 from 1st day of month to current time.<br />
        <br />
        &nbsp; &nbsp;f. &nbsp;"Last Month" &nbsp;:   Syntax &nbsp;: &lt;Feild&gt; is "Last Month"<br />
        &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; Example : Calldate is Last Month<br />
        &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;Output &nbsp;: This query will return All the rows where feild "Calldate" has value starting from 00:00 from 1st of last month to 11:59 on last day of last month.<br />
        <br />
        &nbsp; &nbsp;g. &nbsp;"This Quarter" &nbsp;: Syntax &nbsp;: &lt;Feild&gt; is "This Quarter"<br />
        &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; Example : Calldate is This Quarter<br />
        &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;Output &nbsp;: This query will return All the rows where feild "Calldate" has value starting from 00:00 from 1st of current quarter to current time.<br />
        <br />
        &nbsp; &nbsp;h. &nbsp;"Last Quarter" &nbsp;: Syntax &nbsp;: &lt;Feild&gt; is "Last Quarter"<br />
        &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;Example : Calldate is Last Quarter<br />
        &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;Output &nbsp;: This query will return All the rows where feild "Calldate" has value starting from 00:00 from 1st of last quarter to 11:59 on last day of last quarter.&nbsp;<br />
        <br />
        &nbsp; &nbsp;i. "Year to Date" &nbsp;: &nbsp;Syntax &nbsp;: &lt;Feild&gt; is "Year to Date"<br />
        &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; Example : Calldate is Year to Date<br />
        &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;Output &nbsp;: This query will return All the rows where feild "Calldate" has value starting from 00:00 from 1st of this year to current time.&nbsp;<br />
        <br />
        <br />
        &nbsp; &nbsp;j. "This Financial Year" &nbsp;: Syntax &nbsp;: &lt;Feild&gt; is "This Financial Year"<br />
        &nbsp; &nbsp;  &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;  Example : Calldate is This Financial Year<br />
        &nbsp; &nbsp; &nbsp; &nbsp;   &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; Output &nbsp;: This query will return All the rows where feild "Calldate" has value starting from Apr 1 of this year to current time.&nbsp;<br />
        <br />
        &nbsp; &nbsp;k. "Last Financial Year" &nbsp;: Syntax &nbsp;: &lt;Feild&gt; is "Last Financial Year"<br />
        &nbsp; &nbsp;  &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;  Example : Calldate is Last Financial Year<br />
        &nbsp; &nbsp; &nbsp; &nbsp;   &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; Output &nbsp;: This query will return All the rows where feild "Calldate" has value starting from Apr 1 of last year to 11:59 Mar 31 of this year.&nbsp;<br />
        <br />
        <br />
        <br />
        Syntax for Complete "OR" Clause Query<br />
        <br />
        &nbsp;CallDate is Today or Caller Name is X<br />
        &nbsp;Output : &nbsp; &nbsp; &nbsp;  This query will Result where&nbsp;<br />
        &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; "CallDate" has data same as current date or&nbsp;<br />
        &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; "Caller Name" feild should be excalty same as "X".<br />
        <br />
        <br />
        Syntax for Complete "AND" Clause Query<br />
        <br />
        &nbsp;CallDate is Today and Caller Name is X<br />
        &nbsp;Output : &nbsp; &nbsp; &nbsp; This query will Result where&nbsp;<br />
        &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; "CallDate" has data same as current date and&nbsp;<br />
        &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; "Caller Name" feild should be excalty same as "X".<br />
        <br />
        <br />
    </div>
</form>
