<div id="main-content" class="col-xs-12">
    <div class="content-inner">

        <div class="pg-inner-header">
            <div class="row">

                <div class="col-md-12">
                    <h2 class="pg-inner-title">Create New Direct Email Campaign</h2>
                </div>

            </div>
        </div><!-- pg-inner-header ended -->

    </div><!-- content-inner ended -->

    <div class="pg-inner-content pg-inner-content-camp" >
        <!--step wizard-->
        <div class="col-md-12 tab_head">
            <div class="row " style="padding: 35px 42px 1px 100px;">
                <div class="col-md-1 tabdot_active"><span class="email_tab_text_active"> Campaign info</span></div>
                <div class="col-md-2 email_tabs3"></div>
                <div class="col-md-1 tabdot"><span class="email_tab_text">Set Budget</span></div>
                <div class="col-md-2 email_tabs3"></div>
                <div class="col-md-1 tabdot"><span class="email_tab_text">Select Contact</span></div>
                <div class="col-md-2 email_tabs3"></div>
                <div class="col-md-1 tabdot"><span class="email_tab_text"> Select Mail Type</span></div>
                <div class="col-md-2 email_tabs3"></div>
                <div class="col-md-1 tabdot"><span class="email_tab_text">Summary</span></div>
                
               
            </div>
        </div>
        <!--end step wizard-->
   
    </div>

    <div class="project-detail inner_page_inside">
        <div class="top-row" style="width:100%; background:#fff; padding:60px">
            <form class="form-content form-content2 edit-organization-setting" name="addNewForm" novalidate data-ng-submit="addNew(addNewForm.$valid)" autocomplete="off">
                <div class="clearfix tab-head-inner-2">
                    <div class="clearfix">
                        <div class="form-group col-md-5">
                            <!--<label for="">Campaign Name</label>
                            <input type="text" class="form-control text-bold" autofocus name="Campaign_name" id="addEmailCampaign_Campaign_name"
                                   placeholder="Campaign Name"
                                   data-ng-model="params.name"
                                   minlength="1"
                                   maxlength="60"
                                   ng-pattern="/^[a-z 0-9\s]+$/i"
                                   input-focus
                                   required />-->
                            <md-input-container class="md-block">
                                <label class="contact-label">Campaign Name</label>
                                <input name="Campaign_name" id="addEmailCampaign_Campaign_name"
                                       data-ng-model="params.name"
                                       minlength="1"
                                       maxlength="60"
                                       ng-pattern="/^[a-z 0-9\s]+$/i"
                                  
                                       required  />

                            </md-input-container>


                        </div>
                    </div>

                    <div class="clearfix">
                        <div class="form-group col-md-5">
                            <!--<label for="">Project</label>
                            <select ng-model="project1" ng-change="selectproject()" id="addEmailCampaign_project"
                                    class="dropdown form-control">
                                <option value="" selected>Select Project</option>
                                <option ng-repeat="project in projects"
                                        value="{{project.id}}">
                                   
                                </option>

                            </select>-->

                            <md-input-container class="md-block">
                                <md-select  ng-model="project1" ng-change="selectproject()" id="addEmailCampaign_project" class="dropdown" >
                                    <md-option  selected>PROJECT</md-option>
                                    <md-option ng-repeat="project in projects" value="{{project.id}}"> {{project.name}} </md-option>
                                </md-select>
                            </md-input-container>
                        </div>
                    </div>

                    <div class="clearfix">
                        <div class="form-group col-md-5" style="margin-top:23px">
                            <label for="" style="font-size: 14px;">START DATE / TIME</label>
                            <input kendo-date-time-picker class="form-control" id="addEmailCampaign_startDate"
                                   data-ng-model="params.start_date1"
                                   k-ng-model="dateObject"
                                   k-format="'MMMM d, yyyy h:mm tt'"
                                   required />

                            <!--<md-datepicker ng-model="myDate" datetime-picker date-format="yyyy-MM-dd HH:mm:ss"  md-placeholder="Enter date" class="md-block"  md-date-filter="onlyWeekendsPredicate">

                            </md-datepicker>-->

                        </div>
                    </div>

                    <!--<div class="pull-left f-half-6">
                        <div class="form-group form-bx4 form-bx3-1" style="width:390px">
                            <label for="">End Date</label>

                            <input kendo-date-picker class="form-control"
                                   data-ng-model="params.end_date"
                                   k-ng-model="dateObject"
                                   k-format="'dd/MM/yyyy hh:mm tt'" />

                        </div>

                    </div>-->
                </div>

                <div class="modal-btn-wrap5 modal-btn-wrap6 clearfix" style="text-align:left;margin-left: 0%;">
                    <!--<button class="btn campaign-container-btn" id="addEmailCampaign_cancel" type="button" ng-click="cancel()">
                        CANCEL
                    </button>-->

                    <button class="btn btn-primary bold_txt" style="" id="addEmailCampaign_save" type="submit">
                        Next
                    </button>

                </div>
            </form>
        </div>
        <!--</div>--><!-- project-detail ended -->

    </div><!-- pg-inner-content ended -->

</div><!-- main-content ended -->
</div>