
<div id="main-content" class="col-xs-12">
    <div class="content-inner">
        <div class="pg-inner-header">
            <div class="row">
                <div class="col-md-12">
                    <h2 class="pg-inner-title">Create New Direct Email Campaign</h2>
                </div>
            </div>
        </div>
    </div>
    <div class="pg-inner-content pg-inner-content-camp">
        <!--step wizard-->
        <div class="col-md-12 tab_head">
            <div class="row " style="padding: 35px 42px 1px 100px;">
                <div class="col-md-1 tabdot_active"><span class="email_tab_text_active"> Campaign info</span></div>
                <div class="col-md-2 email_tabs3_active"></div>
                <div class="col-md-1 tabdot_active"><span class="email_tab_text_active">Set Budget</span></div>
                <div class="col-md-2 email_tabs3_active"></div>
                <div class="col-md-1 tabdot_active"><span class="email_tab_text_active">Select Contact</span></div>
                <div class="col-md-2 email_tabs3_active"></div>
                <div class="col-md-1 tabdot_active"><span class="email_tab_text_active"> Select Mail Type</span></div>
                <div class="col-md-2 email_tabs3"></div>
                <div class="col-md-1 tabdot"><span class="email_tab_text">Summary</span></div>
            </div>
        </div>
        <!--end step wizard-->

    </div>
    <div class="project-detail inner_page_inside">
        <form class="form-content form-content2 edit-organization-setting" name="emailForm" novalidate data-ng-submit="sendEmail(emailForm.$valid)" autocomplete="off">
            <div class="top-row" style="width:100%; background:#fff; padding:60px;">
                <!-- content start -->

            </div>
            <div class="user_details2-1">
                <div class="clearfix " style="margin-top:0%;">

                    <div class="clearfix">
                        <div class="form-group form-bx form-bx8">
                           
                            <md-input-container class="md-block">

                                <md-select name="salutation" ng-change="selectTemplate()" ng-model="params.template" class="dropdown" id="emailAddTemplate_Select Template">
                                    <md-option value="" selected>SELECT GIFT TYPE</md-option>
                                    <md-option value="gift">GIFT</md-option>
                                    <md-option value="">MAIL</md-option>
                                </md-select>
                            </md-input-container>                           
                        </div>
                    </div>


                    <div class="progress" ng-show="uploader.progress>0 && uploader.progress<100">
                        <div class="progress-bar" role="progressbar"
                             ng-style="{ 'width': uploader.progress + '%' }"></div>
                    </div>
                    <input ng-show="false" type="file" id="imageBrowser" value="Browse" nv-file-select="" uploader="uploader" />
                    
                        <div class="clearfix">
                            <div class="form-group form-bx form-bx8">
                                <md-input-container class="md-block">
                                    <label class="contact-label">Campaign Name</label>
                                    <input name="Campaign_name" id="addEmailCampaign_Campaign_name"
                                           data-ng-model="params.name"
                                           minlength="1"
                                           maxlength="60"
                                           ng-pattern="/^[a-z 0-9\s]+$/i"
                                           required />

                                </md-input-container>
                            </div>
                    </div>
                </div>
            </div>
            <div class="top-row" style="width:100%; background:#fff; padding: 1px 6px 33px 63px;margin-top: -64px;">
                <div class="user_list_content">
                    <div class="modal-btn-wrap5 modal-btn-wrap6 tab-head-inner-2" style="text-align:left;">
                        <button class="btn odd_btn" id="btn_emailAddTemplate_back" type="button" ng-click="back()">
                            Back
                        </button>

                        <button class="btn btn-primary" style="margin-right: 4px;" id="btn_emailAddTemplate_preview" type="button" ng-click="preview()">
                            <b>Preview</b>
                        </button>
                        <button type="submit" class="btn btn-primary" id="btn_emailAddTemplate_next" ng-click="next()"><b>Next</b></button>

                    </div>
                </div>

            </div>
        </form>
    </div>
</div>



