
<div id="main-content" class="col-xs-12">
    <div class="content-inner">
        <div class="pg-inner-header">
            <div class="row">

                <div class="col-md-3">
                    <h2 class="pg-inner-title">Task / <span class="selectedPageBreadcrumb"> Add New Task </span></h2>
                </div>
            </div>
        </div>
    </div>
    <div class="pg-inner-content" style="">
        <div class="project-detail">
            <div class="top-row" style="width:100%; background:#fff; padding:40px;">
                <form class="form-content form-content2 edit-organization-setting" name="addNewForm" style="text-align:left" autocomplete="off" novalidate data-ng-submit="addNew(addNewForm.$valid)">

                    <div class="clearfix">
                        <div class="form-group"
                             data-ng-class="{
                                  'has-error' : addNewForm.TaskName.$invalid && (!addNewForm.TaskName.$pristine || showValid) && !addNewForm.TaskName.$focus,
                                  'has-success': addNewForm.TaskName.$valid && !addNewForm.TaskName.$pristine && !addNewForm.TaskName.$focus
                                                     }">
                            <div class="form-group form-bx form-bx8">
                                <label for="">Task Name</label>
                                <input type="text" class="form-control  text-bold" autofocus name="TaskName"
                                       data-ng-model="name"
                                       minlength="1"
                                       id="addNewTaskName"
                                       maxlength="200"
                                       input-focus
                                       required />
                                <div ng-messages="addNewForm.TaskName.$error" style="color:maroon" role="alert">
                                    <div ng-message="required" data-ng-if="addNewForm.TaskName.$invalid && (!addNewForm.TaskName.$pristine || showValid) && !addNewForm.TaskName.$focus">This field should not be empty </div>
                                    <div ng-message="pattern">Enter valid Task Name</div>
                                </div>
                            </div>
                        </div>
                        <span class="field-mdl field-req">*</span>
                    </div>

                    <div class="clearfix">
                        <div class="pull-left f-half-6">
                            <div class="form-group form-bx form-bx3-1">
                                <label for="" class="hidden-xs" id="addnewproject_state">Task  Type</label>
                                <select ng-model="event1" ng-change="selectevent()" class="dropdown form-control text-bold" id="opt_addNewTaskType">
                                    <option value="" selected>Choose Task Type</option>
                                    <option ng-repeat="event in events"
                                            value="{{event.id}}">
                                        {{event.type}}
                                </select>
                            </div>
                        </div>
                    </div>

                    <div class="clearfix">
                        <div class="pull-left f-half-6">
                            <div class="form-group form-bx form-bx3-1">
                                <label for="">Project:</label>
                                <select ng-model="project1" ng-change="selectproject()" id="opt_addTaskProject"
                                        class="dropdown form-control">
                                    <option value="" selected>Select Project</option>
                                    <option ng-repeat="project in projects"
                                            value="{{project.id}}">
                                        {{project.name}}
                                    </option>

                                </select>
                            </div><div class="field-md0 field-req">*</div>
                        </div>


                        <div class="pull-left f-half-6">
                            <div class="form-group form-bx form-bx3-1">
                                <label for="">Person:</label>
                                <select kendo-combo-box class="dropdown form-control"
                                        id="opt_addNewPerson"
                                        k-placeholder="'Select Contact'"
                                        k-data-text-field="'Contact_Name'"
                                        k-data-value-field="'Contact_id'"
                                        k-filter="'contains'"
                                        ng-model="contact1"
                                        ng-change="selectcontact()"
                                        k-auto-bind="false"
                                        k-min-length="3"
                                        k-data-source="contacts"></select>
                            </div>
                        </div>
                    </div>

                    <div class="clearfix">
                        <div class="pull-left f-half-6">
                            <div class="form-group form-bx form-bx3-1">
                                <label for="">Assign To:</label>
                                <select ng-model="user1" ng-change="selectuser()" id="opt_addTaskAssign" class="dropdown form-control">
                                    <option value="" selected>Select User</option>
                                    <option ng-repeat="user in users"
                                            value="{{user.assign_user_id}}">
                                        {{user.user_name}}
                                    </option>

                                </select>
                            </div>
                        </div>

                        <div class="pull-left f-half-6">
                            <div class="form-group form-bx form-bx3-1">
                                <label for="">Set Priority</label>
                                <select ng-model="priority1" ng-change="selectpriority()" id="opt_addTaskAssignSetPriority" class="dropdown form-control">
                                    <option value="" selected>Select Priority</option>
                                    <option ng-repeat="prio in priority"
                                            value="{{prio.id}}">
                                        {{prio.type}}
                                    </option>
                                </select>
                            </div>
                        </div>
                    </div>

                    <div class="clearfix">

                        <strong class="duration_time form-content form-bx8"> Due Date And Time</strong>

                        <div class="clearfix">

                            <div class="pull-left f-half-6">
                                <div class="form-group form-bx form-bx3-1">
                                    <label for="">Date:</label>
                                    <input kendo-date-time-picker class="form-control "
                                           ng-model="due_date"
                                           id="addTaskDate"
                                           k-ng-model="k_due_date"
                                           k-format="'dd/MM/yyyy hh:mm tt'" />
                                </div>
                            </div>
                            <div class="form-group" style="MARGIN-TOP: 4%;">
                                <div style="float:left;margin-bottom:-13px">
                                    <label>
                                        <input type="checkbox" id="chk_addNewTaskRemind" name="test3" value="1" ng-model="remind_me" ng-init="remind_me=true">
                                        Remind Me
                                    </label>
                                </div>
                            </div>
                        </div>


                    </div>

                    <div class="clearfix">
                        <div class="pull-left f-half-6">
                            <div class="form-group form-bx form-bx3-1">
                                <label for="">Select Time</label>
                                <select ng-model="reminder_time1" ng-change="selectReminderTime()" id="opt_addTaskAssignSetPriority" class="dropdown form-control">
                                    <option value="" selected>Select Time</option>
                                    <option ng-repeat="remind in reminders"
                                            value="{{remind.id}}">
                                        {{remind.key_name}}
                                    </option>
                                </select>
                            </div>
                        </div>
                    </div>


                    <strong class="duration_time form-content form-bx8">Add Notes</strong>
                    <div class="clearfix">
                        <div class="form-group form-bx form-bx5">
                            <textarea cols="110" rows="05" name="description"
                                      data-ng-model="text"
                                      minlength="1"
                                      id="txt_addNewTask"
                                      maxlength="500"
                                      input-focus
                                      style="float:left" />
                        </div>
                    </div>

                    <div class="modal-btn-wrap clearfix">

                        <button type="submit" class="btn btn-primary bold_txt" ladda="loadingDemo" data-style="expand-right" id="btn_addNewTaskSave" ng-disabled="isDisabled">Save</button>

                        <button type="button" class="btn odd_btn1" id="btn_addNewTaskCancel" ng-click="cancel()">CANCEL</button>


                    </div>
                </form>

            </div>
        </div>
    </div>
    </div>
