

<div id="main-content" class="col-xs-12">
    <div class="content-inner">

        <div class="pg-inner-header">
            <div class="row">

                <div class="col-md-12">
                    <h2 class="pg-inner-title">My Day</h2>
                </div>

            </div>
        </div><!-- pg-inner-header ended -->

    </div><!-- content-inner ended -->

    <div class="pg-inner-content">

        <div class="project-detail">

            <div class="row">
                <div class="col-lg-5">
                    <!--<div class="bx-h1">
                        <div class="bx-h1-head clearfix">
                            <div class="title">Inbox</div>
                        </div>
                        <div class="bx-h1-content">
                            <div class="inbox-head">
                                <div class="inbox-head-link clearfix">
                                    <a href="javascript:">All</a>
                                    <a href="javascript:" id="inbox-unread">Unread</a>
                                    <div class="dropdown inbox-dropdown">
                                        <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown">
                                            Filter by Source
                                            <span class="caret"></span>
                                        </button>
                                        <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                                            <li><a href="#">Filter by Name</a></li>
                                            <li><a href="#">Filter by Date</a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div> inbox-head ended 
                            <div class="inbox-list" id="inbox-list">
                                <div kendo-grid k-options="mailInboxGrid" selectable="true" k-on-change="myGridChange( dataItem )">
                                </div>
                            </div>
                        </div>
                    </div>--> <!-- bx-h1 ended -->

                    <div class="bx-h1">
                        <div class="bx-h1-head clearfix">
                            <div class="pull-left title">Contact</div>
                            <div class="pull-right bx-h1-link">
                                <a href="javascript:" id="contact-today" ng-click="contactShowHideGrid('today')" ng-class="{active:showContactTodayGrid}">Today</a>
                                <a href="javascript:" id="contact-tomorrow" ng-click="contactShowHideGrid('tomorrow')" ng-class="{active:showContactTomorrowGrid}">Tomorrow</a>
                                <a href="javascript:" id="contact-week" ng-click="contactShowHideGrid('next7Days')" ng-class="{active:showContactNext7Grid}">Next 7 Days</a>
                            </div>
                        </div>
                        <div class="bx-h1-content clearfix">
                            <div class="contact-list " id="contact-list" ng-show='showContactTodayGrid'>
                                <div kendo-grid k-options="contactTodayGrid" selectable="true" k-on-change="myTodayGridChange( dataItem )">
                                </div>
                            </div>
                            <div class="contact-list " id="contact-list" ng-show='showContactTomorrowGrid'>
                                <div kendo-grid k-options="contactTomorrowGrid" selectable="true" k-on-change="myTomorrowGridChange( dataItem )">
                                </div>
                            </div>

                            <div class="contact-list " id="contact-list" ng-show='showContactNext7Grid'>
                                <div kendo-grid k-options="contactNext7DayGrid" selectable="true" k-on-change="myNext7GridChange( dataItem )">
                                </div>
                            </div>
                        </div>
                    </div><!-- bx-h1 ended -->

                </div>

                <div class="col-lg-7">

                    <div class="bx-h1">
                        <div class="bx-h1-head clearfix">
                            <div class="pull-left title">Today + Overdue Tasks</div>
                            <div class="pull-right bx-h1-link">
                                <a ng-click="taskShowHideGrid('today')" href="javascript:" id="contact-today" ng-class="{active:showTaskTodayGrid}">Overdue</a>
                                <a ng-click="taskShowHideGrid('tomorrow')" href="javascript:" id="contact-tomorrow" ng-class="{active:showTaskTomorrowGrid}">Today</a>
                                <a ng-click="taskShowHideGrid('next7Days')" href="javascript:" id="contact-week" ng-class="{active:showTaskNext7Grid}">Next 7 Days</a>
                            </div>
                        </div>
                        <div class="bx-h1-content overdue-tasks-tb clearfix">
                            <div ng-show="showTaskTodayGrid" id="record-content" class="properties-content">
                                <div  kendo-grid k-options="taskTodayGrid" selectable="true" k-on-change="myGridChange( dataItem )">
                                </div>
                            </div>
                            <div ng-show="showTaskTomorrowGrid" id="record-content" class="properties-content">
                                <div kendo-grid k-options="taskTomorrowGrid" selectable="true" k-on-change="myGridChange( dataItem )">
                                </div>
                            </div>
                            <div ng-show="showTaskNext7Grid" id="record-content" class="properties-content">
                                <div kendo-grid k-options="taskNext7Grid" selectable="true" k-on-change="myGridChange( dataItem )">
                                </div>
                            </div>
                        </div><!-- bx-h1 ended -->

                        <div class="bx-h1">
                            <div class="bx-h1-head clearfix">
                                <div class="pull-left title">Events</div>
                                <div class="pull-right bx-h1-link">
                                    <a ng-click="eventShowHideGrid('today')" href="javascript:" id="contact-today" ng-class="{active:showEventTodayGrid}">Today</a>
                                    <a ng-click="eventShowHideGrid('tomorrow')" href="javascript:" id="contact-tomorrow" ng-class="{active:showEventTomorrowGrid}">Tomorow</a>
                                    <a ng-click="eventShowHideGrid('next7Days')" href="javascript:" id="contact-week" ng-class="{active:showEventNext7Grid}">Next 7 Days</a>
                                </div>
                            </div>
                            <div class="bx-h1-content overdue-tasks-tb clearfix">
                                <div ng-show='showEventTodayGrid' id="record-content" class="properties-content">
                                    <div kendo-grid k-options="eventTodayGrid" selectable="true" k-on-change="myGridChange( dataItem )">
                                    </div>
                                </div>
                                <div ng-show='showEventTomorrowGrid' id="record-content" class="properties-content">
                                    <div kendo-grid k-options="eventTomorrowGrid" selectable="true" k-on-change="myGridChange( dataItem )">
                                    </div>
                                </div>
                                <div ng-show='showEventNext7Grid' id="record-content" class="properties-content">
                                    <div kendo-grid k-options="eventNext7Grid" selectable="true" k-on-change="myGridChange( dataItem )">
                                    </div>
                                </div>
                            </div>
                        </div><!-- bx-h1 ended -->

                    </div>
                </div>

                <div class="row">
                    <div class="col-xs-12">
                        <div class="bx-h1">
                            <div class="bx-h1-head clearfix">
                                <div class="pull-left title">Appointments </div>
                                <div class="pull-right bx-h1-link">
                                    <a href="javascript:" id="cal-today">Today</a>
                                    <a href="javascript:" id="cal-month" class="active">Month</a>
                                    <a href="javascript:" id="cal-week">Week</a>
                                    <a href="javascript:" id="cal-day">Day</a>
                                </div>
                            </div>
                            <div class="bx-h1-content overdue-tasks-tb clearfix">
                                <div id="appointments_cal"></div>
                            </div>
                        </div><!-- bx-h1 ended -->
                    </div>
                </div>

            </div><!-- project-detail ended -->

        </div><!-- pg-inner-content ended -->

    </div><!-- main-content ended -->


    <div class="modal fade" id="replay_msg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">

                <div class="modal-body">

                    <div class="close-btn-wrap">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    </div>

                    <form class="form-content">
                        <div class="clearfix">
                            <div class="pull-left inbox-list-user">
                                <div class="photo">
                                    <img alt="" src="images/inbox-photo01.png" class="mCS_img_loaded">
                                </div>
                            </div>
                            <div class="inbox-list-txt">
                                <div class="inbox-name">
                                    <div class="clearfix">
                                        <div class="pull-left msg-name">Katie Calhoun</div>
                                        <span class="pull-right inbox-dated">DEC 24 1:15 pm</span>
                                    </div>
                                </div>
                                <div class="inbox-msg">
                                    <div class="clearfix">
                                        <div class="pull-left msg-detail">ricky_p@gmail.com</div>
                                        <span class="pull-right inbox-ico">
                                            <a class="ico-facebook"></a>
                                        </span>
                                    </div>
                                    <div class="msg-template clearfix">
                                        <p>Hello John</p>
                                        <p> The guilt encourages this inverse opposite the horizontal gene. The college suspects behind the cell! The landlord hopes. Your demanding poetry kisses the forgiving sigh. A threat toes the therapy around the bush tower. Our necessary exercise runs in the appeal.</p>
                                        <p>The stomach slashes its quits need. Will a mechanic fold the spent convict? Should the recognized amateur content a written regime? The message swears against the uncle. The conflict thinks the busy aspect.</p>
                                        <p>Thanks,</p>
                                    </div>
                                    <div class="msg-area">
                                        <textarea class="form-control"></textarea>
                                    </div>
                                    <div class="clearfix">
                                        <div class="pull-right replay-btn">
                                            <button type="submit" class="f-btn">REPLY</button>
                                            <button type="submit" class="f-btn f-btn2">CANCEL</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>

                </div><!-- modal-body ended -->

            </div>
        </div>
    </div><!-- modal ended -->
 </div>

