<div id="add_new_team" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">


    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" id="btn_CloseList" aria-label="Close" ng-click="$dismiss('cancel')"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="exampleModalLabel">Create New Contact List</h4>
    </div>
    <form class="form-content form-content2 edit-organization-setting" name="addNewForm" style="text-align:left" autocomplete="off" novalidate data-ng-submit="addNew(addNewForm.$valid)">

        <div class="clearfix">

            <div class="form-group" style="width: 727px !important;">
                <label for="">List Name</label>
                <input type="text" class="form-control text-bold" autofocus name="name" id="addNewListName"
                       data-ng-model="params.name"
                       minlength="1"
                       maxlength="50"
                       input-focus
                       required />
            </div>

        </div>

        <div class="clearfix">
            <div class="form-group form-bx form-bx13">
                <label for="">Description</label>
                <textarea cols="100" rows="10" name="description" id="txt_AddNewListDescription"
                          data-ng-model="params.description"
                          minlength="1"
                          maxlength="500"
                          input-focus />
            </div>
        </div>

        <div class="modal-btn-wrap5 modal-btn-wrap6 clearfix" style="text-align:right;">
            <button class="btn campaign-container-btn" id="btn_AddListCancel" type="button" ng-click="cancel()">
                CANCEL
            </button>
            <button class="btn organization-btn" id="btn_AddListNext" type="submit">NEXT</button>
        </div>

       
    </form>

</div>
