<div id="main-content" class="col-xs-12">
    <div class="content-inner">
        <div class="pg-inner-header">
            <div class="row">
                <div class="col-md-12">
                    <h2 class="pg-inner-title">Company Details</h2>

                </div>
            </div>
        </div>
    </div>


    <div class="pg-inner-content">

        <div class="project-detail">


            <div class="project-detail-info">

                <div class="project-detail-photo">

                    <img src={{company.Contact_Image}} alt="" class="img-responsive" />

                </div>

                <div class="project-detail-txt">


                    <div class="project-name">Name:  {{company.name}}  <a id="btn_edit_contact" ng-click="openEditContactPopup()" data-toggle="modal" style="cursor:pointer"><span class="edit-icon"></span></a> </div>


                    <uib-rating ng-model="rate" max="max" readonly="isReadonly" on-hover="hoveringOver(value)" on-leave="overStar = null" titles="['one','two','three']" aria-labelledby="default-rating" ng-click="saveRating()"></uib-rating>
                    <span class="label" ng-class="{'label-warning': percent<30, 'label-info': percent>=30 && percent<70, 'label-success': percent>=70}" ng-show="overStar && !isReadonly">{{percent}}%</span>

                </div>
            </div> <!-- project-detail-info ended -->



            <div class="project-detail-tabs pg-tabs" kendo-tab-strip>
                <ul class="nav nav-tabs responsive-tagJS" role="tablist">
                    <li class="k-state-active" id="contact_essential"> <a aria-controls="summary" role="tab" data-toggle="tab">ESSENTIAL</a></li>
                    <li id="contact_documents"><a aria-controls="summary" role="tab" data-toggle="tab">People</a></li>
                    
                </ul>

                <div class="content-inner-bx">

                    <div class="clearfix">

                        <div class="pull-left company-profile-half">
                            <div class="company-profile-row clearfix">
                                <div class="pull-left profile-row1">First Name:</div>
                                <div class="pull-right profile-row2">
                                    <label class="label-group">
                                        <h4 ng-bind="Contact_First_Name"></h4>
                                    </label>
                                </div>
                            </div>

                            <div class="company-profile-row clearfix">
                                <div class="pull-left profile-row1">Account Phone</div>
                                <div class="pull-right profile-row2">
                                    <label class="label-group">
                                        <h4 ng-bind="Contact_Phone"></h4>
                                    </label>
                                </div>
                            </div>

                            <div class="company-profile-row clearfix">
                                <div class="pull-left profile-row1">City</div>
                                <div class="pull-right profile-row2">
                                    <label class="label-group">
                                        <h4 ng-bind="City"></h4>
                                    </label>
                                </div>
                            </div>

                        </div>
                        <div class="pull-left company-profile-half company-profile-half-2">

                            <div class="company-profile-row clearfix">
                                <div class="pull-left profile-row1">Last Name</div>
                                <div class="pull-right profile-row2">
                                    <label class="label-group">
                                        <h4 ng-bind="Contact_Last_Name"></h4>
                                    </label>
                                </div>
                            </div>

                            <div class="company-profile-row clearfix">
                                <div class="pull-left profile-row1">Account Email</div>
                                <div class="pull-right profile-row2">
                                    <label class="label-group">
                                        <h4 ng-bind="Contact_Email"></h4>
                                    </label>
                                </div>
                            </div>

                            <div class="company-profile-row clearfix">
                                <div class="pull-left profile-row1">Address</div>
                                <div class="pull-right profile-row2">
                                    <label class="label-group">
                                        <h4 ng-bind="street1"></h4>
                                    </label>
                                </div>
                            </div>

                            <div class="company-profile-row clearfix">
                                <div class="pull-left profile-row1">State</div>
                                <div class="pull-right profile-row2">
                                    <label class="label-group">
                                        <h4 ng-bind="State"></h4>
                                    </label>
                                </div>
                            </div>

                        </div>
                    </div>
                </div> <!--Essential-->

                <div class="leads_group" id="documentGridDiv">
                    <!--<div class="tab-content-title">People<a id="contact_openNewDocument" class="add-btn" data-toggle="modal" ng-click="openNewDocument()" style="cursor:pointer">+</a></div>-->
                    <div kendo-grid k-options="companyGrid"selectable="true" k-on-change="myGridChangeFollowUp( dataItem )">

                    </div>
                </div>  <!--Document-->

           

            </div>
        </div>
    </div>
</div>

