<div id="main-content" class="col-xs-12">
    <div class="content-inner">
        <div class="pg-inner-header">
            <div class="row">
                <div class="col-md-12">
                    <h2 class="pg-inner-title">Create New Contact List</h2>
                </div>
            </div>
        </div>
    </div>
    <div class="pg-inner-content pg-inner-content-camp">
        <!--step wizard-->
        <div class="col-md-12 tab_head">
            <div class="row " style="padding:84px 42px 66px 100px;">
                <div class="col-md-1 tabdot_active"><span class="email_tab_text_active"> List Name</span></div>
                <div class="col-md-5 list_tab_Active"></div>
                <div class="col-md-1 tabdot"><span class="email_tab_text">Select Member</span></div>
                <div class="col-md-5 list_tab"></div>
                <div class="col-md-1 tabdot"><span class="email_tab_text">Summary</span></div>
            </div>
        </div>
        <!--end step wizard-->

    </div>



    <div class="pg-inner-content">



        <div class="project-detail">

            <div class="top-row" style="width:100%; background:#fff; padding: 0px 26px 44px 37px;">

                    <div class="col-md-4">

                        <ul class="nav1 nav-tabs1 responsive-tagJS" role="tablist">
                            <li id="btn_AddByTag" ng-class="{active:tagSelected}"><a aria-controls="summary" style="cursor:pointer" role="tab" data-toggle="tab" ng-click="showTags()">Add By Tag</a></li>
                            <li id="btn_AddByName" ng-class="{active:listSelected}"><a aria-controls="summary" style="cursor:pointer" role="tab" data-toggle="tab" ng-click="showList()">Add By Name</a></li>

                        </ul>
                        <div class="right-inner-addon">

                            <div class="clearfix list_search" style="margin-top: 23px;">
                                <div class="right-inner-addon">
                                    <i class="fa fa-search"></i>
                                    <input type="text" ng-model="tagFilter.Name" class="form-control" id="tagList" placeholder="Search Tags" />
                                </div>
                            </div>
                            <div ng-show="tagSelected">
                                <!--tags Start-->

                                <div class="checkuser" id="left_side">

                                    <div class="user_details-2">
                                        <div class="clearfix spacer-1 row_content-1" ng-repeat="user in orgUsers | filter: tagFilter:strict">
                                            <div class="pull-left  profile-row1">{{user.Name }}</div>
                                            <div class="pull-right profile-row2">
                                                <label class="label-group">
                                                    <span class="contact_value" ng-click="addUser(user)" id="userLead"><img ng-src="assets/images/{{user.isTeamMember ? 'ok': 'plus'}}_icon.png" /> </span>
                                                </label>
                                            </div>
                                        </div>
                                        <!--<div class="row row_content" ng-repeat="user in orgUsers | filter: tagFilter:strict">

                                <div class="col-lg-3 col-md-4 col-sm-6">
                                    <p class="user_name">
                                        {{user.Name }}
                                    </p>
                                </div>
                                <div class="col-lg-8 col-md-6 col-sm-3">
                                    <span class="pull-right" ng-click="addUser(user)">
                                        <img ng-src="assets/images/{{user.isTeamMember ? 'ok': 'plus'}}_icon.png" />
                                    </span>
                                </div>
                            </div>-->

                                    </div>
                                </div>
                                <div class="top-row" style="width:100%; background:#fff;padding: 10px 25px 43px 0px;">
                                    <div class="user_list_content">

                                        <div class="user_list_item">
                                            <span class="user_items" ng-repeat="user in orgUsers">
                                                <span class="btn btn-info1 btn_pad" ng-if="user.isTeamMember" style="margin-top: 5px;">
                                                    {{user.Name}}
                                                    <span class="icon_space glyphicon glyphicon-remove" ng-click="removeUser(user)"></span>
                                                </span>
                                            </span>
                                        </div>
                                       
                                    </div>

                                </div>
                                <div class="top-row" style="width:100%; background:#fff;padding: 25px 2px 36px 0px;">
                                    <div class="clearfix" style=" clear: both;">
                                        <button type="submit" class="btn odd_btn" id="btn_TagListBack" ng-click="backlist()">Back</button>
                                        <button type="button" class="btn btn-primary" id="btn_TagListNext" ng-click="contactsummary()"><b> Next</b></button>
                                    </div>
                                </div>
                            </div>



                            <div ng-show="listSelected">
                                <!--list Start-->
                                <div class="checkuser" id="left_side_tag">

                                    <div class="user_details-2 ">
                                        <div class="clearfix spacer-1 row_content-1" ng-repeat="list in orgList | filter: tagFilter:strict">
                                            <div class="pull-left  profile-row1">{{list.Name }}</div>
                                            <div class="pull-right profile-row2">
                                                <label class="label-group" ng-click="addList(list)">
                                                    <span class="contact_value" ng-click="addUser(user)" id="listLead"><img ng-src="assets/images/{{list.addedFromTag? 'disabled_checked':(list.isSelected ? 'ok': 'plus')}}_icon.png" /></span>
                                                </label>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="top-row" style="width:100%; background:#fff;">
                                    <div class="user_list_content">

                                        <div class="user_list_item">
                                            <span class="user_items" ng-repeat="list in orgList">
                                                <span class="btn btn-info1 btn_pad" ng-if="list.isSelected" style="margin-top: 5px;">
                                                    {{list.Name}}
                                                    <span class="icon_space glyphicon glyphicon-remove" ng-click="removeList(list)"></span>
                                                </span>
                                            </span>
                                        </div>
                                        <div class="user_list_text">
                                            <div class="row left-inner-addon">
                                                <div class="col-lg-2 col-md-2 col-sm-1"></div>
                                            </div>
                                            <div class="col-lg-2 col-md-2 col-sm-1"></div>


                                        </div>
                                    </div>
                                </div>
                                <div class="top-row" style="width:100%; background:#fff;padding: 25px 2px 36px 0px;">
                                    <div class="clearfix">
                                        <button type="submit" class="btn odd_btn" id="btn_NameListBack" ng-click="cancel()">Back</button>
                                        <button type="button" class="btn btn-primary" id="btn_NameListNext " ng-click="saveList()"><b> Next</b></button>
                                    </div>
                                </div>
                            </div><!--list End-->
                        </div>
                    </div>



                    <div class="col-md-8" style="padding-left: 10px;margin-top:23px;"><div kendo-grid k-options="tagGrid" selectable="true"></div></div>


                    <!--<div class=" pull-left">
            <div class="right-inner-addon" style="padding-top: 12px;">

                <ul class="nav nav-tabs responsive-tagJS" role="tablist">
                    <li id="btn_AddByTag" ng-class="{active:tagSelected}"><a aria-controls="summary" style="cursor:pointer" role="tab" data-toggle="tab" ng-click="showTags()">Add By Tag</a></li>
                    <li id="btn_AddByName" ng-class="{active:listSelected}"><a aria-controls="summary" style="cursor:pointer" role="tab" data-toggle="tab" ng-click="showList()">Add By Name</a></li>

                </ul>
                <div class="clearfix">
                    <div class="right-inner-addon">
                        <i class="fa fa-search"></i>
                        <input type="text" ng-model="tagFilter.Name" class="form-control" id="tagList" placeholder="Search Tags" />
                    </div>
                </div>

            </div>
        </div>-->

                    <div class="row left-inner-addon">

                    </div>
                </div>
        </div>
    </div>



</div>
<script>
    $('#left_side,#left_side_tag').mCustomScrollbar({
        theme: "minimal-dark",
        scrollbarPosition: "outside",
        scrollInertia: 200,
        advanced: { autoExpandHorizontalScroll: true }
    });
    </script>


