<style type="text/css">
    .UseHand {
        cursor: pointer !important;
    }
</style>

<div id="main-content" class="col-xs-12">
    <div class="content-inner">
        <div class="pg-inner-header">
            <div class="row">

                <div class="col-md-12">
                    <h2 class="pg-inner-title">Send Demand Letter</h2>
                </div>
            </div>
        </div>
    </div>
    <div class="pg-inner-content" style="">
        <div class="col-md-12 tab_head-2">
            <div class="row " style="padding: 1px 0px 1px 16px;">
                <div class="col-md-3 email_tabs2">Select Clients</div>
                <div class="col-md-1 tabarrow"><img src="images/gray_blue_arrow.png" class="arrow-height" /></div>
                <div class="col-md-3 email_tabs_active">Select Demand Letter</div>
                <div class="col-md-1 tabarrow"><img src="images/gray_arrow.png" class="arrow-height" /></div>
                <div class="col-md-3 email_tabs_active">Summary</div>

            </div>
        </div>

        <div class="project-detail">
            <div class="top-row" style="width:100%; background:#fff; padding: 0px 26px 15px 14px;">
                <div class="col-lg-12 pull-left">
                    <div class="right-inner-addon" style="padding-top: 12px;border-bottom: 1px solid #e7e7e7;">
                        <h2 class="pg-inner-title"> Select Client</h2>
                    </div>
                </div>
            </div>
            <div class="clearfix list_search" style="margin-top: 23px;">
                <div class="right-inner-addon">
                    <i class="fa fa-search"></i>
                    <input type="text" ng-model="searchContact" class="form-control" id="searchList" placeholder="Search Contact" />
                </div>
            </div>
            <div class="top-row" style="width:100%; background:#fff; padding:60px">
                <form class="form-content form-content2 edit-organization-setting" name="addNewForm" novalidate data-ng-submit="addNew(addNewForm.$valid)" autocomplete="off">
                    <div class="clearfix " style="margin-top:5%">
                        <div id="record-content" class="row">
                            <div class="col-md-5">
                                <div class="user_details-2">
                                    <div class="clearfix spacer-1 row_content-1" ng-repeat="contact in contactInPayScheme | filter: searchContact:strict">
                                        <div class="pull-left  profile-row1">{{contact.first_name}} {{contact.last_name}}</div>
                                        <div class="pull-right profile-row2">
                                            <label class="label-group">
                                                <span class="contact_value" ng-click="selectContact(contact)" id="userLead"><img ng-src="assets/images/{{contact.isSelected ? 'ok': 'plus'}}_icon.png" /> </span>
                                            </label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-2"></div>
                            <div class="col-md-5">
                                <label>{{contactforDemandLetter.length}} Contact Added</label>
                                <div id="payment_contactList" kendo-grid k-options="SelectClientGrid" selectable="true" k-on-change="myGridChange(dataItem)">
                                </div>
                            </div>
                        </div><!-- record-content ended -->
                    </div>

                    <div class="modal-btn-wrap5 modal-btn-wrap6 clearfix" style="text-align:right;margin-left: 16%;">
                        <button class="btn campaign-container-btn" id="payment_contactList_cancel" type="button" ng-click="cancel()">CANCEL</button>
                        <button class="btn organization-btn" id="payment_contactList_Save" type="button" ng-click="goToTemplate()">NEXT</button>
                    </div>
                </form>
            </div>
            <!--</div>--><!-- project-detail ended -->

        </div><!-- pg-inner-content ended -->

    </div><!-- main-content ended -->



</div>
