<div id="add_new_team" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close" ng-click="$dismiss('cancel')"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="exampleModalLabel">Create New Notes</h4>
            </div>
            <form class="form-content form-content2 edit-organization-setting" name="addNewForm" data-ng-submit="addNew(addNewForm.$valid)" autocomplete="off">
               
                 <div class="clearfix">
                    <div class="form-group form-bx form-bx5">
                        <label for="">Add Notes</label>
                        <textarea cols="100" rows="5" name="description"
                                  data-ng-model="params.text"
                                  minlength="1"
                                  maxlength="500"
                                  input-focus
                                  required />
                    </div>
                </div>

                <div class="modal-btn-wrap clearfix">
                    <!--<button type="submit" class="f-btn" ng-click="showProgress=true;uploader.uploadAll();uploader1.uploadAll();uploader2.uploadAll();uploader3.uploadAll()"
                            ng-disabled="!uploader.getNotUploadedItems().length && !uploader1.getNotUploadedItems().length && !uploader2.getNotUploadedItems().length && !uploader3.getNotUploadedItems().length">
                        Save
                    </button>-->
                    <button type="submit" class="f-btn">Save</button>

                    <button type="button" class="f-btn f-btn2" ng-click="cancel()">CANCEL</button>
                </div>
            </form>

        </div>
    </div>
</div>
