    <div id="main-content" class="col-xs-12">
    <div class="content-inner">
        <div class="pg-inner-header">
            <div class="row">
                <div class="col-md-12">
                    <h2 class="pg-inner-title">Teams Details</h2>
                    <button class="btn btn-default login-btn" id="btn_addnewteam" ng-click="openAddPopup()">Add New User</button>

                </div>


            </div>


            <div class="pg-inner-content">

                <div class="project-detail">

                    
                    <div class="project-detail-info">
                     
                        <div class="project-detail-photo">
                          
                            <img src={{image.Contact_Image}} alt="" class="img-responsive" />
                           
                        </div>
                      
                        <div class="project-detail-txt">
                            <!--<a ng-click="openEditContactPopup()" data-toggle="modal"><span class="edit-icon"></span></a>-->
                            
                            <!--<div class="project-name">Name:  {{image.Contact_First_Name}} {{image.Contact_Last_Name}}  </div>
                            <div class="project-d02"> {{image.Title}}</div>
                            <div class="project-d02">Type:{{image.Type}}</div>
                            <div class="project-d02">Phone:{{image.Contact_Phone}} </div>
                            <div class="project-d02">Email: {{image.Contact_Email}}</div>-->
                            
                        </div>
                    </div> <!-- project-detail-info ended -->   



                    <div class="project-detail-tabs pg-tabs" kendo-tab-strip>
                        <ul class="nav nav-tabs responsive-tagJS" role="tablist">
                            <li class="k-state-active"> <a aria-controls="summary" role="tab" data-toggle="tab">SUMMARY</a></li>
                            <li id="tab_user"><a aria-controls="summary" role="tab" data-toggle="tab">USERS</a></li>
                            <li id="tab_project"><a aria-controls="summary" role="tab" data-toggle="tab">PROJECTS</a></li>
                            <li id="tab_task"><a aria-controls="summary" role="tab" data-toggle="tab">TASKS</a></li>
                            <li id="tab_notes"><a aria-controls="summary" role="tab" data-toggle="tab">NOTES</a></li>
                            
                            
                        </ul>

                        <div style="padding: 1em" class="tab_content">
                            <div class="tab_style">
                                <div class="div_pad">


                                    <hr />
                                  
                                </div>

                            </div>
                        </div> <!--Summary-->

                        <div class="leads_group" id="documentGridDiv">
                                <div kendo-grid k-options="UserGrid" selectable="true">

                                </div>
                            </div>  <!--UserGrid-->

                        <div class="leads_group" id="record-content">
                                <div kendo-grid k-options="ProjectGrid" selectable="true">

                                </div>
                            </div> <!--ProjectGrid--> 

                        <div class="leads_group" id="record-content">
                                <div kendo-grid k-options="TaskGrid" selectable="true">

                                </div>
                            </div>  <!--TaskGrid-->

                        <div class="leads_group" id="record-content">
                            <div kendo-grid k-options="NotesGrid" selectable="true">

                            </div>
                        </div>  <!--Notes-->

                        </div>
                </div>
            </div>
        </div>


    </div>

</div>
               