
                    <div   id="add_new_unit" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">                        
                      
                            <div class="modal-body">   
                                    
                                    <div class="close-btn-wrap">
                                        <button type="button" id="btn_addnewunit_close" class="close" data-dismiss="modal" aria-label="Close"  ng-click="$dismiss('cancel')"&times;><span aria-hidden="true">&times;</span></button>
                                    </div>
                                                                        
                                    <form class="form-content form-content2 edit-organization-setting" name="addNewForm" novalidate data-ng-submit="addNew(addNewForm.$valid)" autocomplete="off">

                                        <h4 class="form-title">{{title}}</h4>


                                        <div class="clearfix">
                                            <div class="pull-left f-half-3">
                                                <div class="clearfix">
                                                    <div class="form-group"
                                                         data-ng-class="{
                                                        'has-error' : addNewForm.unitdesc.$invalid && (!addNewForm.unitdesc.$pristine || showValid),
                                                        'has-success': addNewForm.unitdesc.$valid && !addNewForm.unitdesc.$pristine
                                                            }">
                                                        <div class="form-group form-bx unit-type">
                                                            <label for="">Unit Type</label>
                                                            <input type="text" class="form-control" autofocus name="unitdesc" id="addnewunit_unittypedesc"
                                                                   placeholder="Unit Type"
                                                                   data-ng-model="unit_type_desc"
                                                                   minlength="1"
                                                                   maxlength="20"
                                                                   ng-pattern="/^[a-z 1-9.\s]+$/i"
                                                                   input-focus
                                                                   required />
                                                            <div class="text-danger"
                                                                 data-ng-if="addNewForm.unitdesc.$invalid && (!addNewForm.unitdesc.$pristine || showValid) && !addNewForm.unitdesc.$focus">
                                                                {{'Enter valid Unit Type' | translate }}
                                                            </div>
                                                        </div>
                                                        
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="clearfix">

                                            <div class="pull-left f-half-3">
                                                <div class="clearfix">
                                                    <div class="form-group"
                                                         data-ng-class="{
                                                         'has-error' : addNewForm.bedrooms.$invalid && (!addNewForm.bedrooms.$pristine || showValid),
                                                          'has-success': addNewForm.bedrooms.$valid && !addNewForm.bedrooms.$pristine
                                                         }">

                                                        <div class="form-group form-bx">
                                                            <label for="">Bedrooms</label>
                                                            <div class="area-f">
                                                                <input type="text" autofocus name="bedrooms" class="form-control" id="addnewunit_no_bedrooms"
                                                                       placeholder="No of Bedrooms"
                                                                       data-ng-model="num_bedrooms"
                                                                       minlength="1"
                                                                       maxlength="10"
                                                                       ng-pattern="/^([1-9][0-9]*)$/"
                                                                       input-focus
                                                                       required />
                                                                <div class="text-danger"
                                                                     data-ng-if="addNewForm.bedrooms.$invalid && (!addNewForm.bedrooms.$pristine || showValid) && !addNewForm.bedrooms.$focus">
                                                                    {{'Enter valid value for bedrooms' | translate }}
                                                                </div>
                                                            </div>
                                                        </div>
                                                     
                                                    </div>

                                                </div>
                                            </div>

                                            <div class="pull-left f-half-3">
                                                <div class="clearfix">
                                                    <div class="form-group"
                                                         data-ng-class="{
                                                        'has-error' : addNewForm.bathrooms.$invalid && (!addNewForm.bathrooms.$pristine || showValid),
                                                        'has-success': addNewForm.bathrooms.$valid && !addNewForm.bathrooms.$pristine
                                                        }">
                                                        <div class="form-group form-bx">
                                                            <label for="">Bathrooms</label>
                                                            <div class="area-f">
                                                                <input type="text" autofocus name="bathrooms" class="form-control" id="addnewunit_no_bath"
                                                                       placeholder="No of Bathrooms"
                                                                       data-ng-model="num_bathrooms"
                                                                       minlength="1"
                                                                       maxlength="10"
                                                                       ng-pattern="/^([1-9][0-9]*)$/"
                                                                       input-focus
                                                                       required />
                                                                <div class="text-danger"
                                                                     data-ng-if="addNewForm.bathrooms.$invalid && (!addNewForm.bathrooms.$pristine || showValid) && !addNewForm.bathrooms.$focus">
                                                                    {{'Enter valid value for bathrooms' | translate }}
                                                                </div>

                                                            </div>
                                                        </div>
                                                        
                                                    </div>
                                                </div>
                                            </div>


                                        </div>


                                        
                                        <div class="clearfix">

                                            <div class="pull-left f-half-3">
                                                <div class="clearfix">
                                                    <div class="form-group"
                                                         data-ng-class="{
                                                        'has-error' : addNewForm.carpetarea.$invalid && (!addNewForm.carpetarea.$pristine || showValid),
                                                        'has-success': addNewForm.carpetarea.$valid && !addNewForm.carpetarea.$pristine
                                                        }">

                                                        <div class="form-group form-bx">
                                                            <label for="">Carpet Area</label>
                                                            <div class="area-f">
                                                                <input type="text" autofocus name="carpetarea" class="form-control" id="addnewunit_carpet_area"
                                                                       placeholder="Carpet Area"
                                                                       data-ng-model="carpet_area"
                                                                       minlength="1"
                                                                       maxlength="10"
                                                                       ng-pattern="/^([1-9][0-9]*)$/"
                                                                       input-focus
                                                                       required />
                                                                <span class="area-txt">sq.ft</span>
                                                                <div class="text-danger"
                                                                     data-ng-if="addNewForm.carpetarea.$invalid && (!addNewForm.carpetarea.$pristine || showValid) && !addNewForm.carpetarea.$focus">
                                                                    {{'Enter valid value for Carpet Area' | translate }}
                                                                </div>
                                                               
                                                            </div>
                                                        </div>
                                                      
                                                    </div>

                                                </div>
                                            </div>

                                            <div class="pull-left f-half-3">
                                                <div class="clearfix">
                                                    <div class="form-group"
                                                         data-ng-class="{
                                                        'has-error' : addNewForm.saleablearea.$invalid && (!addNewForm.saleablearea.$pristine || showValid),
                                                        'has-success': addNewForm.saleablearea.$valid && !addNewForm.saleablearea.$pristine
                                                         }">
                                                        <div class="form-group form-bx">
                                                            <label for="">Saleable Area</label>
                                                            <div class="area-f">
                                                                <input type="text" autofocus name="saleablearea" class="form-control" id="addnewunit_super_built_area"
                                                                       placeholder="Saleable Area"
                                                                       data-ng-model="super_built_up_area"
                                                                       minlength="1"
                                                                       maxlength="10"
                                                                       ng-pattern="/^([1-9][0-9]*)$/"
                                                                       input-focus
                                                                       required />
                                                                <span class="area-txt">sq.ft</span>
                                                                <div class="text-danger"
                                                                     data-ng-if="addNewForm.saleablearea.$invalid && (!addNewForm.saleablearea.$pristine || showValid) && !addNewForm.saleablearea.$focus">
                                                                    {{'Enter valid value for Saleable Area' | translate }}
                                                                </div>
                                                            </div>
                                                        </div>
                                                      
                                                    </div>
                                                </div>
                                            </div>





                                            <div class="pull-left f-half-3">
                                                <div class="clearfix">

                                                    <div class="form-group"
                                                         data-ng-class="{
                                                        'has-error' : addNewForm.carkpark.$invalid && (!addNewForm.carkpark.$pristine || showValid),
                                                        'has-success': addNewForm.carkpark.$valid && !addNewForm.carkpark.$pristine
                                                        }">
                                                        <div class="form-group form-bx">
                                                            <label for="">Car Parks</label>
                                                            <input type="text" autofocus name="carkpark" class="form-control" id="addnewunit_car_park"
                                                                   placeholder="Car Parks"
                                                                   minlength="1"
                                                                   maxlength="10"
                                                                   ng-pattern="/^([1-9][0-9]*)$/"
                                                                   data-ng-model="cark_park"
                                                                   input-focus
                                                                   required />
                                                            <div class="text-danger"
                                                                 data-ng-if="addNewForm.carkpark.$invalid && (!addNewForm.carkpark.$pristine || showValid) && !addNewForm.carkpark.$focus">
                                                                {{'Enter valid value for Car Park' | translate }}
                                                            </div>
                                                        </div>
                                                       
                                                    </div>
                                                </div>
                                            </div>


                                        </div>

                                        <div class="clearfix image-upload-container">
                                            <div class="modal-body image-upload-wrap" nv-file-drop="" uploader="uploader" filters="queueLimit, customFilter">
                                                <div class="image-upload-title">Upload Unit Image</div>

                                                <div class="dropzone dropzone-bx image-upload-bx">
                                                    <div class="fallback">
                                                        <div class="panel panel-success" uploader="uploader" nv-file-over="">
                                                            <div class="panel-body image-upload-panel">
                                                                <div class="row" ng-hide="uploader.queue.length">
                                                                    <img ng-src={{media1}} class="img-responsive" /> 
                                                                </div>
                                                                <div class="row" ng-show="uploader.queue.length">
                                                                    <div class="col-sm-6 last" ng-repeat="item in uploader.queue">
                                                                        <div ng-show="uploader.isHTML5"
                                                                             ng-thumb="{ file: item._file, height: 200 }"></div>
                                                                    </div>
                                                                    <div class="row" ng-show="media1.isHTML5">
                                                                        <div ng-thumb="{file:media1, height :200}"></div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="uploadFileName"><p ng-show="uploader.queue.length"> {{uploader.queue[0]._file.name}}</p></div>
                                                <div class="image-upload-link">
                                                    <div class="browse-title">Browse</div>
                                                    <input type="file" class="image-upload-f" id="editproject_uploader1" value="Browse" accept="image/*" nv-file-select="" uploader="uploader" />
                                              </div>
                                           </div>
                                            

                                            <div class="modal-body image-upload-wrap" nv-file-drop="" uploader="uploader1" filters="queueLimit, customFilter">
                                                <div class="image-upload-title">Upload 3D Zip</div>

                                                <div class="dropzone dropzone-bx image-upload-bx">
                                                    <div class="fallback">
                                                        <div class="panel panel-success" uploader="uploader1" nv-file-over="">
                                                            <div class="panel-body image-upload-panel">
                                                                <div class="row" ng-hide="uploader1.queue.length">
                                                                    <img ng-src={{media2}}  class="img-responsive" /> 
                                                                </div>
                                                                <div class="row" ng-show="uploader1.queue.length">
                                                                    <div class="col-sm-6 last" ng-repeat="item in uploader1.queue">
                                                                        <div ng-show="uploader1.isHTML5"
                                                                             ng-thumb="{ file: item._file, height: 200 }"></div>
                                                                    </div>
                                                                </div>
                                                                <div class="row" ng-show="media2!">
                                                                    <div ng-thumb="{file:media2, height :200}"></div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="uploadFileName"><p ng-show="uploader.queue.length"> {{uploader1.queue[0]._file.name}}</p></div>
                                                <div class="image-upload-link">
                                                    <div class="browse-title">Browse</div>
                                                    <input type="file" class="image-upload-f" id="editproject_uploader1" value="Browse" accept="application/zip" nv-file-select="" uploader="uploader1" />
                                                </div>
                                              </div>
                                        
                                       </div>

                                            <div class="progress" ng-show="((uploader.progress+uploader1.progress)/2)>0">
                                                <div class="progress-bar" role="progressbar"
                                                     ng-style="{ 'width': (uploader.progress+uploader1.progress)/2 + '%' }"></div>
                                            </div>

                                         

                                        <div class="modal-btn-wrap3 clearfix">
                                            
                                            <button type="submit" class="f-btn"  id="btn_addnewunit_save">
                                                    Save
                                            </button>
                                        </div>

                                    </form>
                                </div><!-- modal-body ended -->
                                
                         
                    </div><!-- modal ended -->
              