
                    <div   id="add_new_unit" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">                        
                        <div class="modal-dialog modal-lg">
                            <div class="modal-content"> 
                                                                
                                <div class="modal-body" nv-file-drop="" uploader="uploader" filters="queueLimit, customFilter">
                                    
                                    <div class="close-btn-wrap">
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"  ng-click="$dismiss('cancel')"&times;><span aria-hidden="true">&times;</span></button>
                                    </div>
                                                                        
                                    <form class="form-content form-content2 edit-organization-setting" name="addNewForm" data-ng-submit="addNew(addNewForm.$valid)" autocomplete="off">

                                        <h4 class="form-title">{{items.title}}</h4>


                                        <div class="clearfix">
                                            <div class="pull-left f-half-3">
                                                <div class="clearfix">
                                                    <div class="form-group"
                                                         data-ng-class="{
                                                        'has-error' : addNewForm.unitdesc.$invalid && (!addNewForm.unitdesc.$pristine || showValid),
                                                        'has-success': addNewForm.unitdesc.$valid && !addNewForm.unitdesc.$pristine
                                                            }">
                                                        <div class="form-group form-bx unit-type">
                                                            <label for="">Unit Type</label>
                                                            <input type="text" class="form-control" autofocus name="unitdesc"
                                                                   placeholder="Unit Type"
                                                                   data-ng-model="unit_type_desc"
                                                                   minlength="1"
                                                                   maxlength="20"
                                                                   ng-pattern="/^[\w -]*$/"
                                                                   input-focus
                                                                   required />
                                                        </div>
                                                        <div class="text-danger"
                                                             data-ng-if="addNewForm.unitdesc.$invalid && (!addNewForm.unitdesc.$pristine || showValid) && !addNewForm.unitdesc.$focus">
                                                            {{'Enter valid Unit Description' | translate }}
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="clearfix">

                                            <div class="pull-left f-half-3">
                                                <div class="clearfix">
                                                    <div class="form-group"
                                                         data-ng-class="{
                                                        'has-error' : addNewForm.carpetarea.$invalid && (!addNewForm.carpetarea.$pristine || showValid),
                                                        'has-success': addNewForm.carpetarea.$valid && !addNewForm.carpetarea.$pristine
                                                        }">

                                                        <div class="form-group form-bx">
                                                            <label for="">Carpet Area</label>
                                                            <div class="area-f">
                                                                <input type="text" autofocus name="carpetarea" class="form-control"
                                                                       placeholder="Carpet Area"
                                                                       data-ng-model="carpet_area"
                                                                       minlength="1"
                                                                       maxlength="10"
                                                                       ng-pattern="/^([1-9][0-9]*)$/"
                                                                       input-focus
                                                                       required />
                                                                <span class="area-txt">sq.ft</span>
                                                            </div>
                                                        </div>
                                                        <div class="text-danger"
                                                             data-ng-if="addNewForm.carpetarea.$invalid && (!addNewForm.carpetarea.$pristine || showValid) && !addNewForm.carpetarea.$focus">
                                                            {{'Enter valid Carpet Area' | translate }}
                                                        </div>
                                                    </div>

                                                </div>
                                            </div>

                                            <div class="pull-left f-half-3">
                                                <div class="clearfix">
                                                    <div class="form-group"
                                                         data-ng-class="{
                                                        'has-error' : addNewForm.saleablearea.$invalid && (!addNewForm.saleablearea.$pristine || showValid),
                                                        'has-success': addNewForm.saleablearea.$valid && !addNewForm.saleablearea.$pristine
                                                         }">
                                                        <div class="form-group form-bx">
                                                            <label for="">Saleable Area</label>
                                                            <div class="area-f">
                                                                <input type="text" autofocus name="saleablearea" class="form-control"
                                                                       placeholder="Saleable Area"
                                                                       data-ng-model="super_built_up_area"
                                                                       minlength="1"
                                                                       maxlength="10"
                                                                       ng-pattern="/^([1-9][0-9]*)$/"
                                                                       input-focus
                                                                       required />
                                                                <span class="area-txt">sq.ft</span>
                                                            </div>
                                                        </div>
                                                        <div class="text-danger"
                                                             data-ng-if="addNewForm.saleablearea.$invalid && (!addNewForm.saleablearea.$pristine || showValid) && !addNewForm.saleablearea.$focus">
                                                            {{'Enter valid Saleable Area' | translate }}
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>


                                        </div>


                                        <!--rupa-->
                                        <div class="clearfix">

                                            <div class="pull-left f-half-3">
                                                <div class="clearfix">
                                                    <div class="form-group"
                                                         data-ng-class="{
                                                         'has-error' : addNewForm.bedrooms.$invalid && (!addNewForm.bedrooms.$pristine || showValid),
                                                          'has-success': addNewForm.bedrooms.$valid && !addNewForm.bedrooms.$pristine
                                                         }">

                                                        <div class="form-group form-bx">
                                                            <label for="">No of Bedrooms</label>
                                                            <div class="area-f">
                                                                <input type="text" autofocus name="bedrooms" class="form-control"
                                                                       placeholder="No of Bedrooms"
                                                                       data-ng-model="num_bedrooms"
                                                                       minlength="1"
                                                                       maxlength="10"
                                                                       ng-pattern="/^([1-9][0-9]*)$/"
                                                                       input-focus
                                                                       required />

                                                            </div>
                                                        </div>
                                                        <div class="text-danger"
                                                             data-ng-if="addNewForm.bedrooms.$invalid && (!addNewForm.bedrooms.$pristine || showValid) && !addNewForm.bedrooms.$focus">
                                                            {{'Enter valid value' | translate }}
                                                        </div>
                                                    </div>

                                                </div>
                                            </div>

                                            <div class="pull-left f-half-3">
                                                <div class="clearfix">
                                                    <div class="form-group"
                                                         data-ng-class="{
                                                        'has-error' : addNewForm.bathrooms.$invalid && (!addNewForm.bathrooms.$pristine || showValid),
                                                        'has-success': addNewForm.bathrooms.$valid && !addNewForm.bathrooms.$pristine
                                                        }">
                                                        <div class="form-group form-bx">
                                                            <label for="">No of Bathrooms</label>
                                                            <div class="area-f">
                                                                <input type="text" autofocus name="bathrooms" class="form-control"
                                                                       placeholder="No of Bathrooms"
                                                                       data-ng-model="num_bathrooms"
                                                                       minlength="1"
                                                                       maxlength="10"
                                                                       ng-pattern="/^([1-9][0-9]*)$/"
                                                                       input-focus
                                                                       required />

                                                            </div>
                                                        </div>
                                                        <div class="text-danger"
                                                             data-ng-if="addNewForm.bathrooms.$invalid && (!addNewForm.bathrooms.$pristine || showValid) && !addNewForm.bathrooms.$focus">
                                                            {{'Enter valid value' | translate }}
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="pull-left f-half-3">
                                                <div class="clearfix">

                                                    <div class="form-group"
                                                         data-ng-class="{
                                                        'has-error' : addNewForm.carkpark.$invalid && (!addNewForm.carkpark.$pristine || showValid),
                                                        'has-success': addNewForm.carkpark.$valid && !addNewForm.carkpark.$pristine
                                                        }">
                                                        <div class="form-group form-bx">
                                                            <label for="">Car Parks</label>
                                                            <input type="text" autofocus name="carkpark" class="form-control"
                                                                   placeholder="Car Parks"
                                                                   minlength="1"
                                                                   maxlength="10"
                                                                   ng-pattern="/^([1-9][0-9]*)$/"
                                                                   data-ng-model="cark_park"
                                                                   input-focus
                                                                   required />
                                                        </div>
                                                        <div class="text-danger"
                                                             data-ng-if="addNewForm.carkpark.$invalid && (!addNewForm.carkpark.$pristine || showValid) && !addNewForm.carkpark.$focus">
                                                            {{'Enter valid Car Park' | translate }}
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>


                                        </div>

                                        <div class="clearfix image-upload-container">
                                            <div class="image-upload-wrap">
                                                <div class="image-upload-title">Upload Unit Image</div>

                                                <div class="dropzone dropzone-bx image-upload-bx">
                                                    <div class="fallback">
                                                        <div class="panel panel-success" uploader="uploader" nv-file-over="">
                                                            <div class="panel-body image-upload-panel">
                                                                <div class="row" ng-hide="uploader.queue.length">
                                                                    <div class="col-lg-2 col-md-2 col-sm-12"></div>
                                                                    <div class="col-lg-8 col-md-8 col-sm-12 col-xs-4" style="height:100%">
                                                                        <span class="page-center">Drag And Drop your file here</span>
                                                                    </div>
                                                                    <div class="col-lg-2 col-md-8 col-sm-12"></div>
                                                                </div>
                                                                <div class="row" ng-show="uploader.queue.length">
                                                                    <div class="col-sm-6 last" ng-repeat="item in uploader.queue">
                                                                        <div ng-show="uploader.isHTML5"
                                                                             ng-thumb="{ file: item._file, height: 200 }"></div>
                                                                    </div>
                                                                    <div class="row" ng-show="media1.isHTML5">
                                                                        <div ng-thumb="{file:media1, height :200}"></div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="image-upload-link">
                                                    <input type="file" nv-file-select="false"  nv-file-multiple="false" uploader="uploader">
                                           

                                            </div>
                                                   
                                                    </div>
                                            

                                            <div class="image-upload-wrap">
                                                <div class="image-upload-title">Upload 3D Zip</div>
                                          
                                                    <div class="dropzone dropzone-bx image-upload-bx">
                                                        <div class="fallback">
                                                            <div class="panel panel-success" uploader="uploader1" nv-file-over="">
                                                                <div class="panel-body image-upload-panel">
                                                                    <div class="row" ng-hide="uploader1.queue.length">
                                                                        <div class="col-lg-2 col-md-2 col-sm-12"></div>
                                                                        <div class="col-lg-8 col-md-8 col-sm-12 col-xs-4" style="height:100%">
                                                                            <span class="page-center">Drag And Drop your file here</span>
                                                                        </div>
                                                                        <div class="col-lg-2 col-md-8 col-sm-12"></div>
                                                                    </div>
                                                                    <div class="row" ng-show="uploader1.queue.length">
                                                                        <div class="col-sm-6 last" ng-repeat="item in uploader1.queue">
                                                                            <div ng-show="uploader1.isHTML5"
                                                                                 ng-thumb="{ file: item._file, height: 200 }"></div>
                                                                        </div>
                                                                    </div>
                                                                    <div class="row" ng-show="media2!">
                                                                        <div ng-thumb="{file:media2, height :200}"></div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="image-upload-link">
                                                        
                                                        
                                                        <input type="file" nv-file-select="false" nv-file-multiple="false" uploader="uploader1">
                                                    
                                                                                                        
                                                </div>
                                        </div>


                                            <div class="progress" ng-show="showProgress">
                                                <div class="progress-bar" role="progressbar"
                                                     ng-style="{ 'width': (uploader.progress+uploader1.progress)/2 + '%' }"></div>
                                            </div>

                                        <div class="modal-btn-wrap3 clearfix">
                                            <!--<button type="submit" class="f-btn">SAVE</button>-->
                                            <button type="submit" class="f-btn" ng-click="showProgress = true;">
                                                    <!--ng-disabled="!uploader.getNotUploadedItems().length && !uploader1.getNotUploadedItems().length && !uploader2.getNotUploadedItems().length"-->
                                                <!--<span class="glyphicon glyphicon-upload"></span>--> Save
                                            </button>
                                        </div>

                                    </form>
                                </div><!-- modal-body ended -->
                                
                            </div>
                        </div>
                    </div><!-- modal ended -->
              