<div id="add_new_wing" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">
   
        <div class="modal-body">
        

                <div class="close-btn-wrap">
                    <button type="button" class="close" id="btn_editnewwing_close"data-dismiss="modal" aria-label="Close" ng-click="$dismiss('cancel')">&times;><span aria-hidden="true">&times;</span></button>
                </div>

                <form class="form-content form-content2 edit-organization-setting" name="addNewForm" novalidate data-ng-submit="addNew(addNewForm.$valid)" autocomplete="off">

                    <h4 class="form-title">Edit Wing Type</h4>

                    <div class="clearfix">
                        <div class="form-group"
                             data-ng-class="{
                                                    'has-error' : addNewForm.street.$invalid && (!addNewForm.street.$pristine || showValid),
                                                    'has-success': addNewForm.street.$valid && !addNewForm.street.$pristine
                                                 }">
                            <div class="form-group form-bx form-bx2">
                                <label for="">Enter Wing Name:</label>
                                <input type="text" autofocus name="street" class="form-control"  id="editnewwing_wing_code"
                                       placeholder="Street"
                                       data-ng-model="params.wing_name"
                                       minlength="1"
                                       maxlength="20"
                                       ng-pattern="/^[\w -]*$/"
                                       required />
                            </div>
                            <div class="text-danger"
                                 data-ng-if="addNewForm.street.$invalid && (!addNewForm.street.$pristine || showValid) && !addNewForm.street.$focus">
                                {{ 'Enter valid Wing Name' | translate }}
                            </div>
                        </div>
                    </div>
                    <div class="clearfix">
                        <div class="form-group"
                             data-ng-class="{
                                                    'has-error' : addNewForm.totalfloors.$invalid && (!addNewForm.totalfloors.$pristine || showValid),
                                                    'has-success': addNewForm.totalfloors.$valid && !addNewForm.totalfloors.$pristine
                                                 }">
                            <div class="form-group form-bx form-bx2">
                                <label for="">How many floors are there in this wing?</label>
                                <input type="text" autofocus name="totalfloors" class="form-control" id="editnewwing_totalnooffloors"
                                       placeholder="How many floors are there"
                                       data-ng-model="params.total_no_of_floors"
                                       ng-pattern="/[0-9]/"
                                       input-focus
                                       required />
                            </div>
                            <div class="text-danger"
                                 data-ng-if="addNewForm.totalfloors.$invalid && (!addNewForm.totalfloors.$pristine || showValid) && !addNewForm.totalfloors.$focus">
                                {{'Enter valid Number of Floors' | translate }}
                            </div>
                        </div>
                    </div>

                    <div class="clearfix image-upload-container">
                        <div class="modal-body image-upload-wrap" nv-file-drop="" uploader="uploader" filters="queueLimit, customFilter">
                            <div class="image-upload-title">Upload Wing Image</div>
                            <div class="dropzone dropzone-bx image-upload-bx">
                                <div class="fallback">
                                    <div class="panel panel-success" uploader="uploader" nv-file-over="">
                                        <div class="panel-body image-upload-panel">
                                            <div class="row" ng-hide="uploader.queue.length">
                                                <img ng-src={{params.Image_Url_wing1}} alt="Drag and Drop" class="img-responsive" />
                                            </div>
                                            <div class="row" ng-show="uploader.queue.length">
                                                <div class="col-sm-6 last" ng-repeat="item in uploader.queue">
                                                    <div ng-show="uploader.isHTML5"
                                                         ng-thumb="{ file: item._file, height: 200 }"></div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="image-upload-link">


                                <input type="file" nv-file-select="false" id="editnewwing_uploader1" accept="image/*" nv-file-multiple="false" uploader="uploader">

                            </div>
                            </div>

                        <div class="modal-body image-upload-wrap" nv-file-drop="" uploader="uploader1" filters="queueLimit, customFilter">
                                <div class="image-upload-title">Upload 3D Zip</div>
                                <div class="dropzone dropzone-bx image-upload-bx">
                                    <div class="fallback">
                                        <div class="panel panel-success" uploader="uploader1" nv-file-over="">
                                            <div class="panel-body image-upload-panel">
                                                <div class="row" ng-hide="uploader1.queue.length">
                                                    <img ng-src={{params.Image_Url_wing2}} alt="Drag and Drop" class="img-responsive" /> 
                                                </div>
                                                <div class="row" ng-show="uploader1.queue.length">
                                                    <div class="col-sm-6 last" ng-repeat="item in uploader1.queue">
                                                        <div ng-show="uploader1.isHTML5"
                                                             ng-thumb="{ file: item._file, height: 200 }"></div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="image-upload-link">


                                    <input type="file" nv-file-select="false" id="editnewwing_uploader2" accept="application/zip" nv-file-multiple="false" uploader="uploader1">

                                </div>
                            </div>
                   </div>

                            <h4 class="form-title form-title2">Assign Floor Type</h4>
                            <div class="row" data-ng-repeat="floor in floors ">

                                <div class="clearfix">

                                    <div class="pull-left f-half-3">
                                        <div class="clearfix">
                                            <div class="form-group form-bx">
                                                <label for="">Floor Type</label>
                                                <input type="text" disabled autofocus name="floortype" class="form-control" id="editnewwing_unit_type_desc"
                                                       placeholder="Floor Type"
                                                       data-ng-model="floor.floor_type_name"
                                                       input-focus
                                                       required />
                                            </div>
                                        </div>

                                    </div>

                                    <div class="pull-left f-half-4">
                                        <div class="clearfix">
                                            <div class="form-group form-bx">
                                                <label for="">Floor No.</label>
                                                <input type="text" autofocus name="floortype" class="form-control" id="editnewwing_no_of_unit"
                                                       placeholder="Floor No"
                                                       data-ng-model="floor.no_of_units"
                                                       input-focus
                                                       required />
                                            </div>
                                        </div>
                                        <div class="clearfix">
                                            <div class="form-group"
                                                 data-ng-class="{
                                                        'has-error' : addNewForm.floortype.$invalid && (!addNewForm.floortype.$pristine || showValid),
                                                        'has-success': addNewForm.floortype.$valid && !addNewForm.floortype.$pristine
                                                     }">
                                                <div class="form-group form-bx">
                                                    <input type="hidden" disabled autofocus name="floortype" class="form-control" id="addnewwing_id"
                                                           placeholder="Floor Type"
                                                           data-ng-model="floor.floor_id"
                                                           ng-pattern="/[0-9]/"
                                                           input-focus
                                                           required />
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                    <div class="progress" ng-show="showProgress">
                        <div class="progress-bar" role="progressbar"
                             ng-style="{ 'width': (uploader.progress+uploader1.progress)/2 + '%' }"></div>
                    </div>


                     <!--<a ng-show="showProgress" id="iconEdit" ng-click="CanceUpload()" data-toggle="modal" style="cursor:pointer;align-content:center"><span class="edit-icon"></span></a>-->
                            <div class="modal-btn-wrap3 clearfix">
                                <button type="submit" class="f-btn" ng-click="submit()" id="btn_editnewwing_save">
                                    <!--<span class="glyphicon glyphicon-upload"></span>--> Save
                                </button>
                            </div>

</form>
            </div><!-- modal-body ended -->

       
    
</div>
