

<div id="add_new_floor" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">
   
        <div class="modal-body">

                <div class="close-btn-wrap">
                    <button type="button" class="close" id="btn_editnewfloor_close"  data-dismiss="modal" aria-label="Close" ng-click="$dismiss('cancel')" &times;><span aria-hidden="true">&times;</span></button>
                </div>

                <form class="form-content form-content2 edit-organization-setting" name="addNewForm" novalidate data-ng-submit="addNew(addNewForm.$valid)" autocomplete="off">

                    <h4 class="form-title">Edit Floor Type</h4>

                    <div class="clearfix">
                        <div class="form-group"
                             data-ng-class="{
                                                    'has-error' : addNewForm.floors.$invalid && (!addNewForm.floors.$pristine || showValid),
                                                    'has-success': addNewForm.floors.$valid && !addNewForm.floors.$pristine
                                                 }">

                            <div class="form-group form-bx">
                                <label for="">How many units are there on this floor?</label>
                                <div class="area-f">
                                    <input type="text" autofocus name="floors" class="form-control" id="editnewfloor_no_of_units"
                                           placeholder="Units "
                                           data-ng-model="params.no_of_units"
                                           minlength="1"
                                           maxlength="10"
                                           ng-pattern="/^(0|[1-9][0-9]*)$/"
                                           required />
                                </div>
                               </div>
                            <div class="text-danger"
                                 data-ng-if="addNewForm.floors.$invalid && (!addNewForm.floors.$pristine || showValid) && !addNewForm.floors.$focus">
                                {{ 'Please enter valid floor number' | translate }}
                            </div>
                        </div>
                    </div>

                    <div class="clearfix">
                        <div class="form-group"
                             data-ng-class="{
                                             'has-error' : addNewForm.tname.$invalid && (!addNewForm.tname.$pristine || showValid),
                                             'has-success': addNewForm.tname.$valid && !addNewForm.tname.$pristine
                                                 }">

                            <div class="form-group form-bx form-bx2">
                                <label for="">Enter floor type name:</label>
                                <input type="text" autofocus name="tname" class="form-control" id="editfloorname"
                                       placeholder="Enter Floor Name"
                                       data-ng-model="params.Unit_Type_desc"
                                       minlength="1"
                                       maxlength="40"
                                       ng-pattern="/^[\w -]*$/"
                                       required />
                            </div>
                            <div class="text-danger"
                                 data-ng-if="addNewForm.tname.$invalid && (!addNewForm.tname.$pristine || showValid) && !addNewForm.tname.$focus">
                                {{ 'Please enter valid floor name' | translate }}
                            </div>
                        </div>
                    </div>

                    <div class="clearfix image-upload-container">
                   <div class="modal-body image-upload-wrap" nv-file-drop="" uploader="uploader" filters="queueLimit, customFilter">
                            <div class="image-upload-title">Upload Wing Image</div>
                            <div class="dropzone dropzone-bx image-upload-bx">
                                <div class="fallback">
                                    <div class="panel panel-success" uploader="uploader" nv-file-over="">
                                        <div class="panel-body image-upload-panel">
                                            <div class="row" ng-hide="uploader.queue.length">
                                                <img ng-src={{params.Image_Url_Wing1}} alt="Drag and Drop" class="img-responsive" /> 
                                            </div>
                                            <div class="row" ng-show="uploader.queue.length">
                                                <div class="col-sm-6 last" ng-repeat="item in uploader.queue">
                                                    <div ng-show="uploader.isHTML5"
                                                         ng-thumb="{ file: item._file, height: 200 }"></div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="image-upload-link">

                                <input type="file" nv-file-select="false" id="editnewfloor_uploader1"  accept="image/*"  nv-file-multiple="false" uploader="uploader">


                            </div>
                            </div>

                    <div class="modal-body image-upload-wrap" nv-file-drop="" uploader="uploader1" filters="queueLimit, customFilter">
                                <div class="image-upload-title">Upload 3D Zip</div>
                                <div class="dropzone dropzone-bx image-upload-bx">
                                    <div class="fallback">
                                        <div class="panel panel-success" uploader="uploader1" nv-file-over="">
                                            <div class="panel-body image-upload-panel">
                                                <div class="row" ng-hide="uploader1.queue.length">
                                                    <img ng-src={{params.Image_Url_Wing2}} alt="Drag and Drop" class="img-responsive" />
                                                </div>
                                                <div class="row" ng-show="uploader1.queue.length">
                                                    <div class="col-sm-6 last" ng-repeat="item in uploader1.queue">
                                                        <div ng-show="uploader1.isHTML5"
                                                             ng-thumb="{ file: item._file, height: 200 }"></div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="image-upload-link">

                                    <input type="file" nv-file-select="false" id="editnewfloor_uploader2" accept="application/zip" nv-file-multiple="false" uploader="uploader1">


                                </div>
                            </div>

                    </div>

                            <h4 class="form-title form-title2">Assign Unit Type</h4>
                            <div class="row" data-ng-repeat="unit in units " style="margin-left:7px;">


                                <div class="col-sm-4">

                                    <label class="control-label">Unit Type</label>
              
                                    
                                    <div class="col-xs-10">

                                        <label class="label-group">
                                            <input type="text" disabled autofocus name="floortype" onblur="blur()" class="form-control" id="editnewfloor_unit_type_desc"
                                                   placeholder="Unit Type"
                                                   data-ng-model="unit.unit_desc"
                                                   ng-minlength="1"
                                                   ng-maxlength="10"
                                                   ng-pattern="/^[a-zA-Z\s]+$/"
                                                   input-focus
                                                   required />
                                        </label>
                        
                                    </div>

                               </div>
                                <div class="col-sm-4">
                                    <label class="control-label">unit No</label>
                               
                                    <div class="form-group">
                                        <div class="col-xs-10">

                                            <label class="label-group">
                                                <input autofocus name="floorno" class="form-control"  id="editnewfloor_unit_id" data-valid="1"
                                                       placeholder="unit No"
                                                       data-ng-model="unit.no_of_units "
                                                       input-focus
                                                       required />
                                            </label>
                       
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-4">
                      
                                    <div class="col-xs-10">

                                        <label class="label-group">
                                            <input type="hidden" disabled autofocus name="floortype" class="form-control" id="editnewfloor_unit_id" 
                                                   placeholder="Unit Type"
                                                   data-ng-model="unit.id"
                                                   ng-pattern="/^[a-zA-Z\s]+$/"
                                                   input-focus
                                                   required />
                                        </label>
                       
                                    </div>

                                </div>

                            </div>
                            

                    <div class="progress" ng-show="showProgress">
                        <div class="progress-bar" role="progressbar"
                             ng-style="{ 'width': (uploader.progress+uploader1.progress)/2 + '%' }"></div>
                    </div>

                     <!--<a ng-show="showProgress" id="iconEdit" ng-click="CanceUpload()" data-toggle="modal" style="cursor:pointer;align-content:center"><span class="edit-icon"></span></a>-->

                            <div class="modal-btn-wrap3 clearfix">
                                <button type="submit"  id="btn_editnewfloor_save"  class="f-btn"
                                        ng-disabled="!uploader.getNotUploadedItems().length && !uploader1.getNotUploadedItems().length && !uploader2.getNotUploadedItems().length">
                                    Save
                                </button>
                            </div>

</form>
            </div><!-- modal-body ended -->

       
    </div>




