
<div id="add_new_project" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">

            <div class="close-btn-wrap">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close" ng-click="$dismiss('cancel')" &times;><span aria-hidden="true">&times;</span></button>
            </div>

            <form class="form-content form-content2 edit-organization-setting" style="text-align:left;" name="addNewForm" novalidate data-ng-submit="addNew(addNewForm.$valid)" autocomplete="off">

                <h4 class="form-title">Edit Event </h4>


                <div class="clearfix">
                    <div class="form-group form-bx form-bx8">
                        <label for="">Event Title</label>
                        <input type="text" class="form-control text-bold" autofocus name="project_name"
                               placeholder="Event Name"
                               data-ng-model="params.name"
                               minlength="1"
                               maxlength="30"
                               input-focus
                               required />
                    </div>
                </div>

                <div class="clearfix">
                    <div class="form-group form-bx form-bx8">
                        <label for="">Location</label>
                        <input type="text" class="form-control text-bold" autofocus name="project_name"
                               placeholder="Address"
                               data-ng-model="params.location"
                               minlength="1"
                               maxlength="100"
                               input-focus/>
                    </div>
                </div>

                <div class="clearfix">
                    <div class="pull-left f-half-6">
                        <div class="form-group form-bx4 form-bx3-1" style="width:390px">
                            <label for="">Project</label>
                            <select ng-model="project1" ng-change="selectproject()" id="contact_project"
                                    class="dropdown form-control" >
                                <option value="" selected>Select Project</option>
                                <option ng-repeat="project in projects"
                                        value="{{project.id}}"
                                        ng-disabled="project.id !== project1">
                                    {{project.name}}
                                </option>

                            </select>
                        </div>
                    </div>

                    <div class="pull-left f-half-6">
                        <div class="form-group form-bx4 form-bx3-1" style="width:390px">
                            <label for="">Contact</label>
                            <select ng-model="contact1" ng-change="selectcontact()"
                                    class="dropdown form-control" >
                                <option value="" selected>Select Contact</option>
                                <option ng-repeat="contact in contacts"
                                        value="{{contact.Contact_id}}">
                                    {{contact.Contact_Name}}
                                </option>
                            </select>
                        </div>
                    </div>
                </div>

                <strong class="duration_time form-content form-bx8"> Duration</strong>
                <div class="clearfix">
                    <div class="pull-left f-half-6">
                        <div class="form-group form-bx4 form-bx3-1" style="width:390px">
                            <label for="">Start Date </label>
                            <input kendo-date-time-picker class="form-control" placeholder="start date"
                                   ng-model="start_date"
                                   k-ng-model="k_start_date"
                                   k-format="'dd/MM/yyyy hh:mm tt'" />
                        </div>

                    </div>

                </div>

                <div class="clearfix">
                    <div class="pull-left f-half-6">
                        <div class="form-group form-bx4 form-bx3-1" style="width:390px">
                            <label for="">End Date</label>
                            <input kendo-date-time-picker class="form-control" placeholder="end date"
                                   ng-model="end_date"
                                   k-ng-model="k_end_date"
                                   k-format="'dd/MM/yyyy hh:mm tt'" />
                        </div>

                    </div>
                </div>

                <strong class="duration_time form-content form-bx8">  Set Reminder</strong>

                <div class="clearfix">
                    <div class="pull-left f-half-6">
                        <div class="form-group form-bx form-bx3-1">
                            <label for="">Select Time</label>
                            <select ng-model="reminder_time" class="dropdown form-control" >
                                <option value="" selected>Select Time</option>
                                <option value="15">15 min</option>
                                <option value="30">30 min</option>
                                <option value="45">45 min</option>
                                <option value="60">60 min</option>
                                <option value="0">no reminder</option>
                            </select>
                        </div>
                    </div>
                </div>

                <strong class="duration_time form-content form-bx8"> Add Notes</strong>
                <div class="clearfix">
                    <div class="form-group form-bx form-bx5">
                        <textarea cols="100" rows="5" name="description"
                                  data-ng-model="params.text"
                                  minlength="1"
                                  maxlength="500"
                                  input-focus />
                    </div>
                </div>

                <div class="form-group">
                    <label><input type="checkbox" name="test3" value="1" ng-model="remind_me" checked></label>
                    <label>Remind Me</label>
                </div>

                <!-- select-project-type ended -->
                <div class="modal-btn-wrap5 modal-btn-wrap6 clearfix">
                    <div class="btn-f-c">
                        <button class="f-btn" id="campaign_save" type="submit" ng-click="save()">
                            SAVE
                        </button>
                    </div>
                    <div class="btn-f-c"><button class="f-btn f-btn2" type="submit" id="gallery_cancel" ng-click="$dismiss('cancel')">CANCEL</button></div>
                </div>
            </form>
        </div><!-- modal-body ended -->

    </div>
</div>

