

<div id="add_new_floor" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">

            <div class="modal-body" nv-file-drop="" uploader="uploader" filters="queueLimit, customFilter">

                <div class="close-btn-wrap">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close" ng-click="$dismiss('cancel')" &times;><span aria-hidden="true">&times;</span></button>
                </div>

                <form class="form-content form-content2 edit-organization-setting" name="addNewForm" novalidate data-ng-submit="addNew(addNewForm.$valid)" autocomplete="off">

                    <h4 class="form-title">Add New Floor Type</h4>

                    <div class="clearfix">
                        <div class="form-group"
                             data-ng-class="{
                                                    'has-error' : addNewForm.floors.$invalid && (!addNewForm.floors.$pristine || showValid),
                                                    'has-success': addNewForm.floors.$valid && !addNewForm.floors.$pristine
                                                 }">

                            <div class="form-group form-bx f-unit">
                                <label for="">How many units are there on this floor?</label>
                                <input type="text" name="floors" class="form-control" id="unitfloor"
                                       placeholder="Units "
                                       data-ng-model="params.no_of_units"
                                       minlength="1"
                                       maxlength="10"
                                       ng-pattern="/^(0|[1-9][0-9]*)$/"
                                       required />
                            </div>
                        </div>
                    </div>

                    <div class="clearfix">
                        <div class="form-group"
                             data-ng-class="{
                                             'has-error' : addNewForm.tname.$invalid && (!addNewForm.tname.$pristine || showValid),
                                             'has-success': addNewForm.tname.$valid && !addNewForm.tname.$pristine
                                                 }">

                            <div class="form-group form-bx form-bx2">
                                <label for="">Enter floor type name:</label>
                                <input type="text" autofocus name="tname" class="form-control" id="floorname"
                                       placeholder="Enter Floor Name"
                                       data-ng-model="params.Unit_Type_desc"
                                       minlength="1"
                                       maxlength="40"
                                       ng-pattern="/^[\w -]*$/"
                                       required />
                            </div>
                            <div class="text-danger"
                                 data-ng-if="addNewForm.tname.$invalid && (!addNewForm.tname.$pristine || showValid) && !addNewForm.street.$focus">
                                {{ 'Please enter valid floor name' | translate }}
                            </div>
                        </div>
                    </div>

                    <div class="clearfix image-upload-container">
                        <div class="image-upload-wrap">
                            <div class="image-upload-title">Upload Wing Image</div>
                            <div class="dropzone dropzone-bx image-upload-bx">
                                <div class="fallback">
                                    <div class="panel panel-success" uploader="uploader" nv-file-over="">
                                        <div class="panel-body image-upload-panel">
                                            <div class="row" ng-hide="uploader.queue.length">
                                                <div class="col-lg-2 col-md-2 col-sm-12"></div>
                                                <div class="col-lg-8 col-md-8 col-sm-12 col-xs-4" style="height:100%">
                                                    <span class="page-center">Drag And Drop your file here</span>
                                                </div>
                                                <div class="col-lg-2 col-md-8 col-sm-12"></div>
                                            </div>
                                            <div class="row" ng-show="uploader.queue.length">
                                                <div class="col-sm-6 last" ng-repeat="item in uploader.queue">
                                                    <div ng-show="uploader.isHTML5"
                                                         ng-thumb="{ file: item._file, height: 200 }"></div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="image-upload-link">

                                <input type="file" nv-file-select="false" nv-file-multiple="false" uploader="uploader">


                            </div>

                            <div class="image-upload-wrap">
                                <div class="image-upload-title">Upload 3D Zip</div>
                                <div class="dropzone dropzone-bx image-upload-bx">
                                    <div class="fallback">
                                        <div class="panel panel-success" uploader="uploader1" nv-file-over="">
                                            <div class="panel-body image-upload-panel">
                                                <div class="row" ng-hide="uploader1.queue.length">
                                                    <div class="col-lg-2 col-md-2 col-sm-12"></div>
                                                    <div class="col-lg-8 col-md-8 col-sm-12 col-xs-4" style="height:100%">
                                                        <span class="page-center">Drag And Drop your file here</span>
                                                    </div>
                                                    <div class="col-lg-2 col-md-8 col-sm-12"></div>
                                                </div>
                                                <div class="row" ng-show="uploader1.queue.length">
                                                    <div class="col-sm-6 last" ng-repeat="item in uploader1.queue">
                                                        <div ng-show="uploader1.isHTML5"
                                                             ng-thumb="{ file: item._file, height: 200 }"></div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="image-upload-link">

                                    <input type="file" nv-file-select="false" nv-file-multiple="false" uploader="uploader1">


                                </div>
                            </div>

                            <h4 class="form-title form-title2">Assign Unit Type</h4>
                            <div class="row" data-ng-repeat="unit in units ">


                                <div class="col-sm-6">


                                    <!--  <h4><span>{{floor.unit_type_desc}}</span></h4>-->
                                    <!--<div class="form-group"
                                            data-ng-class="{
                                       'has-error' : addNewForm.floortype.$invalid && (!addNewForm.floortype.$pristine || showValid),
                                       'has-success': addNewForm.floortype.$valid && !addNewForm.floortype.$pristine
                                    }">-->
                                    <div class="col-xs-10">

                                        <label class="label-group">
                                            <input type="text" disabled autofocus name="floortype" onblur="blur()" class="form-control" id="floorid"
                                                   placeholder="Unit Type"
                                                   data-ng-model="unit.unit_desc"
                                                   ng-minlength="1"
                                                   ng-maxlength="10"
                                                   ng-pattern="/^[a-zA-Z\s]+$/"
                                                   input-focus
                                                   required />
                                        </label>
                                        <!--<div class="text-danger"
                                             data-ng-if="addNewForm.floortype.$invalid && (!addNewForm.floortype.$pristine || showValid) && !addNewForm.floortype.$focus">
                                            {{'Please enter valid floor type' | translate }}
                                        </div>-->
                                    </div>

                                </div>
                                <div class="col-sm-6">
                                    <label class="control-label">unit No</label>
                                    <!--<h4><span>{{floor.no_of_units}}</span></h4>-->
                                    <div class="form-group">
                                        <div class="col-xs-10">

                                            <label class="label-group">
                                                <input autofocus name="floorno" class="form-control" id="unitno" data-valid="1"
                                                       placeholder="unit No"
                                                       data-ng-model="unit.no_of_units "
                                                       input-focus
                                                       required />
                                            </label>
                                            <!--<div class="text-danger"
                                                 data-ng-if="addNewForm.floorno.$invalid && (!addNewForm.floorno.$pristine || showValid) && !addNewForm.floorno.$focus">
                                                {{'Please enter valid floor nunber' | translate }}
                                            </div>-->
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <!--<label class="control-label">Unit Id</label>-->
                                    <!--<div class="form-group"
                                        data-ng-class="{
                                       'has-error' : addNewForm.floortype.$invalid && (!addNewForm.floortype.$pristine || showValid),
                                       'has-success': addNewForm.floortype.$valid && !addNewForm.floortype.$pristine
                                    }">-->
                                    <div class="col-xs-10">

                                        <label class="label-group">
                                            <input type="hidden" disabled autofocus name="floortype" class="form-control"
                                                   placeholder="Unit Type"
                                                   data-ng-model="unit.id"
                                                   ng-pattern="/^[a-zA-Z\s]+$/"
                                                   input-focus
                                                   required />
                                        </label>
                                        <!--<div class="text-danger"
                                             data-ng-if="addNewForm.floortype.$invalid && (!addNewForm.floortype.$pristine || showValid) && !addNewForm.floortype.$focus">
                                            {{'Please enter valid floor type' | translate }}
                                        </div>-->
                                    </div>

                                </div>

                            </div>

                            <div class="progress" ng-show="showProgress">
                                <div class="progress-bar" role="progressbar"
                                     ng-style="{ 'width': (uploader.progress+uploader1.progress+uploader2.progress)/3 + '%' }"></div>
                            </div>

                            <div class="modal-btn-wrap3 clearfix">
                                <button type="submit" id="save" class="f-btn"
                                        ng-disabled="!uploader.getNotUploadedItems().length && !uploader1.getNotUploadedItems().length && !uploader2.getNotUploadedItems().length">
                                    Save
                                </button>
                            </div>

                </form>
            </div><!-- modal-body ended -->

        </div>
    </div>
</div><!-- modal ended -->


<script>
    //$(document).ready(function () {
    //    $(".form-content form-content2 edit-organization-setting input").not("#unitfloor").not("#floorname").not("#save").blur(function () {
    //        var array = convertToArray($(this).val());
    //        console.log(array);
    //        if(isValidFormat(array) || $(this).val()==""){
    //            $(this).attr("data-valid", 1);
    //            $(this).next().remove();
    //        }
    //        else{
    //            if($(this).next().hasClass("error"))
    //                $(this).next().remove();
    //            $(this).after("<p class='error'>Data format is not valid!</p>");
    //            $(this).attr("data-valid", 0);
    //        }
    //        if(isInInterval(array) && isValidFormat(array)){
    //            $(this).attr("data-valid", 1);
    //            $(this).next().remove();
    //        }
    //        else if(!isInInterval(array) && isValidFormat(array)){
    //            if($(this).next().hasClass("error"))
    //                $(this).next().remove();
    //            $(this).after("<p class='error'>Number outside the interval!</p>");
    //            $(this).attr("data-valid", 0);
    //        }
    //        $(".form-content form-content2 edit-organization-setting input").not("#unitfloor").not("#floorname").not("#save").each(function () {
    //            if($(this).attr("data-valid") == 0){
    //                $("#save").prop('disabled', true);
    //                return false;
    //            }
    //            else
    //                $("#save").prop('disabled', false);
    //        });
    //    });
    //    $(".form-content form-content2 edit-organization-setting input").submit(function (e) {
    //        e.preventDefault();
    //        var array = [];
    //        $(".form-content form-content2 edit-organization-setting input").not("#unitfloor").not("#floorname").not("#save").each(function () {
    //            var testArray = convertToArray($(this).val());
    //            Array.prototype.push.apply(array, testArray);
    //        });
    //        $(this).nextAll().remove();
    //        if(isDuplicate(array)){
    //            var result = isDuplicate(array);
    //            $(this).after("<p class='error'>Duplicate numbers! "+result+"</p>");
    //        }
    //        if(isMissingNumber(array)){
    //            var nums = isMissingNumber(array);
    //            $(this).after("<p class='error'>Missing numbers! "+nums+"</p>");
    //        }
    //        if(!isDuplicate(array) && !isMissingNumber(array))
    //            $(this).after("<p class='ntfc'>All right!</p>");
    //    });
    //               });
    //    function isArray(myArray) {
    //        return myArray.constructor.toString().indexOf("Array") > -1;
    //    }
    //    function convertToArray(string){
    //        var dot = string.indexOf(".");
    //        var array = string.split(",");
    //        if(dot != -1)
    //            array.push("!");
    //        var reg = /\d\-\d/;
    //        for(var i=0; i<array.length; i++){
    //            if(reg.test(array[i])){
    //                array[i] = array[i].split("-");
    //            }
    //        }
    //        for(var i=0; i<array.length; i++){
    //            if(isArray(array[i])){
    //                if(parseInt(array[i][0]) == parseInt(array[i][1])){
    //                        array.push(parseInt(array[i][0]));
    //                        array.push(parseInt(array[i][0]));
    //                    }
    //                else if(parseInt(array[i][0]) > parseInt(array[i][1])){
    //                    array.push("!");
    //                }
    //                else
    //                    for(var u=parseInt(array[i][0]); u<=parseInt(array[i][1]); u++){
    //                            array.push(parseInt(u));
    //                    }
    //                array.splice(i, 1);
    //                i--;
    //            }
    //            else{
    //                if($.isNumeric(array[i]))
    //                    array[i] = parseInt(array[i]);
    //            }
    //        }
    //    return array;
    //    }
    //    function isValidFormat(array){
    //        for(var i=0;i<array.length;i++){
    //            if(!$.isNumeric(array[i]))
    //                return false;
    //        }
    //        return true;
    //    }
    //    function isInInterval(array){
    //        var a = parseInt($("#unitno").val());
    //        for(var i=0;i<array.length;i++){
    //            if(array[i]<1 || array[i]>a)
    //                return false;
    //        }
    //        return true;
    //    }
    //    function isDuplicate(array){
    //       var array = array.sort();
    //       var result = [];
    //        for(var i=0;i<array.length-1;i++){
    //            if(array[i]==array[i+1]){
    //                if(result.indexOf(array[i]) == -1)
    //                    result.push(array[i+1]);
    //            }
    //        }
    //        if(result.length)
    //            return result;
    //        else
    //            return false;
    //    }
    //    function isMissingNumber(array){
    //        var a = parseInt($("#unitno").val());
    //        var result = false;
    //        var nums = [];
    //        for(var i=1;i<=a;i++){
    //            for(var u=0;u<array.length;u++){
    //                if(i==array[u]){
    //                    result = true;
    //                    break;
    //                }
    //                else
    //                    result = false;
    //            }
    //            if(result == false){
    //                if(nums.indexOf(i) == -1)
    //                    nums.push(i);
    //            }

    //        }
    //        if(nums.length)
    //            return nums;
    //        else
    //            return false;
    //    }
</script>
