<div id="add_new_floor" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">
   

            <div class="modal-body" nv-file-drop="" uploader="uploader" filters="queueLimit, customFilter">

                <div class="close-btn-wrap">
                    <button type="button" class="close" id="btn_gallery_close" data-dismiss="modal" aria-label="Close" ng-click="$dismiss('cancel')" &times;><span aria-hidden="true">&times;</span></button>
                </div>

                <form class="form-content form-content2 edit-organization-setting" name="addNewForm" novalidate data-ng-submit="addNew(addNewForm.$valid)" autocomplete="off">

                    <h4 class="form-title">Gallery</h4>

                    <div class="clearfix">
                        <div class="form-group"
                             data-ng-class="{
                                                    'has-error' : addNewForm.notes.$invalid && (!addNewForm.notes.$pristine || showValid),
                                                    'has-success': addNewForm.notes.$valid && !addNewForm.notes.$pristine
                                                 }">

                            <div class="form-group form-bx form-bx2">
                                <label for="">Notes</label>
                                <input type="text" autofocus name="notes"  class="form-control" id="gallery_notes"
                                       placeholder="Add Notes "
                                       data-ng-model="params.notes"
                                       minlength="1"
                                       maxlength="50"
                                       alphabets-only
                                       required
                                       />
                            </div>
                            <div class="text-danger"
                                 data-ng-if="addNewForm.notes.$invalid && (!addNewForm.notes.$pristine || showValid) && !addNewForm.notes.$focus">
                                {{ 'Please enter a proper note' | translate }}
                            </div>
                        </div>
                    </div>

                    

                    <div class="clearfix image-upload-container">
                        <div class="image-upload-wrap">
                            <div class="image-upload-title">Upload Image</div>
                            <div class="dropzone dropzone-bx image-upload-bx">
                                <div class="fallback">
                                    <div class="panel panel-success" uploader="uploader" nv-file-over="">
                                        <div class="panel-body image-upload-panel">
                                            <div class="row" ng-hide="uploader.queue.length">
                                                <div class="col-lg-2 col-md-2 col-sm-12"></div>
                                                <div class="col-lg-8 col-md-8 col-sm-12 col-xs-4" style="height:100%">
                                                    <span class="page-center">Drag And Drop</span>
                                                </div>
                                                <div class="col-lg-2 col-md-8 col-sm-12"></div>
                                            </div>
                                            <div class="row" ng-show="uploader.queue.length">
                                                <div class="col-sm-6 last" ng-repeat="item in uploader.queue">
                                                    <div ng-show="uploader.isHTML5"
                                                         ng-thumb="{ file: item._file, height: 200 }"></div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="image-upload-link">

                                <input type="file" nv-file-select="false" id="gallery_uploader1" accept="image/*" nv-file-multiple="false" uploader="uploader">


                            </div>
                           </div>
                    </div>

                    <div class="progress" ng-show="showProgress">
                        <div class="progress-bar" role="progressbar"
                             ng-style="{ 'width': (uploader.progress)/1 + '%' }"></div>
                    </div>

                     <!--<a ng-show="showProgress" id="iconEdit" ng-click="CanceUpload()" data-toggle="modal" style="cursor:pointer;align-content:center"><span class="edit-icon"></span></a>-->

                            <div class="modal-btn-wrap3 clearfix">
                                <button type="submit" id="gallery_save" class="f-btn"
                                        ng-click="showProgress=true;uploader.uploadAll()"  ng-disabled="!uploader.getNotUploadedItems().length">
                                    Save
                                </button>
                            </div>

                </form>
            </div><!-- modal-body ended -->

     
</div>