

<div id="add_new_contact" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">
    <div class="modal-header">
        <h4 class="modal-title" id="exampleModalLabel" style="text-align:left" >Edit User</h4>
        <div class="close-btn-wrap" style="height:0px">
            <button type="button" style="margin-top:-29px;" id="btn_edituser_close" class="close" data-dismiss="modal" aria-label="Close" ng-click="$dismiss('cancel')"><span aria-hidden="true">&times;</span></button>
        </div>
    </div>

    <div class="modal-body">
        <form class="form-content" name="newForm" autocomplete="off"
              data-ng-submit="addNewUser(newForm.$valid)">
            <div class="clearfix ">
                <div class="image-upload-wrap">
                    <div class="image-upload-title">Upload User Image</div>
                    <div class="dropzone dropzone-bx image-upload-bx">
                        <div class="fallback">
                            <div class="panel panel-success" uploader="uploader" nv-file-over="">
                                <div class="image-upload-panel project-detail-photo_2">
                                    <div class="" ng-hide="uploader.queue.length">
                                        <img ng-src={{params.media_url}} alt="Drag and Drop" class="image1" />
                                    </div>
                                    <div class="" ng-show="uploader.queue.length">
                                        <div class="user-photo_3" ng-repeat="item in uploader.queue">
                                            <img id="fetch" src="#" class="image1" alt="your image" />
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="uploadFileName">
                        <p ng-show="uploader.queue.length">{{uploader.queue[0]._file.name}}</p>
                    </div>
                    <div class="image-upload-link">
                                                
                        <label class="custom-file-input" id="addNewImage">
                            <input type="file" class="image-upload-f" id="editUser_uploader1" value="Browse" accept="image/*" nv-file-select="" uploader="uploader" />
                        </label>
                    </div>
                </div>
            </div>
            <div class="clearfix">

                <div class="form-bx">
                    <div class="form-group"
                         data-ng-class="{
                                  'has-error' : newForm.first_name.$invalid && (!newForm.first_name.$pristine || showValid) && !newForm.first_name.$focus,
                                  'has-success': newForm.first_name.$valid && !newForm.first_name.$pristine && !newForm.first_name.$focus
                                            }">
                        <input type="text" autofocus name="first_name" class="form-control" id="edituser_fname"
                               placeholder="First Name"
                               data-ng-model="params.first_name"
                               minlength="1"
                               maxlength="40"
                               alphabets-only
                               input-focus
                               required
                               ng-pattern="/^[a-zA-Z\s]*$/" />
                        <!--<div class="text-danger"
                             data-ng-if="newForm.first_name.$invalid && (!newForm.first_name.$pristine || showValid) && !newForm.first_name.$focus">
                            {{ 'Enter Valid First Name' | translate }}
                        </div>-->
                        <div ng-messages="newForm.first_name.$error" style="color:maroon" role="alert">
                            <div ng-message="required" data-ng-if="newForm.first_name.$invalid && (!newForm.first_name.$pristine || showValid) && !newForm.first_name.$focus">This field should not be empty </div>
                            <div ng-message="pattern" id="err_edituser_fname">Enter valid first name</div>
                        </div>
                    </div>
                </div>

                <div class="field-mdl field-req" style="margin-top: -12px;">*</div>

                <div class="form-bx">
                    <div class="form-group"
                         data-ng-class="{
                              'has-error' : newForm.lastName.$invalid && (!newForm.lastName.$pristine || showValid) && !newForm.lastName.$focus,
                               'has-success': newForm.lastName.$valid && !newForm.lastName.$pristine && !newForm.lastName.$focus
                                          }">
                        <input type="text" name="lastName" class="form-control" id="edituser_lname"
                               placeholder="Last Name"
                               data-ng-model="params.last_name"
                               minlength="1"
                               maxlength="50"
                               alphabets-only
                               input-focus
                               required
                               ng-pattern="/^[a-zA-Z\s]*$/" />
                        <!--<div class="text-danger"
                             data-ng-if="newForm.lastName.$invalid && (!newForm.lastName.$pristine || showValid) && !newForm.lastName.$focus">
                            {{ 'Enter Valid Last Name' | translate }}
                        </div>-->
                        <div ng-messages="newForm.lastName.$error" style="color:maroon" role="alert">
                            <div ng-message="required" data-ng-if="newForm.lastName.$invalid && (!newForm.lastName.$pristine || showValid) && !newForm.lastName.$focus">This field should not be empty </div>
                            <div ng-message="pattern" id="err_edituser_lname">Enter valid last name</div>
                        </div>
                    </div>
                </div>

                <div class="field-mdl field-req" style="margin-top: -12px;">*</div>
            </div>

            <div ng-repeat="choice in choices">
                <div class="form-group"
                     data-ng-class="{
                     'has-error' : newForm.phone_no.$invalid && (!newForm.phone_no.$pristine || showValid) && !newForm.phone_no.$focus,
                    'has-success': newForm.phone_no.$valid && !newForm.phone_no.$pristine && !newForm.phone_no.$focus
                                                              }">

                    <div id="phone-wrap" class="clearfix">
                        <div id="phone-no" class="form-bx form-bx2">
                            <input type="text" name="phone_no" class="form-control" id="edituser_phno"
                                   placeholder="Phone Number"
                                   data-ng-model="choice.account_phone"
                                   minlength="10"
                                   maxlength="10"
                                   ng-pattern="/^[1-9]{1}[0-9]{9}$/"
                                   numbers-only
                                   input-focus />
                            <div class="text-danger"
                                 data-ng-if="newForm.phone_no.$invalid && (!newForm.phone_no.$pristine || showValid) && !newForm.phone_no.$focus">
                                {{ 'Enter Valid Phone Number' | translate }}
                            </div>

                        </div>
                        <div id="add-address" ng-class="{'add-input add-input2': $index==0,'remove-field': $index>0}" ng-click="addNewChoice($event)"><a href="javascript:">remove</a></div>
                    </div>
                </div>
            </div>


            <div ng-repeat="choice1 in choices1">
                <div class="form-group"
                     data-ng-class="{
                                    'has-error' : newForm.email.$invalid && (!newForm.email.$pristine || showValid) && !newForm.email.$focus,
                                    'has-success': newForm.email.$valid && !newForm.email.$pristine && !newForm.email.$focus
                                                              }">
                    <div id="email-wrap" class="clearfix">
                        <div id="email-no" class="form-bx form-bx2">
                            <input type="email" name="email" class="form-control" id="edituser_mail"
                                   placeholder="Email Address"
                                   data-ng-model="choice1.account_email"
                                   minlength="1"
                                   maxlength="30"
                                   input-focus
                                   ng-disabled="$first"
                                   ng-pattern=".{1,}@[_a-z0-9A-Z]+(\.[a-z0-9A-Z]+)+" />
                            <label class="normal-message"
                                   data-ng-if="!(newForm.email.$invalid && (!newForm.email.$pristine || showValid))">
                            </label>
                            <div class="text-danger"
                                 data-ng-if="newForm.email.$invalid && (!newForm.email.$pristine || showValid) && !newForm.email.$focus">
                                {{ 'invalid email address' | translate }}
                            </div>
                        </div>
                        <div id="add-address" ng-class="{'add-input add-input2': $index==0,'remove-field': $index>0}" ng-click="addNewChoice1($event)"><a href="javascript:">remove</a></div>
                    </div>
                </div>
            </div>
            <div class="clearfix">
                <div class="form-bx form-bx2" style="border: 1px solid #e7e7e7;border-radius: 2px;">

                    <select kendo-multi-select k-options="selectOptions" name="role" id="edituser_role" k-ng-model="role_name" k-on-change="selectrole()" class="dropdown form-control" required></select>
                </div><div class="field-mdl field-req" style="margin-top: -12px;">*</div>

                <div ng-messages="newForm.role.$error" style="color:maroon" role="alert">
                    <div ng-message="required" data-ng-if="newForm.role.$invalid && (!newForm.role.$pristine || showValid)">This field should not be empty </div>
               </div>
            </div>
            <div ng-repeat="choice in choices2">
                <div class="form-group"
                     data-ng-class="{
                                             'has-error' : addNewForm.Address.$invalid && (!addNewForm.Address.$pristine || showValid) && !addNewForm.Address.$focus,
                                             'has-success': addNewForm.Address.$valid && !addNewForm.Address.$pristine && !addNewForm.Address.$focus
                                                                 }">
                    <div id="address-wrap" class="clearfix">
                        <div id="address-no" class="form-bx form-bx2">
                            <!--<label ng-show="$index==0" for="" style="padding-top:5px;"><b>Address</b></label>-->
                            <input type="text" name="Address" class="form-control" id="edituser_address"
                                   placeholder="Address Line"
                                   data-ng-model="choice.Street_1"
                                   minlength="1"
                                   maxlength="50"
                                   input-focus />
                            <div class="text-danger"
                                 data-ng-if="addNewForm.Address.$invalid && (!addNewForm.Address.$pristine || showValid) && !addNewForm.Address.$focus">
                                {{ 'Enter Valid Address' | translate }}
                            </div>
                        </div><div id="add-address" ng-class="{'add-input add-input2': $index==0,'remove-field': $index>0}" ng-click="addNewChoice2($event)"><a href="javascript:">remove</a></div>
                    </div>
                </div>


            </div>

            <div class="clearfix">
                <div class="form-group"
                     data-ng-class="{
                                                'has-error' : addNewForm.Area.$invalid && (!addNewForm.Area.$pristine || showValid) && !addNewForm.Area.$focus,
                                                'has-success': addNewForm.Area.$valid && !addNewForm.Area.$pristine && !addNewForm.Area.$focus
                                                                 }">

                    <div class="form-group form-bx form-bx8">
                        <label for="">Area</label>
                        <input type="text" class="form-control text-bold" id="edituser_Area" autofocus name="Area"
                               placeholder="Area"
                               data-ng-model="params.area"
                               minlength="1"
                               maxlength="30"
                               input-focus />
                        <div class="text-danger"
                             data-ng-if="addNewForm.Area.$invalid && (!addNewForm.Area.$pristine || showValid) && !addNewForm.Area.$focus">
                            {{ 'Enter valid Area' | translate }}
                        </div>
                    </div>

                </div>


            </div>


            <div class="clearfix">
                <div class="form-bx form-bx3">
                    <select ng-model="state1" ng-change="selectstate()" id="edituser_state" class="dropdown form-control">
                        <option value="" selected>state</option>
                        <option ng-repeat="state in states"
                                value="{{state.state_id}}">
                            {{state.state_name}}
                        </option>
                    </select>
                </div>


                <div class="field-mdl field-mdl2 field-req"></div>
                <div class="form-bx form-bx3">
                    <select ng-change="selectcity()" ng-model="city1" id="edituser_city" class="dropdown form-control">
                        <option value="" selected>City</option>
                        <option ng-repeat="city in cities  | filter:filterExpression"
                                value="{{city.city_id}}">
                            {{city.city_name}}
                        </option>
                    </select>
                </div>


                <div class="field-mdl field-mdl2 field-req"></div>
                <div class="form-bx form-bx3">
                    <div class="form-group"
                         data-ng-class="{
                                'has-error' : newForm.Pin.$invalid && (!newForm.Pin.$pristine || showValid) && !newForm.Pin.$focus,
                                 'has-success': newForm.Pin.$valid && !newForm.Pin.$pristine && !newForm.Pin.$focus
                                   }">
                        <input type="text" name="Pin" class="form-control" id="edituser_zip"
                               placeholder="Pin"
                               data-ng-model="params.zip_code"
                               minlength="6"
                               maxlength="6"
                               input-focus
                               ng-pattern="/^[0-9]{1,7}$/" />
                        <div class="text-danger"
                             data-ng-if="newForm.Pin.$invalid && (!newForm.Pin.$pristine || showValid) && !newForm.Pin.$focus">
                            {{ 'Enter Valid Pin' | translate }}
                        </div>
                    </div>
                </div>
            </div>


            <div class="progress" ng-show="((uploader.progress)/1)>0">
                <div class="progress-bar" role="progressbar"
                     ng-style="{ 'width': (uploader.progress)/1 + '%' }"></div>
            </div>

            <!--<a ng-show="showProgress" id="iconEdit" ng-click="CanceUpload()" data-toggle="modal" style="cursor:pointer;align-content:center"><span class="edit-icon"></span></a>-->

            <div class="modal-btn-wrap clearfix">
                <button type="submit" class="f-btn" id="btn_edituser_update">UPDATE</button>

                <button type="button" class="f-btn2" id="btn_edituser_cancle" ng-click="$dismiss('cancel')">CANCEL</button>
            </div>

        </form>
    </div><!-- modal-body ended -->


</div><!-- modal ended -->
<!-- for image fetch -->
<script>
    function readURL(input) {
        if (input.files && input.files[0]) {
            var reader = new FileReader();
            reader.onload = function (e) {
                $('#fetch').attr('src', e.target.result);
            }
            reader.readAsDataURL(input.files[0]);
        }
    }
    $("#editUser_uploader1").change(function () {
        readURL(this);
    });
</script>