
    <script>
    $(document).ready(function () {
        $("#tabstrip").kendoTabStrip({
            animation: {
                open: {
                    effects: "fadeIn"
                }
            }
        });
        $(".nav li").on("click", function () {
            $(".nav").find(".active").removeClass("active");
            $(this).parent().addClass("active");
        });
    });


    </script>
<div class="wrapper1" style=" width:200%">
    <div class="wrapper ">
     
                <!--<button type="button" class="close" ng-click="$close()">
                    <span aria-hidden="true">×</span><span class="sr-only">Close</span>
                </button>
            <br>-->
            <!--end-
        <!---Content Right section--->
            <div class="col-md-9 rightsection">
                <div class="top_section">
                    <!--<h3>Reports</h3>-->
                    <div id="example">
                        <div class="demo-section k-content">
                            <div id="tabstrip">
                                <ul class="tabstrip1 nav">
                                    <li class="k-state-active">
                                        <a href="">Select File</a>
                                    </li>
                                    <li>
                                       Map Fields
                                    </li>
                                    <li>
                                       Review Data
                                    </li>
                                    <li>
                                        Import Summary
                                    </li>
                                </ul>
                                <div>
                                    <!--<span class="rainy">&nbsp;</span>-->
                                    <div class="modal-content img-responsive">
                                        <div class="modal-header">
                                            <button type="button" class="close" ng-click="$close()">
                                                <span aria-hidden="true">×</span><span class="sr-only">Close</span>
                                            </button>
                                            <h3 class="modal-title">Upload Image</h3>
                                        </div>
                                        <br>
                                        <div class="modal-body" nv-file-drop="" uploader="uploader" filters="queueLimit, customFilter">
                                            <div class="row">
                                                <div class="col-lg-12 col-md-12 col-sm-12">
                                                    <div class="btn btn-primary"><input type="file" nv-file-select="" uploader="uploader"></div>
                                                    <div class="panel panel-success" uploader="uploader" nv-file-over="">
                                                        <div class="panel-body image-upload-panel">
                                                            <div class="row" ng-hide="uploader.queue.length">
                                                                <div class="col-lg-2 col-md-2 col-sm-12"></div>
                                                                <div class="col-lg-8 col-md-8 col-sm-12 col-xs-4" style="height:100%">
                                                                    <span class="page-center">Drag And Drop your file here</span>
                                                                </div>
                                                                <div class="col-lg-2 col-md-8 col-sm-12"></div>
                                                            </div>
                                                            <div class="row" ng-show="uploader.queue.length">
                                                                <div class="col-sm-6 last" ng-repeat="item in uploader.queue">
                                                                    <div ng-show="uploader.isHTML5"
                                                                         ng-thumb="{ file: item._file, height: 200 }"></div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div>
                                                <div>
                                                    Upload progress:
                                                    <div class="progress" ng-show="showProgress">
                                                        <div class="progress-bar" role="progressbar"
                                                             ng-style="{ 'width': uploader.progress + '%' }"></div>
                                                    </div>
                                                </div>
                                                <button type="button" id="btn_import_upload" class="btn btn-success btn-s" ng-click="showProgress=true;uploader.uploadAll()"
                                                        ng-disabled="!uploader.getNotUploadedItems().length">
                                                    <span class="glyphicon glyphicon-upload"></span> Upload
                                                </button>
                                                <button type="button" id="btn_import_cancel"  class="btn btn-warning btn-s" ng-click="uploader.cancelAll()"
                                                        ng-disabled="!uploader.isUploading">
                                                    <span class="glyphicon glyphicon-ban-circle"></span> Cancel
                                                </button>
                                                <button type="button" id="btn_import_remove"  class="btn btn-danger btn-s" ng-click="uploader.clearQueue()"
                                                        ng-disabled="!uploader.queue.length">
                                                    <span class="glyphicon glyphicon-trash"></span> Remove
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                 
                                </div>

                                <div>
                                    <span class="sunny">&nbsp;</span>
                                    
                                    <!--<div class="weather">
                                        <h2>21<span>&ordm;C</span></h2>
                                        <p>Sunny weather in London.</p>
                                    </div>-->
                                </div>
                                <div>
                                    <span class="sunny">&nbsp;</span>

                                 
       
                                </div>
                                <div>
                                    <span class="cloudy">&nbsp;</span>
                                    <div class="main-content project add-new">
                                        <h3>Successfully Invited!</h3>
                                        <div class="col-sm-1"></div>
                                        <button class="btn organization-btn" id="btn_import_sub" type="submit"><b>Ok</b></button>
                                        <!--<a data-target="#" href="/index.html#/home/users"> Back to User List </a>-->
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
            <!--end--->
        </div>
    </div>
  
   

