
<style type="text/css">
    .UseHand {
        cursor: pointer !important;
    }
</style>
<div id="main-content" class="col-xs-12">
    <div class="content-inner">

        <div class="pg-inner-header">
            <div class="row">
                <div class="col-md-12">
                    <h2 class="pg-inner-title">Users</h2>
                   
                </div>

            </div>
        </div>
    </div>  
    
    <div class="pg-inner-content">

        <form action="">

            <div class="clearfix">

                <div class="pull-left actions-wrap">

                    <select ng-model="userAction" class="form-control actions-wrap" ng-change="chooseAction()" id="contacaction">
                        <option value='no_action' selected>ACTIONS</option>
                        <option value='Inactive'>INACTIVE</option>
                        <option value='assign_roles'>ASSIGN ROLES</option>
                        <option value='delete'>DELETE</option>
                    </select>
                </div>
                <!--<div class="pull-left actions-wrap">
   
                    <div class="pull-left actions-wrap" id="dropfresh">
                        <select ng-model="ddlFruits" class="form-control actions-wrap" ng-options="fruit.Id as fruit.Name for fruit in Fruits track by fruit.Id"
                                ng-change="GetValue();addUser()" id="newUserAction">
                            <option value="" selected> ACTION </option>
                        </select>
    
                    </div>
                </div>-->

                <div class="pull-right btn-wrap-right">
                    <a href=""  class="btn-lk" ng-click="openUserPopup()" id="addNewUser">+ ADD NEW USER </a>
                </div>
            </div>

            <div id="record-content" class="properties-content">

                <div id="project-record-list" kendo-grid="peopleGrid" k-options="mainGridOptions" selectable="true" k-on-change="myGridChange( dataItem )">
                </div>
               

            </div><!-- record-content ended -->
            <br />
            <!--<a href="#" class="btn-lk" addUser()">Show checked</a>-->

        </form>

    </div>
</div>
