<button type="button" class="close" id="btn_successfull_close" ng-click="$dismiss('cancel')" data-toggle="tooltip" title="Close Tab">&times;</button>
<div class="main-content add-new project sucessful-popup" style="padding:2%;">
    <h4 style="text-align:center">{{title}} Created Successfully.</h4>
    <div class="modal-btn-wrap5  clearfix">
        <div style="padding: 2% 0% 3% 0%;">
            <button type="button" id="btn_sucessfull_ok" class="btn btn-primary" ng-click="$dismiss('cancel')">OK</button>
        </div>
    </div>
</div>

